{% extends "registration/layout.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block box-content %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

  {% if form.errors %}
  <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
    <p class="alert alert-info">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p class="alert alert-info">Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="form-group">
    <label for="login_username" class="control-label">Email</label>
    <input type="email" class="form-control" name="username" id="login_username" required autofocus>
  </div>
  <div class="form-group">
    <label for="login_password" class="control-label">Password</label>
    <input type="password" class="form-control" name="password" id="login_password" required>
  </div>

  <button type="submit" class="btn btn-block btn-primary">Login</button>

  <p class="text-center forgot"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  {% if SUPPORT_EMAIL %}
  <p class="text-center"><a href="mailto:{{ SUPPORT_EMAIL }}" target="_blank">Request an account</a></p>
  {% endif %}
</form>
{% endblock %}
