{% extends "indigo_api/work_overview.html" %}
{% load viewflow indigo_workflow %}

{% block points_in_time %}
{{ block.super }}

  <h4 class="mt-5">Workflows and Tasks</h4>

  {% workflow_ns_map as ns_map %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Active workflows</h5>

      {% work_workflows work=work finished=False as open_workflows %}
      {% work_workflows work=work finished=True limit=10 as finished_workflows %}

      {% if open_workflows %}
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>Workflow</th>
              <th>Active Task</th>
              <th>Owner</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            {% for flow in open_workflows %}
              {% flowurl flow 'detail' ns='workflow' ns_map=ns_map as flow_detail_url %}
              {% with flow.active_tasks|first as task %}
              <tr>
                <td>
                  <a href="{{ flow_detail_url }}">#{{ flow.id }} - {{ flow.summary }}</a>
                </td>
                <td>
                  {% flowurl task 'execute' user=request.user ns='workflow' ns_map=ns_map as execute_url %}
                  <a href="{{ execute_url|default:flow_detail_url }}">
                    {{ task.flow_task.task_title|default:task.summary|default:task.flow_task }}
                  </a>
                </td>
                <td>{{ task.owner }}</td>
                <td>{{ task.created|timesince }} old</td>
              </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p><i>None</i></p>
      {% endif %}

      <h5 class="card-title mt-4">Finished workflows</h5>

      {% if finished_workflows %}
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>Workflow</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            {% for flow in finished_workflows %}
              {% flowurl flow 'detail' ns='workflow' ns_map=ns_map as flow_detail_url %}
              <tr>
                <td>
                  <a href="{{ flow_detail_url }}">#{{ flow.id }} - {{ flow.summary }}</a>
                </td>
                <td>{{ flow.finished|timesince }} ago</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p><i>None</i></p>
      {% endif %}
    </div>
  </div>

{% endblock %}
