{% extends "work/layout.html" %}
{% load viewflow indigo_workflow %}

{% block title %}Workflows - {{ block.super }}{% endblock %}

{% block work-content %}
  <h4>Active Workflows</h4>

  <div class="card mb-5">
    <div class="card-body">
      {% work_workflows work=work finished=False as finished_workflows %}
      {% include 'indigo_api/_work_flow_table.html' with workflows=finished_workflows finished=False %}
    </div>
  </div>

  <h4>Finished Workflows</h4>

  <div class="card">
    <div class="card-body">
      {% work_workflows work=work finished=True as finished_workflows %}
      {% include 'indigo_api/_work_flow_table.html' with workflows=finished_workflows finished=True %}
    </div>
  </div>

{% endblock %}
