{% extends "indigo_api/work_overview.html" %}
{% load viewflow indigo_workflow %}

{% block points_in_time %}
  {{ block.super }}

  <h4 class="mt-5">Workflows and Tasks</h4>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Active workflows</h5>
      {% work_workflows work=work finished=False as open_workflows %}
      {% include 'indigo_api/_work_flow_table.html' with workflows=open_workflows finished=False %}

      <h5 class="card-title mt-4">Recently finished workflows</h5>
      {% work_workflows work=work finished=True limit=5 as finished_workflows %}
      {% include 'indigo_api/_work_flow_table.html' with workflows=finished_workflows finished=True %}
    </div>
  </div>

  <div>
    <a href="{% url 'workflow:work_workflows' frbr_uri=work.frbr_uri %}" class="btn btn-primary">All Workflows</a>
  </div>

{% endblock %}
