{% extends "indigo_api/work_amendments.html" %}
{% load indigo_workflow viewflow %}

{% block backbone-view %}{{ block.super }} WorkAmendmentsWorkflowView{% endblock %}

{% block work-content %}
  {{ block.super }}
  {% workflow_ns_map as ns_map %}

  <div class="modal fade" id="new-create-pit-workflow-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% flowurl 'indigo_workflow/CreatePointInTimeFlow' 'start' ns='workflow' ns_map=ns_map %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="_viewflow_activation-started" value="{% now 'Y-m-d H:i:s.u' %}" id="id__viewflow_activation-started">
          <input type="hidden" name="work" value="{{ work.pk }}">
          <input type="hidden" name="amendment" value="">
          <input type="hidden" name="date" value="2018-01-01">

          <div class="modal-header">
            <h5 class="modal-title">New Workflow - Create a Point in Time for This Work</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="wf_language">Language</label>
              <select name="language" id="wf_language" class="form-control">
                <option value="1">English</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Create Workflow">
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
