{% load i18n %}

{% if commencement.rich_provisions %}
  <div id="provisions-edit-{{ commencement.id }}" class="provisions-wrapper">
    <div class="mt-2">
      <div>
        {# TODO: don't lose checkbox when re-rendering #}
        <input
            type="checkbox"
            class="form-check-input me-1"
            id="select-all-provisions-{{ commencement.id }}"
            name="select-all"
        >
        <label
            for="select-all-provisions-{{ commencement.id }}"
            class="form-check-label"
        >{% trans 'Select all provisions' %}</label>
      </div>
    </div>
    <ul data-id="provisions" class="provisions-list">
      {% include "indigo_api/template_parts/provisions_tree_view.html" with provisions=commencement.rich_provisions checked=form.provisions.value %}
    </ul>
  </div>
{% else %}
  <div class="alert alert-info">
    <p class="mb-1">{% trans "Available provisions will appear here once the content has been marked up." %}</p>
    <p class="mb-1">{% trans "Wait until the content has been finalised before selecting provisions." %}</p>
  </div>
{% endif %}
