{% extends "indigo_app/standalone.html" %}
{% load static i18n %}

{% block title %}{% trans "Permission Denied" %}{% endblock %}
{% block standalone-content %}

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

    <div class="framed-indigo-box">
      <div class="text-center">
        <img src="{% static 'images/logo.png' %}" class="logo" title="{{ INDIGO_ORGANISATION }}">

        <h3>{% trans "Permission Denied" %}</h3>

        <p class="lead">{% trans "You don't have permission to do that." %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
