{% load pipeline %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Indigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% block head-css %}
    {% stylesheet "css" %}
    {% endblock %}

    {% block head-meta %}{% endblock %}

  </head>
  <body {% block body-attributes %}{% endblock %} class='{% block body-class %}{% endblock %}'>
    <div id="error-box" class="alert alert-danger hidden">
      <button type="button" class="close">&times;</button>
      <p></p>
    </div>

    {% block page-content %}
    {% endblock page-content %}

    {% block js %}
    {% javascript "js" %}
    {% endblock %}

  </body>
</html>
