{% extends "layout.html" %}

{% block title %}Import{% endblock %}
{% block content %}

<div class="workspace-content">
  <div class="boxed-group-inner">
    <div class="panel panel-default panel-centered" id="import-document">
      <div class="panel-heading">
        <h4 class="panel-title">
          Import a document
          <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/managing.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
        </h4>
      </div>

      <form>
        <div class="panel-body">
          <p>You can import legislation from these formats:</p>
          <ul>
            <li>Akoma Ntoso 2.0 XML</li>
            <li>PDF, Word and RTF</li>
            <li>Plain text</li>
          </ul>

          <div class="file-inputs">
            <div class="dropzone">drag and drop your file here</div>

            <br>

            <p>Or click the button to choose a file <input type="file" id="file" name="file"></p>
          </div>

          <div class="progress-box" style="display: none">
            <p>Importing, this may take a few minutes...</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
            </div>
          </div>

          <p class="alert alert-danger" style="display: none"></p>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
