{% extends "base.html" %}

{% block body-attributes %} data-backbone-view="{{ view }}" {% endblock %}

{% block page-content %}
  <div class="workspace">
    <header class="workspace-header">
      <div class="search-box">
        <a href="/library" class="btn btn-default">
          <i class="fa fa-book"></i> Library
        </a>
      </div>

      <div class="workspace-title">
        <div class="row">
          <div class="col-sm-9">
            {% block header %}{% endblock %}
          </div>

          <div class="col-sm-3">
            <div class="buttons js-user-buttons">
              {% block header-buttons %}{% endblock %}

              <button type="button" class="btn btn-default login not-logged-in"><i class="fa fa-sign-in"></i> Login</button>

              <button type="button" class="btn btn-default logged-in" data-toggle="dropdown" style="display: none">
                <i class="fa fa-user"></i> <span class="username"></span>
                <span class="caret"></span>
              </button>
              <ul class="pull-right dropdown-menu dropdown-right">
                <li><a class="logout" href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="workspace-content">
      {% block content %}{% endblock content %}
    </div>
  </div>

  <div class="modal modal-fade" id="login-box">
    <form class="form-horizontal" method="POST" action="/auth/user/">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Log in to edit and save documents</h4>
          </div>
          <div class="modal-body">

            <div class="alert alert-danger" style="display: none"></div>

            <div class="form-group">
              <label for="login_username" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="username" id="login_username" placeholder="you@example.com" required>
              </div>
            </div>
            <div class="form-group">
              <label for="login_password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="login_password" placeholder="password" required>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Log in">
          </div>
        <div>
      <div>
    </form>
  </div>

{% endblock page-content %}
