{% extends "base.html" %}

{% block body-attributes %} data-backbone-view="{{ view }}" {% endblock %}

{% block page-content %}
  <div class="workspace">
    <header class="workspace-header">
      <div class="search-box">
        <a href="/library" class="btn btn-default">
          <i class="fa fa-book"></i> Library
        </a>
      </div>

      <div class="workspace-title">
        <div class="row">
          <div class="col-sm-9">
            {% block header %}{% endblock %}
          </div>

          <div class="col-sm-3 js-user-buttons">
            <div class="buttons">
              {% block header-buttons %}{% endblock %}

              <button type="button" class="btn btn-default login not-logged-in"><i class="fa fa-sign-in"></i> Login</button>

              <button type="button" class="btn btn-default logged-in" data-toggle="dropdown" style="display: none">
                <i class="fa fa-user"></i> <span class="username"></span>
                <span class="caret"></span>
              </button>
              <ul class="pull-right dropdown-menu dropdown-right">
                <li><a class="logout" href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </header>

    <div class="workspace-content">
      {% block content %}{% endblock content %}
    </div>
  </div>

  {% include "user/_login_modal.html" %}

{% endblock page-content %}
