{% extends "base.html" %}
{% load staticfiles %}

{% block body-attributes %}
  data-backbone-view="{{ view }}"

  {% if user.is_authenticated %}
    {# setting this allows the view to show it without flashing a blank username when loading #}
    data-user-username="{{ user.username }}"
    data-user-first-name="{{ user.first_name}}"
  {% endif %}
{% endblock %}

{% block page-content %}
  <div class="workspace {% block workspace-classes %}{% endblock %}">
    <header class="workspace-header">
      <div class="brand-box">
        <a href="{% url 'library' %}"><img src="{% static 'images/logo.png' %}" title="Indigo"></a>
      </div>

      <div class="workspace-title">
        {% block header %}{% endblock %}
      </div>

      <div class="workspace-buttons">
        {% block header-buttons %}{% endblock %}
      </div>

      <div id="user-buttons">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm login not-logged-in"><i class="fa fa-sign-in"></i> Log in</button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-link btn-sm dropdown-toggle logged-in" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            <span class="username">
              {% if user.is_authenticated %}{{ user.first_name|default:user.email }}{% endif %}
            </span>
          </button>
          <ul class="pull-right dropdown-menu dropdown-right">
            <li><a class="profile" data-toggle="modal" href="#user-profile-box"><i class="fa fa-user fa-fw"></i> Profile</a></li>
            <li class="requires-staff"><a class="profile" href="/admin/" target="_blank"><i class="fa fa-gear fa-fw"></i> Site Settings</a></li>
            <li role="presentation" class="divider"></li>
            <li><a class="logout" href="#"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">Help</button>
          <ul class="pull-right dropdown-menu dropdown-right">
            <li><a href="#cheatsheet-modal" data-toggle="modal"><i class="fa fa-info-circle fa-fw"></i> Editor Cheatsheet</a></li>
            <li><a href="http://indigo.readthedocs.org/en/latest/" target="_blank"><i class="fa fa-question fa-fw"></i> Documentation</a></li>
            {% if SUPPORT_EMAIL %}
            <li><a href="mailto:{{ SUPPORT_EMAIL }}" target="_blank"><i class="fa fa-user fa-fw"></i> Request an account</a></li>
            {% endif %}
            <li><a href="mailto:greg@code4sa.org" target="_blank"><i class="fa fa-envelope fa-fw"></i> Feedback</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://github.com/Code4SA/indigo" target="_blank"><i class="fa fa-github fa-fw"></i> Indigo on GitHub</a></li>
          </ul>
        </div>
      </div>

      <div id="progress-bar" style="display: none">
        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" style="width: 100%"></div>
      </div>
    </header>

    <div class="workspace-body">
    {% block content %}{% endblock content %}
    </div>
  </div>

  {% include "user/_login_modal.html" %}
  {% include "user/_profile_modal.html" %}
  {% include "user/_change_password_modal.html" %}
  {% include "document/_cheatsheet.html" %}

{% endblock page-content %}
