{% extends "layout.html" %}

{% block title %}Library{% endblock %}

{% block header %}
  <div class="input-group header-search-box">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control filter-search" placeholder="Search documents">
  </div>
{% endblock %}

{% block content %}

<div class="sidebar library-sidebar">
  <div class="boxed-group-inner">
    <div id="filters">
    </div>
  </div>
</div>

<div class="workspace-content">
  <div class="boxed-group-inner">
    <div id="library">
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

<script id="search-results-template" type="text/x-handlebars-template">
{% verbatim %}

<table class="table table-condensed table-hover tablesorter document-list-table">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="year">Year</th>
      <th class="number">Number</th>
      <th class="updated">Updated</th>
    </tr>
  </thead>
  <tbody>
    {{#each documents}}
      <tr>
        <td>
          {{#if draft}}
            <i class="fa fa-fw fa-circle draft" title="draft"></i>
          {{else}}
            <i class="fa fa-fw fa-circle published" title="published"></i>
          {{/if}}
          <a href="/documents/{{ id }}">
            {{#if title}}
              {{ title }}
            {{else}}
              (untitled)
            {{/if}}
          </a>

          {{#if amended_versions}}
            <span class="text-muted">@ {{ expression_date }}</span>
          {{/if}}

          {{#if amendments}}
            <i class="fa fa-fw fa-edit" title="amended"></i>
          {{/if}}

          {{#if stub}}
            <span class="label label-info">stub</span>
          {{/if}}

          {{#each tags}}
            <span class="label label-default">{{this}}</span>
          {{/each}}
        </td>
        <td>{{ year }}</td>
        <td>{{ number }}</td>
        <td>
          <span class="hidden">{{ updated_at }}</span>
          <span class="time-ago" data-timestamp="{{ updated_at }}">{{ updated_at }}</span>
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td class="active" colspan="5">{{ count }} documents</td>
    </tr>
  </tfoot>
</table>
{% endverbatim %}

</script>

<script id="filters-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if summary.show_countries}}
<section>
  <select class="form-control filter-country" name="country-filter">
    <option {{#unless filters.country}}selected{{/unless}} value="">All countries ({{ count }})</option>
    {{#each summary.countries}}
    <option {{#if active}}selected{{/if}} value="{{code}}">{{name}} ({{ count }})</option>
    {{/each}}
  </select>
</section>
{{/if}}

<section>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-sm {{#if filter_status.all}}active{{/if}}">
      <input type="radio" name="options" autocomplete="off" class="filter-status" value="all" checked>All
    </label>
    <label class="btn btn-sm {{#if filter_status.published}}btn-info active{{else}}btn-default{{/if}}">
      <input type="radio" name="options" autocomplete="off" class="filter-status" value="published"><i class="fa fa-fw fa-circle published"></i>Published
    </label>
    <label class="btn btn-sm {{#if filter_status.draft}}btn-warning active{{else}}btn-default{{/if}}">
      <input type="radio" name="options" autocomplete="off" class="filter-status" value="draft"><i class="fa fa-fw fa-circle draft"></i>Draft
    </label>
  </div>
</section>

{{#if summary.localities}}
<section>
  <ul class="nav nav-pills nav-stacked">
    <li class="{{#unless filters.locality}}active{{/unless}}">
      <a href="#" class="filter-locality" data-locality="">All localities <span class="badge">{{ count }}</span></a>
    </li>
    {{#each summary.localities}}
    <li class="{{#if active}}active{{/if}}">
      <a href="#" class="filter-locality" data-locality="{{code}}">{{name}} <span class="badge">{{count}}</span></a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<section class="tag-filters">
  {{#each summary.tags}}
  <a href="#" class="label {{#if active}}label-info{{else}}label-default{{/if}} filter-tag" data-tag="{{this.tag}}">{{this.tag}} <span class="badge">{{this.count}}</span></a>
  {{/each}}
</section>
{% endverbatim %}
</script>

<script type="text/javascript">
if (!window.Indigo) window.Indigo = {};

// inject country code-to-name mappings into JS
window.Indigo.countries = {{ countries_json|safe }};

// include the documents as JSON
window.Indigo.libraryPreload = {{ documents_json|safe }};
</script>

{% endblock %}
