{% extends "layout.html" %}

{% block title %}Library{% endblock %}

{% block header %}
<h4>
  Library
  <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/managing.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
</h4>
{% endblock %}

{% block content %}

<div class="sidebar sidebar-right">
  <div class="boxed-group-inner">
    <div id="filters">
    </div>
  </div>
</div>

<div class="workspace-content">
  <div class="boxed-group-inner">
    <div id="library">
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

<script id="search-results-template" type="text/x-handlebars-template">
{% verbatim %}

<table class="table table-condensed table-hover tablesorter document-list-table">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="draft">Draft?</th>
      <th class="year">Year</th>
      <th class="number">Number</th>
      <th class="updated">Updated</th>
    </tr>
  </thead>
  <tbody>
    {{#each documents}}
      <tr>
        <td>
          <a href="/documents/{{ id }}">
            {{#if title}}
              {{ title }}
            {{else}}
              (untitled)
            {{/if}}
          </a>

          {{#if stub}}
            <span class="label label-info">stub</span>
          {{/if}}

          {{#each tags}}
            <span class="label label-default">{{this}}</span>
          {{/each}}
        </td>
        <td>
          {{#if draft}}
            <span class="label label-warning">draft</span>
          {{else}}
            <a href="{{ published_url }}" target="_blank"><span class="label label-info">published</span></a>
          {{/if}}
        </td>
        <td>{{ year }}</td>
        <td>{{ number }}</td>
        <td>
          <span class="hidden">{{ updated_at }}</span>
          <span class="time-ago" data-timestamp="{{ updated_at }}">{{ updated_at }}</span>
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td class="active" colspan="5">{{ count }} documents</td>
    </tr>
  </tfoot>
</table>
{% endverbatim %}

</script>

<script id="filters-template" type="text/x-handlebars-template">
{% verbatim %}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <input type="text" class="form-control filter-search" placeholder="Search documents">
      <div class="input-group-btn">
        <button class="filter-search-clear btn btn-default"><strong>&times;</strong></button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default active">
        <input type="radio" name="options" autocomplete="off" class="filter-status" value="all" checked>All
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off" class="filter-status" value="published">Published
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off" class="filter-status" value="draft">Draft
      </label>
    </div>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item filter-country active" data-country="">All countries <span class="badge">{{ count }}</span></a>
    {{#each summary.countries}}
    <a href="#" class="list-group-item filter-country" data-country="{{this.code}}">{{this.name}} <span class="badge">{{this.count}}</span></a>
    {{/each}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags</h3>
  </div>

  <div class="panel-body">
    {{#each summary.tags}}
    <a href="#" class="label label-default filter-tag" data-tag="{{this.tag}}">{{this.tag}} <span class="badge">{{this.count}}</span></a>
    {{/each}}
  </div>
</div>
{% endverbatim %}
</script>

{# inject country code-to-name mappings into JS #}
<script type="text/javascript">
if (!window.Indigo) window.Indigo = {};
window.Indigo.countries = {{ countries_json|safe }};
</script>

{% endblock %}
