{% extends "base.html" %}
{% load static account i18n %}

{% block body-attributes %}data-backbone-view="{% block backbone-view %}{{ js_view }}{% endblock %}"{% endblock %}

{% block page-content %}
  <div id="progress-bar" class="progress" style="display: none">
    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: 100%; height: 5px;"></div>
  </div>
  {% include "indigo_app/_offline.html" %}
  {% if MAINTENANCE_MODE %}
    <div class="alert alert-warning mb-0" role="alert">
      <i class="fas fa-exclamation-triangle fa-fw"></i>
      {% trans "Mainentance mode. Only staff can use the site." %}
    </div>
  {% endif %}

  <div class="page-body">
    <main id="{% block view-id %}{% endblock %}" class="main-container">
      {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container-fluid">
            {% block navbar-brand %}
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo-inverse.png' %}" title="{{ INDIGO_ORGANISATION }}"></a>
            {% endblock %}
            {% block navbar-toggle %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% endblock %}

            {% block navbar-content %}
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              {% block navbar-left %}
                {% if request.user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="/">{% trans "Home" %}</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'my_tasks' %}">{% trans "Tasks" %}</a></li>
                {% endif %}
                {% block navbar-help-menu %}
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{% trans "Help" %}</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'help' %}" target="_blank"><i class="fas fa-question fa-fw"></i> {% trans "Documentation" %}</a>
                    <a class="dropdown-item" href="mailto:info@laws.africa" target="_blank"><i class="fas fa-envelope fa-fw"></i> {% trans "Feedback" %}</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/laws-africa/indigo" target="_blank"><i class="fab fa-github fa-fw"></i> {% trans "Indigo on GitHub" %}</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'terms_of_use' %}" target="_blank">{% trans "Terms of Use &amp; Privacy Policy" %}</a>
                  </div>
                </li>
                {% endblock %}
              {% endblock %}
              </ul>

              <ul class="navbar-nav" id="user-buttons">
                {% block navbar-user %}
                  {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle logged-in" data-bs-toggle="dropdown">
                        <i class="fas fa-user"></i>
                        <span class="username">
                          {% if request.user.is_authenticated %}{% user_display request.user %}{% endif %}
                        </span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'edit_account' %}"><i class="fas fa-cog fa-fw"></i> {% trans "Account" %}</a>

                        {% if request.user.is_staff %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/" target="_blank"><i class="fas fa-cog fa-fw"></i> {% trans "Site settings" %}</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> {% trans "Log out" %}</a>
                      </div>
                    </li>
                  {% else %}
                    <li class="nav-item not-logged-in"><a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}" class="nav-link bg-success"><i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}</a></li>
                  {% endif %}
                {% endblock %}
              </ul>

            </div>
            {% endblock %}
          </div>
        </nav>
      {% endblock %}

      {% block main-header %}
        <header class="main-header">
          <div class="container">
            <ul class="breadcrumb text-muted">{% block breadcrumbs %}{% endblock %}</ul>

            {% block main-header-title %}{% endblock %}
          </div>
        </header>
      {% endblock %}

      {% block messages %}
        {% include '_messages.html' %}
      {% endblock %}

      <div class="main-content">{% block content %}{% endblock %}</div>

      {% block site-footer %}
      <footer class="site-footer">
        <div class="container">
          <h5>Indigo</h5>

          <div class="row">
            <div class="col-md-4">
              {% block site-footer-col-1 %}
              <ul class="list-unstyled">
                <li><a href="/">Home</a></li>

                {% if request.user.is_authenticated %}
                <li><a href="{% url 'edit_account' %}">{% trans "Your account" %}</a></li>
                <li><a href="{% url 'account_logout' %}">{% trans "Log out" %}</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
                {% endif %}
              </ul>
              {% endblock %}
            </div>

            <div class="col-md-4">
              {% block site-footer-col-2 %}
              <ul class="list-unstyled">
                <li><a href="http://indigo.readthedocs.org/en/latest/" target="_blank">{% trans "Documentation" %}</a></li>
                <li><a href="mailto:greg@laws.africa" target="_blank">{% trans "Feedback" %}</a></li>
                <li><a href="https://github.com/laws-africa/indigo" target="_blank">{% trans "Indigo on GitHub" %}</a></li>
              </ul>
              {% endblock %}
            </div>

            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="{% url 'terms_of_use' %}" target="_blank">{% trans "Terms of Use &amp; Privacy Policy" %}</a></li>
              </ul>

              <img src="{% static 'images/logo.png' %}" title="{{ INDIGO_ORGANISATION }}" class="logo">
            </div>
          </div>
        </div>
      </footer>
      {% endblock %}
    </main>
  </div>
{% endblock page-content %}
