{% extends "base.html" %}
{% load static account %}

{% block body-attributes %}data-backbone-view="{% block backbone-view %}{{ js_view }}{% endblock %}"{% endblock %}

{% block page-content %}
  <div id="progress-bar" style="display: none">
    <div class="progress-bar progress-bar-striped progress-bar-info progress-bar-animated" role="progressbar" style="width: 100%; height: 5px;"></div>
  </div>
  {% include "indigo_app/_offline.html" %}
  {% if MAINTENANCE_MODE %}
    <div class="alert alert-warning mb-0" role="alert">
      <i class="fas fa-exclamation-triangle fa-fw"></i> Mainentance mode. Only staff can use the site.
    </div>
  {% endif %}

  <div class="page-body">
    <main id="{% block view-id %}{% endblock %}" class="main-container">
      {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark">
          {% block navbar-brand %}
          <a class="navbar-brand" href="/"><img src="{% static 'images/logo-inverse.png' %}" title="Indigo"></a>
          {% endblock %}
          {% block navbar-toggle %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% endblock %}

          {% block navbar-content %}
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% block navbar-left %}
              {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'my_tasks' %}">Tasks</a></li>
              {% endif %}
              {% block navbar-help-menu %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Help</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'help' %}" target="_blank"><i class="fas fa-question fa-fw"></i> Documentation</a>
                  <a class="dropdown-item" href="mailto:info@laws.africa" target="_blank"><i class="fas fa-envelope fa-fw"></i> Feedback</a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://github.com/laws-africa/indigo" target="_blank"><i class="fab fa-github fa-fw"></i> Indigo on GitHub</a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'terms_of_use' %}" target="_blank">Terms of Use &amp; Privacy Policy</a>
                </div>
              </li>
              {% endblock %}
            {% endblock %}
            </ul>

            <ul class="navbar-nav" id="user-buttons">
              {% block navbar-user %}
                {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle logged-in" data-toggle="dropdown">
                      <i class="fas fa-user"></i>
                      <span class="username">
                        {% if request.user.is_authenticated %}{% user_display request.user %}{% endif %}
                      </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="{% url 'edit_account' %}"><i class="fas fa-cog fa-fw"></i> Account</a>

                      {% if request.user.is_staff %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/admin/" target="_blank"><i class="fas fa-cog fa-fw"></i> Site settings</a>
                      {% endif %}

                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Log out</a>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item not-logged-in"><a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}" class="nav-link bg-success"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
                {% endif %}
              {% endblock %}
            </ul>

          </div>
          {% endblock %}
        </nav>
      {% endblock %}

      {% block main-header %}
        <header class="main-header">
          <div class="container">
            <ul class="breadcrumb text-muted">{% block breadcrumbs %}{% endblock %}</ul>

            {% block main-header-title %}{% endblock %}
          </div>
        </header>
      {% endblock %}

      {% block messages %}
        {% include '_messages.html' %}
      {% endblock %}

      <div class="main-content">{% block content %}{% endblock %}</div>

      {% block site-footer %}
      <footer class="site-footer">
        <div class="container">
          <h5>Indigo</h5>

          <div class="row">
            <div class="col-md-4">
              {% block site-footer-col-1 %}
              <ul class="list-unstyled">
                <li><a href="/">Home</a></li>

                {% if request.user.is_authenticated %}
                <li><a href="{% url 'edit_account' %}">Your account</a></li>
                <li><a href="{% url 'account_logout' %}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Log in</a></li>
                {% endif %}
              </ul>
              {% endblock %}
            </div>

            <div class="col-md-4">
              {% block site-footer-col-2 %}
              <ul class="list-unstyled">
                <li><a href="http://indigo.readthedocs.org/en/latest/" target="_blank">Documentation</a></li>
                <li><a href="mailto:greg@laws.africa" target="_blank">Feedback</a></li>
                <li><a href="https://github.com/laws-africa/indigo" target="_blank">Indigo on GitHub</a></li>
              </ul>
              {% endblock %}
            </div>

            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="{% url 'terms_of_use' %}" target="_blank">Terms of Use &amp; Privacy Policy</a></li>
              </ul>

              <img src="{% static 'images/logo.png' %}" title="Indigo" class="logo">
            </div>
          </div>
        </div>
      </footer>
      {% endblock %}
    </main>
  </div>
{% endblock page-content %}
