{% load indigo i18n %}

<dl class="key-value-pairs mb-0">
  {% block overview-list %}
    {% block overview-data %}
      {% for entry in overview_data %}
        <dt>
          {{ entry.key }}
        </dt>
        <dd>
          <div>
            {% if entry.overridden %}{% include 'indigo_app/place/_overridden.html' %}{% endif %}
            {{ entry.value }}
          </div>
          {% if entry.key == "Publication" and work.publication_document %}
            <div>
              <i class="fas fa-file text-muted" title="{% trans "Publication document" %}"></i>
              <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}"
                 target="_blank" rel="noopener">{{ work.publication_document.filename }}</a>
              <span class="text-muted">({{ work.publication_document.size|filesizeformat }})</span>
            </div>
          {% endif %}
        </dd>
      {% endfor %}
    {% endblock %}

    {% if work.parent_work %}
      <dt>{% trans 'Primary work' %}</dt>
      <dd>
        <div>
          <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
        </div>
      </dd>
    {% endif %}

    {% block overview-aliases  %}
      {% with work.aliases.all as aliases %}
        {% if aliases %}
          <dt>
            {% trans "Aliases" %}
          </dt>
          <dd>
            {% for alias in aliases %}
              <div>{{ alias }}</div>
            {% endfor %}
          </dd>
        {% endif %}
      {% endwith %}
    {% endblock %}

    {% block overview-taxonomies  %}
      {% with work.taxonomy_topics.all as topics %}
        {% if topics %}
          <dt>
            {% trans "Topics" %}
          </dt>
          <dd>
            {% for topic in topics %}
              <div>
                {% for item in topic.get_ancestors %}
                  <a href="{% url 'place_works' place=place.place_code %}?taxonomy_topic={{ item.slug }}">{{ item }}</a> &rsaquo;
                {% endfor %}
                <a href="{% url 'place_works' place=place.place_code %}?taxonomy_topic={{ topic.slug }}">{{ topic }}</a>
              </div>
            {% endfor %}
          </dd>
        {% endif %}
      {% endwith %}
    {% endblock %}
  {% endblock %}
</dl>
