{% load indigo_app humanize i18n %}

<div class="border bg-white p-2 mb-2">
  <div class="d-flex">
    <div class="float-left">
      <a class="text-muted fas fa-caret-right fa-fw collapse-indicator" data-toggle="collapse"
         href="#work-detail-{{ work.pk }}"
         hx-get="{% url 'place_works_work_detail' place=place.place_code pk=work.pk %}"
         hx-target="#work-detail-{{ work.pk }}"
         hx-trigger="click once"
      ></a>
    </div>

    <div class="float-left flex-fill">
      <div class="d-flex">
        <div class="col-5">
          <div>
            <input type="checkbox" name="works" value="{{ work.pk }}" class="work-checkbox">
            <a href="{% url 'work' frbr_uri=work.frbr_uri %}">{{ work.title }}</a>
            {% include 'indigo_api/_work_info_badges.html' %}
          </div>
          <div class="text-muted">{{ work.frbr_uri }}</div>
        </div>

        {# TODO: task, document, annotation counts, metrics? #}
        <div class="col-4">
        </div>

        <div class="col-3">
          Created
          <span class="time-ago" data-timestamp="{{ work.created_at|date:'c' }}">{{ work.created_at|date:"Y-m-d H:i" }}</span>
          by {% user_profile work.created_by_user %}
        </div>
      </div>

      <div class="collapse work-extra-detail mt-2" id="work-detail-{{ work.pk }}">Loading...</div>
    </div>
  </div>
</div>
