{% load i18n %}

{% if works %}
  {% block actions %}
    <div class="btn-toolbar mx-3">
      {% block actions-toolbar %}
        {% block action-bulk-update %}
          <div class="me-2">
            <form
                hx-post="{% url 'place_works_update' place.place_code %}"
                hx-target="#bulk-update-modal"
            >
              {% csrf_token %}
              {% for work in works %}
                <input type="hidden" name="works" value="{{ work.pk }}">
              {% endfor %}
              <button
                  class="btn btn-sm btn-outline-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#bulk-update-modal"
              >
                {% blocktrans with works_length=works|length %}Update {{ works_length }} selected...{% endblocktrans %}
              </button>
            </form>
          </div>
          <div class="modal fade" tabindex="-1" id="bulk-update-modal">
            {% include 'indigo_app/place/_bulk_update_form.html' %}
          </div>
        {% endblock %}

        {% if works_in_progress %}
          {% block action-bulk-approve %}
            <div class="me-2">
              <form
                  hx-post="{% url 'place_works_approve' place.place_code %}"
                  hx-target="#bulk-approve-modal"
              >
                {% csrf_token %}
                {% for work in works_in_progress %}
                  <input type="hidden" name="works_in_progress" value="{{ work.pk }}">
                {% endfor %}
                <button
                    class="btn btn-sm btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#bulk-approve-modal"
                >
                  {% blocktrans with works_length=works_in_progress|length %}Approve {{ works_length }} selected...{% endblocktrans %}
                </button>
              </form>
            </div>
            <div class="modal fade" tabindex="-1" id="bulk-approve-modal">
              {% include 'indigo_app/place/_bulk_approve_form.html' %}
            </div>
          {% endblock %}
        {% endif %}

        {% if approved_works %}
          {% block action-bulk-unapprove %}
            <div class="me-2">
              <form
                  hx-post="{% url 'place_works_unapprove' place.place_code %}"
                  hx-target="#bulk-unapprove-modal"
              >
                {% csrf_token %}
                {% for work in approved_works %}
                  <input type="hidden" name="approved_works" value="{{ work.pk }}">
                {% endfor %}
                <button
                    class="btn btn-sm btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#bulk-unapprove-modal"
                >
                  {% blocktrans with works_length=approved_works|length %}Unapprove {{ works_length }} selected...{% endblocktrans %}
                </button>
              </form>
            </div>
            <div class="modal fade" tabindex="-1" id="bulk-unapprove-modal">
              {% include 'indigo_app/place/_bulk_unapprove_form.html' %}
            </div>
          {% endblock %}
        {% endif %}
      {% endblock actions-toolbar %}
    </div>
  {% endblock actions %}
{% endif %}
