{% extends "place/tabbed_layout.html" %}
{% load indigo_app humanize static i18n %}

{% block title %}{% trans "Works" %} {{ block.super }}{% endblock %}

{% block content %}
  <div class="container-fluid mt-3 mb-5">

    {% block content-header %}
      <div class="d-flex mb-3 p-3 border work-list-filters">
        <div class="flex-grow-1">
          {% block filter-form %}
            {% include 'indigo_api/_work_filter_form.html' with form=form %}
          {% endblock %}
        </div>

        {% if place.place_code != "all" %}
          <div class="ms-3">
            <div class="btn-group">
              <a href="{% url 'new_work' place=place.place_code %}" class="btn btn-success">{% trans "Add new work" %}</a>
              {% if perms.indigo_api.bulk_add_work %}
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'new_batch_work' place=place.place_code %}">{% trans "Batch add new works" %}</a>
                  <a class="dropdown-item" href="{% url 'update_batch_work' place=place.place_code %}">{% trans "Batch update works" %}</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}

    <div class="row">
      <div class="col-md-3">
        <form
          id="work-facets"
          hx-post="{% url 'place_works_facets' place=place.place_code %}"
          hx-include="#work-filter-form input, #work-facets input"
          hx-target="#work-facets"
          hx-trigger="change target:.facet, submit from:#work-filter-form"
          hx-sync="#work-facets:replace"
        >
          <ul class="list-group" hx-get="{{ facets_url }}" hx-trigger="load">
            <li class="list-group-item text-center">
              <i class="fa fa-spinner fa-spin"></i>
            </li>
          </ul>
        </form>
      </div>

      <div class="col-md" id="work-list">
        {% include 'indigo_app/place/_works_list.html' %}
      </div>
    </div>

    {% include 'indigo_api/_work_form_offcanvas.html' with form=None %}

    <div class="modal fade" tabindex="-1" id="work-approve-modal">
      {% include 'indigo_app/place/_bulk_approve_form.html' %}
    </div>
  </div>
{% endblock %}
