env
venv
.idea/
*.pyc
.webassets-cache
attachments/
indigo_app/static/lime/develop
staticfiles/
static/stylesheets/app.css
static/stylesheets/app.css.map
docs/_build
node_modules/
.coverage
*.egg-info
