arrow==0.5.0
boto3==1.7.4
cobalt==0.3.2
cobble==0.1.3
defusedxml==0.4.1
dj-database-url==0.3.0
Django==1.11.8
django-appconf==1.0.2
django-ckeditor==5.3.1
django-compressor==2.2
django-cors-headers==1.3.1
django-countries-plus==1.1
django-extensions==1.7.7
django-filter==1.1.0
django-languages-plus==0.1.5
django-nose==1.4.4
django-pipeline==1.6.11
django-rest-auth==0.9.1
django-reversion==1.10.2
django-sass-processor==0.6
django-storages==1.6.6
django-taggit-serializer==0.1.5
django-taggit==0.22.0
django-wkhtmltopdf==2.0.3
djangorestframework-xml==1.3.0
djangorestframework==3.6.2
enum34==1.0.4
futures==3.0.3
gevent==1.2.2
git+https://github.com/aerkalov/ebooklib.git@a87ef643690a89d8a72389c65073913bde58d1df#egg=EbookLib-master
greenlet==0.4.13
gunicorn==19.7.1
ipython==2.4.0
libsass==0.14.2
lxml==3.4.1
mammoth==1.4.4
mock==1.3.0
newrelic==2.40.0.34
nose==1.3.7
pathlib==1.0.1
psycopg2==2.7.3.2
python-dateutil==2.4.0
pytz==2017.3
rcssmin==1.0.6
rjsmin==1.0.12
six==1.9.0
universal-analytics-python==0.2.4
Werkzeug==0.11
whitenoise==1.0.6
wsgiref==0.1.2
