{% load indigo_app i18n %}
{% block top_contributors %}

  <ul class="list-unstyled mb-0">
    {% for user in top_contributors %}
      <li class="mb-2">
        <span class="float-right">
          {% blocktrans trimmed count counter=user.task_count %}
            {{ counter }} task
          {% plural %}
            {{ counter }} tasks
          {% endblocktrans %}
        </span>
        {% user_profile_photo_thumbnail user.user %}
        {% user_profile user.user %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
