{% load i18n %}

<div class="row">
  {% for place in places %}
    <div class="col-md-3">
      <a href="{% url 'place' place=place.place_code %}" class="text-body text-no-underline-ever">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ place.name }} · {{ place.code }}</h5>

            <div class="row text-muted">
              {% block first-row %}
                <div class="col mb-2">
                  <h5 class="mb-0">{{ place.n_works }}</h5>
                  {% blocktrans count counter=place.n_works %}
                    Work
                  {% plural %}
                    Works
                  {% endblocktrans %}
                </div>
                <div class="col mb-2">
                  <h5 class="mb-0">{{ place.n_open_tasks|default_if_none:0 }}</h5>
                  {% blocktrans count counter=place.n_open_tasks|default_if_none:0 %}
                    Task
                  {% plural %}
                    Tasks
                  {% endblocktrans %}
                </div>
              {% endblock %}
            </div>

            <div class="row text-muted">
              {% block second-row %}
                <div class="col mb-2">
                  <h5 class="mb-0">{% if place.settings.as_at_date %}{{ place.settings.as_at_date|date:"Y-m-d" }} {% else %} — {% endif %}</h5>
                  {% trans "As at date" %}
                </div>
              {% endblock %}
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
