{% extends "place/tabbed_layout.html" %}
{% load i18n %}

{% block title %}{% trans "Activity" %} {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="card">
    <h4 class="card-header">{% trans "Activity" %}</h4>
    <div class="card-body">
      {% include 'indigo_app/actions/_activity_list.html' with actions=page_obj.object_list ignore_place=True %}
    </div>
  </div>

  {% if is_paginated %}
    <nav class="mt-4">
      {% include 'indigo_app/_paginator.html' %}
    </nav>
  {% endif %}
</div>
{% endblock %}
