{% extends "place/layout.html" %}

{% block head-css %}
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
{% endblock %}

{% block title %}{{ locality.name|default:country.name }}{% endblock %}
{% block view-id %}library-view{% endblock %}

{% block main-header-title %}
  <div class="d-flex">
    <div class="flex-grow-1">
      {{ block.super }}
    </div>

    <div>
      <div class="btn-toolbar">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change country</button>
          <div class="dropdown-menu">
            {% for ctry in indigo_countries %}
            <a class="dropdown-item" href="{% url 'place' place=ctry.code %}">{{ ctry.name }} · {{ ctry.code }}</a>
            {% endfor %}
          </div>
        </div>

        {% with country.localities.all as locs %}
        {% if locs %}
        <div class="dropdown ml-2">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if locality %}Change locality{% else %}Choose locality{% endif %}</button>
          <div class="dropdown-menu">
            {% for loc in locs %}
            <a class="dropdown-item" href="{% url 'place' place=loc.place_code %}">{{ loc.name }} · {{ loc.code }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}

      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="card">
    <div class="card-header">
      <div class="d-flex">

        <div class="flex-grow-1 mr-2">
          <input type="text" class="form-control filter-search" placeholder="Filter by title, year or number">
        </div>

        <div class="mr-2">
          <select class="form-control filter-subtype" name="subtype-filter"></select>
        </div>

        <div class="mr-5">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn filter-status-all btn-primary active">
              <input type="radio" name="options" autocomplete="off" class="filter-status" value="all" checked>All
            </label>
            <label class="btn filter-status-published">
              <input type="radio" name="options" autocomplete="off" class="filter-status" value="published"><i class="fa fa-fw fa-circle published"></i>Published
            </label>
            <label class="btn filter-status-draft">
              <input type="radio" name="options" autocomplete="off" class="filter-status" value="draft"><i class="fa fa-fw fa-circle draft"></i>Draft
            </label>
          </div>
        </div>

        <div class="btn-group">
          <a href="{% url 'new_work' place=place.place_code %}" class="btn btn-success">New work</a>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'new_batch_work' place=place.place_code %}">New work batch</a>
          </div>
        </div>

      </div>

      <div id="filter-tags" class="pt-3"></div>
    </div>

    <div id="library"></div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}

<script id="search-results-template" type="text/x-handlebars-template">
{% verbatim %}

  <div id="pf-list-simple-expansion" class="list-group list-view-pf list-view-pf-view">
    <div>
      {{ count }} works
    </div>
    {{#each works}}


    <div class="list-group-item">

      <div class="list-group-item-header">

        <div class="list-view-pf-expand">
          <span class="fa fa-angle-right"></span>
        </div>

        <div class="list-view-pf-main-info">

          <div class="list-view-pf-body">

            <div class="list-view-pf-description">

              <div class="list-group-item-heading">
                {{ title }}
              </div>

              <div class="list-group-item-text">
                <a href="/works{{ frbr_uri }}/">{{ frbr_uri }}</a>
              </div>

            </div>

            <div class="list-view-pf-additional-info">

              <div class="list-view-pf-additional-info-item">
                <strong>{{n_expressions}}</strong> Points in time
              </div>
              <div class="list-view-pf-additional-info-item">
                <strong>{{n_languages}}</strong> Languages
              </div>
              <div class="list-view-pf-additional-info-item">
                Last updated&nbsp;
                <span class="time-ago" data-timestamp="{{ updated_at }}">{{ updated_at }}</span>
                <span class="text-muted">
                  {{#if most_recent_updated_by.display_name}}
                  &nbsp;– {{ most_recent_updated_by.display_name }}
                  {{/if}}
                </span>
              </div>

            </div>

          </div>

        </div>

        <div class="list-group-item-container container-fluid hidden">
          {{#if work_docs}}
            <h5>Points in time</h5>
            {{#each work_docs}}
            <p>
              {{ expression_date }}:&nbsp;
              <a href="/documents/{{ id }}">{{ title }}</a>
              • {{ language }}
              <br>
              Comments: 0
              <br>
              Last updated <span class="time-ago" data-timestamp="{{ updated_at }}">{{ updated_at }}</span>
              <span class="text-muted">
              {{#if updated_by_user.display_name}}
                – {{ updated_by_user.display_name }}
              {{/if}}
              </span>
            </p>
            {{/each}}
          {{/if}}
        </div>

      </div>
    </div>
    {{/each}}
  </div>

{% endverbatim %}
</script>

<script id="filter-tags-template" type="text/x-handlebars-template">
{% verbatim %}
  {{#each tags}}
  <a href="#" class="badge {{#if active}}badge-primary{{else}}badge-secondary{{/if}} filter-tag" data-tag="{{this.tag}}">{{this.tag}} <span class="badge badge-pill badge-light">{{this.count}}</span></a>
  {{/each}}
{% endverbatim %}
</script>

<script type="text/javascript">
// inject country code-to-name mappings into JS
window.Indigo.countries = {{ countries_json|safe }};

// include the documents as JSON
window.Indigo.Preloads.country_code = '{{ country.code }}';
{% if locality %}
window.Indigo.Preloads.locality_code = '{{ locality.code }}';
{% endif %}
window.Indigo.Preloads.works = {{ works_json|safe }};
window.Indigo.Preloads.library = {{ documents_json|safe }};
</script>

<script>
  $(document).ready(function () {
    // click the list-view heading then expand a row
    $("#pf-list-simple-expansion .list-group-item-header").click(function(event){
      if(!$(event.target).is("a, input")){
        $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
          .end().parent().toggleClass("list-view-pf-expand-active")
            .find(".list-group-item-container").toggleClass("hidden");
      } else {
      }
    })

  });
</script>

{% endblock %}
