{% extends "place/tabbed_layout.html" %}
{% load indigo_app humanize staticfiles %}

{% block title %}{{ place.name }}{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">

  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div class="card-header">
          <a class="float-right" href="{% url 'tasks' place=place.place_code %}">Tasks →</a>
          <h5 class="mb-0">Current tasks ({{ place.place_tasks.unclosed.count }})</h5>
        </div>
        <div class="card-body">
          {% for item in open_tasks %}
            {% if item.count %}
              <div class="row mb-2">
                <div class="col-4">
                  <i class="fas fa-sm fa-fw task-icon-{{ item.state }}"></i> {{ item.state_string }}
                </div>
                <div class="col-6">
                  <div class="progress" style="border-radius: 3px; height: 20px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ item.percentage }}%"></div>
                  </div>
                </div>
                <div class="col-2">
                  <span class="text-muted">{{ item.count }}</span>
                </div>
              </div>
            {% endif %}
          {% endfor %}

          {% if open_tasks_by_label %}
            <hr>

            {% for item in open_tasks_by_label %}
              {% if item.count %}
                <div class="row mb-2">
                  <div class="col-4"><span class="badge badge-secondary">{{ item.title }}</span></div>
                  <div class="col-6">
                    <div class="progress" style="border-radius: 3px; height: 20px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ item.percentage }}%"></div>
                    </div>
                  </div>
                  <div class="col-2">
                    <span class="text-muted">{{ item.count }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <a class="float-right" href="{% url 'place_metrics' place=place.place_code %}">Metrics →</a>
          <h5 class="mb-0">Recent activity</h5>
        </div>
        <div class="card-body">
          <div class="p-relative" style="height: 100px">
            <canvas id="activity-chart" data-values="{{ activity_history }}"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mt-4">
        <div class="card-header">
          <a class="float-right" href="{% url 'place_works' place=place.place_code %}">Works →</a>
          <h5 class="mb-0">Types of works</h5>
        </div>
        <div class="card-body">
          {% for item in subtypes %}
            {% if item.1 %}          
              <div class="row mb-2">
                <div class="col-4">{{ item.0 }}</div>
                <div class="col-6">
                  <div class="progress" style="border-radius: 3px; height: 20px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ item.2 }}%" aria-valuenow="{{ item.2 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> 
                </div>
                <div class="col-2">{{ item.1}}</div> 
              </div>                             
            {% endif %}
          {% endfor %}

          <hr>

          <div class="row mb-2">
            <div class="col-3"> Principal works ({{ non_stubs_count }}) </div>
            <div class="col-6">
              <div class="progress" style="border-radius: 3px; height: 20px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ non_stubs_percentage }}%" aria-valuenow="{{ non_stubs_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: {{ stubs_percentage }}%" aria-valuenow="{{ stubs_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div> 
            </div>
            <div class="col-3"> Stubs ({{ stubs_count }}) </div>
          </div>

          <div class="row">
            <div class="col-3"> Primary ({{ primary_works_count }}) </div>
            <div class="col-6">
              <div class="progress" style="border-radius: 3px; height: 20px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ primary_works_percentage }}%" aria-valuenow="{{ primary_works_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: {{ subsidiary_works_percentage }}%" aria-valuenow="{{ subsidiary_works_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div> 
            </div>
            <div class="col-3"> Subsidiary ({{ subsidiary_works_count }}) </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
    
          <div class="row">
            <div class="col-3 text-center">
              <div>
                {% include 'indigo_metrics/_progress_ball.html' with size=50 progress=latest_stat.p_breadth_complete %}
              </div>
              <h4 class="mb-0 mt-3">{{ latest_stat.p_breadth_complete }}%</h4>
              <h6>Complete</h6>
            </div>
    
            <div class="col-4 text-center align-self-center">
              <h4 class="mb-0">{{ latest_stat.n_complete_works }} of {{ latest_stat.n_works }}</h4>
              <h6>Works complete</h6>
            </div>

            {% if place.settings.as_at_date %}
              <div class="col-5 text-center align-self-center">
                <h6>Works up to date as at</h6>
                <h4>{{ place.settings.as_at_date }}</h4>
              </div>
            {% endif %}
          </div>
    
        </div>
      </div>

    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <a class="float-right" href="{% url 'place_works' place=place.place_code %}">Works →</a>
      <h5 class="mb-0">Recently updated works</h5>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Work</th>
            <th>Updates</th>
          </tr>
        </thead>
        {% for work in recently_updated_works %}
          <tr>
            <td>
              <a href="{% url 'work' frbr_uri=work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.frbr_uri %}">{{ work.title }}</a>
              {% if work.repealed_date %} <span class="badge badge-info">repealed</span> {% endif %}
              <span class="text-muted">· {{ work.frbr_uri }}</span>
            </td>
            <td>
              <span class="time-ago" data-timestamp="{{ work.updated_at|date:'c' }}">{{ work.updated_at|date:"Y-m-d H:i" }}</span>
                {% if work.updated_by_user %}
                  by
                  {% if work.updated_by_user == request.user %}
                    you
                  {% else %}
                    <div class="text-muted">by {% user_profile work.updated_by_user %}</div>
                  {% endif %}
                {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <a class="float-right" href="{% url 'place_works' place=place.place_code %}">Works →</a>
      <h5 class="mb-0">Recently added works</h5>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
        <tr>
          <th>Work</th>
          <th>Added</th>
        </tr>
        </thead>
        {% for work in recently_created_works %}
          <tr>
            <td>
              <a href="{% url 'work' frbr_uri=work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.frbr_uri %}">{{ work.title }}</a>
              {% if work.repealed_date %} <span class="badge badge-info">repealed</span> {% endif %}
              <span class="text-muted">· {{ work.frbr_uri }}</span>
            </td>
            <td>
              <span class="time-ago" data-timestamp="{{ work.created_at|date:'c' }}">{{ work.created_at|date:"Y-m-d H:i" }}</span>
              {% if work.created_by_user %}
                by
                {% if work.created_by_user == request.user %}
                  you
                {% else %}
                  <div class="text-muted">by {% user_profile work.created_by_user %}</div>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}

  <script src="{% static 'lib/chart.js-2.8.0/Chart.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/chart.js-2.8.0/Chart.min.css' %}">
{% endblock %}
