{% extends "place/tabbed_layout.html" %}
{% load indigo_app humanize %}

{% block title %}{{ place.name }}{% endblock %}
{% block view-id %}library-view{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="card">
    <div class="card-header">
      <div class="d-flex">

        <div class="flex-grow-1 mr-2">
          <input type="text" class="form-control filter-search" placeholder="Filter by title, year or number">
        </div>

        <div class="mr-2">
          <select class="form-control filter-subtype" name="subtype-filter"></select>
        </div>

        <div class="mr-2">
          <select class="selectpicker filter-stub" data-style="btn-outline-secondary" data-width="auto">
            <option value="excl">Exclude stubs</option>
            <option value="only">Only stubs</option>
            <option value="all">Everything</option>
          </select>
        </div>

        <div class="mr-2">
          <select class="selectpicker filter-status" multiple data-style="btn-outline-secondary" data-width="auto">
            <option value="published" selected data-content="<i class='fas fa-circle fa-fw published'></i> Published">Published</option>
            <option value="draft" selected data-content="<i class='fas fa-circle fa-fw draft'></i> Draft">Draft</option>
          </select>
        </div>

        <div class="mr-3 pr-3 border-right">
          <select class="form-control sortby" name="sort">
            <option value="-updated_at" selected>Most recently updated</option>
            <option value="updated_at">Least recently updated</option>
            <option value="title">Title (A-Z)</option>
            <option value="-title">Title (Z-A)</option>
            <option value="frbr_uri">FRBR URI</option>
          </select>
        </div>

        <div class="btn-group">
          <a href="{% url 'new_work' place=place.place_code %}" class="btn btn-success">New work</a>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'new_batch_work' place=place.place_code %}">New work batch</a>
          </div>
        </div>

      </div>

      <div id="filter-tags" class="pt-3"></div>
    </div>

    <div id="library"></div>
  </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

<script id="search-results-template" type="text/x-handlebars-template">
{% verbatim %}

  <div class="list-group list-group-flush">
    <div class="list-group-item ml-4">{{ count }} works</div>
    {{#each works}}
    <div class="list-group-item list-group-item-action p-2" data-toggle="collapse" data-target="#work-detail-{{ id }}">
      <div class="d-flex">
        <div class="float-left">
          <span class="text-muted fas fa-caret-right fa-fw collapse-indicator"></span>
        </div>

        <div class="float-left flex-fill">
          <div class="d-flex">
            <div class="col-6">
              <a href="/works{{ frbr_uri }}/">{{ title }}</a>
              {{#if stub}}
              <span class="badge badge-info">stub</span>
              {{/if}}
              <br>
              <span class="text-muted">{{ frbr_uri }}</span>
              {{#if parent_work}}
              <p>
                Parent work: <a href="/works{{ parent_work.frbr_uri }}/" data-popup-url="/works{{ parent_work.frbr_uri }}/popup">{{ parent_work.title }}</a>
              </p>
              {{/if}}
            </div>

            <div class="col-2">
              {{#if task_stats.n_active_tasks}}
              <div><i class="fas fa-thumbtack"></i> <strong>{{ task_stats.n_active_tasks }}</strong> Active tasks</div>
              <div class="progress mt-1 progress-thin">
                <div class="progress-bar task-badge-open" style="width: {{ task_stats.open_task_ratio }}%" title="open"></div>
                <div class="progress-bar task-badge-pending_review" style="width: {{ task_stats.pending_task_ratio }}%" title="pending review"></div>
              </div>
              {{/if}}
            </div>

            <div class="col-2">
              {{#unless no_children}}
              <div>
                <span title="Points in time"><i class="far fa-clock"></i> <strong>{{ n_docs }}</strong></span>
                {{#if n_annotations}}
                  <i class="ml-2 far fa-comments"></i> {{ n_annotations }}
                {{/if}}
              </div>
              <div class="progress mt-1 progress-thin">
                <div class="progress-bar bg-primary" style="width: {{ pub_ratio }}%" title="published"></div>
                <div class="progress-bar bg-warning" style="width: {{ drafts_ratio }}%" title="drafts"></div>
              </div>
              {{/unless}}
            </div>

            <div class="col-2">
              <span class="time-ago" data-timestamp="{{ updated_at }}">{{ updated_at }}</span>
              {{#if most_recent_updated_by.display_name}}
              <div class="text-muted">by <a href="/contributors/{{most_recent_updated_by.username}}">{{ most_recent_updated_by.display_name }}</a></div>
              {{/if}}
            </div>
          </div>

          {{#if work_docs}}
          <div class="collapse work-extra-detail mt-1" id="work-detail-{{ id }}">
            {{#each work_docs}}
              <div class="d-flex">
                <div class="col-2">
                  <a href="/documents/{{ id }}">@ {{ expression_date }} · {{ language }}</a>
                </div>

                <div class="col-4">
                  {{#if draft}}
                    <i class="fas fa-fw fa-circle draft" title="draft"></i>
                  {{else}}
                    <i class="fas fa-fw fa-circle published" title="published"></i>
                  {{/if}}
                  {{ title }}
                </div>

                <div class="col-2">
                  {{#if task_stats.n_active_tasks}}
                    <div>
                      <i class="fas fa-thumbtack"></i> <strong>{{ task_stats.n_active_tasks }}</strong> Active tasks
                    </div>
                    <div class="progress mt-1 progress-thin">
                      <div class="progress-bar task-badge-open" style="width: {{ task_stats.open_task_ratio }}%" title="open"></div>
                      <div class="progress-bar task-badge-pending_review" style="width: {{ task_stats.pending_task_ratio }}%" title="pending review"></div>
                    </div>
                  {{/if}}
                </div>

                <div class="col-2">
                  {{#if n_annotations}}
                    <i class="far fa-comments"></i> {{ n_annotations }}
                  {{/if}}
                </div>

                <div class="col-2">
                  <span class="time-ago" data-timestamp="{{ updated_at }}">{{ updated_at }}</span>
                  {{#if updated_by_user.display_name}}
                  <div class="text-muted">by <a href="/contributors/{{updated_by_user.username}}">{{ updated_by_user.display_name }}</a></div>
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
          {{/if}}

        </div>
      </div>
    </div>
    {{/each}}
  </div>

{% endverbatim %}
</script>

<script id="filter-tags-template" type="text/x-handlebars-template">
{% verbatim %}
  {{#each tags}}
  <a href="#" class="badge {{#if active}}badge-primary{{else}}badge-secondary{{/if}} filter-tag" data-tag="{{this.tag}}">{{this.tag}} <span class="badge badge-pill badge-light">{{this.count}}</span></a>
  {{/each}}
{% endverbatim %}
</script>

<script type="text/javascript">
window.Indigo.countries = {{ indigo_countries_json|safe }};
window.Indigo.Preloads.works = {{ works_json|safe }};
window.Indigo.Preloads.library = {{ documents_json|safe }};
window.Indigo.Preloads.document_annotations = {{ annotations_json|safe }};
window.Indigo.Preloads.document_tasks = {{ document_tasks_json|safe }};
window.Indigo.Preloads.work_tasks = {{ work_tasks_json|safe }};
window.Indigo.Preloads.work_n_amendments = {{ work_n_amendments_json|safe }};
</script>

{% endblock %}
