{% extends "main.html" %}

{% block title %} – {{ place.name }}{% endblock %}

{% block main-header-title %}
  <h4 class="text-muted">
    <a href="{% url 'place' place=country.code %}">{{ country.name }} · {{ country.code }}</a>
    {% if locality %}
      › <a href="{% url 'place' place=locality.place_code %}">{{ locality.name }} · {{ locality.code }}</a>
    {% endif %}
  </h4>
{% endblock %}

{% block js %}
  {{ block.super }}

  <script type="text/javascript">
  window.Indigo.Preloads.country_code = '{{ country.code }}';
  window.Indigo.Preloads.locality_code = {% if locality %}'{{ locality.code }}'{% else %}null{% endif %};
  </script>
{% endblock %}
