{% extends "place/tabbed_layout.html" %}

{% block title %}Localities {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-3 mb-5 pt-3">
  <div class="row">
    {% for locality in localities %}
      <div class="col-md-3">
        <a href="{% url 'place' place=locality.place_code %}" class="text-body text-no-underline-ever">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ locality.name }} · {{ locality.code }}</h5>

              {% if locality.n_open_tasks %}
              <div class="text-muted float-right">{{ locality.n_open_tasks }} tasks</div>
              {% endif %}
              <div class="text-muted">{{ locality.n_works }} works</div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
