{% extends "place/insights_layout.html" %}
{% load static %}

{% block title %}Metrics {{ block.super }}{% endblock %}

{% block insights-content %}
<div class="container">
  <div class="card mt-3">
    <h6 class="card-header">Works and Amendments</h6>
    <div class="card-body">

      <h6>Works by Year</h6>
      <div class="p-relative mb-2" style="height: 150px">
        <canvas id="works_by_year-chart" data-values="{{ works_by_year }}"></canvas>
      </div>

      <h6>Amendments by Year</h6>
      <div class="p-relative mb-2" style="height: 150px">
        <canvas id="amendments_by_year-chart" data-values="{{ amendments_by_year }}"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mt-3">
        <h6 class="card-header">Types of works</h6>
        <div class="card-body">
          <div class="p-relative">
            <canvas id="works_by_type-chart" data-values="{{ subtypes }}"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-2 col-sm-3 ml-auto mb-3">
      <form method="GET">
        <select name="days" class="form-control form-control-inline" onchange="this.form.submit();">
          {% for n, label in day_options %}
            <option value="{{ n }}" {% if n == days %}selected{% endif %}>Last {{ label }}</option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="card mb-3">
    <h6 class="card-header">Core Detail Completeness</h6>
    <div class="card-body">

      <div class="row">
        <div class="col-6">
          <div class="p-relative" style="height: 100px">
            <canvas id="completeness-chart" data-values="{{ completeness_history }}"></canvas>
          </div>
        </div>

        <div class="col-3 d-flex text-center align-items-center justify-content-center">
          <div>
            {% include 'indigo_metrics/_progress_ball.html' with size=100 progress=latest_stat.p_breadth_complete %}
          </div>
          <div class="ml-3">
            <h3 class="mb-0">{{ latest_stat.p_breadth_complete }}%</h3>
            <h5>Complete</h5>
          </div>
        </div>

        <div class="col-3 text-center align-self-center">
          <h3 class="mb-0">{{ latest_stat.n_complete_works }} of {{ latest_stat.n_works }}</h3>
          <h5>Works Complete</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <h6 class="card-header">Works</h6>
        <div class="card-body">
          <div class="p-relative" style="height: 100px">
            <canvas id="n_works_history-chart" data-values="{{ n_works_history }}"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
        <h6 class="card-header">Expressions (documents)</h6>
        <div class="card-body">
          <div class="p-relative" style="height: 100px">
            <canvas id="n_expressions_history-chart" data-values="{{ n_expressions_history }}"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h6 class="card-header">Changes and updates</h6>
    <div class="card-body">
      <div class="p-relative" style="height: 100px">
        <canvas id="activity-chart" data-values="{{ activity_history }}"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}

  <script src="{% static 'lib/chart.js-2.8.0/Chart.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/chart.js-2.8.0/Chart.min.css' %}">
{% endblock %}
