{% extends "place/settings_layout.html" %}
{% load i18n %}

{% block title %}{% trans "Settings" %} {{ block.super }}{% endblock %}

{% block settings-content %}
    <form method="POST" action="">
    {% csrf_token %}

    <div class="card">
      <h4 class="card-header">{% trans "Settings" %}</h4>
      <div class="card-body">

        <div class="mb-3">
          <label for="{{ form.spreadsheet_url.id_for_label }}">{{ form.spreadsheet_url.label }}</label>
          <input type="url" class="form-control" name="{{ form.spreadsheet_url.name }}" id="{{ form.spreadsheet_url.id_for_label }}" value="{{ form.spreadsheet_url.value|default:'' }}">
          <p class="form-text text-muted">{% trans "URL of the Google Sheets spreadsheet with work metadata." %}</p>
          {% if form.spreadsheet_url.errors %}
            <div class="text-danger">
              {% for error in form.spreadsheet_url.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="{{ form.as_at_date.id_for_label }}">{{ form.as_at_date.label }}</label>
            <input type="text" class="form-control" data-provide="datepicker" id="{{ form.as_at_date.id_for_label }}" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" name="{{ form.as_at_date.html_name }}" value="{{ form.as_at_date.value|default_if_none:''|stringformat:'s' }}">
            <p class="form-text text-muted">{% trans "Date up to which all works have been consolidated." %}</p>
            {% if form.as_at_date.errors %}
              <div class="text-danger">
                {% for error in form.as_at_date.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="mb-3">
          <label for="{{ form.styleguide_url.id_for_label }}">{{ form.styleguide_url.label }}</label>
          <input type="url" class="form-control" name="{{ form.styleguide_url.name }}" id="{{ form.styleguide_url.id_for_label }}" value="{{ form.styleguide_url.value|default:'' }}">
          <p class="form-text text-muted">{% blocktrans trimmed with place_name=place.name %}URL of the Style Guide documentation for {{ place_name }}.{% endblocktrans %}</p>
          {% if form.styleguide_url.errors %}
            <div class="text-danger">
              {% for error in form.styleguide_url.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="{{ form.no_publication_document_text.id_for_label }}">{{ form.no_publication_document_text.label }}</label>
          <input type="text" class="form-control" name="{{ form.no_publication_document_text.html_name }}" id="{{ form.no_publication_document_text.id_for_label }}" value="{{ form.no_publication_document_text.value|default:'' }}">
          <p class="form-text text-muted">{% trans "The text to display on a document's coverpage when no Gazette (or publication document) is associated with the work." %}</p>
          {% if form.no_publication_document_text.errors %}
            <div class="text-danger">
              {% for error in form.no_publication_document_text.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="{{ form.consolidation_note.id_for_label }}">{{ form.consolidation_note.label }}</label>
          <input type="text" class="form-control" name="{{ form.consolidation_note.html_name }}" id="{{ form.consolidation_note.id_for_label }}" value="{{ form.consolidation_note.value|default:'' }}">
          <p class="form-text text-muted">{% trans "The text to display on a document's coverpage when it's part of a consolidation." %}</p>
          {% if form.consolidation_note.errors %}
            <div class="text-danger">
              {% for error in form.consolidation_note.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="{{ form.is_consolidation.id_for_label }}" name="{{ form.is_consolidation.html_name }}" value="on" {% if form.is_consolidation.value %}checked{% endif %}>
              <label class="mb-0" for="{{ form.is_consolidation.id_for_label }}">{{ form.is_consolidation.label }}</label>
              <p class="form-text text-muted">
                {% blocktrans trimmed %}
                  Is a consolidation being worked on in this place?<br>
                  If checked, a Consolidation point in time will be created on bulk import for all principal works that are older than the given consolidation date — which is either the consolidation_date given per work in the spreadsheet or the as-at date recorded here.<br>
                  For example, if the consolidation date is in 2000 and an Act is from 2001, a consolidation point in time will NOT be created for that Act on bulk import.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="{{ form.uses_chapter.id_for_label }}" name="{{ form.uses_chapter.html_name }}" value="on" {% if form.uses_chapter.value %}checked{% endif %}>
              <label class="mb-0" for="{{ form.uses_chapter.id_for_label }}">{{ form.uses_chapter.label }}</label>
              <p class="form-text text-muted">
                {% blocktrans trimmed %}
                  Are Chapters used for Acts in this place?<br>
                  If checked, the 'cap' column will be recorded on bulk import.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="{{ form.publication_date_optional.id_for_label }}" name="{{ form.publication_date_optional.html_name }}" value="on" {% if form.publication_date_optional.value %}checked{% endif %}>
              <label class="mb-0" for="{{ form.publication_date_optional.id_for_label }}">{{ form.publication_date_optional.label }}</label>
              <p class="form-text text-muted">{% trans "Is the publication date optional in this place?" %}</p>
            </div>
          </div>
        </div>

      </div>

      <div class="card-footer text-end">
        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
      </div>
    </div>
  </form>

    <div>
      <a href="{% url 'works_index' place=place.place_code %}"><i class="fas fa-file-excel fa-fw me-1"></i> {% blocktrans trimmed %}Download full legislation index for {{ place }}{% endblocktrans %}</a>
    </div>
{% endblock %}
