{% load i18n %}

<ol class="timeline">
  {% if editable and perms.indigo_api.add_amendment %}
    <li class="timeline-item card">
      <div class="card-body">
        {% block new-amendment-card %}
          <div class="btn-group">
            <button class="btn btn-primary add-amendment"><i class="fas fa-plus"></i> {% trans 'Add amendment' %}</button>
            <form action="{% url 'new_work_amendment' frbr_uri=work.frbr_uri %}" method="POST" id="new-amendment-form">
              {% csrf_token %}
              <input type="hidden" name="amending_work" value="">
              <input type="hidden" name="date" value="">
            </form>

            {% if perms.indigo_api.add_arbitraryexpressiondate %}
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                {% if existing_consolidation_at_default_date %}
                  <button class="dropdown-item disabled">
                    {% trans 'Consolidation already exists at' %} {{ consolidation_date|date:'Y-m-d' }}
                  </button>
                {% else %}
                  <form method="POST" action="{% url 'new_arbitrary_expression_date' frbr_uri=work.frbr_uri %}">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit" name="date"
                            value="{{ consolidation_date|date:'Y-m-d' }}">{% trans 'Add consolidation date' %}: {{ consolidation_date|date:'Y-m-d' }}</button>
                  </form>
                {% endif %}
              </div>
            {% endif %}

          </div>
        {% endblock %}
      </div>
    </li>
  {% endif %}

  {% for entry in work_timeline %}
    <li class="timeline-item card">
      <h6 class="timeline-date">{{ entry.date|date:"Y-m-d" }}</h6>
      <div class="card-body">
        {% for event in entry.events %}
          {% if editable and event.related and event.type == 'amendment' %}
            {% include 'indigo_api/timeline/_edit_amendment.html' %}
          {% elif editable and event.related and event.type == 'consolidation' %}
            {% include 'indigo_api/timeline/_edit_consolidation.html' %}
          {% else %}
            {% include 'indigo_api/timeline/_timeline_entry_event.html' %}
          {% endif %}
        {% endfor %}
        <div class="documents mt-3">
          {% for document in entry.expressions %}
            <div><i class="fas fa-circle fa-fw {% if document.draft %}draft{% else %}published{% endif %}"></i> <a href="{% url 'document' doc_id=document.id %}">{{ document.title }}</a> · {{ document.language }}</div>
          {% endfor %}
        </div>
      </div>

      {% if editable and entry.create_import_document %}
        <div class="card-footer">
          <form action="{% url 'new_work_point_in_time' frbr_uri=work.frbr_uri %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="expression_date" value="{{ entry.date|date:'Y-m-d' }}">
            <div class="btn-group">
              <div class="dropdown me-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-pencil-alt"></i>
                  {% if entry.initial %}
                    {% trans 'Create' %}
                  {% else %}
                    {% trans 'Create amended version' %}
                  {% endif %}
                </button>
                <div class="dropdown-menu">
                  {% for language in indigo_languages %}
                    <button type="submit" name="language" value="{{ language.id }}" class="dropdown-item">{{ language }}</button>
                  {% endfor %}
                </div>
              </div>
              <a class="btn btn-outline-secondary" href="{% url 'import_document' frbr_uri=work.frbr_uri %}?expression_date={{ entry.date|date:'Y-m-d' }}">
                <i class="fas fa-file-upload"></i> {% trans 'Import document' %}
              </a>
            </div>
          </form>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ol>
