{% load indigo_app %}

{% with action.action_object as task %}
  {% if this_task %}
    this task
  {% else %}
    the task <a href="{% url 'task_detail' place=task.place.place_code pk=task.pk %}">{{ task.title }}</a>

    {% if not action.target %}
      {% if task.work %}
        {% if ignore_work %}
          on this work
        {% else %}
          on the work <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}">{{ task.work.title }}</a>
          {% if task.document %}
            @ <a href="{% url 'document' doc_id=task.document.id %}">{{ task.document.expression_date }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if action.target.target_actions.content_type.model == 'user' %}
    {% if action.verb == 'requested changes to' %}
      from
    {% else %}
      to
    {% endif %}
    {% user_profile action.target %}
  {% endif %}

  {% if action.target.target_actions.content_type.model == 'workflow' %}
    {% with action.target as workflow %}
      {% if action.verb == 'added' %}
        to
      {% elif action.verb == 'removed' %}
        from
      {% endif %}
      {% if this_workflow %}
        this project
      {% else %}
        the project <a href="{% url 'workflow_detail' place=workflow.place.place_code pk=workflow.pk %}">{{ workflow.title }}</a>
      {% endif %}
    {% endwith %}
  {% endif %}

  {% if action.target.target_actions.content_type.model == 'task' %}
    {% with action.target as blocking_task %}
      (<a href="{% url 'task_detail' place=blocking_task.place.place_code pk=blocking_task.pk %}">#{{ blocking_task.pk }} – {{ blocking_task.title }}</a>)
    {% endwith %}
  {% endif %}

  {% if action.verb == 'submitted' %}
    for review
  {% endif %}

  {% if not ignore_place %}
    in <a href="{% url 'place' place=task.place.place_code %}">{{ task.place }}</a>
  {% endif %}
{% endwith %}
