{% load i18n %}

{% with action.action_object as commencement %}
  {% trans 'a commencement on the work' %}
  <a href="{% url 'work' frbr_uri=commencement.commenced_work.frbr_uri %}">{{ commencement.commenced_work.title }}</a>
  {% if commencement.commencing_work %}
    {% trans 'by the work' %}
    <a href="{% url 'work' frbr_uri=commencement.commencing_work.frbr_uri %}">{{ commencement.commencing_work.title }}</a>
  {% endif %}

  {% include 'indigo_app/actions/_in_place.html' with place=commencement.commenced_work.place %}

{% endwith %}
