{% load humanize indigo_app i18n %}
{% with action.action_object.action_object_actions.content_type.model as model %}

{% if ignore_actor %}
  {% trans action.verb as verb %}
  {{ verb|capfirst }}
{% else %}
  {% user_profile action.actor %} {{ action.verb }}
{% endif %}

{% if model %}
  {% with "indigo_app/actions/_action_"|add:model|add:".html" as template_name %}
    {% include template_name %}
  {% endwith %}
{% else %}
  {% with "indigo_app/actions/_action_verb_"|add:action.verb|add:".html" as template_name %}
    {% include template_name %}
  {% endwith %}
{% endif %}

<span class="time-ago" data-timestamp="{{ action.timestamp|date:'c' }}">{{ action.timestamp|date:"Y-m-d H:i" }}</span>.
{% endwith %}
