{% load i18n %}

{% if actions %}
  <ul class="activity-list">
    {% if reverse_order %}
      {% for action in actions reversed %}
        <li class="activity-item">
          {% include 'indigo_app/actions/_action.html' with action=action %}
        </li>
      {% endfor %}
    {% else %}
      {% for action in actions %}
        <li class="activity-item">
          {% include 'indigo_app/actions/_action.html' with action=action %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% else %}
  <p>{% trans 'No recent activity' %} :(</p>
{% endif %}
