<div class="modal fade" id="document-chooser-box">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What caused this <span class="noun">amendment</span>?</h4>
      </div>

      <div class="modal-body">
        <div role="tabpanel">

          <ul class="nav nav-pills">
            <li class="active"><a href="#tab-document-list" data-toggle="tab">Document from the library</a></li>
            <li><a href="#tab-custom-doc" data-toggle="tab">Document not in the library</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-document-list">
              {% include 'document/_chooser.html' %}
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-custom-doc">
              <form>
                <div class="form-group">
                  <label for="chooser_doc_title" class="control-label required">Title of <span class="verb">amending</span> document</label>
                  <input type="text" class="form-control" id="chooser_doc_title" required>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="chooser_doc_date" class="control-label required">Date of <span class="noun">amendment</span></label>
                      <input type="text" class="form-control" data-provide="datepicker" id="chooser_doc_date" placeholder="yyyy-mm-dd" required pattern="\d{4}-\d\d-\d\d">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="chooser_doc_number" class="control-label required">Number within year</label>
                      <input type="text" class="form-control" id="chooser_doc_number" required pattern="[^\s]+">
                      <p class="help-block">Number or short name that uniquely identifies this legislation within the year of introduction</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="chooser_doc_country" class="control-label required">Country</label>
                      <select id="chooser_doc_country" class="form-control">
                        {% for opt in countries %}
                        <option value="{{ opt.country.iso.lower }}">{{ opt.country.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="chooser_doc_locality" class="control-label">Locality</label>
                      <select class="form-control" id="chooser_doc_locality"></select>
                    </div>

                    <div class="form-group">
                      <label for="chooser_doc_subtype" class="control-label">Subtype</label>
                      <select id="chooser_doc_subtype" class="form-control">
                        <option value="">(none)</option>
                        {% for subtype in subtypes %}
                        <option value="{{ subtype.abbreviation }}">{{ subtype }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="chooser_doc_frbr_uri" class="control-label">FRBR URI of <span class="verb">amending</span> document</label>
                  <input type="text" class="form-control" id="chooser_doc_frbr_uri" readonly="readonly">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
        <input type="submit" class="btn btn-primary save" value="OK">
      </div>

    </div>
  </div>
</div>
