<header class="boxed-group-header">
  <h4>
    Applied Amendments
    <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/metadata.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
  </h4>
</header>

<div class="boxed-group-inner document-amendments-view">
  <p>These are applied amendments which have lead to <strong>this version</strong> of the document.</p>

  <div class="amendment-expressions"></div>

  <p>
    <button class="btn btn-default clone"><i class="fa fa-copy"></i> Clone this document</button>
  </p>
  <p class="help-block">Clone a document before applying new amendments that will result in a new version.</p>

  <script id="amendment-expressions-template" type="text/x-handlebars-template">
  {% verbatim %}

  <ol class="expression-timeline">
    {{#each amended_expressions}}
      <li class="{{#if current}}current{{/if}}">
        <h5>
          {{ date }}
          {{#if initial}} — Initial publication{{/if}}
          {{#if current}}<span class="label label-info current">this version</span>{{/if}}
        </h5>

        {{#if amendments}}
          <ul class="amendments">
          {{#each amendments}}
            <li data-uri="{{ amending_uri }}">
              Amended by
              {{#if amending_id }}
                <a href="/documents/{{ amending_id }}">{{ amending_title }}</a>
              {{else}}
                {{ amending_title }}
              {{/if}}
              —
              <a href="#" class="edit-amendment">change</a> · <a href="#" class="delete-amendment">delete</a>
            </li>
          {{/each}}
          </ul>
        {{/if}}

        <div class="document">
          {{#if document}}
            {{#if linkable}}
            <a href="/documents/{{ document.id }}">{{ document.title }}</a>
            {{else}}
            {{ document.title }}
            {{/if}}
            as at {{ date }}
            {{#if current}}<span class="label label-info current">this document</span>{{/if}}
          {{else}}
            <span class="text-muted">No editable revision at this date</a>
          {{/if}}
        </div>
      </li>
    {{/each}}
    <li>
      <button class="btn btn-default add-amendment"><i class="fa fa-plus"></i> Add amendment</button>
    </li>
  </ol>
  {% endverbatim %}
  </script>

</div>

{% include "document/_amendment_modal.html" %}
