<div class="amendments-container">

  <div class="row">
    <div class="col-sm-8">
      <p>These are amendments which have been applied to <strong>this version</strong> of the document.</p>
    </div>
    <div class="col-sm-4">
      <p>
        <button class="btn btn-default clone"><i class="fa fa-copy"></i> Clone this document</button>
      </p>
      <p class="help-block">Create a copy when applying new amendments that produce a new document.</p>
    </div>
  </div>

  <div class="amendment-list"></div>

  <button class="btn btn-default add-amendment"><i class="fa fa-plus"></i> Add amendment</button>
</div>

<script id="amendments-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if amendments}}
  <table class="table table-condensed table-striped amendments-list">
    <tr>
      <th></th>
      <th>Date</th>
      <th>Title</th>
      <th>FRBR URI</th>
    </tr>
    {{#each amendments}}
      <tr data-index="{{ @index }}">
        <td class="buttons">
          <a href="#" class="edit-amendment"><i class="fa fa-fw fa-pencil"></i></a>
          <a href="#" class="delete-amendment"><i class="fa fa-fw fa-remove"></i></a>
        </td>
        <td class="date">{{ date }}</td>
        <td>{{ amending_title }}</td>
        <td>{{ amending_uri }}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{% endverbatim %}
</script>
