<div class="amendments-container">

  <div class="amendment-list"></div>

  <button class="btn btn-default add-amendment"><i class="fa fa-plus"></i> Add amendment</button>
</div>

<script id="amendments-template" type="text/x-handlebars-template">
{% verbatim %}

<table class="table table-condensed table-hover">
{{#each amendments}}
  <tr data-index="{{ @index }}">
    <td><a href="#" class="edit-amendment"><i class="fa fa-pencil"></i></a> {{ date }}</td>
    <td>{{ amending_title }}</td>
    <td>{{ amending_uri }}</td>
  </tr>
{{/each}}
</table>

{% endverbatim %}
</script>
