<header class="boxed-group-header">
  <h4>
    Analysis
  </h4>
</header>

<div class="boxed-group-inner document-analysis-view">
  <fieldset class="document-terms-view">
    <legend>Defined terms</legend>

    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-default link-terms"><i class="fa fa-refresh"></i> Find and link defined terms</button>
      </div>
      <div class="col-sm-8">
        <p>These are terms that are explicitly defined in this document.</p>
        <p>Always refresh defined terms before publishing a document to ensure that all references to terms are captured.</p>
      </div>
    </div>

    <div class="well">
      <div class="document-terms-list"></div>
    </div>
  </fieldset>
</div>

<script id="terms-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if terms}}
  <ol class="list-inline clearfix">
    {{#each terms}}
    <li class="col-sm-4">{{this}}</li>
    {{/each}}
  </ol>

{{else}}
<p>
  <em>The document does not define any terms.</em>
</p>
{{/if}}

{% endverbatim %}
</script>
