<script id="annotation-template" type="text/x-handlebars-template">
{% verbatim %}
<div class="btn-group pull-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#" class="delete-anntn">Delete</a></li>
    <li><a href="#" class="edit-anntn">Edit</a></li>
  </ul>
</div>

<div class="author">{{ created_by_user.display_name }}</div>
<div class="content">{{ text }}</div>
{% endverbatim %}
</script>

<div id="new-annotation-floater" style="display: none"><i class="fa fa-comment"></i></div>

<div id="new-annotation-template" style="display: none">
  <textarea class="form-control" placeholder="Comment..."></textarea>
  <button class="btn btn-info btn-sm save" disabled>Comment</button>
  <button class="btn btn-default btn-sm pull-right cancel">Cancel</button>
</div>
