<script id="annotation-template" type="text/x-handlebars-template">
{% verbatim %}
<div class="buttons float-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
  <div class="dropdown-menu">
    {{#unless in_reply_to}}
      {{#unless task}}
        <a href="#" class="dropdown-item create-anntn-task">Create task</a>
      {{/unless}}
      <a href="#" class="dropdown-item close-anntn">Resolve</a>
      <div class="dropdown-divider"></div>
    {{/unless}}
    <a href="#" class="dropdown-item edit-anntn">Edit</a>
    <a href="#" class="dropdown-item delete-anntn">Delete</a>
  </div>
</div>

<div class="author">{{ created_by_user.display_name }}</div>
<div class="time-ago" data-timestamp="{{ created_at }}">{{ created_at_text }}</div>
<div class="content">{{{ html }}}</div>
<div class="button-container"></div>
{{#if task}}
  <div class="task mt-2">
    <span class="badge task-badge task-badge-{{ task.state }}" title="{{ task.state }}"><i class="fas fa-fw task-icon-{{ task.state }}"></i></span>
    <a href="{{ task.view_url }}">Task #{{ task.id }}</a>
  </div>
{{/if}}
{% endverbatim %}
</script>

<div id="new-annotation-floater" style="display: none"><i class="fa fa-comment"></i></div>

<div id="new-annotation-template" style="display: none">
  <textarea class="form-control" placeholder="Comment..."></textarea>
  <button class="btn btn-primary btn-sm save" disabled>Comment</button>
  <button class="btn btn-outline-secondary btn-sm float-right cancel">Cancel</button>
</div>
