<div class="modal fade" id="attachment-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit attachment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body form-horizontal">
        <div class="form-group">
          <label for="attachment_filename">Filename</label>
          <input type="text" class="form-control" id="attachment_filename" required>
        </div>

        <div class="form-group">
          <label>Size</label>
          <div class="form-text" id="attachment_size"></div>
        </div>

        <div class="form-group">
          <label>Type</label>
          <div class="form-text" id="attachment_mime_type"></div>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</a>
        <input type="submit" class="btn btn-primary save" value="Save">
      </div>

    </div>
  </div>
</div>
