<header class="boxed-group-header">
  <h4>
    Attachments
    <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/metadata.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
  </h4>
</header>

<div class="boxed-group-inner">
  <div class="document-attachments-view">
    <div class="document-attachments-list">
    </div>
  </div>
</div>

<script id="attachments-template" type="text/x-handlebars-template">
{% verbatim %}

<ul class="attachments-list clearfix {{#if selectable}}selectable{{/if}}">
  {{#each attachments}}
  <li data-index="{{ @index }}" data-id="{{ id }}" class="{{#if selected}}selected{{/if}}">
    <div class="wrapper">
      <a href="{{ view_url }}" target="_blank">
        <div class="icon {{#unless isImage}}not-image{{/unless}}">
          {{#if isImage}}
            <img src="{{ view_url }}" alt="{{ filename }}" class="img-thumbnail">
          {{else}}
            {{#if icon}}<i class="fa {{ icon }}"></i>{{/if}}
          {{/if}}
        </div>
        <div class="filename">
          {{ filename }}
          <span class="filesize">{{ prettySize }}</span>
        </div>
      </a>
      <div class="buttons">
        <a href="#" class="edit-attachment"><i class="fa fa-fw fa-pencil"></i></a>
        <a href="#" class="delete-attachment"><i class="fa fa-fw fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
  <li class="add-attachment">
    <div class="wrapper">
      <input type="file" id="new-attachment-file" multiple="true">
      <h4>Drag and drop a file</h4>
      <h5>or</h5>
      <button class="btn btn-default">Choose a file</button>
    </div>
  </li>
</ul>

{% endverbatim %}
</script>

{% include 'document/_attachment_modal.html' %}
