<header class="boxed-group-header">
  <h4>
    Attachments
    <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/metadata.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
  </h4>
</header>

<div class="boxed-group-inner">
  <div class="document-attachments-view">
    <div class="document-attachments-list">
    </div>
  </div>
</div>

<script id="attachments-template" type="text/x-handlebars-template">
{% verbatim %}

<ul class="image-list clearfix attachments-list">
  {{#each attachments}}
  <li data-index="{{ @index }}" data-id="{{ id }}" class="{{#if selected}}selected{{/if}}">
    <div class="wrapper">
      <div class="icon {{#unless isImage}}not-image{{/unless}}">
        {{#if isImage}}
          <img src="{{ view_url }}" alt="{{ filename }}" class="img-thumbnail">
        {{else}}
          {{#if icon}}<i class="fa {{ icon }}"></i>{{/if}}
        {{/if}}
      </div>
      <div class="filename">
        {{ filename }}
        <span class="filesize">{{ prettySize }}</span>
      </div>
      <div class="buttons">
        <a href="#" class="edit-attachment"><i class="fa fa-fw fa-pencil"></i></a>
        <a href="#" class="delete-attachment"><i class="fa fa-fw fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
  <li class="add-attachment">
    <input type="file" id="new-attachment-file" multiple="true">
  </li>
</ul>

{% endverbatim %}
</script>

{% include 'document/_attachment_modal.html' %}
