<header class="boxed-group-header">
  <h4>
    Attachments
    <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/editing.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
  </h4>
</header>

<div class="boxed-group-inner">
  <div class="document-attachments-view">
    <div class="document-attachments-list">
    </div>
  </div>
</div>

<script id="attachments-template" type="text/x-handlebars-template">
{% verbatim %}

<table class="table table-condensed table-striped attachments-list">
  <tr>
    <th></th>
    <th>Filename</th>
    <th>Size</th>
    <th>Type</th>
  </tr>
  {{#each attachments}}
    <tr data-index="{{ @index }}">
      <td class="buttons">
        <a href="#" class="edit-attachment"><i class="fa fa-fw fa-pencil"></i></a>
        <a href="#" class="delete-attachment"><i class="fa fa-fw fa-remove"></i></a>
      </td>
      <td>
        {{#if download_url }}
        <a href="{{ download_url }}" target="_blank">{{ filename }}</a>
        <i class="fa fa-external-link fa-fw text-muted"></i>
        {{else}}
        {{ filename }} <i>(new)</i>
        {{/if}}
      </td>
      <td>{{ prettySize }}</td>
      <td>{{ mime_type }}</td>
    </tr>
  {{/each}}
  <tr>
    <td class="buttons"></td>
    <td colspan="3">
      <input type="file" id="new-attachment-file" multiple="true">
    </td>
  </tr>
</ul>

{% endverbatim %}
</script>

{% include 'document/_attachment_modal.html' %}
