<div class="modal fade" tabindex="-1" role="dialog" id="cheatsheet-modal">
  <div class="modal-dialog modal-lg cheatsheet" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editor Cheatsheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body scrollable ace-xcode">

        <section class="clearfix">
          <pre class="ace_constant ace_language">PREFACE</pre>
          <p>Starts the preface of the document.<br>Must come before preamble and body.</p>
        </section>

        <section class="clearfix">
          <pre class="ace_constant ace_language">PREAMBLE</pre>
          <p>Starts the preamble of the document.<br>Must come after the preface and before the body.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_language">LONGTITLE</span> <span class="ace_entity ace_name ace_tag">To establish ...</span></pre>
          <p>Long title.<br/>Comes before "BE IT ENACTED..."</p>
        </section>

        <section class="clearfix">
          <pre class="ace_constant ace_language">BODY</pre>
          <p>Starts the body of the document.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_language">Chapter</span> <span class="ace_constant ace_numeric">2</span> <span class="ace_entity ace_name ace_tag">- Interpretation</span>

<span class="ace_constant ace_language">Chapter</span> <span class="ace_constant ace_numeric">2</span></pre>
          <p>Starts a new chapter.<br>The chapter number is required, but the heading is optional.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_language">Part</span> <span class="ace_constant ace_numeric">2</span> <span class="ace_entity ace_name ace_tag">- Interpretation</span>

<span class="ace_constant ace_language">Part</span> <span class="ace_constant ace_numeric">2</span></pre>
          <p>Starts a new part.<br>The part number is required, but the heading is optional.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_language">CROSSHEADING</span> <span class="ace_entity ace_name ace_tag">E. Control under a Scheme</span></pre>
          <p>Numbered or unnumbered sub-part heading.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_numeric">2.</span> <span class="ace_entity ace_name ace_tag">Definitions</span>

<span class="ace_constant ace_numeric">3.</span>
A section without a heading.</pre>
          <p>Starts a new section.<br>The section heading is optional.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_numeric">(2)</span> The content of subsection 2</pre>
          <p>Starts a new numbered subsection.</p>
        </section>

        <section class="clearfix">
          <pre>The following rules apply:
<span class="ace_constant ace_numeric">(a)</span> first rule,
<span class="ace_constant ace_numeric">(b)</span> second rule, and
<span class="ace_constant ace_numeric">(c)</span> third rule.</pre>
          <p>Creates a numbered list.</p>
        </section>

        <section class="clearfix">
          <pre>Statement or subsection without a number.</pre>
          <p>Plain paragraphs without a number can be written as-is.</p>
        </section>

        <section class="clearfix">
          <pre>//Italicised text//</pre>
          <p>Foreign terms, 'Gazette', instructions.</p>
        </section>

        <section class="clearfix">
          <pre>**Bold text**</pre>
          <p>Very rarely used – do not use for headings or defined terms, but can be used e.g. in forms.</p>
        </section>

        <section class="clearfix">
          <pre><span class="ace_constant ace_language">Schedule</span>

<span class="ace_constant ace_language">Schedule</span> <span class="ace_constant ace_numeric">- Second Schedule</span>

<span class="ace_constant ace_language">Schedule</span> <span class="ace_constant ace_numeric">3</span> <span class="ace_constant ace_numeric">- Important Title</span>

<span class="ace_constant ace_language">Schedule</span> <span class="ace_constant ace_numeric">4</span> <span class="ace_constant ace_numeric">- Schedule with a Heading</span>
The Heading</pre>
          <p>Starts a new schedule.<br>The number, title and heading are all optional. The heading must be on the next line.</p>
        </section>

        <section class="clearfix">
          <pre class="ace_constant ace_language ace_table">{|
|-
! header 1
! header 2
! header 3
|-
| row 1, cell 1
| row 1, cell 2
| row 1, cell 3
|-
| row 2, cell 1
| row 2, cell 2
| row 2, cell 3
|}</pre>
          <p>Draws a table using <a href="https://en.wikipedia.org/wiki/Help:Table/Manual_tables" target="_blank">Wikimedia table syntax</a>.</p>
        </section>

        <section class="clearfix">
          <pre class="ace_markup ace_underline ace_link">[link text](http://example.com/link)</pre>
          <p>Creates a hyperlink</p>
        </section>

        <section class="clearfix">
          <pre class="ace_constant ace_other ace_image">![alternative text](/media/image.png)</pre>
          <p>Embeds an image, using <code>alternative text</code> if the image can't be found.</p>
        </section>

        <section class="clearfix">
          <pre>\1. An item that isn't a section
\(a) text that isn't a list item
\Chapter that isn't a chapter</pre>
          <p>Escape special items by starting the line with a backslash.<br>This prevents Indigo from interpreting special headings or numbers. They're treated as regular text instead.</p>
        </section>

      </div>
      <div class="modal-footer">
        <a class="btn btn-link" href="{% url 'help' %}" target="_blank">Full editor documentation</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
