<div class="document-revisions-view document-comparisons-view d-none">
  <header class="revisions-header">
    <div class="title">
      <h5>Comparison</h5>
    </div>

    <div class="buttons text-right">
      <a href="#" class="btn btn-primary dismiss">Close</a>
    </div>
  </header>
  <div class="comparison-container"></div>

  <script id="comparisons-template" type="text/x-handlebars-template">
  {% verbatim %}
    {{#each expressions}}
      <div>
        PLACEHOLDER:
        {{ expression_date }}
        {{ id }}
      </div>
    {{/each}}
  {% endverbatim %}
  </script>
</div>
