<div class="document-comparison-view d-none">
  <header class="comparison-header">
    <div class="title">
      <h5>Comparison</h5>
      <p>
        Between current version and document at
        <span class="comp_doc_date"></span>.
        Number of changes:
        <span class="n_changes"></span>.
      </p>
    </div>

    <div class="buttons text-right">
      <a href="#" class="btn btn-primary dismiss">Close</a>
    </div>
  </header>

  <div class="comparison-main">
    <div class="comparison-content">
      <div class="document-sheet-container sheet-outer">
        <div class="sheet-inner">
          <div class="akoma-ntoso diffset"></div>
        </div>
      </div>
    </div>

  </div>

</div>
