<header class="boxed-group-header">
  <div class="pull-right buttons">
    <div class="btn-toolbar">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="editor" value="plaintext" autocomplete="off" checked><i class="fa fa-code"></i>
        </label>
        <label class="btn btn-default">
          <input type="radio" name="editor" value="lime" autocomplete="off"><i class="fa fa-list-alt"></i>
        </label>
      </div>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="checkbox" autocomplete="off" name="fullscreen"><i class="fa fa-expand"></i>
        </label>
      </div>
    </div>
  </div>

  <h4>Content</h4>
</header>

<div class="boxed-group-inner document-content-view">
  <div class="plaintext-editor collapse in">
    <div class="document-sheet-container">
      <div class="document-sheet">

        <div class="document-sheet-buttons">
          <button class="btn btn-default btn-xs edit">
            <i class="fa fa-pencil"></i> edit
          </button>
        </div>

        <div class="an-container"></div>
      </div>
    </div>

    <div class="document-xml-editor ace-editor"></div>

    <div id="inline-editor" class="inline-editor" style="display: none">
      <div class="buttons">
        <button class="btn btn-default btn-sm cancel"><i class="fa fa-close"></i></button>
        <button class="btn btn-success btn-sm save"><i class="fa fa-check"></i></button>
      </div>
      <textarea></textarea>
    </div>
  </div>

  <div class="lime-editor collapse">
    <div id="lime"></div>
  </div>
</div>
