<header class="boxed-group-header">
  <div class="pull-right buttons">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="editor" value="plaintext" autocomplete="off" checked> Plaintext
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="editor" value="lime" autocomplete="off"> LIME
      </label>
    </div>
  </div>

  <h4>Content</h4>
</header>

<div class="boxed-group-inner document-content-view">
  <div class="plaintext-editor collapse in">
    <div class="document-sheet-container">
      <div class="document-sheet an-container"></div>
    </div>
    <div class="document-xml-editor ace-editor"></div>
  </div>
  <div class="lime-editor collapse">
    <div id="lime"></div>
  </div>
</div>
