<header class="boxed-group-header document-content-header">
  <div class="pull-right buttons">

    <div class="btn-toolbar">
      <div class="btn-group text-editor-buttons">
        <button class="btn btn-default cancel"><i class="fa fa-close"></i></button>
        <button class="btn btn-success save"><i class="fa fa-check"></i> Update</button>
      </div>

      <span class="toggle-editor-buttons">
        <button type="button" class="btn btn-default edit-text" data-toggle="buttons" title="Edit text"><i class="fa fa-pencil"></i> Edit</button>
        <button type="button" class="btn btn-default show-source" data-toggle="buttons" title="Show XML"><i class="fa fa-code"></i></button>
        <button type="button" class="btn btn-warning edit-lime" title="Advanced editor"><i class="fa fa-list-alt"></i></button>
      </span>

      <button type="button" data-toggle="buttons" class="btn btn-default show-fullscreen" title="Edit fullscreen"><i class="fa fa-expand"></i></button>
    </div>
  </div>

  <h4>Content</h4>
</header>

<div class="boxed-group-inner document-content-view">
  <div class="sheet-editor collapse in">
    <div class="document-sheet-container">
      <div class="document-sheet">
        <div class="akoma-ntoso"></div>
      </div>
    </div>

    <div class="document-xml-editor">
      <div class="ace-editor"></div>
    </div>

    <div id="text-editor" class="text-editor">
      <textarea></textarea>
    </div>
  </div>

  <div class="lime-editor collapse">
    <div id="lime"></div>
  </div>
</div>
