<div class="modal fade" id="defined-terms-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Defined Terms</h4>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">

        <p>These are terms that are explicitly defined in this document. Always refresh defined terms before publishing a document to ensure that all references to terms are captured.</p>

        <div class="card bg-light scrollable">
          <div class="card-body">
            <div class="document-terms-list"></div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary link-terms"><i class="fa fa-sync"></i> Find and link defined terms</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script id="terms-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if terms}}
  <ol class="list-inline clearfix">
    {{#each terms}}
    <li class="list-inline-item" style="width: 30%;">{{this}}</li>
    {{/each}}
  </ol>

{{else}}
<p>
  <em>The document does not define any terms.</em>
</p>
{{/if}}

{% endverbatim %}
</script>
