<header class="boxed-group-header">
  {% if document.id %}
    <div class="buttons">
      <a href="{% url 'document-detail' pk=document.id format='pdf' %}" class="btn btn-default btn-download" target="_blank"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
    </div>
  {% endif %}
  <h4>Preview</h4>
</header>

<div class="boxed-group-inner boxed-group-inner-minimal">
  <div class="document-sheet-container">
    <div class="preview-container document-sheet">
      <div class="akoma-ntoso"></div>
    </div>
  </div>
</div>
