<header class="boxed-group-header">
  <h4>
    Document metadata
    <a class="help" href="http://indigo.readthedocs.org/en/latest/guide/metadata.html" target="_blank" title="Read the docs"><i class="fa fa-question-circle"></i></a>
  </h4>
</header>

<div class="boxed-group-inner document-properties-view">
  <div class="form-horizontal">
    <fieldset>
      <legend>Basic details</legend>

      <div class="form-group">
        <label for="document_title" class="col-sm-2 control-label">Short title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="document_title" placeholder="Title">
        </div>
      </div>

      <div class="form-group">
        <label for="document_country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-4">
          <select id="document_country" class="form-control">
            {% for opt in countries %}
            <option value="{{ opt.country.iso.lower }}">{{ opt.country.name }}</option>
            {% endfor %}
          </select>
        </div>

        <label for="document_locality" class="col-sm-2 control-label">Locality</label>
        <div class="col-sm-4">
          <select class="form-control" id="document_locality"></select>
        </div>
      </div>

      <div class="form-group">
        <label for="document_language" class="col-sm-2 control-label">Language</label>
        <div class="col-sm-4">
          <select id="document_language" class="form-control">
            {% for opt in languages %}
            <option value="{{ opt.language.iso_639_2B }}">{{ opt.language.name_en }}</option>
            {% endfor %}
          </select>
        </div>

        <label for="document_subtype" class="col-sm-2 control-label">Document subtype</label>
        <div class="col-sm-4">
          <select id="document_subtype" class="form-control">
            <option value="">(none)</option>
            {% for subtype in subtypes %}
            <option value="{{ subtype.abbreviation }}">{{ subtype }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="document_year" class="col-sm-2 control-label">Year</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="document_year">
          <p class="help-block">Year in which the act was introduced</p>
        </div>
        <label for="document_number" class="col-sm-2 control-label">Number</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="document_number">
          <p class="help-block">Number within the year of introduction</p>
        </div>
      </div>

      <div class="form-group">
        <label for="document_frbr_uri" class="col-sm-2 control-label">FRBR Work URI</label>
        <div class="col-sm-10">
          <input type="text" class="form-control disabled" id="document_frbr_uri" disabled>
          <p class="help-block">{{ form.fields.frbr_uri.help_text }}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="document_tags" class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-4">
          <select id="document_tags" multiple="true" class="form-control select2" data-placeholder="Type to add tags..." data-tags="true" data-token-separators="[,]"></select>
        </div>

        <label for="document_updated_at" class="col-sm-2 control-label">Last saved</label>
        <div class="col-sm-4">
          <div id="document_updated_at" class="form-control-static"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <div class="checkbox">
            <label>
              <input id="document_stub" type="checkbox" value="1"> This is a stub document
            </label>
            <p class="help-block">{{ form.fields.stub.help_text }}</p>
          </div>
        </div>

        <label for="document_created_at" class="col-sm-2 control-label">First created</label>
        <div class="col-sm-4">
          <div id="document_created_at" class="form-control-static"></div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Promulgation</legend>

      <div class="form-group">
        <label for="document_publication_date" class="col-sm-2 control-label">Publication date</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" data-provide="datepicker" id="document_publication_date" placeholder="yyyy-mm-dd">
          <p class="help-block">Date when first published</p>
        </div>

        <label for="document_publication_name" class="col-sm-2 control-label">Publication name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="document_publication_name">
          <p class="help-block">Original publication, eg. national gazette</p>
        </div>
      </div>

      <div class="form-group">
        <label for="document_publication_number" class="col-sm-2 control-label">Publication number</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="document_publication_number">
          <p class="help-block">Publication's sequence number, eg. gazette number</p>
        </div>
      </div>

      <div class="form-group">
        <label for="document_assent_date" class="col-sm-2 control-label">Assent date</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" data-provide="datepicker" id="document_assent_date" placeholder="yyyy-mm-dd">
          <p class="help-block">Date when signed by the President</p>
        </div>

        <label for="document_commencement_date" class="col-sm-2 control-label">Commencement date</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" data-provide="datepicker" id="document_commencement_date" placeholder="yyyy-mm-dd">
          <p class="help-block">Date when most of the document commences</p>
        </div>
      </div>

      <div class="form-group">
        <label for="document_expression_date" class="col-sm-2 control-label">Expression date</label>
        <div class="col-sm-4">
          <select class="form-control" id="document_expression_date"></select>
          <p class="help-block">Date of this version of the document, either the publication date or an amendment date</p>
        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-default btn-amendments">Manage amendments</a>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Repeal</label>
        <div class="col-sm-10">
          <div class="document-repeal-view form-control-static"></div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Draft and Publishing</legend>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input id="document_draft" type="checkbox" value="1"> This is a draft document
            </label>
            <p class="help-block">{{ form.fields.draft.help_text }}</p>
          </div>
        </div>
      </div>

      <div class="form-group published-url" style="display: none">
        <label class="col-sm-2 control-label">Published URL</label>
        <div class="col-sm-10">
          <div class="form-control-static"><a href="#" target="_blank" id="document_published_url"></a></div>
        </div>
      </div>
    </fieldset>

  </div>
</div>


<script id="repeal-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if repeal }}
  Repealed on {{ repeal.date }} by
  {{#if repeal.repealing_id}}
    <a href="/documents/{{ repeal.repealing_id }}">{{ repeal.repealing_title }}</a>.
  {{else}}
    {{ repeal.repealing_title }}.
  {{/if}}

  <a href="#" class="change-repeal"><i class="fa fa-pencil fa-fw"></i></a>
  <a href="#" class="delete-repeal"><i class="fa fa-close fa-fw"></i></a>
{{else}}
  <i>Not repealed.</i>
  <a href="#" class="change-repeal">Mark as repealed</a>
{{/if}}

{% endverbatim %}
</script>

{% include 'document/_repeal_modal.html' %}
