<header class="boxed-group-header">
  <h4>Properties</h4>
</header>

<div class="boxed-group-inner">
  <article>
    <fieldset>
      <div class="form-horizontal">
        <div class="form-group">
          <label for="document_country" class="col-sm-2 control-label">Country</label>
          <div class="col-sm-3">
            <select id="document_country" class="form-control">
              {% for code, name in form.fields.country.choices %}
              <option value="{{ code }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="document_publication_date" class="col-sm-2 control-label">Publication date</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="document_publication_date">
          </div>
        </div>

        <div class="form-group">
          <label for="document_uri" class="col-sm-2 control-label">URI</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="document_uri">
          </div>
        </div>

        <div class="form-group">
          <label for="document_title" class="col-sm-2 control-label">Document title</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="document_title" placeholder="Title">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input id="document_draft" type="checkbox" value="1"> Draft document
              </label>
              <p class="help-block">Drafts aren't available through the public API.</p>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
  </article>
</div>
