<div class="modal fade" id="references-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">References to Other Acts</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="scrollable">
        <div class="document-references-list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary remove-references pull-left"><i class="fas fa-times"></i> Remove References</button>
        <button type="button" class="btn btn-outline-secondary find-references"><i class="fas fa-sync"></i> Find References</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script id="references-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if references}}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Title</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
      {{#each references}}
      <tr>
        <td>{{ title }}</td>
        <td><a href="{{ url }}" target="_blank">{{ href }}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
<p>
  <em>The document does not reference any other documents.</em>
</p>
{{/if}}

{% endverbatim %}
</script>
