{% extends 'work/_sidebar.html' %}

{% block sidebar-nav %}
  {{ block.super }}

  <li class="nav-item nav-heading">Document</li>
  <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#properties-modal"><i class="fa fa-cog"></i> Properties</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#attachments-modal"><i class="fa fa-paperclip"></i> Attachments</a></li>
  <li class="nav-item"><a class="nav-link" href="#preview-tab" data-toggle="tab"><i class="fa fa-fw fa-eye"></i> Preview</a></li>
{% endblock %}
