{% extends "layout.html" %}


{% block header %}
<span data-document-id="{{ document.id|default:"" }}"></span>
<h4 class="document-title">{{ document.title }}</h4>
{% endblock %}


{% block header-buttons %}
<button class="btn btn-default save" disabled><i class="fa fa-save"></i> Save</button>
{% endblock %}


{% block content %}
<div class="sidebar-container sidebar-nav">
  <nav class="sidebar">
    <div class="boxed-group-inner">

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#props-tab" data-toggle="tab">Properties</a></li>
        <li><a href="#content-tab" data-toggle="tab">Content</a></li>
        <li><a href="#preview-tab" data-toggle="tab">Preview</a></li>
      <ul>

    </div>
  </nav>
</div>

<div class="main-container">
  {% block main-content %}{% endblock %}
</div>

{% endblock %}
