{% extends "layout.html" %}

{% load pipeline %}
{% load static %}


{% block header %}
<span data-document-id="{{ document.id|default:"" }}"></span>
<h4 class="document-title">{{ document.title }}</h4>
{% endblock %}


{% block header-buttons %}
<button class="btn btn-default save" disabled style="display: none"><i class="fa fa-save"></i> Save</button>
{% endblock %}


{% block content %}
<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#props-tab" data-toggle="tab">Metadata</a></li>
    <li><a href="#amendments-tab" data-toggle="tab">Amendments <span class="badge badge-default amendment-count"></span></a></li>
    <li><a href="#preview-tab" data-toggle="tab">Preview</a></li>
    <!-- this tab is always hidden -->
    <li class="hidden"><a href="#content-tab" data-toggle="tab">Content</a></li>
  </ul>

  <div id="toc" class="toc"></div>
  <script id="toc-template" type="text/x-handlebars-template">
  {% verbatim %}
  <ol>
    {{#each toc}}
    <li class="toc-item akn-{{ type }}" title="{{ title }}">
      <a href="#" class="{{#if selected}}active{{/if}}" data-index="{{ @index }}">{{ title }}</a>
    </li>
    {{/each}}
  </ol>
  {% endverbatim %}
  </script>
</div>

<div class="workspace-content">
  {% block main-content %}{% endblock %}
</div>

{% endblock %}

{% block head-css %}
  {{ block.super }}

  {% if DEBUG and INDIGO_LIME_DEBUG %}
    {# CSS for development LIME #}

    <link rel="stylesheet" href="/static/lime/develop/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/lime/develop/resources/stylesheets/extjs4.editor.css" />
    <link rel="stylesheet" type="text/css" href="/static/lime/develop/resources/stylesheets/extjs4.viewport.css" />

  {% else %}
    {# CSS for production LIME #}
    {% stylesheet "lime" %}
  {% endif %}

{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="/static/javascript/ace/ace.js"></script>

  <!-- LIME stuff -->

  {% if DEBUG and INDIGO_LIME_DEBUG %}
    {# development dependencies for LIME so that we don't have to recompile it the whole time #}

    <script>var LIME_base_url = '/static/lime/develop/';</script>
    <script src="/static/lime/develop/ext/ext-all-dev.js"></script>
    <script src="/static/lime/develop/bootstrap.js"></script>
    <script src="/static/lime/develop/app.js"></script>

    <!-- Load EXTJS4 extension for tinyMCE -->
    <script type="text/javascript" src="/static/lime/develop/lib/tinymce4/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/lime/develop/lib/vkbeautify/vkbeautify.js"></script>

  {% else %}
    {# production dependencies for LIME #}
    <script>
var LIME_base_url = '/static/lime/dist/';
var LIME_bootstrap_scripts = [
  '{% static 'lime-bootstrap.js' %}',
  // these need to be loaded separately due to the way they load their dependent scripts
  '/static/lime/dist/lib/vkbeautify/vkbeautify.js',
];
    </script>
    <script type="text/javascript" src="/static/lime/dist/lib/tinymce4/tinymce.min.js"></script>
  {% endif %}

{% endblock %}
