{% extends "work/layout.html" %}
{% load pipeline %}
{% load static %}

{% block title %}{{ document.title }}{% endblock %}
{% block body-class %}{{ block.super }} {% if document.draft %}is-draft{% else %}is-published{% endif %} {% endblock %}

{% block sidebar %}
  {% include './_sidebar.html' %}
{% endblock %}

{% block breadcrumbs %}
  {# this will be filled in by the view #}
  <li class="breadcrumb-item">&nbsp;</li>
{% endblock %}

{% block main-header-title %}
  <h5 class="main-header-title">
    <span class="document-title">{{ document.title }}</span>
    <span class="badge badge-info if-published">published</span>
    <span class="badge badge-warning if-draft">draft</span>
  </h5>

  <div class="d-flex">
    {% include 'document/_menu.html' %}

    <div class="workspace-buttons ml-auto">
      <div class="btn-group">
        <button class="btn btn-success save" disabled><i class="fa fa-save"></i> <span class="if-published">Save &amp; Publish</span><span class="if-draft">Save Draft</span></button>
        <button class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
        <div class="dropdown-menu">
          <a class="dropdown-item save-and-publish if-draft {% if not perms.indigo_api.publish_document %}disabled{% endif %}" href="#">Save &amp; Publish</a>
          <a class="dropdown-item save-and-unpublish if-published {% if not perms.indigo_api.publish_document %}disabled{% endif %}" href="#">Unpublish &amp; Save</a>
        </div>
      </div>

      <div id="document-activity-view"></div>
      <script id="document-activity-template" type="text/x-handlebars-template">

      {% verbatim %}

      <ul>
        {{#each activity}}
          <li class="{{#if is_asleep }}is-asleep{{/if}} user-{{ user.colour }}" title="{{ user.display_name }} is also editing">
            <i class="fa fa-user"></i> {{ user.display_name }}
          </li>
        {{/each}}
      </ul>
      {% endverbatim %}
      </script>
    </div>
  </div>
{% endblock %}

{% block main-content %}
  <div class="document-workspace">

    {% include "document/_doc_sidebar.html" %}

    <div class="document-workspace-content tab-content">
      <div id="content-tab" class="tab-pane">
        {% include "document/_content.html" %}
      </div>

      <div id="preview-tab" class="tab-pane high">
        {% include "document/_preview.html" %}
      </div>
    </div>
  </div>

  <script id="breadcrumb-template" type="text/x-handlebars-template">
  {% verbatim %}
    <li class="breadcrumb-item"><a href="/library/?country={{ document.country }}" class="work-country">{{ country.name }} · {{ document.country }}</a></li>
    {{#if locality}}
    <li class="breadcrumb-item"><a href="/library/?country={{ document.country }}&locality={{ document.locality }}" class="work-locality">{{ locality }} · {{ document.locality }}</a></li>
    {{/if}}
    <li class="breadcrumb-item"><a href="/works/{{ work.id }}/" class="work-frbr-uri">{{ document.frbr_uri }}</a></li>
    <li class="breadcrumb-item expressions">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ document.expression_date }}</a>
      <div class="dropdown-menu">
        {{#each expressions}}
          {{#each documents}}
            <a class="dropdown-item {{#if current}}disabled{{/if}}" href="/documents/{{ id }}">
              {{ ../date }}
              {{#if current}} - this document{{/if}}
            </a>
          {{/each}}
        {{/each}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/works/{{ work.id }}/amendments/">Manage amendments...</a>
      </div>
    </li>
  {% endverbatim %}
  </script>

  {% include "document/_properties.html" %}
  {% include "document/_attachments.html" %}
  {% include "document/_defined_terms.html" %}
  {% include "document/_references.html" %}
  {% include "document/_revisions.html" %}
  {% include "document/_annotations.html" %}
  {% include "document/_insert_image_modal.html" %}
  {% include "document/_cheatsheet.html" %}

{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="/static/javascript/ace/ace.js"></script>

  {# include the document as JSON #}
  <script type="text/javascript">
  // inject country code-to-name mappings into JS
  window.Indigo.countries = {{ countries_json|safe }};

  window.Indigo.Preloads.document_id = {{ document.id }};
  window.Indigo.Preloads.documentContent = {{ document_content_json|safe }};
  window.Indigo.Preloads.works = {{ works_json|safe }};
  window.Indigo.Preloads.amendments = {{ amendments_json|safe }};

  window.Indigo.Preloads.library = {{ documents_json|safe }};

  CKEDITOR_BASEPATH = '/static/ckeditor/';
  </script>

  <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>

{% endblock %}
