{% extends "document/layout.html" %}
{% load static %}

{% block main-content %}

<div class="tab-content high">
  <div id="props-tab" class="tab-pane active high">
    {% include "document/_properties.html" %}
  </div>

  <div id="amendments-tab" class="tab-pane high">
    {% include "document/_amendments.html" %}
  </div>

  <div id="attachments-tab" class="tab-pane high">
    {% include "document/_attachments.html" %}
  </div>

  <div id="analysis-tab" class="tab-pane high">
    {% include "document/_analysis.html" %}
  </div>

  <div id="revisions-tab" class="tab-pane high">
    {% include "document/_revisions.html" %}
  </div>

  <div id="content-tab" class="tab-pane high">
    {% include "document/_content.html" %}
  </div>

  <div id="preview-tab" class="tab-pane high">
    {% include "document/_preview.html" %}
  </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

{# include the document as JSON #}
<script type="text/javascript">
if (!window.Indigo) window.Indigo = {};
if (!window.Indigo.Preloads) window.Indigo.Preloads = {};

// inject country code-to-name mappings into JS
window.Indigo.countries = {{ countries_json|safe }};

window.Indigo.Preloads.document = {{ document_json|safe }};
window.Indigo.Preloads.documentContent = {{ document_content_json|safe }};

CKEDITOR_BASEPATH = '/static/ckeditor/';
</script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>

{% endblock %}
