{% extends "document/layout.html" %}

{% block main-content %}

<div class="tab-content high">
  <div id="props-tab" class="tab-pane active high">
    {% include "document/_properties.html" %}
  </div>

  <div id="amendments-tab" class="tab-pane high">
    {% include "document/_amendments.html" %}
  </div>

  <div id="attachments-tab" class="tab-pane high">
    {% include "document/_attachments.html" %}
  </div>

  <div id="analysis-tab" class="tab-pane high">
    {% include "document/_analysis.html" %}
  </div>

  <div id="revisions-tab" class="tab-pane high">
    {% include "document/_revisions.html" %}
  </div>

  <div id="content-tab" class="tab-pane high">
    {% include "document/_content.html" %}
  </div>

  <div id="preview-tab" class="tab-pane high">
    {% include "document/_preview.html" %}
  </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

{# include the document as JSON #}
<script type="text/javascript">
if (!window.Indigo) window.Indigo = {};
window.Indigo.documentPreload = {{ document_json|safe }};
window.Indigo.documentContentPreload = {{ document_content_json|safe }};
</script>

{% endblock %}
