@import "stylesheets/variables";
@import "indigo/variables";
@import 'lib/bootstrap-5.3.2/scss/bootstrap';

.resolver {
  header {
    margin-bottom: 40px;
  }

  footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #ccc;

    img {
      float: right;
      max-width: 100%;
      height: 70px;

      @media (max-width: 991px) {
        height: 50px;
      }
    }
  }

  .references {
    clear: both;
    margin-top: 40px;
    margin-bottom: 40px;

    &::after {
      display: table;
      content: " ";
      clear: both;
    }

    &> li {
      width: 50%;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        width: 100%;
      }

      h3 {
        margin: 0px 10px 15px 10px;
        color: #337ab7;
      }

      h4 {
        margin-top: 0px;
        margin-bottom: 15px;
      }

      h5 {
        margin-bottom: 0px;
        font-weight: normal;
        text-align: right;
      }
    }

    a {
      display: block;
      min-height: 7em;
      padding: 10px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      color: inherit;

      transition: all 150ms ease-out;

      &:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        border-color: #337ab7;
      }
    }
  }
}
