.resolver {
  header {
    margin-bottom: 40px;

    img {
      float: right;
      max-width: 100%;
      height: 70px;

      @media (max-width: 991px) {
        height: 50px;
      }
    }
  }

  footer {
    margin-top: 60px;
    border-top: 1px solid #ccc;
  }

  .references {
    clear: both;
    margin-top: 40px;
    &::after {
      display: table;
      content: " ";
      clear: both;
    }

    &> li {
      float: left;
      width: 48%;
      margin-bottom: 20px;

      &:first-child {
        margin-right: 20px;
      }

      @media (max-width: 767px) {
        width: 100%;
        margin-right: 0px;
      }

      h3 {
        margin-top: 0px;
        color: #337ab7;
      }

      h4 {
        margin-top: 0px;
        margin-bottom: 15px;
      }

      h5 {
        margin-bottom: 0px;
        font-weight: normal;
      }
    }

    a {
      display: block;
      min-height: 7em;
      padding: 10px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      color: inherit;

      transition: all 200ms ease-out;

      &:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        border-color: #337ab7;
      }
    }
  }
}
