{% load i18n %}

{% with amendment=event.edit %}
  <form action="{% url 'work_amendment_detail' frbr_uri=work.frbr_uri amendment_id=amendment.id %}" method="POST" id="amendment-{{ amendment.id|default:'initial' }}">
    {% csrf_token %}

    {% if perms.indigo_api.change_amendment %}
      <div class="dropdown float-right">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
          {% trans 'Options' %} <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <a href="#amendment-form-{{ amendment.id }}" class="dropdown-item" data-toggle="collapse">{% trans 'Change date' %}</a>
          {% if amendment.can_delete %}
            <button class="dropdown-item" type="submit" name="delete" data-confirm="{% trans 'Really delete this amendment?' %}">{% trans 'Delete' %}</button>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% include 'indigo_api/_single_description.html' %}

    <div class="form-inline edit-wrapper mb-3 collapse" id="amendment-form-{{ amendment.id }}">
      <input type="text" class="form-control amendment-date mr-2" data-provide="datepicker" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" required name="date" value="{{ amendment.date|date:"Y-m-d" }}" autocomplete="off">
      <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
      <a href="#amendment-form-{{ amendment.id }}" class="btn btn-link" data-toggle="collapse">{% trans 'Cancel' %}</a>
    </div>
  </form>
{% endwith %}
