<div class="modal fade" id="place-chooser-box" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose a place</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="row">

            <div class="col-3">
              <select class="form-control work-chooser-country">
                {% for country in indigo_countries %}
                <option value="{{ country.code }}">{{ country }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-3">
              <select class="form-control work-chooser-locality"></select>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</a>
        <input type="submit" class="btn btn-primary choose-place" value="OK">
      </div>

    </div>
  </div>
</div>

<script id="place-chooser-template" type="text/x-handlebars-template">
{% verbatim %}

<div>
  Your place chooser
</div>

{% endverbatim %}
</script>
