{% for prov in provisions %}
  {% if prov.commenced or prov.commenced_descendants %}
    <li class="list-unstyled">
      <span class="{% if prov.commenced %}text-body{% else %}text-black-50{% endif %}">
        {% if not prov.commenced %}× {% endif %}{{ prov.title|default:prov.id }}
      </span>

      {% if prov.commenced and prov.children and prov.all_descendants_commenced %}
        (Commenced in full)
      {% elif prov.children %}
        <ul>
          {% include "indigo_api/_provisions_tree_commenced.html" with provisions=prov.children %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
