{% for prov in provisions %}
  {% if prov.commenced or prov.children and not prov.all_descendants_same %}
    <li>
      {% if prov.commenced %}
        <input type="checkbox" disabled checked/>
      {% else %}
        <div class="spacer"></div>
      {% endif %}
      <div class="content">
        <span class="{% if prov.commenced %}text-body{% else %}text-black-50{% endif %}">
          {{ prov.title|default:prov.id }}
        </span>
        {% if prov.commenced and prov.all_descendants_same %}
          (Commenced in full)
        {% elif prov.children %}
          <ul class="provisions-list">
            {% include "indigo_api/_provisions_tree_commenced.html" with provisions=prov.children %}
          </ul>
        {% endif %}
      </div>
    </li>
  {% endif %}
{% endfor %}
