{% for prov in provisions %}
  {% if not prov.commenced or prov.children and not prov.all_descendants_same %}
    <li>
      {% if prov.commenced %}
        <div class="item-indent">
          <input type="checkbox" disabled checked>
        </div>
      {% else %}
        <div class="item-indent"></div>
      {% endif %}
      <div class="content">
        <span class="{% if prov.commenced %}text-black-50{% else %}alert-warning{% endif %}">
          {{ prov.title|default:prov.id }}
        </span>
        {% if prov.children %}
          <ul>
            {% include "indigo_api/_provisions_tree_uncommenced.html" with provisions=prov.children %}
          </ul>
        {% endif %}
      </div>
    </li>
  {% endif %}
{% endfor %}
