{% load i18n %}

{% for prov in provisions %}
  {% if not prov.commenced or prov.children and not prov.all_descendants_same %}
    <li>
      <div class="item-indent">
        {% if prov.commenced %}
          <input type="checkbox" disabled checked>
        {% endif %}
      </div>
      <div class="content">
        <span class="{% if prov.commenced %}text-black-50{% else %}alert-warning{% endif %}">
          {{ prov.title|default:prov.id }}
          {% if not prov.commenced and prov.all_descendants_same %}
            <em>{% trans '(in full)' %}</em>
          {% endif %}
        </span>
        {% if prov.children and not prov.all_descendants_same %}
          <ul>
            {% include "indigo_api/_provisions_tree_uncommenced.html" with provisions=prov.children %}
          </ul>
        {% endif %}
      </div>
    </li>
  {% endif %}
{% endfor %}
