{% load humanize indigo_app i18n %}

{% if tasks %}
<table class="table table-striped table-sm mb-0">
  <thead>
    <tr>
      {% block table-header %}
      <th scope="col" colspan="2">{% trans 'Task' %}</th>
      {% if place %}
        <th scope="col">{% trans 'Place' %}</th>
      {% endif %}
      {% if hide_works %}
        <th scope="col">{% trans 'Document' %}</th>
      {% else %}
        <th scope="col">{% trans 'Work or Document' %}</th>
      {% endif %}
      <th scope="col">{% trans 'Updated' %}</th>
      {% endblock %}
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
    <!-- Task Number -->
    <td>
      {% block col-icon %}
      <div class="text-nowrap">
        <i class="fas fa-fw task-icon-{{ task.state }} text-{{ task.state }} small me-2"></i>
        <span class="text-muted">
          {% if perms.indigo_api.change_task and task.is_open and selectable%}
          <label class="mb-0 font-weight-normal c-pointer">
            <input type="checkbox" name="tasks" value="{{ task.id }}" form="{{ form_id|default:'bulk-task-update-form' }}" class="me-1">
            #{{ task.id }}
          </label>
          {% else %}
          #{{ task.id }}
          {% endif %}
        </span>
      </div>
      {% endblock %}
    </td>
    <td>
      {% block col-title %}
      <!-- Task title -->
      <a href="{% url 'task_detail' place=task.place.place_code pk=task.pk %}" class="{% if task.labels.all %} d-flex me-1 {% endif %}">{{ task.title }}</a>
      {% if task.changes_requested %}
        <span class="badge badge-secondary bg-pending_review ms-1 me-1">{% trans 'Changes requested' %}</span>
      {% endif %}
      {% for label in task.labels.all %}
        <span class="badge badge-secondary me-1" title="{{ label.description }}">{{ label.title }}</span>
      {% endfor %}
      {% endblock %}
    </td>

    {% if place %}
      <td>
        {% block col-place %}
          <div class="text-nowrap">
            <a href="{% url 'tasks' place=task.place.place_code %}">{{ task.place }}</a>
          </div>
        {% endblock %}
      </td>
    {% endif %}

    <td>
      {% block col-work %}
      {% if task.document %}
        <a href="{% url 'document' doc_id=task.document.id %}" data-popup-url="{% url 'document_popup' doc_id=task.document.id %}">
          {% if not hide_works %}{{ task.document.title }} @{% endif %}
          {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}
        </a>
        <br>
        <span class="text-muted text-nowrap">{{ task.document.frbr_uri }}</span>
      {% elif task.work and not hide_works %}
        <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=task.work.frbr_uri %}">{{ task.work.title }}</a>
        <br>
        <span class="text-muted text-nowrap">{{ task.work.frbr_uri }}</span>
      {% endif %}
      {% endblock %}
    </td>
    <td>
      {% block col-timestamp %}
      <span class="time-ago text-nowrap" data-timestamp="{{ task.updated_at|date:'c' }}">{{ task.updated_at|date:"Y-m-d H:i" }}</span>
      {% endblock %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="card-body">
  <p class="alert alert-info">{% trans 'No tasks found' %}</p>
</div>
{% endif %}
