{% load i18n %}
{% url 'task_form_input_file' place.place_code as edit_url %}
<input type="hidden" name="{{ form.clear.html_name }}" value="{{ form.clear.value|default_if_none:'' }}">
{% if task.input_file %}
  <input type="hidden" name="{{ form.url.html_name }}" value="{{ task.input_file.url|default_if_none:'' }}">
  <div class="mb-3 row">
    <label class="col-2 col-form-label">{% trans 'Input' %}</label>
    <div class="col-10">
      <i class="fas fa-file text-muted"></i>
      <a href="{% url 'task_input_file' place=place.place_code pk=task.pk %}"
         target="_blank" rel="noopener">
        {{ task.input_file.filename }}
      </a>
      <span class="text-muted">({{ task.input_file.size|filesizeformat }})</span>
      <button
          class="btn btn-outline-danger ms-2"
          hx-post="{{ edit_url }}"
          hx-target="#task-input-file"
          name="{{ form.clear.html_name }}"
          value="1"
      >{% trans 'Clear' %}</button>
    </div>
  </div>
{% else %}
  <div class="mb-3 row">
    <label for="{{ form.url.id_for_label }}" class="col-2 col-form-label">{% trans 'Input URL' %}</label>
    <div class="col-4">
      <input
          class="form-control"
          type="text"
          id="{{ form.url.id_for_label }}"
          name="{{ form.url.html_name }}"
      >
      {% if form.url.errors %}
        <div class="text-danger">
          {% for error in form.url.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-6 form-text text-muted">{% trans "Paste in a URL (preferred), or upload a file." %}</div>
  </div>

  <div class="mb-3 row">
    <label for="{{ form.file.id_for_label }}" class="col-2 col-form-label">{% trans 'Input file' %}</label>
    <div class="col-4">
      <input
          type="file"
          id="{{ form.file.id_for_label }}"
          name="{{ form.file.html_name }}"
          accept=".pdf,.docx"
      >
      {% if form.file.errors %}
        <div class="text-danger">
          {% for error in form.file.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
