{% load humanize indigo_app account i18n %}

<div class="bg-light p-3">
  <div class="row">
    {% for col in task_groups  %}
      <div class="col task-list-column">
        <h6 class="text-center mb-4">
          <i class="fas fa-sm fa-fw task-icon-{{ col.badge }}"></i>
          {% trans col.title %} <span class="text-muted">({{ col.tasks|length }})</span>
        </h6>

        {% for task in col.tasks %}
          {% include 'indigo_api/_task_card_single.html' with assign_button=True assigned=True submitted_by_user=True %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
