{% load humanize indigo_app %}

{% if tasks %}
  <div class="list-group list-group-flush task-list">
    {% for task in tasks %}
      <div class="list-group-item task-list-item p-3 d-flex {% if selectable %}selectable-task{% endif %}">
        {% if selectable %}
          <div class="col">
            <input type="checkbox" name="tasks" value="{{ task.id }}" id="selected_tasks_{{ task.id }}">
          </div>
        {% endif %}
        <div class="col text-center">
          {% if task.assigned_to and task.state != 'pending_review' %}
            <span class="badge task-badge task-badge-assigned" title="assigned"><i class="fas fa-fw task-icon-assigned"></i></span><br>
          {% else %}
            <span class="badge task-badge task-badge-{{ task.state }}" title="{{ task.state }}"><i class="fas fa-fw task-icon-{{ task.state }}"></i></span><br>
          {% endif %}
          <span class="text-muted">#{{ task.pk }}</span>
        </div>

        <div class="col flex-fill">
          <div>
            <a href="{% url 'task_detail' place=place.place_code pk=task.pk %}">{{ task.title }}</a>
            {% for label in task.labels.all %}
              <span class="badge badge-secondary" title="{{ label.description }}">{{ label.title }}</span>
            {% endfor %}

            {% if task.document %}
              <div>
                <a href="{% url 'document' doc_id=task.document.id %}" class="text-muted">{{ task.document.title }} @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}</a><br>
                <span class="text-muted">{{ task.document.work.frbr_uri }}</span>
              </div>
            {% elif task.work %}
              <div>
                <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}" class="text-muted">{{ task.work.title }}</a><br>
                <span class="text-muted">{{ task.work.frbr_uri }}</span>
              </div>
            {% endif %}
          </div>
          <div class="text-muted">
            <small>
              Created <span class="time-ago" data-timestamp="{{ task.created_at|date:'c' }}">{{ task.created_at|naturaltime }}</span>
              {% if task.created_by_user %}
              by {% user_profile task.created_by_user %}
              {% endif %}
            </small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="card-body">
    <p class="alert alert-info">No tasks found</p>
  </div>
{% endif %}
