{% load i18n %}

<form id="bulk-task-update-form" class="d-none" method="POST"
      action="{% url 'bulk_task_update' place=place.place_code %}?next={{ request.get_full_path|urlencode }}"
      data-assignees-url="{% url 'task_assignees_menu' place=place.place_code %}">
  {% csrf_token %}

  <div class="row align-items-end">
    <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          {% trans 'Assign to' %}
        </button>
        <div class="dropdown-menu"></div>
      </div>
    </div>
    <div class="col-3 offset-6 text-right">
      <button type="submit" class="btn btn-success">{% trans 'Update selected tasks' %}</button>
    </div>
  </div>
</form>
