{% load i18n %}

<form id="bulk-task-update-form" class="d-none" method="POST"
      action="{% url 'bulk_task_update' place=place.place_code %}"
      data-assignees-url="{% url 'task_assignees_menu' place=place.place_code %}">
  {% csrf_token %}

  <div class="d-flex">
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        {% trans 'Assign to' %}
      </button>
      <div class="dropdown-menu"></div>
    </div>
    <button
        class="btn btn-outline-secondary ms-1"
        type="submit"
        formaction="{% url 'bulk_task_unblock' place=place.place_code %}"
        data-disable-with="{% trans 'Unblocking' %}"
    >{% trans 'Unblock' %}</button>
  </div>
</form>
