{% load account i18n %}

<form method="GET"
      id="task-filter-form"
      hx-get="{{ form_url }}"
      hx-target="#task-list"
      hx-trigger="submit, change, change from:#task-list target:.facet delay:1s"
      >

  <div class="d-flex flex-row">
    <div class="d-flex flex-wrap">
      <div class="me-2 mb-2">
        <select class="form-control narrow" name="{{ form.sortby.html_name }}">
          {% for opt in form.sortby %}
            {{ opt }}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</form>
