{% load activity_tags humanize indigo_app account comments i18n %}

<div class="container mt-3 mb-5">
    <div class="row">
      <div class="mb-3 col-9">
        {% if task.state == 'blocked' %}
          <div class="alert alert-danger">
            {% trans 'This task is blocked.' %}
            {% if blocked_by %}
              {% trans 'These tasks must be completed first:' %}
              <ul class="mt-2">
                  {% for blocking_task in blocked_by|dictsort:'pk' %}
                    <li>
                      <a href="{% url 'task_detail' place=place.place_code pk=blocking_task.pk %}">#{{ blocking_task.pk }}
                        – {{ blocking_task.title }}</a> <i class="fas fa-fw task-icon-{{ blocking_task.state }}" title="{% trans blocking_task.state %}"></i>
                    </li>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endif %}
        <div class="d-flex">
          <div class="me-3 text-center">
            {% if task.state == 'open' and task.assigned_to %}
            <i class="fas fa-fw task-icon-assigned" title="{% trans 'assigned' %}"></i><br>
            {% else %}
            <i class="fas fa-fw task-icon-{{ task.state }}" title="{% trans task.state %}"></i><br>
            {% endif %}
            <span class="text-muted">#{{ task.pk }}</span>
          </div>
          <div class="flex-grow-1">
            <h5>
              {{ task.title }}{% if task.timeline_date %} – {{ task.timeline_date|date:"Y-m-d" }}{% endif %}
              {% if task.changes_requested %}
                <span class="badge text-bg-secondary bg-pending_review ms-2">{% trans 'Changes requested' %}</span>
              {% endif %}
            </h5>

            {% if task.document %}
            <div class="mb-2">
              <a href="{% url 'document' doc_id=task.document.id %}">{{ task.document.title }}
                @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}</a><br>
              <span class="text-muted">{{ task.work.frbr_uri }}</span>
            </div>
            {% elif task.work %}
            <div class="mb-2">
              <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}"
                 data-popup-url="{% url 'work_popup' frbr_uri=task.work.frbr_uri %}">{{ task.work.title }}</a><br>
              <span class="text-muted">{{ task.work.frbr_uri }}</span>
            </div>
            {% endif %}
          </div>

          <div>{% block task-badges %}{% endblock %}</div>
        </div>
      </div>

      {% if not task.state == 'done' and not task.state == 'cancelled' and task.change_task_permission %}
      <div class="col-3">
        <a href="{% url 'task_edit' place=place.place_code pk=task.pk %}" class="btn btn-primary">{% trans 'Edit task' %}</a>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            {{ task.description|default:''|urlize|linebreaksbr }}
          </div>
        </div>
        {% if task.input_file or task.output_file %}
          <div class="card mt-2">
            <div class="card-body">
              {% if task.input_file %}
                <div class="mb-3 row">
                  <label class="col-2 col-form-label pt-0">{% trans "Input file" %}</label>
                  <div class="col-10">
                    <i class="fas fa-file text-muted"></i>
                    <a href="{% url 'task_input_file' place=place.place_code pk=task.pk %}"
                       target="_blank" rel="noopener">
                      {{ task.input_file.filename }}
                    </a>
                    <span class="text-muted">({{ task.input_file.size|filesizeformat }})</span>
                  </div>
                </div>
              {% endif %}
              {% if task.output_file %}
                <div class="row">
                  <label class="col-2 col-form-label pt-0">{% trans "Output file" %}</label>
                  <div class="col-10">
                    <i class="fas fa-file text-muted"></i>
                    <a href="{% url 'task_output_file' place=place.place_code pk=task.pk %}"
                       target="_blank" rel="noopener">
                      {{ task.output_file.filename }}
                    </a>
                    <span class="text-muted">({{ task.output_file.size|filesizeformat }})</span>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div id="task-activity">
          {% include 'indigo_api/_task_detail_activity.html' %}
        </div>
      </div>

      <div class="col-3">
        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Assigned to' %}</h6>
          <div class="card-body">
            <div class="mb-2">
              {% if task.assigned_to %}
                {% user_profile task.assigned_to %}
              {% else %}
                <em>{% trans 'Unassigned' %}</em>
              {% endif %}
            </div>

            {% if task.change_task_permission %}
              <form method="POST" action="{% url 'assign_task' place=place.place_code pk=task.pk %}">
                {% csrf_token %}
                {% if task.assigned_to %}
                  <button class="btn btn-outline-danger mb-3" type="submit"
                          data-confirm="{% trans 'Are you sure you want to unassign this task?' %}"
                          formaction="{% url 'unassign_task' place=place.place_code pk=task.pk %}">
                    {% trans 'Unassign' %}
                  </button>
                {% endif %}

                <div class="dropdown">
                  <button class="btn btn-outline-secondary mb-3 dropdown-toggle" type="button"
                          data-bs-toggle="dropdown"
                          hx-trigger="click once"
                          hx-get="{% url 'assign_task_to' place=place.place_code pk=task.pk %}"
                          hx-target="next .dropdown-menu">
                    {% trans 'Assign to' %}
                  </button>
                  <div class="dropdown-menu"><div class="dropdown-item">...</div></div>
                </div>
              </form>
            {% endif %}
          </div>
        </div>

        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Labels' %}</h6>
          <div class="card-body">
            {% if task.change_task_permission %}
              <select
                  class="selectpicker" multiple
                  hx-trigger="change"
                  hx-post="{% url 'task_labels' place=place.place_code pk=task.pk %}"
                  hx-target="#task-labels-list"
                  name="labels"
                  data-style="btn-link ps-0 text-dark"
                  data-none-selected-text="{% trans 'Choose labels' %}"
                  data-selected-text-format="static"
                  data-size="7"
              >
                {% for label in labels_form.labels %}
                  {{ label }}
                {% endfor %}
              </select>
            {% endif %}
            <div id="task-labels-list">
              {% include 'indigo_api/_task_labels.html' %}
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Projects' %}</h6>
          <div class="card-body">
            {% with task.workflows.all as workflows %}
              {% if task.change_task_permission %}
                <form action="{% url 'task_workflows' place=place.place_code pk=task.pk %}" method="POST"
                      id="task-workflow-form" onchange="this.submit();">
                  {% csrf_token %}

                  <select class="selectpicker" multiple name="workflows"
                          data-dropdown-align-right="true" data-style="btn-link ps-0 text-dark"
                          data-none-selected-text="{% trans 'Choose projects' %}" data-selected-text-format="static"
                          data-live-search="true" data-size="7">

                    {% for workflow in possible_workflows|dictsort:'title' %}
                      <option value="{{ workflow.id }}" {% if workflow in workflows %}selected{% endif %}>
                        #{{ workflow.pk }} – {{ workflow.title }}</option>
                    {% endfor %}
                  </select>
                </form>
              {% endif %}
              <ul class="list-unstyled mb-2">
                {% if workflows %}
                  {% for workflow in workflows|dictsort:'title' %}
                    <li>
                      <a href="{% url 'workflow_detail' place=place.place_code pk=workflow.pk %}">#{{ workflow.pk }}
                        – {{ workflow.title }}</a></li>
                  {% endfor %}
                {% else %}
                  <li><em>{% trans 'None' %}</em></li>
                {% endif %}
              </ul>
            {% endwith %}
          </div>
        </div>

        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Blocked by' %}</h6>
          <div class="card-body">
            {% if task.change_task_permission %}
              <form action="{% url 'task_blocked_by' place=place.place_code pk=task.pk %}" method="POST"
                    id="task-blocked_by-form">
                {% csrf_token %}

                <select class="selectpicker" multiple name="blocked_by" onchange="this.form.submit();"
                        data-dropdown-align-right="true" data-style="btn-link ps-0 text-dark"
                        {% if task.is_closed %}disabled{% endif %}
                        data-none-selected-text="{% trans 'Choose tasks' %}" data-selected-text-format="static"
                        data-live-search="true" data-size="7">

                  {% for blocking_task in possible_blocking_tasks|dictsort:'pk' %}
                    <option value="{{ blocking_task.id }}" {% if blocking_task in blocked_by %}selected{% endif %}>
                      #{{ blocking_task.pk }} – {{ blocking_task.title }}</option>
                  {% endfor %}
                </select>
              </form>
            {% endif %}
            {% if blocked_by %}
              <ul class="list-unstyled mb-2">
                {% for blocking_task in blocked_by|dictsort:'pk' %}
                  <li>
                    <a href="{% url 'task_detail' place=place.place_code pk=blocking_task.pk %}">#{{ blocking_task.pk }}
                      – {{ blocking_task.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        {% with task.blocking.all as blocking %}
          {% if blocking %}
            <div class="card mb-3">
              <h6 class="card-header">{% trans "Blocking" %} <i class="fas fa-exclamation-triangle text-warning"></i></h6>
              <div class="card-body">
                <div>

                  {% trans 'This task is blocking these tasks:' %}
                  <ul class="mb-2">
                    {% for blocked_task in blocking|dictsort:'pk' %}
                      <li>
                        <a href="{% url 'task_detail' place=place.place_code pk=blocked_task.pk %}">#{{ blocked_task.pk }}
                          – {{ blocked_task.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}
        {% endwith %}

        {% block task-column-footer %}{% endblock %}
      </div>
    </div>
  </div>
