{% load i18n %}

{% if not form.document.value %}
  <div class="mb-3 row">
    <label for="{{ form.timeline_date.id_for_label }}" class="col-2 col-form-label">{% trans 'Timeline date' %}</label>
    <div class="col-4">
      <input type="date" class="form-control" id="{{ form.timeline_date.id_for_label }}"
             name="{{ form.timeline_date.html_name }}"
             value="{{ form.timeline_date.value|date:"Y-m-d"|default:'' }}">
    </div>
    {% if form.timeline_date.errors %}
      <div class="text-danger">
        {% for error in form.timeline_date.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
