{% load humanize indigo_app %}
{% load account %}

<div class="bg-light p-3">
  <div class="row">
    {% for col in task_groups  %}
      <div class="col task-list-column">
        <h6 class="text-center mb-4">
          <span class="badge task-badge task-badge-{{ col.badge }}"><i class="fas fa-sm fa-fw task-icon-{{ col.badge }}"></i></span>
          {{ col.title }} <span class="text-muted">({{ col.tasks|length }})</span>
        </h6>

        {% for task in col.tasks %}
          <div class="card mb-3 task-list-card">
            <div class="card-body">

              {% if workflow_controls %}
                <form method="POST">
                  {% csrf_token %}

                  <div class="dropdown float-right">
                    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown"></button>
                    <div class="dropdown-menu">
                      <button type="submit" class="dropdown-item" formaction="{% url 'workflow_remove_task' place=place.place_code pk=workflow.pk task_pk=task.pk %}" data-confirm="Are you sure you want to remove this task?">Remove from workflow</button>
                    </div>
                  </div>
                </form>
              {% endif %}

              <div><small class="text-muted">#{{ task.id }}</small></div>
              <a href="{% url 'task_detail' place=place.place_code pk=task.pk %}">{{ task.title }}</a>

              {% if task.document %}
                <div>
                  <span class="text-muted">{{ task.document.title }} @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}</span><br>
                  <span class="text-muted">{{ task.document.work.frbr_uri }}</span>
                </div>
              {% elif task.work %}
                <div>
                  <span class="text-muted">{{ task.work.title }}</span><br>
                  <span class="text-muted">{{ task.work.frbr_uri }}</span>
                </div>
              {% endif %}

              <div>
                {% for label in task.labels.all %}
                  <span class="badge badge-secondary" title="{{ label.description }}">{{ label.title }}</span>
                {% endfor %}
              </div>

              {% if task.assigned_to %}
                <div>
                  <span class="badge task-badge" title="assignee"><i class="fas fa-user-tag fa-xs task-icon-assignee"></i></span>
                  <small class="text-muted">Assigned to {% user_profile task.assigned_to %}</small>

                  {% if perms.indigo_api.change_task %}
                    <form method="POST">
                      {% csrf_token %}

                      <div class="dropdown">
                        <button class="btn btn-outline-danger btn-sm mt-2 dropdown-toggle" type="button" id="uniasssignDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Reassign
                        </button>
                        <div class="dropdown-menu" aria-labelledby="uniasssignDropdownMenuButton">
                          <button class="dropdown-item mb-1" type="submit" data-confirm="Are you sure you want to unassign this task?" formaction="{% url 'unassign_task' place=place.place_code pk=task.pk %}">Unassign</button>
                          {% for potential_assignee in task.potential_assignees %}
                          <button class="dropdown-item mb-1" type="submit" name="user_id" value="{{potential_assignee.id }}" formaction="{% url 'assign_task' place=place.place_code pk=task.pk %}">{% user_display potential_assignee %}</button>
                          {% endfor %}
                        </div>
                      </div>
                    </form>
                  {% endif %}

                </div>
              {% elif task.state == 'open' or task.state == 'pending_review' %}
                {% if perms.indigo_api.change_task and task.potential_assignees %}
                  <form method="POST" action="{% url 'assign_task' place=place.place_code pk=task.pk %}">
                    {% csrf_token %}
                    <div class="dropdown">
                      <button class="btn btn-outline-primary mt-2 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign to
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for potential_assignee in task.potential_assignees %}
                        <button class="dropdown-item mb-1" type="submit" name="user_id" value="{{potential_assignee.id }}" >{% user_display potential_assignee %}</button>
                        {% endfor %}
                      </div>
                    </div>
                  </form>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
