<div class="row">
  {% for col in task_groups  %}
    <div class="col task-list-column">
      <h6 class="text-center mb-4">
        <span class="badge task-badge task-badge-{{ col.badge }}"><i class="fas fa-sm fa-fw task-icon-{{ col.badge }}"></i></span>
        {{ col.title }}
      </h6>

      {% for task in col.tasks %}
        <div class="card mb-3 task-list-card">
          <div class="card-body">
            <div><small class="text-muted">#{{ task.id }}</small></div>
            <a href="{% url 'task_detail' place=place.place_code pk=task.pk %}">{{ task.title }}</a>

            {% if task.document %}
              <div>
                <span class="text-muted">{{ task.document.title }} @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}<br>
                <span class="text-muted">{{ task.document.work.frbr_uri }}</span>
              </div>
            {% elif task.work %}
              <div>
                <span class="text-muted">{{ task.work.title }}</span><br>
                <span class="text-muted">{{ task.work.frbr_uri }}</span>
              </div>
            {% endif %}

            <div>
              {% for label in task.labels.all %}
                <span class="badge badge-secondary" title="{{ label.description }}">{{ label.title }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
