{% load activity_tags humanize indigo_app account comments i18n %}

<div class="container mt-3 mb-5">
    <div class="row">
      <div class="mb-3 col-9">
        {% if task.state == 'blocked' %}
          <div class="alert alert-danger">
            {% trans 'This task is blocked.' %}
            {% if blocked_by %}
              {% trans 'These tasks must be completed first:' %}
              <ul class="mt-2">
                  {% for blocking_task in blocked_by|dictsort:'pk' %}
                    <li>
                      <a href="{% url 'task_detail' place=place.place_code pk=blocking_task.pk %}">#{{ blocking_task.pk }}
                        – {{ blocking_task.title }}</a> <i class="fas fa-fw task-icon-{{ blocking_task.state }}" title="{% trans blocking_task.state %}"></i>
                    </li>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endif %}
        <div class="d-flex">
          <div class="me-3 text-center">
            {% if task.state == 'open' and task.assigned_to %}
            <i class="fas fa-fw task-icon-assigned" title="{% trans 'assigned' %}"></i><br>
            {% else %}
            <i class="fas fa-fw task-icon-{{ task.state }}" title="{% trans task.state %}"></i><br>
            {% endif %}
            <span class="text-muted">#{{ task.pk }}</span>
          </div>
          <div class="flex-grow-1">
            <h5>
              {{ task.title }}{% if task.timeline_date %} – {{ task.timeline_date|date:"Y-m-d" }}{% endif %}
              {% if task.changes_requested %}
                <span class="badge text-bg-secondary bg-pending_review ms-2">{% trans 'Changes requested' %}</span>
              {% endif %}
            </h5>

            {% if task.document %}
            <div class="mb-2">
              <a href="{% url 'document' doc_id=task.document.id %}">{{ task.document.title }}
                @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}</a><br>
              <span class="text-muted">{{ task.work.frbr_uri }}</span>
            </div>
            {% elif task.work %}
            <div class="mb-2">
              <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}"
                 data-popup-url="{% url 'work_popup' frbr_uri=task.work.frbr_uri %}">{{ task.work.title }}</a><br>
              <span class="text-muted">{{ task.work.frbr_uri }}</span>
            </div>
            {% endif %}
          </div>

          <div>{% block task-badges %}{% endblock %}</div>
        </div>
      </div>

      {% if not task.state == 'done' and not task.state == 'cancelled' and task.change_task_permission %}
      <div class="col-3">
        <a href="{% url 'task_edit' place=place.place_code pk=task.pk %}" class="btn btn-primary">{% trans 'Edit task' %}</a>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            {{ task.description|default:''|urlize|linebreaksbr }}
          </div>
        </div>
        {% if task.input_file or task.output_file %}
          <div class="card mt-2">
            <div class="card-body">
              {% if task.input_file %}
                <div class="mb-3 row">
                  <label class="col-2 col-form-label pt-0">{% trans "Input file" %}</label>
                  <div class="col-10">
                    <i class="fas fa-file text-muted"></i>
                    <a href="{% url 'task_input_file' place=place.place_code pk=task.pk %}"
                       target="_blank" rel="noopener">
                      {{ task.input_file.filename }}
                    </a>
                    <span class="text-muted">({{ task.input_file.size|filesizeformat }})</span>
                  </div>
                </div>
              {% endif %}
              {% if task.output_file %}
                <div class="row">
                  <label class="col-2 col-form-label pt-0">{% trans "Output file" %}</label>
                  <div class="col-10">
                    <i class="fas fa-file text-muted"></i>
                    <a href="{% url 'task_output_file' place=place.place_code pk=task.pk %}"
                       target="_blank" rel="noopener">
                      {{ task.output_file.filename }}
                    </a>
                    <span class="text-muted">({{ task.output_file.size|filesizeformat }})</span>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <ul class="activity-list open-top pt-3">
          {% for entry in task_timeline %}
            {% if entry.comment %}
              <li class="activity-item card">
                <div class="card-header">
                  {% user_profile entry.user %} {% trans 'commented' %}
                  <span class="time-ago" data-timestamp="{{ entry.submit_date|date:'c' }}">{{ entry.submit_date|date:"Y-m-d H:i" }}</span>:
                </div>
                <div class="card-body">
                  {{ entry.comment|urlize|linebreaksbr }}
                </div>
              </li>
            {% else %}
              <li class="activity-item">
                {% include 'indigo_app/actions/_action.html' with action=entry this_task=True ignore_place=True %}
              </li>
            {% endif %}
          {% endfor %}

          {% with task.resolve_anchor as anchor %}
            {% if anchor %}
              <li class="activity-item">
                {% if anchor.element %}
                  {% url 'document' doc_id=task.document.pk as doc_url %}
                  {% with qid=anchor.toc_entry.qualified_id|default:'' anntn_id=task.annotation.id|slugify %}
                    {% blocktrans trimmed with item_url=doc_url|add:"?toc="|add:qid|add:"&anntn="|add:anntn_id title=anchor.toc_entry.title|default:anchor.anchor_id %}
                      Here is <a href="{{ item_url }}">{{ title }}</a> as it appears currently
                    {% endblocktrans %}
                  {% endwith %}

                  {% if not anchor.exact_match %}
                    {% blocktrans with a=anchor.anchor_id %}(<b>{{ a }}</b> may have been moved or removed){% endblocktrans %}
                  {% endif %}
                  <div class="sheet-outer"
                       {% if anchor.selectors or not anchor.is_toc_element %}data-highlight="{{ anchor.target|jsonify|escape }}"{% endif %}>
                    <div class="sheet-inner is-fragment">
                      <la-akoma-ntoso frbr-expression-uri="{{ anchor.document.expression_frbr_uri }}">{{ anchor.toc_element_html|default:anchor.element_html|safe }}</la-akoma-ntoso>
                    </div>
                  </div>
                {% else %}
                  {% blocktrans trimmed with a=anchor.toc_entry.title|default:anchor.anchor_id %}
                    The content at <b>{{ a }}</b> is not available and may have been moved or removed.
                  {% endblocktrans %}
                {% endif %}
              </li>
            {% endif %}
          {% endwith %}
        </ul>

        <hr>

        {% if user.is_authenticated %}
          {% get_comment_form for task as form %}
          <form action="{% comment_form_target %}" method="post" id="task-comment-form">
            {% csrf_token %}
            {{ form.honeypot.as_hidden }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{% url 'task_detail' place=place.place_code pk=task.pk %}"/>

            <div class="card">
              <div class="card-body">
                <textarea id="id_comment" name="comment" class="form-control mb-3" maxlength="3000" rows="3"
                          cols="80" placeholder="Add a comment"></textarea>

                <div class="text-end">
                  <input class="btn btn-primary" type="submit" value="{% trans 'Add comment' %}" id="id_submit" disabled>

                  {% if task.state == 'pending_review' %}
                    {% if task.unsubmit_task_permission %}
                      <input
                        class="btn btn-primary me-2 float-start"
                        type="submit"
                        data-confirm="{% trans 'Are you sure you want to request changes to this task?' %}"
                        formaction="{% url 'unsubmit_task' place=place.place_code pk=task.pk %}"
                        id="btn_request_changes"
                        value="{% trans 'Request changes' %}">
                    {% endif %}

                    {% if task.customised.close_url %}
                      <a class="btn btn-primary me-2 float-start" href="{{ task.customised.close_url }}">{% trans 'Review changes' %}</a>
                    {% elif task.close_task_permission %}
                      <input
                        class="btn btn-success me-2 float-start"
                        type="submit"
                        data-confirm="{% trans 'Are you sure you want to approve this task?' %}"
                        formaction="{% url 'close_task' place=place.place_code pk=task.pk %}"
                        id="btn_approve"
                        value="{% trans 'Approve' %}">
                    {% endif %}

                  {% elif task.state == 'cancelled' or task.state == 'done' %}
                    {% if task.reopen_task_permission %}
                      <input class="btn btn-primary float-start me-2" type="submit"
                             data-confirm="{% trans 'Are you sure you want to reopen this task?' %}"
                             formaction="{% url 'reopen_task' place=place.place_code pk=task.pk %}"
                             id="btn_reopen"
                             value="{% trans 'Reopen' %}">
                    {% endif %}

                  {% elif task.code == 'convert-document' and task.state == 'open' and task.finish_task_permission %}
                    <input class="btn btn-primary float-start me-2" type="submit"
                           data-confirm="{% trans 'Are you sure you want to finish this task?' %}"
                           formaction="{% url 'finish_task' place=place.place_code pk=task.pk %}"
                           id="btn_finish"
                           value="{% trans 'Finish' %}">

                  {% elif task.state == 'open' and task.submit_task_permission %}
                    <input class="btn btn-primary float-start me-2" type="submit"
                           data-confirm="{% trans task.submission_message %}"
                           formaction="{% url 'submit_task' place=place.place_code pk=task.pk %}"
                           id="btn_submit_for_review"
                           value="{% trans 'Submit for review' %}">
                  {% endif %}
                </div>
              </div>
            </div>

          </form>
        {% else %}
          <p>{% blocktrans %}Please <a href="{{ login_url }}">log in</a> to leave a comment.{% endblocktrans %}</p>
        {% endif %}

      </div>

      <div class="col-3">
        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Assigned to' %}</h6>
          <div class="card-body">
            <div class="mb-2">
              {% if task.assigned_to %}
                {% user_profile task.assigned_to %}
              {% else %}
                <em>{% trans 'Unassigned' %}</em>
              {% endif %}
            </div>

            {% if task.change_task_permission %}
              <form method="POST" action="{% url 'assign_task' place=place.place_code pk=task.pk %}">
                {% csrf_token %}
                {% if task.assigned_to %}
                  <button class="btn btn-outline-danger mb-3" type="submit"
                          data-confirm="{% trans 'Are you sure you want to unassign this task?' %}"
                          formaction="{% url 'unassign_task' place=place.place_code pk=task.pk %}">
                    {% trans 'Unassign' %}
                  </button>
                {% endif %}

                <div class="dropdown">
                  <button class="btn btn-outline-secondary mb-3 dropdown-toggle" type="button"
                          data-bs-toggle="dropdown"
                          hx-trigger="click once"
                          hx-get="{% url 'assign_task_to' place=place.place_code pk=task.pk %}"
                          hx-target="next .dropdown-menu">
                    {% trans 'Assign to' %}
                  </button>
                  <div class="dropdown-menu"><div class="dropdown-item">...</div></div>
                </div>
              </form>
            {% endif %}
          </div>
        </div>

        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Labels' %}</h6>
          <div class="card-body">
            {% if task.change_task_permission %}
              <select
                  class="selectpicker" multiple
                  hx-trigger="change"
                  hx-post="{% url 'task_labels' place=place.place_code pk=task.pk %}"
                  hx-target="#task-labels-list"
                  name="labels"
                  data-style="btn-link ps-0 text-dark"
                  data-none-selected-text="{% trans 'Choose labels' %}"
                  data-selected-text-format="static"
                  data-size="7"
              >
                {% for label in labels_form.labels %}
                  {{ label }}
                {% endfor %}
              </select>
            {% endif %}
            <div id="task-labels-list">
              {% include 'indigo_api/_task_labels.html' %}
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Projects' %}</h6>
          <div class="card-body">
            {% with task.workflows.all as workflows %}
              {% if task.change_task_permission %}
                <form action="{% url 'task_workflows' place=place.place_code pk=task.pk %}" method="POST"
                      id="task-workflow-form" onchange="this.submit();">
                  {% csrf_token %}

                  <select class="selectpicker" multiple name="workflows"
                          data-dropdown-align-right="true" data-style="btn-link ps-0 text-dark"
                          data-none-selected-text="{% trans 'Choose projects' %}" data-selected-text-format="static"
                          data-live-search="true" data-size="7">

                    {% for workflow in possible_workflows|dictsort:'title' %}
                      <option value="{{ workflow.id }}" {% if workflow in workflows %}selected{% endif %}>
                        #{{ workflow.pk }} – {{ workflow.title }}</option>
                    {% endfor %}
                  </select>
                </form>
              {% endif %}
              <ul class="list-unstyled mb-2">
                {% if workflows %}
                  {% for workflow in workflows|dictsort:'title' %}
                    <li>
                      <a href="{% url 'workflow_detail' place=place.place_code pk=workflow.pk %}">#{{ workflow.pk }}
                        – {{ workflow.title }}</a></li>
                  {% endfor %}
                {% else %}
                  <li><em>{% trans 'None' %}</em></li>
                {% endif %}
              </ul>
            {% endwith %}
          </div>
        </div>

        <div class="card mb-3">
          <h6 class="card-header">{% trans 'Blocked by' %}</h6>
          <div class="card-body">
            {% if task.change_task_permission %}
              <form action="{% url 'task_blocked_by' place=place.place_code pk=task.pk %}" method="POST"
                    id="task-blocked_by-form">
                {% csrf_token %}

                <select class="selectpicker" multiple name="blocked_by" onchange="this.form.submit();"
                        data-dropdown-align-right="true" data-style="btn-link ps-0 text-dark"
                        {% if task.is_closed %}disabled{% endif %}
                        data-none-selected-text="{% trans 'Choose tasks' %}" data-selected-text-format="static"
                        data-live-search="true" data-size="7">

                  {% for blocking_task in possible_blocking_tasks|dictsort:'pk' %}
                    <option value="{{ blocking_task.id }}" {% if blocking_task in blocked_by %}selected{% endif %}>
                      #{{ blocking_task.pk }} – {{ blocking_task.title }}</option>
                  {% endfor %}
                </select>
              </form>
            {% endif %}
            {% if blocked_by %}
              <ul class="list-unstyled mb-2">
                {% for blocking_task in blocked_by|dictsort:'pk' %}
                  <li>
                    <a href="{% url 'task_detail' place=place.place_code pk=blocking_task.pk %}">#{{ blocking_task.pk }}
                      – {{ blocking_task.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        {% with task.blocking.all as blocking %}
          {% if blocking %}
            <div class="card mb-3">
              <h6 class="card-header">{% trans "Blocking" %} <i class="fas fa-exclamation-triangle text-warning"></i></h6>
              <div class="card-body">
                <div>

                  {% trans 'This task is blocking these tasks:' %}
                  <ul class="mb-2">
                    {% for blocked_task in blocking|dictsort:'pk' %}
                      <li>
                        <a href="{% url 'task_detail' place=place.place_code pk=blocked_task.pk %}">#{{ blocked_task.pk }}
                          – {{ blocked_task.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}
        {% endwith %}

        {% block task-column-footer %}{% endblock %}
      </div>
    </div>
  </div>
