{% load humanize indigo_app %}

{% if tasks %}
<table class="table table-striped table-sm mb-0">
  <thead>
    <tr>
      <th scope="col" colspan="2">Task</th>
      {% if place %}
        <th scope="col">Place</th>
      {% endif %}
      <th scope="col">Work/Document</th>
      <th scope="col">Updated</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
    <!-- Task Number -->
    <td>
      <div class="text-nowrap">
        <i class="fas fa-fw task-icon-{{ task.state }} text-{{ task.state }} small mr-2"></i>
        <span class="text-muted">
          {% if perms.indigo_api.change_task and task.is_open and selectable%}
          <label class="mb-0 font-weight-normal c-pointer">
            <input type="checkbox" name="tasks" value="{{ task.id }}" form="bulk-task-update-form" class="mr-1">
            #{{ task.id }}
          </label>
          {% else %}
          #{{ task.id }}
          {% endif %}
        </span>
      </div>
    </td>
    <!-- Task title -->
    <td>
      <a href="{% url 'task_detail' place=task.place.place_code pk=task.pk %}" class="{% if task.labels.all %} d-flex mr-1 {% endif %}">{{ task.title }}</a>
      {% if task.changes_requested %}
        <span class="badge badge-secondary bg-pending_review ml-1 mr-1">Changes requested</span>
      {% endif %}
      {% for label in task.labels.all %}
        <span class="badge badge-secondary mr-1" title="{{ label.description }}">{{ label.title }}</span>
      {% endfor %}
    </td>

    {% if place %}
      <td>
        {{ task.place }}
      </td>
    {% endif %}

    <td>
      {% if task.document %}
        <a href="{% url 'document' doc_id=task.document.id %}"
           class="text-muted"
           data-popup-url="{% url 'document_popup' doc_id=task.document.id %}">{{ task.document.title }} @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}</a>
      {% elif task.work %}
        <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}"
           class="text-muted"
           data-popup-url="{% url 'work_popup' frbr_uri=task.work.frbr_uri %}">{{ task.work.title }}</a>
      {% endif %}
    </td>
    <td>
      <span class="time-ago text-nowrap" data-timestamp="{{ task.updated_at|date:'c' }}">{{ task.updated_at|date:"Y-m-d H:i" }}</span>
    </td>
    <td>
      {% if task.extra_data.points %}
        {% include 'indigo_app/points/_task_points.html' %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="card-body">
  <p class="alert alert-info">No tasks found</p>
</div>
{% endif %}
