{% load i18n %}

<div class="mb-3 row">
  <label for="{{ form.url.id_for_label }}" class="col-2 col-form-label">{% trans 'Input URL' %}</label>
  <div class="col-4">
    <input
        class="form-control"
        type="text"
        id="{{ form.url.id_for_label }}"
        name="{{ form.url.html_name }}"
        value="{{ form.url.value }}"
    >
    {% if form.url.errors %}
      <div class="text-danger">
        {% for error in form.url.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="col-6 form-text text-muted">{% trans "Paste in a URL (preferred), or upload a file." %}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.file.id_for_label }}" class="col-2 col-form-label">{% trans 'Input file' %}</label>
  <div class="col-4">
    <input
        type="file"
        id="{{ form.file.id_for_label }}"
        name="{{ form.file.html_name }}"
        accept=".pdf,.docx"
    >
    {% if form.file.errors %}
      <div class="text-danger">
        {% for error in form.file.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
