{% load i18n %}

<div class="mb-3 row">
  <label class="col-2 col-form-label">{% trans 'Consolidations' %}</label>
  <div class="col">

    <div id="work-form-consolidations-formset">
      {% include 'indigo_api/_work_form_consolidations_form.html' with formset=form.consolidations_formset %}
    </div>

    <div class="mt-3 row">
      <div class="col">
        <button
            class="btn btn-outline-primary"
            type="button"
            name="consolidation"
            value="add"
            hx-post="{% url 'work_form_consolidation' work.frbr_uri %}"
            hx-target="#work-form-consolidations-formset"
            hx-trigger="click"
        >{% trans 'Add consolidation' %}</button>
      </div>
    </div>

  </div>
</div>