{% load account i18n %}

<form
  method="GET"
  id="work-filter-form"
  hx-post="{% url 'place_works' place=place.place_code %}"
  hx-target="#work-list"
  hx-trigger="submit, change from:#work-list target:.work-list-facet, change from:[name=sortby]"
  hx-indicator="#work-list"
>
  <div class="d-flex">

    <div class="flex-grow-1 mr-2">
      <input type="text" class="form-control" name="{{ form.q.name }}" placeholder="{% trans 'Filter...' %}"
             value="{{ form.q.value | default:'' }}">
    </div>

    <!-- Sorting -->
    <div class="mr-2">
      <select class="form-control" name="sortby">
        <option value="-created_at" {% if form.sortby.value == '-created_at' %} selected {% endif %}>{% trans 'Most recently created' %}</option>
        <option value="created_at" {% if form.sortby.value == 'created_at' %} selected {% endif %}>{% trans 'Least recently created' %}</option>
        <option value="-updated_at" {% if form.sortby.value == '-updated_at' %} selected {% endif %}>{% trans 'Most recently updated' %}</option>
        <option value="updated_at" {% if form.sortby.value == 'updated_at' %} selected {% endif %}>{% trans 'Least recently updated' %}</option>
        <option value="title" {% if form.sortby.value == 'title' %} selected {% endif %}>{% trans 'Title (A-Z)' %}</option>
        <option value="-title" {% if form.sortby.value == '-title' %} selected {% endif %}>{% trans 'Title (Z-A)' %}</option>
      </select>
    </div>

    <a href="#advancedFilters" class="btn btn-link" data-toggle="collapse" aria-expanded="false" aria-controls="advancedFilters">{% trans 'Advanced...' %}</a>

    <button type="submit" class="btn btn-primary">{% trans 'Apply' %}</button>
  </div>

  <div class="collapse mt-2 {% if form.show_advanced_filters %}show{% endif %}" id="advancedFilters">
    <div class="card">
      <div class="card-body">

        <!-- Publication date range -->
        <div class="row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="publication-daterange">{% trans 'Publication date range' %}</label>
              <div class="form-row">
                <div class="col">
                  <div class="input-group input-daterange" id="publication-daterange">
                    <input type="text" class="form-control mr-1" data-provide="datepicker" placeholder="start date" pattern="\d{4}-\d\d-\d\d" id="publication_date_start" name="publication_date_start" value="{{ form.publication_date_start.value | default:'' }}">
                    <div class="input-group-addon"> and </div>
                    <input type="text" class="form-control ml-1 mr-1" data-provide="datepicker" placeholder="end date" pattern="\d{4}-\d\d-\d\d" id="publication_date_end" name="publication_date_end" value="{{ form.publication_date_end.value | default:'' }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Commenced date range -->
        <div class="row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="commencement-daterange">{% trans 'Commencement date range' %}</label>
              <div class="form-row">
                <div class="col">
                  <div class="input-group input-daterange" id="commencement-daterange">
                    <input type="text" class="form-control mr-1" data-provide="datepicker" placeholder="start date" pattern="\d{4}-\d\d-\d\d" id="commencement_date_start" name="commencement_date_start" value="{{ form.commencement_date_start.value | default:'' }}">
                    <div class="input-group-addon"> and </div>
                    <input type="text" class="form-control ml-1 mr-1" data-provide="datepicker" placeholder="end date" pattern="\d{4}-\d\d-\d\d" id="commencement_date_end" name="commencement_date_end" value="{{ form.commencement_date_end.value | default:'' }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Amendment date range -->
        <div class="row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="amendment-daterange">{% trans 'Amendment date range' %}</label>
              <div class="form-row">
                <div class="col">
                  <div class="input-group input-daterange" id="amendment-daterange">
                    <input type="text" class="form-control mr-1" data-provide="datepicker" placeholder="start date" pattern="\d{4}-\d\d-\d\d" id="amendment_date_start" name="amendment_date_start" value="{{ form.amendment_date_start.value | default:'' }}">
                    <div class="input-group-addon"> and </div>
                    <input type="text" class="form-control ml-1 mr-1" data-provide="datepicker" placeholder="end date" pattern="\d{4}-\d\d-\d\d" id="amendment_date_end" name="amendment_date_end" value="{{ form.amendment_date_end.value | default:'' }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Repealed date range -->
        <div class="row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="repeal-daterange">{% trans 'Repeal date range' %}</label>
              <div class="form-row">
                <div class="col">
                  <div class="input-group input-daterange" id="repeal-daterange">
                    <input type="text" class="form-control mr-1" data-provide="datepicker" placeholder="start date" pattern="\d{4}-\d\d-\d\d" id="repealed_date_start" name="repealed_date_start" value="{{ form.repealed_date_start.value | default:'' }}">
                    <div class="input-group-addon"> and </div>
                    <input type="text" class="form-control ml-1 mr-1" data-provide="datepicker" placeholder="end date" pattern="\d{4}-\d\d-\d\d" id="repealed_date_end" name="repealed_date_end" value="{{ form.repealed_date_end.value | default:'' }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Assent date range -->
        <div class="row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="assent-daterange">{% trans 'Assent date range' %}</label>
              <div class="form-row">
                <div class="col">
                  <div class="input-group input-daterange" id="assent-daterange">
                    <input type="text" class="form-control mr-1" data-provide="datepicker" placeholder="start date" pattern="\d{4}-\d\d-\d\d" id="assent_date_start" name="assent_date_start" value="{{ form.assent_date_start.value | default:'' }}">
                    <div class="input-group-addon"> and </div>
                    <input type="text" class="form-control ml-1 mr-1" data-provide="datepicker" placeholder="end date" pattern="\d{4}-\d\d-\d\d" id="assent_date_end" name="assent_date_end" value="{{ form.assent_date_end.value | default:'' }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Hidden field to capture and preserve the taxonomy_topic parameter-->
        {{ form.taxonomy_topic.as_hidden }}

        <!-- Reset filters -->
        <div class="text-right mt-3">
          <a href="{{ request.path }}" class="btn btn-outline-danger mr-2">{% trans 'Clear filters' %}</a>
          <button type="submit" class="btn btn-primary">{% trans 'Apply filters' %}</button>
        </div>

      </div>
    </div>
  </div>
</form>
