{% load i18n %}

<div class="row">
  <div class="col">
    <a href="{% url 'work' repealed_work.frbr_uri %}">{{ repealed_work.title }}</a>
    <br>
    <span class="text-muted">{{ repealed_work.frbr_uri }}</span>
  </div>
  <div class="col">
    {% if repealed_work.repealed_by %}
      {{ repealed_work.repealed_date|date:"Y-m-d" }}
      {# TODO: replace the Delete button with a general Update button, which opens a modal where the date can be updated and/or a 'Delete' checkbox can be selected #}
      <button
          type="button"
          class="btn btn-outline-primary"
          name="repeal-made-repeal_date"
          value="{{ form.repeal_date.value }}"
          data-bs-toggle="modal"
          data-bs-target="#update-repeal-made-modal-{{ repealed_work.pk }}"
          form="edit-repeal-made-{{ repealed_work.pk }}"
          hx-post="{% url 'work_form_repeal_made_update' frbr_uri=work.frbr_uri repealed_work_id=repealed_work.pk %}"
          {#          hx-target="#update-repeal-made-modal-{{ repealed_work.pk }}"#}
      >{% trans 'Change date' %}</button>
    {% else %}
      {# TODO: this will fall away; replace with a warning that the relationship will be deleted on save instead #}
      <i class="fas fa-exclamation-triangle text-warning me-2"></i>
      {% trans 'This work is no longer repealed.' %}
    {% endif %}
  </div>
  <div class="col">
    {% if repealed_work.repealed_by %}
      {# TODO: don't remove the relationship live — rather only on save #}
      <button
          type="button"
          class="btn btn-outline-danger"
          name="repeal-made-deleted"
          value="1"
          hx-post="{% url 'work_form_repeal_made_delete' frbr_uri=work.frbr_uri repealed_work_id=repealed_work.pk %}"
          hx-target="#repeal-made-{{ repealed_work.pk }}"
      >{% trans 'Delete' %}</button>
    {% else %}
      {# TODO: this will fall away; replace with a warning that the relationship will be deleted on save instead #}
      <i class="fas fa-exclamation-triangle text-warning me-2"></i>
      {% trans 'This work is no longer repealed.' %}
    {% endif %}
  </div>
</div>

<div class="modal fade" tabindex="-1" id="update-repeal-made-modal-{{ repealed_work.pk }}">
  {% include 'indigo_api/_work_form_repeal_made_update.html' %}
</div>
