{% load i18n %}

{% if possible_doc_formset %}
  <div class="mb-3 row">
    <label class="col-2 col-form-label" for="{{ form.publication_number.id_for_label }}">{% trans 'Possible documents' %}</label>
    <div class="col">
        {{ possible_doc_formset.management_form }}
        <ul class="list-unstyled">
          {% for pubdoc_form in possible_doc_formset %}
            <li class="d-flex justify-content-between align-items-center mb-2">
              <a href="{{ pubdoc_form.trusted_url.value }}" target="_blank" rel="noreferrer noopener">{{ pubdoc_form.name.value }}</a>
              {{ pubdoc_form.as_p }}
              <button
                  hx-target=".publication-document-wrapper"
                  hx-post="{% url 'work_form_attach_publication_document' place.place_code %}?form={{ forloop.counter0 }}&frbr_uri={{ frbr_uri }}"
                  type="button"
                  class="btn btn-secondary ms-2">
                {% trans 'Attach document' %}
              </button>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endif %}
