{% load account %}

<div class="card mb-3">
  <div class="card-body">
    <a href="#{{ version.id }}-changes" data-toggle="collapse" class="float-right">{{ version.changes|length }} change{{ version.changes|length|pluralize}}</a>
    <div>
      <span class="time-ago" data-timestamp="{{ version.revision.date_created|date:'c' }}">{{ version.revision.date_created|date:"Y-m-d H:i" }}</span>
      by {% user_display version.revision.user %}
      {% if version.revision.comment %}
        <span class="text-muted">· {{ version.revision.comment }}</span>
      {% endif %}
    </div>

    <div class="mt-3 collapse" id="{{ version.id }}-changes">
      <table class="table table-sm table-borderless diff-table">
        <thead>
          <tr>
            <th class="text-muted">{% if version.previous %}Version #{{ version.previous.id }}{% endif %}</th>
            <td></td>
            <th class="text-muted">{% if current %}Current version{% else %}Version #{{ version.id }}{% endif %}</th>
          </tr>
        </thead>
        <tbody>
        {% for changed in version.changes %}
          <tr>
            <th colspan="2">{{ changed.field|title }}</th>
          </tr><tr>
            <td style="width: 48%">{{ changed.old }}</td>
            <td style="width: 4%" class="text-center">→</td>
            <td style="width: 48%">{{ changed.new }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% if version.previous and perms.indigo_api.change_work %}
        <form action="{% url 'work_restore_version' frbr_uri=work.frbr_uri version_id=version.previous.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning" data-confirm="Are you sure?">Restore this version</button>
        </form>
      {% endif %}

    </div>
  </div>
</div>
