{% load i18n %}

<div class="mb-3 row">
  <label class="col-2 col-form-label">{% trans 'Commenced by' %}</label>
  <div class="col-4">
    <input type="hidden" id="{{ form.commencing_work.id_for_label }}" name="{{ form.commencing_work.html_name }}" value="{{ form.commencing_work.value|default:'' }}">
    {% if commencing_work %}
      <div class="mb-2">
        <a href="{% url 'work' commencing_work.frbr_uri %}">{{ commencing_work.title }}</a>
        <br>
        <span class="text-muted">{{ commencing_work.frbr_uri }}</span>
      </div>
    {% endif %}

    <div>
      {% url 'work_form_commencement' place.place_code as edit_url %}
      <button
          class="btn btn-outline-primary"
          type="button"
          hx-get="{% url 'place_work_chooser' place.place_code %}?submit={{ edit_url|urlencode }}&target={{ "#work-form-commencing-work"|urlencode }}&field=work-commencing_work"
          hx-target="#work-chooser-modal"
          hx-trigger="click"
          data-bs-toggle="modal"
          data-bs-target="#work-chooser-modal"
      >{% trans 'Choose commencing work' %}</button>

      {% if commencing_work %}
        <button
            class="btn btn-outline-danger ms-2"
            hx-get="{{ edit_url }}"
            hx-target="#work-form-commencing-work"
        >{% trans 'Clear' %}</button>
      {% endif %}
    </div>
  </div>
  <div class="col-6 form-text text-muted">{% trans 'The work that brings this work into force.' %}</div>
</div>
