{% load i18n %}

<div class="form-group row">
  <label class="col-2 col-form-label">{% trans 'Primary work' %}</label>
  <div class="col">
    <input type="hidden" id="{{ form.parent_work.id_for_label }}" name="{{ form.parent_work.html_name }}" value="{{ form.parent_work.value|default:'' }}">
    {% if work.parent_work %}
      <div class="mb-2">
        <a href="{% url 'work' work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
        <br>
        <span class="text-muted">{{ work.parent_work.frbr_uri }}</span>
      </div>
    {% endif %}

    <div>
      {% url 'work_form_parent' place.place_code as edit_url %}
      <button
        class="btn btn-outline-primary"
        type="button"
        hx-get="{% url 'place_work_chooser' place.place_code %}?submit={{ edit_url|urlencode }}&target={{ "#work-form-parent"|urlencode }}&field=work-parent_work"
        hx-target="#work-parent-modal"
        hx-trigger="click"
        data-toggle="modal"
        data-target="#work-parent-modal"
      >{% trans 'Choose parent work' %}</button>

      {% if work.parent_work %}
        <button
          class="btn btn-outline-danger ml-2"
          hx-get="{{ edit_url }}"
          hx-target="#work-form-parent"
        >Clear</button>
      {% endif %}
    </div>
  </div>
</div>

<p class="form-text text-muted">
  {% trans 'The primary work for regulations and notices is the primary Act.' %}
</p>

