{% load i18n %}

<div class="card mb-3" id="{{ id }}">
  <h5 class="card-header">{{ title }}</h5>

  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th>{% trans 'Related work' %}</th>
          <th>{% trans 'Year' %}</th>
          <th>{% trans 'Number' %}</th>
          {% if with_date %}
            <th>{% trans 'Date' %}</th>
          {% endif %}
        </tr>
      </thead>
    {% for item in items %}
      <tr>
        <td class="text-nowrap"><strong>{{ item.rel|capfirst }}</strong></td>
        <td>
          <a href="{% url 'work' frbr_uri=item.work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=item.work.frbr_uri %}">{{ item.work.title }}</a> 
          {% if item.work.repealed_date %} <span class="badge badge-info">{% trans 'repealed' %}</span> {% endif %}
          <span class="text-muted">· {{ item.work.frbr_uri }}</span>
        </td>
        <td>{{ item.work.year }}</td>
        <td>{{ item.work.number }}</td>
        {% if with_date %}
          <td>{{ item.date|date:"Y-m-d" }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
