<ol class="timeline">
  {% if editable and perms.indigo_api.add_amendment %}
    <li class="timeline-item card">
      <div class="card-body">
        {% block new-amendment-card %}
          <div class="btn-group">
            <button class="btn btn-primary add-amendment"><i class="fas fa-plus"></i> Add amendment</button>
            <form action="{% url 'new_work_amendment' frbr_uri=work.frbr_uri %}" method="POST" id="new-amendment-form">
              {% csrf_token %}
              <input type="hidden" name="amending_work" value="">
              <input type="hidden" name="date" value="">
            </form>

            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="dropdown-menu">
              <form method="POST" action="{% url 'new_arbitrary_expression_date' frbr_uri=work.frbr_uri %}">
                {% csrf_token %}
                <button class="dropdown-item" type="submit" name="date"
                        value="{{ consolidation_date|date:'Y-m-d' }}">Add consolidation date: {{ consolidation_date|date:'Y-m-d' }}</button>
              </form>
            </div>

          </div>
        {% endblock %}
      </div>
    </li>
  {% endif %}

  {% for event in work_timeline %}
    <li class="timeline-item card">
      <h6 class="timeline-date">{{ event.date|date:"Y-m-d" }}</h6>

      <div class="card-body">

        {% if event.assent_date %}
          <h6>Assented to</h6>
        {% endif %}

        {% if event.publication_date %}
          <h6>Published</h6>
        {% endif %}

        {% if event.repealed_date %}
          <h6>Repealed
            {% if work.repealed_by %}
              by <a href="{% url 'work' frbr_uri=work.repealed_by.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.repealed_by.frbr_uri %}">{{ work.repealed_by.title }}</a>
            {% endif %}
          </h6>
        {% endif %}

        {% for commencement in event.commencements %}
          <h6>
            Commenced{% if not commencement.all_provisions %} in part{% endif %}
            {% with commencement.commencing_work as commencing_work %}
              {% if commencing_work %}
                by <a href="{% url 'work' frbr_uri=commencing_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=commencing_work.frbr_uri %}">{{ commencing_work.title }}</a>
              {% endif %}
            {% endwith %}
          </h6>
        {% endfor %}

        {% for amendment in event.amendments %}
          {% if not amendment.amending_work and amendment.id %}
            <form action="{% url 'edit_arbitrary_expression_date' frbr_uri=work.frbr_uri arbitrary_expression_date_id=amendment.id %}" method="POST" id="arbitrary-expression-date-{{ amendment.id }}">
              {% csrf_token %}

              {% if editable and perms.indigo_api.change_amendment %}
                <div class="dropdown float-right">
                  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Options <span class="caret"></span></button>
                  <div class="dropdown-menu">
                    <a href="#arbitrary-expression-date-form-{{ amendment.id }}" class="dropdown-item" data-toggle="collapse">Change date</a>
                    {% if amendment.can_delete %}
                    <button class="dropdown-item" type="submit" name="delete" data-confirm="Really delete this expression date?">Delete</button>
                    {% endif %}
                  </div>
                </div>
              {% endif %}

              <h6>Consolidation</h6>
              <div class="form-inline edit-wrapper mb-3 collapse" id="arbitrary-expression-date-form-{{ amendment.id }}">
                <input type="text" class="form-control amendment-date mr-2" data-provide="datepicker" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" required name="date" value="{{ amendment.date|date:"Y-m-d" }}" autocomplete="off">
                <button class="btn btn-success" type="submit">Save</button>
                <a href="#arbitrary-expression-date-form-{{ amendment.id }}" class="btn btn-link" data-toggle="collapse">Cancel</a>
              </div>
            </form>
          {% elif amendment.pk %}
            <form action="{% url 'work_amendment_detail' frbr_uri=work.frbr_uri amendment_id=amendment.id %}" method="POST" id="amendment-{{ amendment.id|default:'initial' }}">
              {% csrf_token %}

              {% if editable and perms.indigo_api.change_amendment %}
                <div class="dropdown float-right">
                  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Options <span class="caret"></span></button>
                  <div class="dropdown-menu">
                    <a href="#amendment-form-{{ amendment.id }}" class="dropdown-item" data-toggle="collapse">Change date</a>
                    {% if amendment.can_delete %}
                    <button class="dropdown-item" type="submit" name="delete" data-confirm="Really delete this amendment?">Delete</button>
                    {% endif %}
                  </div>
                </div>
              {% endif %}

                <h6 class="mb-0">Amended by <a href="{% url 'work' frbr_uri=amendment.amending_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=amendment.amending_work.frbr_uri %}">{{ amendment.amending_work.title }}</a></h6>
                <div class="text-muted mb-3">{{ amendment.amending_work.frbr_uri }}</div>

              <div class="form-inline edit-wrapper mb-3 collapse" id="amendment-form-{{ amendment.id }}">
                <input type="text" class="form-control amendment-date mr-2" data-provide="datepicker" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" required name="date" value="{{ amendment.date|date:"Y-m-d" }}" autocomplete="off">
                <button class="btn btn-success" type="submit">Save</button>
                <a href="#amendment-form-{{ amendment.id }}" class="btn btn-link" data-toggle="collapse">Cancel</a>
              </div>
            </form>
          {% endif %}
        {% endfor %}

        <div class="documents">
          {% for document in event.expressions %}
          <div><i class="fas fa-circle fa-fw {% if document.draft %}draft{% else %}published{% endif %}"></i> <a href="{% url 'document' doc_id=document.id %}">{{ document.title }}</a> · {{ document.language }}</div>
          {% endfor %}
        </div>
      </div>

      {% if editable and event.amendments %}
        <div class="card-footer">
          {% block amendment-buttons %}

            <form action="{% url 'new_work_point_in_time' frbr_uri=work.frbr_uri %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="expression_date" value="{{ event.date|date:'Y-m-d' }}">

              <div class="btn-group">
                <div class="dropdown mr-3">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-pencil-alt"></i> Create
                    {% if not event.initial %}
                       amended version
                    {% endif %}
                  </button>
                  <div class="dropdown-menu">
                    {% for language in indigo_languages %}
                      <button type="submit" name="language" value="{{ language.id }}" class="dropdown-item">In {{ language }}</button>
                    {% endfor %}
                  </div>
                </div>
                <a class="btn btn-outline-secondary" href="{% url 'import_document' frbr_uri=work.frbr_uri %}?expression_date={{ event.date|date:'Y-m-d' }}"><i class="fas fa-file-upload"></i> Import document</a>
              </div>
            </form>

          {% endblock %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ol>
