{% load indigo i18n %}

{{ formset.management_form }}

{% if formset.non_form_errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in formset.non_form_errors %}
        {{ error }}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% for form in formset %}
  <div class="{% if form.DELETE.value  %}d-none{% endif %}">
    {{ form.id.as_hidden }}
    {{ form.commencing_work.as_hidden }}
    {{ form.commenced_work.as_hidden }}
    {% if form.DELETE.value %}
      {{ form.DELETE.as_hidden }}
    {% endif %}
    <div class="row align-items-center">
      <div class="col">
        <label class="form-label" for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        <input
            class="form-control"
            id="{{ form.date.id_for_label }}"
            type="{{ form.date.field.widget.input_type }}"
            value="{{ form.date.value|format_input_date }}"
            name="{{ form.date.html_name }}"
            required
        >
      </div>
      <div class="col" id="work-form-commencing-work-{{ form.prefix }}">
        {% include 'indigo_api/_work_form_commencing_work_form.html' with commencing_work=form.commencing_work_obj %}
      </div>
{% comment %}
      <div class="col">
        {% if form.commencing_work_obj %}
          <a href="{% url 'work' form.commencing_work_obj.frbr_uri %}" target="_blank">{{ form.commencing_work_obj.title }}</a>
          <br/>
          <span>{{ form.commencing_work_obj.frbr_uri }}</span>
        {% endif %}
      </div>
{% endcomment %}
      <div class="col">
        {% if not form.DELETE.value %}
          <button
              hx-post="{% url 'work_form_commencements' work.frbr_uri %}?delete={{ prefix }}"
              hx-target="#work-form-{{ prefix }}-formset"
              hx-include="#work-form-{{ prefix }}-formset"
              type="button"
              name="{{ form.DELETE.html_name }}"
              value="1"
              class="btn btn-outline-danger"
          >{% trans 'Remove' %}</button>
        {% endif %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <label class="form-label" for="{{ form.note.id_for_label }}">{{ form.note.label }}</label>
        <input
            class="form-control"
            id="{{ form.note.id_for_label }}"
            type="{{ form.note.field.widget.input_type }}"
            value="{{ form.note.value|default_if_none:'' }}"
            name="{{ form.note.html_name }}"
        >
      </div>
    </div>
    <hr>
  </div>
{% endfor %}
