{% load i18n %}

<div class="card mb-3" id="publication">
  <h5 class="card-header">{% trans 'Publication' %}</h5>
  <div class="card-body">
        <div class="form-row">
          {% block publication-date %}
          <div class="form-group col">
            <label for="{{ form.publication_date.id_for_label }}" class="{% if not work.pk and not publication_date_optional %}required{% endif %}">{% trans 'Publication date' %}</label>
            <input
                onchange="htmx.trigger(this, 'change');"
                hx-trigger="change, keyup delay:500ms changed"
                hx-post="{% url 'find_publication_document' work.frbr_uri %}"
                type="text" class="form-control" data-provide="datepicker" id="{{ form.publication_date.id_for_label }}" placeholder="yyyy-mm-dd" {% if not work.pk and not publication_date_optional %}required{% endif %} pattern="\d{4}-\d\d-\d\d" name="{{ form.publication_date.html_name }}" value="{{ form.publication_date.value|date:"Y-m-d"|default:'' }}">
            <p class="form-text text-muted">{% trans 'Date when first published. '%}</p>
          </div>
          {% endblock %}

          <div class="form-group col">
            <label for="{{ form.publication_name.id_for_label }}">{% trans 'Publication name' %}</label>
            <input
                hx-trigger="change, keyup delay:500ms changed"
                hx-post="{% url 'find_publication_document' work.frbr_uri %}"
                type="text" class="form-control" id="{{ form.publication_name.id_for_label }}" name="{{ form.publication_name.html_name }}" list="publication_list" value="{{ form.publication_name.value|default:'' }}">
            <p class="form-text text-muted">{% trans 'Original publication, eg. national gazette.' %}</p>
            <datalist id="publication_list">
              {% for pub in country.publication_set.all %}
                <option value="{{ pub.name }}">
              {% endfor %}
            </datalist>
          </div>

          <div class="form-group col">
            <label for="{{ form.publication_number.id_for_label }}">{% trans 'Publication number' %}</label>
            <input
                hx-trigger="change, keyup delay:500ms changed"
                hx-post="{% url 'find_publication_document' work.frbr_uri %}"
                type="text" class="form-control" id="{{ form.publication_number.id_for_label }}" name="{{ form.publication_number.html_name }}" value="{{ form.publication_number.value|default:'' }}">
            <p class="form-text text-muted">{% trans "The publication's sequence number, eg. gazette number." %}</p>
          </div>
        </div>

        <div hx-get="{{ find_pubdoc }}" class="form-row">

        </div>
  </div>
</div>