{% load i18n %}

<form
    method="post"
    action="{% url 'work_commencement_edit' frbr_uri=work.frbr_uri pk=commencement.id %}"
    class="commencement-form"
>
  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for err in form.non_field_errors %}
        <div>{{ err }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="card-body">
    <div class="row mb-3">
      <label for="{{ form.commencing_work.id_for_label }}" class="col-2 col-form-label">{{ form.commencing_work.label }}</label>
      <div class="col-4">
        {% include 'indigo_api/commencements/_commencement_form_commencing_work.html' %}
      </div>
      <div class="col-4 alert alert-warning">
        {% trans "Edit the commencing work before editing the provisions, or you will lose your changes." %}
      </div>
    </div>
    <div id="non-commencing-work-data-{{ commencement.id }}">
      <div class="row mb-3">
        <label for="{{ form.date.id_for_label }}" class="col-2 col-form-label">{{ form.date.label }}</label>
        <div class="col-4">
          <input
              type="text"
              class="form-control me-2"
              data-provide="datepicker"
              placeholder="yyyy-mm-dd"
              pattern="\d{4}-\d\d-\d\d"
              name="{{ form.date.html_name }}"
              value="{{ commencement.date|date:"Y-m-d" }}"
              autocomplete="off"
          >
        </div>
      </div>
      <div class="row mb-3">
        <label for="{{ form.note.id_for_label }}" class="col-2 col-form-label">{{ form.note.label }}</label>
        <div class="col-4">
          <input
              type="text"
              class="form-control me-2"
              placeholder="{% trans 'Example: See section 1 ...' %}"
              name="{{ form.note.html_name }}"
              value="{{ commencement.note|default:'' }}"
          >
        </div>
      </div>
      <div class="row mb-3">
        <label for="{{ form.main.id_for_label }}-{{ commencement.id }}" class="col-2 col-form-label">{{ form.main.label }}</label>
        <div class="col-4 mt-1">
          <div class="form-check">
            <input
                type="checkbox"
                class="form-check-input"
                id="{{ form.main.id_for_label }}-{{ commencement.id }}"
                name="{{ form.main.html_name }}"
                value="true"
                {% if commencement.main %}checked{% endif %}
                {% if disable_main_commencement %}disabled{% endif %}
            >
          </div>
          {% if form.main.errors %}
            <div class="text-danger">
              {% for error in form.main.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="col-6">
          {% if disable_main_commencement %}
            <div class="form-text text-muted">
              {% trans "Another commencement has already been marked as 'main'." %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="{{ form.all_provisions.id_for_label }}-{{ commencement.id }}" class="col-2 col-form-label">{{ form.all_provisions.label }}</label>
        <div class="col-4">
          <div class="form-check">
            <input
                type="checkbox"
                class="form-check-input all-provisions"
                id="{{ form.all_provisions.id_for_label }}-{{ commencement.id }}"
                name="{{ form.all_provisions.html_name }}"
                value="true"
                {% if commencement.all_provisions %}checked{% endif %}
                {% if disable_all_provisions %}disabled{% endif %}
            >
          </div>
          {% if form.all_provisions.errors %}
            <div class="text-danger">
              {% for error in form.all_provisions.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="col-6">
          {% if disable_all_provisions %}
            <div class="form-text text-muted">
              {% trans "A commencement can only commence all provisions if it's the only one." %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3 provisions-commenced {% if commencement.all_provisions %}d-none{% endif %}">
        <label for="{{ form.provisions.id_for_label }}" class="col-2 col-form-label">{{ form.provisions.label }}</label>
        <div
            class="col-6 mt-1"
            id="provisions-edit-{{ commencement.id }}"
            hx-get="{% url 'work_commencement_provisions_edit' frbr_uri=work.frbr_uri pk=commencement.id %}"
            hx-trigger="load"
            hx-target="#provisions-edit-{{ commencement.id }}"
        >{% trans "Loading provisions…" %}</div>
      </div>
    </div>
  </div>
  <div class="card-footer text-end">
    {% if request.htmx.target == 'commencement-new' %}
      <button
          class="btn btn-link"
          type="submit"
          name="cancel"
      >{% trans 'Cancel' %}</button>
    {% else %}
      <button
          class="btn btn-link"
          hx-get="{% url 'work_commencement_detail' frbr_uri=work.frbr_uri pk=commencement.id %}"
          hx-target="#commencement-detail-{{ commencement.id }}"
      >{% trans 'Cancel' %}</button>
    {% endif %}
    <button class="btn btn-success" data-disable-with="{% trans 'Saving…' %}">{% trans 'Save' %}</button>
  </div>
</form>
