{% extends "place/tabbed_layout.html" %}

{% block title %}New task – {{ locality.name|default:country.name }}{% endblock %}

{% block content %}
  {% if perms.indigo_api.add_work %}
  {% else %}
    <div class="alert alert-danger">You don't have permission to create a work, so you can't create a task either.</div>
  {% endif %}

  <form method="POST" action="">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="text-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="container mt-3 mb-5">
      <div class="card">
        <div class="card-body">

          <div class="form-group">
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            <input type="text" class="form-control" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default:'' }}" required autofocus placeholder="A short description of this task">
            {% if form.title.errors %}
              <div class="text-danger">
                {% for error in form.title.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            <textarea class="form-control" rows="4" name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" required>{{ form.description.value|default:'' }}</textarea>
            {% if form.description.errors %}
              <div class="text-danger">
                {% for error in form.description.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="card-footer text-right">
          <button class="btn btn-success" type="submit">Create task</button>
        </div>
      </div>
    </div>


  </form>

{% endblock %}
