{% extends "place/tabbed_layout.html" %}
{% load humanize indigo_app i18n %}

{% block title %}{% if task.pk %}{{ task.title }}{% else %}{% trans 'New task' %}{% endif %} {{ block.super }}{% endblock %}
{% block view-id %}edit-task-view{% endblock %}

{% block content %}
  {% if perms.indigo_api.add_work %}
  {% else %}
    <div class="alert alert-danger">{% trans "You don't have permission to create a task." %}</div>
  {% endif %}

  <form method="POST" action="" id="task-form">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="text-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="container mt-3 mb-5">
      <div class="card">
        <div class="card-body">

          <div class="mb-3 row">
            <label for="{{ form.title.id_for_label }}" class="col-2 col-form-label">{% trans 'Title' %}</label>
            <div class="col-4">
              <input type="text" class="form-control" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default:'' }}" required autofocus placeholder="{% trans 'A short description of this task' %}">
            </div>
            {% if form.title.errors %}
              <div class="text-danger">
                {% for error in form.title.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="mb-3 row">
            <label for="{{ form.description.id_for_label }}" class="col-2 col-form-label">{% trans 'Description' %}</label>
            <div class="col-8">
              <textarea class="form-control" rows="4" name="{{ form.description.name }}" id="{{ form.description.id_for_label }}">{{ form.description.value|default:'' }}</textarea>
            </div>
            {% if form.description.errors %}
              <div class="text-danger">
                {% for error in form.description.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="mb-3 row">
            <label for="{{ form.labels.id_for_label }}" class="col-2 col-form-label">{% trans 'Labels' %}</label>
            <div class="col-4">
              <select class="selectpicker col-12" multiple id="{{ form.labels.id_for_label }}" name="{{ form.labels.html_name }}">
                {% for opt in form.labels %}
                  {{ opt }}
                {% endfor %}
              </select>
            </div>
            {% if form.labels.errors %}
              <div class="text-danger">
                {% for error in form.labels.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {# TODO: use htmx for work, document #}
          <div class="mb-3 row">
            <label for="{{ form.work.id_for_label }}" class="col-2 col-form-label">{% trans 'Work' %}</label>
            <input type="hidden" id="{{ form.work.id_for_label }}" name="{{ form.work.html_name }}" value="{{ form.work.value|default:'' }}">
            <div class="col-4">
              <div class="work-details"></div>
              <script id="task-work-template" type="text/x-handlebars-template">
              {% verbatim %}
                {{#if work}}
                  <div class="float-end ms-2">
                    <button type="button" class="btn btn-outline-danger delete-work">{% endverbatim %}{% trans 'Remove' %}{% verbatim %}</button>
                    <button type="button" class="btn btn-outline-primary change-work">{% endverbatim %}{% trans 'Change' %}{% verbatim %}</button>
                  </div>
                  <a href="/works{{ work.frbr_uri }}">{{ work.title }}</a><br>
                  <span class="text-muted">{{ work.frbr_uri }}</span>
                {{else}}
                  <button type="button" class="btn btn-outline-primary change-work">{% endverbatim %}{% trans 'Choose work' %}{% verbatim %}</button>
                {{/if}}
              {% endverbatim %}
              </script>
            </div>
          </div>
          <div class="mb-3 row document-details">
            <label for="{{ form.document.id_for_label }}" class="col-2 col-form-label">{% trans 'Document' %}</label>
            <div class="col-4">
              <select name="{{ form.document.name }}" id="{{ form.document.id_for_label }}" class="form-control">
                <option value="">{% trans '(none)' %}</option>
                {% if form.document.value %}
                  <option selected value="{{ form.document.value }}">{{ form.document.expression_date|date:'Y-m-d' }}</option>
                {% endif %}
              </select>
            </div>

          </div>

          {% if form.workflows|length %}
            <div class="mb-3">
              <label for="{{ form.workflows.id_for_label }}">{% trans 'Projects' %}</label>
              <div class="row">
                <div class="col-md-6">
                  <select class="selectpicker form-control" multiple name="{{ form.workflows.name }}" id="{{ form.workflows.id_for_label }}">
                    {% for option in form.workflows %}
                      {{ option }}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          {% endif %}

        </div>

        <div class="card-footer text-end">
          <form method="POST">
          {% csrf_token %}
            {% if task.state == 'open' or task.state == 'pending_review' or task.state == 'blocked' %}
              {% if cancel_task_permission %}
                <button class="btn btn-danger float-start" type="submit" data-confirm="{% trans 'Are you sure you want to cancel this task?' %}" formaction="{% url 'cancel_task' place=place.place_code pk=task.pk %}">
                  {% trans 'Cancel task' %}
                </button>
              {% endif %}
            {% endif %}
            {% if task.state == 'open' and block_task_permission %}
              <button class="btn btn-danger float-start ms-2" type="submit" data-confirm="{% trans 'Are you sure you want to block this task?' %}" formaction="{% url 'block_task' place=place.place_code pk=task.pk %}">
                {% trans 'Block task' %}
              </button>
            {% elif task.state == 'blocked' and unblock_task_permission %}
              <button class="btn btn-primary float-start ms-2" type="submit" data-confirm="{% trans 'Are you sure you want to unblock this task?' %}" formaction="{% url 'unblock_task' place=place.place_code pk=task.pk %}">
                {% trans 'Unblock task' %}
              </button>
            {% endif %}
          </form>
          {% if task.pk %}
            <a href="{% url 'task_detail' place=place.place_code pk=task.pk %}" class="btn btn-link">{% trans 'Cancel' %}</a>
          {% else %}
            <a href="{% url 'tasks' place=place.place_code %}" class="btn btn-link">{% trans 'Cancel' %}</a>
          {% endif %}
            <button class="btn btn-success" type="submit">{% if task.pk %}{% trans 'Save' %}{% else %}{% trans 'Create task' %}{% endif %}</button>
        </div>

      </div>
    </div>
  </form>

{% include 'indigo_api/_work_chooser_modal.html' %}

{% endblock %}


{% block js %}
  {{ block.super }}

  <script type="text/javascript">
  window.Indigo.countries = {{ indigo_countries_json|safe }};
  {% if work_json %}
  window.Indigo.Preloads.work = {{ work_json|safe }};
  {% endif %}
  {% if document_json %}
  window.Indigo.Preloads.document = {{ document_json|safe }};
  {% endif %}
  </script>
{% endblock %}
