{% extends "place/tabbed_layout.html" %}
{% load humanize indigo_app i18n %}

{% block title %}{% if task.pk %}{{ task.title }}{% else %}{% trans 'New task' %}{% endif %} {{ block.super }}{% endblock %}

{% block content %}
  {% if perms.indigo_api.add_work %}
  {% else %}
    <div class="alert alert-danger">{% trans "You don't have permission to create a task." %}</div>
  {% endif %}

  <div
      id="work-chooser-modal"
      class="modal modal-blur fade"
      style="display: none"
      tabindex="-1"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">Loading...</div>
    </div>
  </div>

  <form method="POST" action="" id="task-form">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="text-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="container mt-3 mb-5">
      <div class="card">
        <div class="card-body">

          <div class="mb-3 row">
            <label for="{{ form.code.id_for_label }}" class="col-2 col-form-label">{% trans 'Type' %}</label>
            <div class="col-4">
              <select
                  hx-post="{% url 'task_form_title' place=place.place_code %}"
                  hx-target="#task-title"
                  hx-trigger="change"
                  class="selectpicker col-12"
                  id="{{ form.code.id_for_label }}"
                  name="{{ form.code.html_name }}"
              >
                {% for opt in form.code %}
                  {{ opt }}
                {% endfor %}
              </select>
            </div>
            <div class="col-6 form-text text-muted">{% trans "The title will be overwritten by the type, if one is chosen." %}</div>
            {% if form.code.errors %}
              <div class="text-danger">
                {% for error in form.code.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div id="task-work">
            {% include 'indigo_api/_task_work_form.html' %}
          </div>
          <hr>
          <div id="task-title">
            {% include 'indigo_api/_task_title_form.html' %}
          </div>
          <div class="mb-3 row">
            <label for="{{ form.timeline_date.id_for_label }}" class="col-2 col-form-label">{% trans 'Timeline date' %}</label>
            <div class="col-4">
              <input type="date" class="form-control" id="{{ form.timeline_date.id_for_label }}"
                     name="{{ form.timeline_date.html_name }}"
                     value="{{ form.timeline_date.value|date:"Y-m-d"|default:'' }}">
            </div>
            {% if form.timeline_date.errors %}
              <div class="text-danger">
                {% for error in form.timeline_date.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <hr>
          <div class="mb-3 row">
            <label for="{{ form.description.id_for_label }}" class="col-2 col-form-label">{% trans 'Description' %}</label>
            <div class="col-8">
              <textarea class="form-control" rows="4" name="{{ form.description.name }}" id="{{ form.description.id_for_label }}">{{ form.description.value|default:'' }}</textarea>
            </div>
            {% if form.description.errors %}
              <div class="text-danger">
                {% for error in form.description.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="mb-3 row">
            <label for="{{ form.labels.id_for_label }}" class="col-2 col-form-label">{% trans 'Labels' %}</label>
            <div class="col-4">
              <select class="selectpicker col-12" multiple id="{{ form.labels.id_for_label }}" name="{{ form.labels.html_name }}">
                {% for opt in form.labels %}
                  {{ opt }}
                {% endfor %}
              </select>
            </div>
            {% if form.labels.errors %}
              <div class="text-danger">
                {% for error in form.labels.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="card-footer text-end">
          <form method="POST">
          {% csrf_token %}
            {% if task.state == 'open' or task.state == 'pending_review' or task.state == 'blocked' %}
              {% if cancel_task_permission %}
                <button class="btn btn-danger float-start" type="submit" data-confirm="{% trans 'Are you sure you want to cancel this task?' %}" formaction="{% url 'cancel_task' place=place.place_code pk=task.pk %}">
                  {% trans 'Cancel task' %}
                </button>
              {% endif %}
            {% endif %}
            {% if task.state == 'open' and block_task_permission %}
              <button class="btn btn-danger float-start ms-2" type="submit" data-confirm="{% trans 'Are you sure you want to block this task?' %}" formaction="{% url 'block_task' place=place.place_code pk=task.pk %}">
                {% trans 'Block task' %}
              </button>
            {% elif task.state == 'blocked' and unblock_task_permission %}
              <button class="btn btn-primary float-start ms-2" type="submit" data-confirm="{% trans 'Are you sure you want to unblock this task?' %}" formaction="{% url 'unblock_task' place=place.place_code pk=task.pk %}">
                {% trans 'Unblock task' %}
              </button>
            {% endif %}
          </form>
          {% if task.pk %}
            <a href="{% url 'task_detail' place=place.place_code pk=task.pk %}" class="btn btn-link">{% trans 'Cancel' %}</a>
          {% else %}
            <a href="{% url 'tasks' place=place.place_code %}" class="btn btn-link">{% trans 'Cancel' %}</a>
          {% endif %}
            <button class="btn btn-success" type="submit">{% if task.pk %}{% trans 'Save' %}{% else %}{% trans 'Create task' %}{% endif %}</button>
        </div>

      </div>
    </div>
  </form>

{% endblock %}
