{% extends "place/tabbed_layout.html" %}
{% load humanize indigo_app %}

{% block title %}Tasks – {{ locality.name|default:country.name }}{% endblock %}

{% block content %}

<div class="container mt-3">
  <form method="GET" id="task-filter-form">
    <div class="d-flex mb-3">
      <div class="mr-2">
        <select class="selectpicker notooltip" multiple title="Status" name="{{ form.state.name }}">
          <option value="open" {% if 'open' in form.state.value %}selected{% endif %}>Open</option>
          <option value="pending_review" {% if 'pending_review' in form.state.value %}selected{% endif %}>Pending review</option>
          <option data-divider="true"></option>
          <option value="closed" {% if 'closed' in form.state.value %}selected{% endif %}>Closed</option>
          <option value="cancelled" {% if 'cancelled' in form.state.value %}selected{% endif %}>Cancelled</option>
        </select>
      </div>

      <div class="mr-2">
        <select class="selectpicker notooltip" multiple title="Labels" name="{{ form.labels.name }}">
          {% for label in task_labels %}
          <option value="{{ label.slug }}" {% if label.slug in form.labels.value %}selected{% endif %} data-subtext="{{ label.description }}">{{ label.title }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="ml-auto pl-3 border-left">
        <a href="{% url 'create_task' place=place.place_code %}" class="btn btn-success">New task</a>
      </div>
    </div>
  </form>

  {% if tasks %}
    <div class="card">
      <div class="list-group list-group-flush">
        {% for task in tasks %}
          <div class="list-group-item p-3 d-flex align-items-center">
            <div class="col text-center">
              <span class="badge task-badge task-badge-{{ task.state }}" title="{{ task.state }}"><i class="fas fa-fw task-icon-{{ task.state }}"></i></span><br>
              <span class="text-muted">#{{ task.pk }}</span>
            </div>

            <div class="col flex-fill">
              <div>
                <a href="{{ task.pk }}/">{{ task.title }}</a>
                {% for label in task.labels.all %}
                  <span class="badge badge-secondary" title="{{ label.description }}">{{ label.title }}</span>
                {% endfor %}

                {% if task.document %}
                  <div>
                    <a href="{% url 'document' doc_id=task.document.id %}" class="text-muted">{{ task.document.title }} @ {{ task.document.expression_date|date:'Y-m-d' }} · {{ task.document.language }}</a><br>
                    <span class="text-muted">{{ task.document.work.frbr_uri }}</span>
                  </div>
                {% elif task.work %}
                  <div>
                    <a href="{% url 'work' frbr_uri=task.work.frbr_uri %}" class="text-muted">{{ task.work.title }}</a><br>
                    <span class="text-muted">{{ task.work.frbr_uri }}</span>
                  </div>
                {% endif %}
              </div>
              <div class="text-muted">
                <small>
                  Created <span class="time-ago" data-timestamp="{{ task.created_at|date:'c' }}">{{ task.created_at|naturaltime }}</span>
                  {% if task.created_by_user %}
                  by {% user_profile task.created_by_user %}
                  {% endif %}
                </small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if is_paginated %}
    <nav class="mt-3">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

  {% if not tasks %}
    <p class="alert alert-info">There are no tasks for {{ place }}.</p>
  {% endif %}
</div>
{% endblock %}
