{% extends "indigo_api/work_layout.html" %}
{% load i18n %}

{% block view-id %}work-related-view{% endblock %}
{% block title %}{% trans 'Related works' %} – {{ block.super }}{% endblock %}

{% block work-content %}
  <h4>{% trans 'Related works' %}</h4>

  {% if family %}
    {% trans "Parents and children" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=family title=title id="parent_kids" %}
  {% endif %}

  {% if repeals %}
    {% trans "Repeals" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=repeals title=title id="repeals" with_date=True %}
  {% endif %}

  <div class="card mb-3" id="commencement">
    <h5 class="card-header">{% trans "Commencement" %}</h5>
    <div class="card-body">
      {% include 'indigo_api/_work_commencement_tables.html' %}
    </div>
  </div>

  <div class="card mb-3" id="amended">
    <h5 class="card-header">{% trans "Amendment" %}</h5>
    <div class="card-body">
      {% include 'indigo_api/_work_amendment_tables.html' %}
    </div>
  </div>
{% endblock %}
