{% extends "place/tabbed_layout.html" %}
{% load humanize indigo_app %}

{% block title %}Workflows {{ block.super }}{% endblock %}

{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header">

      <form method="GET" id="workflow-filter-form">
        <div class="d-flex">

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary {% if form.state.value == 'open' %}active{% endif %}">
              <input type="radio" name="{{ form.state.name }}" autocomplete="off" value="open" {% if form.state.value == 'open' %}checked {% endif %}> Open
            </label>
            <label class="btn btn-outline-secondary {% if form.state.value == 'closed' %}active{% endif %}">
              <input type="radio" name="{{ form.state.name }}" autocomplete="off" value="closed" {% if form.state.value == 'closed' %}checked {% endif %}> Closed
            </label>
          </div>

          <div class="ml-auto float-right">
            <a href="{% url 'workflow_create' place=place.place_code %}" class="btn btn-success">New workflow</a>
          </div>

        </div>
      </form>

    </div>

    {% if workflows %}

      {% for workflow in workflows %}
        <div class="list-group-item p-3 d-flex">
          <div class="col text-center">
            <i class="fas fa-fw fa-tasks workflow-badge {% if workflow.closed %}workflow-closed{% endif %}"></i><br>
            <span class="text-muted">#{{ workflow.pk }}</span>
          </div>

          <div class="col-6">
            <div>
              <a href="{% url 'workflow_detail' place=place.place_code pk=workflow.pk %}">{{ workflow.title }}</a>
              <br>
              {% if workflow.description %}
                {{ workflow.description|linebreaksbr }}
              {% endif %}
            </div>

            <div class="text-muted">
              {% if workflow.due_date %}
                <div class="text-muted">
                  Due {{ workflow.due_date|date:"Y-m-d" }}
                  {% if workflow.overdue %}
                    <i class="ml-3 fas fa-exclamation-triangle"></i> Overdue
                  {% endif %}
                </div>
              {% endif %}

              <small>
                Created <span class="time-ago" data-timestamp="{{ workflow.created_at|date:'c' }}">{{ workflow.created_at|naturaltime }}</span>
                {% if workflow.created_by_user %}
                by {% user_profile workflow.created_by_user %}
                {% endif %}
              </small>
            </div>

          </div>
          {% if workflow.tasks.count %}
            <div class="col-6 align-self-center">
              <div class="row">
                <div class="col-8">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ workflow.pct_complete }}%"></div>
                  </div>
                </div>
                <div class="col-3 text-muted">{{ workflow.task_counts.complete }} of {{ workflow.task_counts.total }} task{{ workflow.task_counts.total|pluralize }}</div>
              </div>

              {% for state, count in workflow.task_charts %}
                {% if count %}
                  <div class="mt-2">
                    <i class="fas fa-sm fa-fw task-icon-{{ state }}" title="{{ state }}"></i>
                    <span class="text-muted">{{ count }} task{{ count|pluralize }}</span>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <div class="col-6">
            </div>
          {% endif %}
        </div>
      {% endfor %}

    {% else %}
      <div class="card-body text-center">
        <p>Create workflows to group and track related tasks.</p>
        <a href="{% url 'workflow_create' place=place.place_code %}" class="btn btn-success">New workflow</a>
      </div>
    {% endif %}

  </div>

  {% if is_paginated %}
    <nav class="mt-3">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?state={{ form.state.value }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a class="page-link" href="?state={{ form.state.value }}&page={{ num }}">{{ num }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?state={{ form.state.value }}&page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

</div>
{% endblock %}
