{% extends "indigo_api/work_layout.html" %}

{% block view-id %}edit-work-view{% endblock %}
{% block title %}Edit – {{ block.super }}{% endblock %}

{% block work-content %}
  {% if work.pk and perms.indigo_api.change_work or not work.pk and perms.indigo_api.add_work %}
  {% else %}
    <div class="alert alert-danger">You don't have permission to create or change a work.</div>
  {% endif %}

  <form id="edit-work-form" method="POST" action="">

    <div class="row mb-3">
      <div class="col">
        {% if work.pk %}
        <a class="btn btn-link" href="{% url 'work' frbr_uri=work.frbr_uri %}">← Back to Overview</a>
        {% endif %}
      </div>
      <div class="col">
        {% if work.pk and perms.indigo_api.change_work or not work.pk and perms.indigo_api.add_work %}
          <div class="text-right">
            <button class="btn btn-success save" type="submit">{% if work.pk %}Save{% else %}Create{% endif %}</button>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">Work details</h5>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-12">
            <label for="work_title" class="required">Short title</label>
            <input type="text" class="form-control" id="work_title" name="title" autofocus placeholder="Title" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="work_country" class="required">Country</label>
            <select id="work_country" name="country" class="form-control">
              {% for opt in countries %}
              <option value="{{ opt.country.iso.lower }}">{{ opt.country.name }}</option>
            {% endfor %}
            </select>
          </div>

          <div class="form-group col-md-4 offset-md-2">
            <label for="work_locality">Locality</label>
            <select class="form-control" id="work_locality" name="locality"></select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="work_year" class="required">Year of introduction</label>
            <input type="text" class="form-control" id="work_year" name="year" required pattern="\d{4}" placeholder="yyyy">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="work_number" class="required">Number within year</label>
            <input type="text" class="form-control" id="work_number" required pattern="[^\s]+" name="number">
            <p class="form-text text-muted">Number or short name that uniquely identifies this legislation within the year of introduction</p>
          </div>

          <div class="form-group col-md-6">
            <label for="work_subtype">Work subtype</label>
            <select id="work_subtype" class="form-control" name="subtype">
              <option value="">(none)</option>
              {% for subtype in subtypes %}
              <option value="{{ subtype.abbreviation }}">{{ subtype }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="work_frbr_uri">FRBR URI</label>
            <div id="work_frbr_uri" class="form-text"></div>
            <p class="form-text text-muted">Uniquely identifies this work globally</p>
          </div>

          <div class="form-group col-md-6">
            <button class="btn btn-outline-primary choose-parent float-right" type="button">Choose parent work</button>
            <label>Parent work</label>
            <p class="form-text text-muted">The parent work for regulations and notices is the primary Act</p>
            <div id="work_parent_work" class="form-text" style="display: none">
              <a class="work_parent_title"></a>
              <br>
              <span class="work_parent_uri"></span>
              <br>
              <a href="#" class="delete-parent">remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" id="promulgation">
      <h5 class="card-header">Promulgation</h5>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col">
            <label for="work_publication_date" class="required">Publication date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="work_publication_date" placeholder="yyyy-mm-dd" {% if not work.pk %}required{% endif %} pattern="\d{4}-\d\d-\d\d" name="publication_date">
            <p class="form-text text-muted">Date when first published</p>
          </div>

          <div class="form-group col">
            <label for="work_publication_name">Publication name</label>
            <input type="text" class="form-control" id="work_publication_name" name="publication_name" list="publication_list">
            <p class="form-text text-muted">Original publication, eg. national gazette</p>
            <datalist id="publication_list"></datalist>
          </div>

          <div class="form-group col">
            <label for="work_publication_number">Publication number</label>
            <input type="text" class="form-control" id="work_publication_number" name="publication_number">
            <p class="form-text text-muted">Publication's sequence number, eg. gazette number</p>
          </div>
        </div>

        <div class="form-group">
          <div class="form-control-static">
            <ul class="work-publication-links list-unstyled">
            </ul>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="work_commencement_date">Commencement date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="work_commencement_date" name="commencement_date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d">
            <p class="form-text text-muted">Date when most of the work comes into force<br>(only leave blank if not yet commenced)</p>
          </div>

          <div class="form-group col">
            <button class="btn btn-outline-primary float-right change-commencing-work" type="button">Choose commencing work</button>
            <label>Commenced by</label>
            <div class="work-commencing-work form-control-static"></div>
            <p class="form-text text-muted">Work which indicated the commencement date</p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="work_assent_date">Assent date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="work_assent_date" name="assent_date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d">
            <p class="form-text text-muted">Date when approved by the responsible authority</p>
          </div>
        </div>

      </div>
    </div>
  </form>

  <div class="card mb-3" id="repeal">
    <h5 class="card-header">Repeal</h5>
    <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Repealed by</label>
          <button class="btn btn-outline-primary change-repeal float-right">Choose repealing work</button>
          <div class="work-repeal-view form-text"></div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 if-repealed">
          <label class="required">Repeal date</label>
          <input type="text" class="form-control" data-provide="datepicker" id="work_repealed_date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" required>
        </div>
      </div>
    </div>
  </div>

  {% if work.pk %}
    {% if not work.can_delete %}
    <p>
      This work cannot be deleted while <a href="{% url 'work_amendments' work.frbr_uri %}">linked documents</a>
      and <a href="{% url 'work_related' work.frbr_uri %}">related works</a> exist.
    </p>
    {% elif perms.indigo_api.delete_work %}
      <button class="btn btn-danger delete pull-left" type="button">Delete this work</button>
    {% endif %}
  {% endif %}

  <script id="work-repeal-template" type="text/x-handlebars-template">
  {% verbatim %}

  {{#if repealed_by }}
    <a href="/works{{ repealed_by.frbr_uri }}/">{{ repealed_by.title }}</a><br>
    <span>{{ repealed_by.frbr_uri }}</span><br>
    <a href="#" class="delete-repeal">remove</a>
  {{else}}
    <i class="text-muted">Not repealed.</i>
  {{/if}}

  {% endverbatim %}
  </script>

  <script id="commencing-work-template" type="text/x-handlebars-template">
  {% verbatim %}

  {{#if commencing_work }}
    <a href="/works{{ commencing_work.frbr_uri }}/">{{ commencing_work.title }}</a><br>
    <span>{{ commencing_work.frbr_uri }}</span><br>
    <a href="#" class="delete-commencing-work">remove</a>
  {{/if}}

  {% endverbatim %}
  </script>

{% endblock %}
