{% extends "place/tabbed_layout.html" %}
{% load indigo_app i18n %}

{% block view-id %}bulk-import-works-view{% endblock %}
{% block title %}{% trans 'Create works in bulk' %}{% endblock %}

{% block content %}
<div class="container">
  {% block heading %}
    <h2 class="mt-3 mb-3">{% trans 'Create works in bulk from Google Sheets' %}</h2>
  {% endblock %}

  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="card mb-3">
      <div class="card-body">

        <div class="form-group">
          <label for="{{ form.spreadsheet_url.id_for_label }}">{% trans 'Google Sheets URL' %}</label>
          <input type="url" class="form-control" id="{{ form.spreadsheet_url.id_for_label }}" name="{{ form.spreadsheet_url.name }}" placeholder="{% trans 'The URL of the spreadsheet' %}" required value="{{ form.spreadsheet_url.value|default:'' }}">
          {% for err in form.spreadsheet_url.errors %}
            <div class="form-text text-danger">{{ err }}</div>
          {% endfor %}
        </div>

        {% if form.fields.sheet_name.choices %}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="{{ form.sheet_name.id_for_label }}">{% trans 'Spreadsheet tab' %}</label>
                <select class="selectpicker form-control" name="{{ form.sheet_name.name }}" id="{{ form.sheet_name.id_for_label }}" data-live-search="true">
                  {% for opt in form.sheet_name %}
                    {{ opt }}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        {% else %}
          <p><b>{% trans 'Note:' %}</b> {% trans 'The first (leftmost) sheet will be imported.' %}</p>
        {% endif %}

        <div class="form-group">
          <label for="{{ form.workflow.id_for_label }}">{% trans 'Choose a project for newly created tasks' %}</label>

          {% if form.fields.workflow.choices %}
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <select class="selectpicker form-control" name="{{ form.workflow.name }}" id="{{ form.workflow.id_for_label }}" data-live-search="true" title="{% trans 'Choose a project' %}">
                    {% for option in form.workflow %}
                      {{ option }}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            {% for err in form.workflow.errors %}
              <div class="form-text text-danger">{{ err }}</div>
            {% endfor %}
          {% else %}
            <div class="text-danger">{% trans 'There are no projects (create one and refresh this page)' %}</div>
          {% endif %}

          <a href="{% url 'workflow_create' place=place.place_code %}" target="_blank">{% trans 'Create a new project' %}</a>
        </div>

        {% block columns %}{% endblock %}

      </div>

      <div class="card-footer">
        {% if perms.indigo_api.add_work %}
          <button type="submit" name="preview" class="btn btn-primary show-progress">{% trans 'Preview' %}</button>
        {% else %}
          <div class="alert alert-danger">{% trans "You don't have permission to create works." %}</div>
        {% endif %}
      </div>
    </div>

    {% if works %}
      {% with place.settings.work_properties.items|dictsort:0 as extra_properties %}
      {% if dry_run %}
        <div class="card mt-3">
        <h4 class="card-header">
          {% trans 'Preview of your import' %}
        </h4>

        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'Row' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Title / Error message' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Number' %}</th>
              <th>{% trans 'Year' %}</th>
              {% for _, property_name in extra_properties %}
                <th>{{ property_name }}</th>
              {% endfor %}
              <th>{% trans 'FRBR URI' %}</th>
              <th>{% trans 'Taxonomy' %}</th>
              <th>{% trans 'Tasks' %}</th>
              <th>{% trans 'Relationships' %}</th>
              <th>{% trans 'Notes' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for row in works %}
              <tr>
                <td>
                  <a href="{{ form.spreadsheet_url.value }}?&range=A{{ row.row_number }}" target="_blank">{{ row.row_number }}</a>
                </td>
                <td class="text-nowrap">
                  {% if row.status == 'success' %}
                    <i class="fas fa-check-circle text-success"></i> {% trans 'Ready to import' %}
                  {% elif row.status == 'duplicate' %}
                    <i class="fas fa-ban text-info"></i> {% trans 'Duplicate' %}
                  {% elif row.errors %}
                    <i class="fas fa-exclamation-triangle text-danger"></i> {% trans 'Error' %}
                  {% endif %}
                </td>
                <td>
                  {% if row.status == 'success' %}
                    {{ row.work.title }}
                  {% elif row.status == 'duplicate' %}
                    {% trans 'A work with this type, year and number already exists in this place.' %}
                  {% elif row.errors %}
                    {{ row.errors }}
                  {% endif %}
                </td>
                <td>
                  {% if row.work.subtype %}
                    {{ row.work.subtype }}
                  {% elif not row.errors %}
                    {{ row.work.nature }}
                  {% endif %}
                </td>
                <td>
                  {{ row.work.number }}
                </td>
                <td>
                  {{ row.work.year }}
                </td>
                {% for property_code, _ in extra_properties %}
                  <td>{% if row.work %}{{ row.work.properties|lookup:property_code }}{% endif %}</td>
                {% endfor %}
                <td>
                  {% if row.errors %}
                    —
                  {% elif row.status == 'duplicate' %}
                    <a href="{% url 'work' frbr_uri=row.work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=row.work.frbr_uri %}">{{ row.work.frbr_uri }}</a>
                  {% else %}
                    {{ row.work.frbr_uri }}
                  {% endif %}
                </td>
                <td>
                  {% if row.taxonomies %}
                    <ul class="pl-0">
                      {% for taxonomy in row.taxonomies %}
                        <li>{{ taxonomy }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                <td>
                  {% if row.tasks %}
                    <ul class="pl-0">
                      {% for task in row.tasks %}
                        <li>{{ task|capfirst }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                <td>
                  {% if row.relationships %}
                    <ul class="pl-0">
                      {% for relationship in row.relationships %}
                        <li>{{ relationship }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                <td>
                  {% if row.notes %}
                    <ul class="pl-0">
                      {% for note in row.notes %}
                        <li>{{ note }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="card-footer">
          {% if perms.indigo_api.add_work %}
            <button type="submit" name="preview" class="btn btn-primary show-progress">{% trans 'Refresh preview' %}</button>
            <button type="submit" name="import" class="btn btn-success float-right show-progress">{% trans 'Import works' %}</button>
          {% else %}
            <div class="alert alert-danger">{% trans "You don't have permission to create works." %}</div>
          {% endif %}
        </div>
      </div>
      {% else %}
        <div class="card mt-3">
        <h4 class="card-header">
          {% trans 'Import complete' %}
        </h4>

        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'Row' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Title / Error message' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Number' %}</th>
              <th>{% trans 'Year' %}</th>
              {% for _, property_name in extra_properties %}
                <th>{{ property_name }}</th>
              {% endfor %}
              <th>{% trans 'FRBR URI' %}</th>
              <th>{% trans 'Taxonomy' %}</th>
              <th>{% trans 'Tasks' %}</th>
              <th>{% trans 'Relationships' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for row in works %}
              <tr>
                <td>
                  <a href="{{ form.spreadsheet_url.value }}?&range=A{{ row.row_number }}" target="_blank">{{ row.row_number }}</a>
                </td>
                <td class="text-nowrap">
                  {% if row.status == 'success' %}
                    <i class="fas fa-check-circle text-success"></i> {% trans 'Imported' %}
                  {% elif row.status == 'duplicate' %}
                    <i class="fas fa-ban text-info"></i> {% trans 'Duplicate' %}
                  {% elif row.errors %}
                    <i class="fas fa-exclamation-triangle text-danger"></i> {% trans 'Error' %}
                  {% endif %}
                </td>
                <td>
                  {% if row.status == 'success' %}
                    {{ row.work.title }}
                  {% elif row.status == 'duplicate' %}
                    {% trans 'A work with this type, year and number already exists in this place.' %}
                  {% elif row.errors %}
                    {{ row.errors }}
                  {% endif %}
                </td>
                <td>
                  {% if row.work.subtype %}
                    {{ row.work.subtype }}
                  {% elif not row.errors %}
                    {{ row.work.nature }}
                  {% endif %}
                </td>
                <td>
                  {{ row.work.number }}
                </td>
                <td>
                  {{ row.work.year }}
                </td>
                {% for property_code, _ in extra_properties %}
                  <td>{% if row.work %}{{ row.work.properties|lookup:property_code }}{% endif %}</td>
                {% endfor %}
                <td>
                  {% if row.errors %}
                    —
                  {% else %}
                    <a href="{% url 'work' frbr_uri=row.work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=row.work.frbr_uri %}">{{ row.work.frbr_uri }}</a>
                  {% endif %}
                </td>
                <td>
                  {% if row.work.taxonomies.exists %}
                    <ul class="pl-0">
                      {% for t in row.work.taxonomies.all %}
                        <li>{{ t }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                <td>
                  {% if row.work.tasks.exists %}
                    <ul class="pl-0">
                      {% for task in row.work.tasks.all %}
                        <li><a href="{% url 'task_detail' place=place.place_code pk=task.pk %}">{{ task.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                <td>
                  {% if row.relationships %}
                    <ul class="pl-0">
                      {% for relationship in row.relationships %}
                        <li>{{ relationship }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>

        <div class="card-footer">
          {% if perms.indigo_api.add_work %}
            <button type="submit" name="preview" class="btn btn-primary show-progress">{% trans 'Refresh preview' %}</button>
            <button type="submit" name="import" class="btn btn-success float-right show-progress">{% trans 'Import works' %}</button>
          {% else %}
            <div class="alert alert-danger">{% trans "You don't have permission to create works." %}</div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endwith %}
    {% endif %}
  </form>

  <div class="progress d-none mt-3" id="import-progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
  </div>

  {% if not works %}
    <div class="card mt-3">
      <div class="card-body">
        {% trans 'Instructions' %}:
        <ul>
          <li>
            {% with "https://docs.google.com/spreadsheets/d/1L1S2ahVHFE69zIacgGNRwZ20MslMmJlXfQ7OQUk83qQ" as template_href %}
              {% blocktrans %}Make a copy of the <a href="{{ template_href }}" target="_blank">Legislation index template</a>: 'File | Make a copy'.{% endblocktrans %}
            {% endwith %}
          </li>
          <li>
            {% url 'place_settings' place=place.place_code as place_url %}
            {% blocktrans trimmed %}
              Record the Spreadsheet URL under <a href="{{ place_url }}" target="_blank">Settings</a>.
            {% endblocktrans %}
          </li>
          {% if bulk_creator.is_gsheets_enabled %}
            <li>{% blocktrans with share=bulk_creator.share_with %}Share the spreadsheet with {{ share }}.{% endblocktrans %}</li>
            <li>{% trans 'Choose a spreadsheet tab and a project.' %}</li>
          {% else %}
            <li>{% trans "Make it accessible by turning link sharing on: 'Share | General access | Anyone with the link' (top-right corner)." %}</li>
            <li>{% trans 'Choose a project.' %}</li>
          {% endif %}
          <li>{% blocktrans %}<strong>Preview</strong> the new works to be created, resolve any errors / duplicates and <strong>Refresh preview</strong>.{% endblocktrans %}</li>
          <li><strong>{% trans 'Import works' %}</strong>.</li>
        </ul>
      </div>
    </div>
  {% endif %}


</div>
{% endblock %}
