{% extends "indigo_api/work_layout.html" %}

{% block view-id %}edit-work-view{% endblock %}
{% block title %}Edit – {{ block.super }}{% endblock %}

{% block work-content %}
  {% if work.pk and perms.indigo_api.change_work or not work.pk and perms.indigo_api.add_work %}
  {% else %}
    <div class="alert alert-danger">You don't have permission to create or change a work.</div>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ form.non_field_errors }}
      <ul>
        {% for field in form %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form id="edit-work-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" id="{{ form.frbr_uri.id_for_label }}" value="{{ form.frbr_uri.value|default:'' }}" name="{{ form.frbr_uri.html_name }}">

    <div class="mb-3">
      <div class="float-right">
        {% if work.pk %}
          <a class="btn btn-link" href="{% url 'work' frbr_uri=work.frbr_uri %}">Cancel</a>
        {% endif %}

        {% if work.pk and perms.indigo_api.change_work or not work.pk and perms.indigo_api.add_work %}
          <button class="btn btn-success save" type="submit">{% if work.pk %}Save{% else %}Create{% endif %}</button>
        {% endif %}
      </div>

      <h3 class="work-title">{{ work.title }}</h3>
      <h4 class="text-muted work-frbr-uri">{{ work.frbr_uri }}</h4>
      <p>
        {{ country.name }} · {{ country.code }}
        {% if work.locality %} — {{ work.locality.name }} · {{ work.locality.code }}{% endif %}
      </p>
    </div>

    {% block work-form-details %}
    <div class="card mb-3">
      <h5 class="card-header">Work details</h5>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-12">
            <label for="{{ form.title.id_for_label }}" class="required">Short title</label>
            <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" autofocus placeholder="Title" required value="{{ form.title.value|default:'' }}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="work_year" class="required">Year of introduction</label>
            <input type="text" class="form-control" id="work_year" required pattern="\d{4}" placeholder="yyyy">
          </div>

          <div class="form-group col-md-6 offset-md-3">
            <label for="work_number" class="required">Number within year</label>
            <input type="text" class="form-control" id="work_number" required pattern="[^\s]+">
            <p class="form-text text-muted">Number or short name that uniquely identifies this legislation within the year of introduction. Numbers, letters and '-' only.</p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="work_subtype">Work subtype</label>
            <select id="work_subtype" class="form-control">
              <option value="">(none)</option>
              {% for subtype in subtypes %}
              <option value="{{ subtype.abbreviation }}">{{ subtype }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col-md-6 offset-md-2">
            <button class="btn btn-outline-primary choose-parent float-right" type="button">Choose primary work</button>
            <label>Primary work</label>
            <p class="form-text text-muted">The primary work for regulations and notices is the primary Act</p>
            <input type="hidden" id="{{ form.parent_work.id_for_label }}" name="{{ form.parent_work.html_name }}" value="{{ form.parent_work.value|default:'' }}">
            <div id="work_parent_work" class="form-text" style="display: none">
              <a class="work_parent_title"></a>
              <br>
              <span class="work_parent_uri"></span>
              <br>
              <a href="#" class="delete-parent">remove</a>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            {% regroup form.fields.taxonomies.queryset by vocabulary as topic_groups %}
            {% if topic_groups %}
              <label for="taxonomies">Taxonomy tags</label>
              <select id="taxonomies" name="work-taxonomies" class="form-control selectpicker" data-live-search="true" multiple data-selected-text-format="count > 3">
                {% for topic in topic_groups %}
                  <optgroup label="{{ topic.grouper }}">
                    {% for taxonomy in topic.list %}
                      <option {% if taxonomy.pk in form.taxonomies.value %}selected{% endif %} value="{{ taxonomy.pk }}">{{ taxonomy }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            {% endif %}
          </div>

          <div class="form-group col-md-6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="{{ form.stub.id_for_label }}" name="{{ form.stub.html_name }}" value="on" {% if form.stub.value %}checked{% endif %}>
              <label class="mb-0" for="{{ form.stub.id_for_label }}">Stub – this work will have no content</label>
              <p class="form-text text-muted">Check this option for commencing or amending works that are not captured in detail.</p>
            </div>
          </div>
        </div>

        <div class="form-row">
          {% for fld in form.property_fields %}
            <div class="form-group col-md-4">
              <label for="{{ fld.id_for_label }}">{{ fld.label }}</label>
              <input type="text" class="form-control" value="{{ fld.value|default:'' }}" name="{{ fld.html_name }}" maxlength="1024">

              {% if fld.errors %}
                <div class="form-row mt-2 mb-4">
                  {% for error in fld.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
    {% endblock work-form-details %}

    {% block work-form-publication %}
    <div class="card mb-3" id="publication">
      <h5 class="card-header">Publication</h5>
      <div class="card-body">

        {% block work-form-publication-details %}
        <div class="form-row">
          {% block publication-date %}
          <div class="form-group col">
            <label for="{{ form.publication_date.id_for_label }}" class="required">Publication date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="{{ form.publication_date.id_for_label }}" placeholder="yyyy-mm-dd" {% if not work.pk and not publication_date_optional %}required{% endif %} pattern="\d{4}-\d\d-\d\d" name="{{ form.publication_date.html_name }}" value="{{ form.publication_date.value|date:"Y-m-d"|default:'' }}">
            <p class="form-text text-muted">Date when first published</p>
          </div>
          {% endblock %}

          <div class="form-group col">
            <label for="{{ form.publication_name.id_for_label }}">Publication name</label>
            <input type="text" class="form-control" id="{{ form.publication_name.id_for_label }}" name="{{ form.publication_name.html_name }}" list="publication_list" value="{{ form.publication_name.value|default:'' }}">
            <p class="form-text text-muted">Original publication, eg. national gazette</p>
            <datalist id="publication_list">
              {% for pub in country.publication_set.all %}
                <option value="{{ pub.name }}">
              {% endfor %}
            </datalist>
          </div>

          <div class="form-group col">
            <label for="{{ form.publication_number.id_for_label }}">Publication number</label>
            <input type="text" class="form-control" id="{{ form.publication_number.id_for_label }}" name="{{ form.publication_number.html_name }}" value="{{ form.publication_number.value|default:'' }}">
            <p class="form-text text-muted">Publication's sequence number, eg. gazette number</p>
          </div>
        </div>
        {% endblock work-form-publication-details %}

        {% block work-form-publication-file %}
        <div class="form-group">
          <label for="work_publication_document" class="mb-0">Official publication document</label>
          <p class="form-text text-muted mt-0">A copy of the official publication document, such as the gazette.</p>

          <input type="hidden" id="{{ form.delete_publication_document.id_for_label }}" name="{{ form.delete_publication_document.html_name }}">
          <input type="hidden" id="{{ form.publication_document_mime_type.id_for_label }}" name="{{ form.publication_document_mime_type.html_name }}">
          <input type="hidden" id="{{ form.publication_document_size.id_for_label }}" name="{{ form.publication_document_size.html_name }}">
          <input type="hidden" id="{{ form.publication_document_trusted_url.id_for_label }}" name="{{ form.publication_document_trusted_url.html_name }}">
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="publication-document-wrapper"></div>
          </div>

          <div class="col-md-6">
            <ul class="work-publication-links list-group">
              <li class="list-group-item list-group-item-light publication-document-file">
                <input type="file" id="{{ form.publication_document_file.id_for_label }}" name="{{ form.publication_document_file.html_name }}" accept=".pdf">
              </li>
            </ul>

            <script id="publication-document-url-template" type="text/x-handlebars-template">
            {% verbatim %}
              {{#if publications}}
                <li class="list-group-item bg-light h6">Possible documents</li>
              {{/if}}
              {{#each publications}}
                <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center publication-url" data-size="{{ size }}" data-mime-type="{{ mime_type }}" data-url="{{ url }}">
                  <a href="{{ url }}" target="_blank" rel="noreferrer noopener">{{ url }}</a>
                  {{#if trustworthy}}<button type="button" class="btn btn-secondary attach-publication-url ml-2">Attach document</button>{{/if}}
                </li>
              {{/each}}
            {% endverbatim %}
            </script>
          </div>
        </div>
        {% endblock work-form-publication-file %}

      </div>
    </div>
    {% endblock work-form-publication %}

    {% block work-form-commencement %}
    <div class="card mb-3" id="commencement">
      <h5 class="card-header">Commencement and assent</h5>
      <div class="card-body">

        {% if work.pk and work.commencements.count > 1 %}
          <div class="mb-3">
            <input type="hidden" name="{{ form.commenced.html_name }}" value="on" {% if form.commenced.value %}checked{% endif %}>
            This work has mixed commencements, <a href="{% url 'work_commencements' frbr_uri=work.frbr_uri %}">edit them in the Commencements page</a>.
          </div>
        {% else %}
          <div class="form-row">
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ form.commenced.id_for_label }}" name="{{ form.commenced.html_name }}" value="on" {% if form.commenced.value %}checked{% endif %}>
                <label class="ml-2 mr-2" for="{{ form.commenced.id_for_label }}">Commenced – this work has come into force, or has a future commencement date</label>
              </div>
            </div>
          </div>
          <div id="commencement_details" {% if not work.commenced %}class="d-none"{% endif %}>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="{{ form.commencement_date.id_for_label }}">Commencement date</label>
                <input type="text" class="form-control" data-provide="datepicker" id="{{ form.commencement_date.id_for_label }}" name="{{ form.commencement_date.html_name }}" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" value="{{ form.commencement_date.value|date:"Y-m-d"|default:'' }}">
                <p class="form-text text-muted">Date when most of the work comes into force</p>

                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="commencement_date_unknown">
                  <label for="commencement_date_unknown">Commencement date is unknown</label>
                </div>
                <p class="form-text text-muted">Check this box when a (usually old) work has come into force, but the exact commencement date is not known.</p>

                {% if work.pk and work.commencement_date %}
                  {% if work.amendments_made.exists or work.repealed_works.exists %}
                    <div class="alert alert-warning">If you change this commencement date, you may also have to manually change the dates for related <a href="{% url 'work_related' work.frbr_uri %}">amendments and repeals</a> made by this work.</div>
                  {% endif %}
                {% endif %}
              </div>

              <div class="form-group col">
                <button class="btn btn-outline-primary float-right change-commencing-work" type="button">Choose commencing work</button>
                <label>Commenced by</label>
                <div class="work-commencing-work form-control-static"></div>
                <input type="hidden" id="{{ form.commencing_work.id_for_label }}" name="{{ form.commencing_work.html_name }}" value="{{ form.commencing_work.value|default:'' }}">
                <p class="form-text text-muted">Work that gives the commencement date of this work</p>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="{{ form.assent_date.id_for_label }}">Assent date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="{{ form.assent_date.id_for_label }}" name="{{ form.assent_date.html_name }}" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" value="{{ form.assent_date.value|date:"Y-m-d"|default:'' }}">
            <div class="form-text text-muted">Date when approved by the responsible authority</div>
          </div>
        </div>

      </div>
    </div>
    {% endblock work-form-commencement %}

    {% block work-form-repeal %}
    <div class="card mb-3" id="repeal">
      <h5 class="card-header">Repeal</h5>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Repealed by</label>
            <button class="btn btn-outline-primary change-repeal float-right" type="button">Choose repealing work</button>
            <div class="work-repeal-view form-text"></div>
            <input type="hidden" id="{{ form.repealed_by.id_for_label }}" name="{{ form.repealed_by.html_name }}" value="{{ form.repealed_by.value|default:'' }}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4 if-repealed">
            <label class="required">Repeal date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="{{ form.repealed_date.id_for_label }}" name="{{ form.repealed_date.html_name }}" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" value="{{ form.repealed_date.value|date:"Y-m-d"|default:'' }}">
          </div>
        </div>
      </div>
    </div>
    {% endblock work-form-repeal %}
  </form>

  {% if work.pk %}
    {% if not work.can_delete %}
    <p>
      This work cannot be deleted while <a href="{% url 'work_amendments' work.frbr_uri %}">linked documents</a>
      and <a href="{% url 'work_related' work.frbr_uri %}">related works</a> exist.
    </p>
    {% elif perms.indigo_api.delete_work %}
      <form method="POST" action="{% url 'work_delete' frbr_uri=work.frbr_uri %}">
        {% csrf_token %}
        <button class="btn btn-danger delete pull-left" type="submit" data-confirm="Are you sure you want to delete this work?">Delete this work</button>
      </form>
    {% endif %}
  {% endif %}

  <script id="publication-document-template" type="text/x-handlebars-template">
  {% verbatim %}

    <div class="card">
      <div class="card-body bg-light">
        <div class="media">
          <div class="mr-2"><i class="fas fa-file fa-3x text-muted"></i></div>
          <div class="media-body">
            <div class="dropdown float-right">
              <a href="#" class="dropdown-toggle text-dark btn" data-toggle="dropdown"></a>
              <div class="dropdown-menu">
                <a class="dropdown-item delete-publication-document" href="#">Delete</a>
              </div>
            </div>
            <h6 class="my-0">
              {{#if url}}
              <a href="{{ url }}" target="_blank" rel="noreferrer">{{ filename }}</a>
              {{else}}
              {{ filename }}
              {{/if}}
            </h6>
            <div class="text-muted">{{ prettySize }} · {{ mime_type }}</div>
            {{#if trusted_url}}
            <div class="text-muted">{{ trusted_url }}</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  {% endverbatim %}
  </script>

  <script id="work-repeal-template" type="text/x-handlebars-template">
  {% verbatim %}

  {{#if repealed_by }}
    <a href="/works{{ repealed_by.frbr_uri }}/">{{ repealed_by.title }}</a><br>
    <span>{{ repealed_by.frbr_uri }}</span><br>
    <a href="#" class="delete-repeal">remove</a>
  {{else}}
    <i class="text-muted">Not repealed.</i>
  {{/if}}

  {% endverbatim %}
  </script>

  <script id="commencing-work-template" type="text/x-handlebars-template">
  {% verbatim %}

  {{#if commencing_work }}
    <a href="/works{{ commencing_work.frbr_uri }}/">{{ commencing_work.title }}</a><br>
    <span>{{ commencing_work.frbr_uri }}</span><br>
    <a href="#" class="delete-commencing-work">remove</a>
  {{/if}}

  {% endverbatim %}
  </script>

{% endblock %}
