<div class="popup-content lh-compact">
  <h6>
    {{ work.title }}
    {% if work.stub %}
      <span class="badge badge-info">stub</span>
    {% endif %}
    <br><span class="text-muted mt-1 wb-all">{{ work.frbr_uri }}</span>
  </h6>

  {% if work.assent_date %}
    <p class="mb-2">Assented to on {{ work.assent_date|date:"Y-m-d" }}.</p>
  {% endif %}

  {% if work.publication_date or work.publication_name or work.publication_document %}
    <p class="mb-2">

    {% if work.publication_date and work.publication_document %}
      Published on {{ work.publication_date|date:"Y-m-d" }} in
      {% if work.publication_name and work.publication_number %}
        <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{{ work.publication_name }} no. {{ work.publication_number }}</a>.
      {% else %}
        <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{% if work.publication_name %}{{ work.publication_name }}{% else %}publication document{% endif %}</a>.
      {% endif %}

    {% elif work.publication_document %}
      Published in
      {% if work.publication_name and work.publication_number %}
        <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{{ work.publication_name }} no. {{ work.publication_number }}</a>.
      {% else %}
        <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{% if work.publication_name %}{{ work.publication_name }}{% else %}publication document{% endif %}</a>.
      {% endif %}

    {% elif work.publication_date %}
      {% if not work.publication_name %}
        Published on {{ work.publication_date|date:"Y-m-d" }}.
      {% else %}
        Published on {{ work.publication_date|date:"Y-m-d" }} in
        {% if work.publication_number %}
          {{ work.publication_name }} no. {{ work.publication_number }}.
        {% else %}
          {{ work.publication_name }}.
        {% endif %}
      {% endif %}

    {% elif work.publication_name %}
      Published in
      {% if work.publication_number %}
        {{ work.publication_name }} no. {{ work.publication_number }}.
      {% else %}
        {{ work.publication_name }}.
      {% endif %}

    {% endif %}
    </p>
  {% endif %}

  {% if work.commencement_date %}
    <p class="mb-2">Commenced on {{ work.commencement_date|date:"Y-m-d" }}{% if work.commencing_work %} by
      <a href="{% url 'work' frbr_uri=work.commencing_work.frbr_uri %}">
        {{ work.commencing_work.title }}</a>{% endif %}.
    </p>
  {% endif %}

  {% if work.repealed_date %}
    <p class="mb-2">Repealed on {{ work.repealed_date|date:"Y-m-d" }}{% if work.repealed_by %} by
      <a href="{% url 'work' frbr_uri=work.repealed_by.frbr_uri %}">{{ work.repealed_by.title }}</a>{% endif %}.
    </p>
  {% endif %}

  {% if work.parent_work %}
    <p class="mb-2">Primary work:
      <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
    </p>
  {% endif %}
</div>
