{% extends "indigo_api/work_layout.html" %}

{% block work-content %}

  {% if perms.indigo_api.change_work or not work and perms.indigo_api.add_work %}
    <div class="float-right">
      <a class="btn btn-primary" href="{% url 'work_edit' frbr_uri=work.frbr_uri %}">Edit Work</a>
    </div>
  {% endif %}

  <h3>{{ work.title }}</h3>
  <h4 class="text-muted">{{ work.frbr_uri }}</h4>

  {% block country %}
  <div class="mb-3">
    <p>
      {{ country.name }} · {{ country.code }}
      {% if work.locality %} — {{ locality.name }} · {{ locality.code }}{% endif %}
    </p>
  </div>
  {% endblock %}

  {% block primary-info %}
  <div class="card mt-4">
    <div class="card-body">

      <div class="row">
        <div class="col-sm-6">
          <dl>
            <dt>Promulgation</dt>
            <dd>
              Published in {{ work.publication_name|default:"(unknown)" }}
              {% if work.publication_number %} no. {{ work.publication_number }}{% endif %}
              {% if work.publication_date %} on {{ work.publication_date|date:"Y-m-d" }}{% endif %}
            </dd>

            <dt>Commencement</dt>
            <dd>
              {% if work.commencement_date %}
                Commences on {{ work.commencement_date|date:"Y-m-d" }}
              {% else %}
                <i>(unknown)</i>
              {% endif %}

              {% if work.commencing_work %}
              Commenced by <a href="{% url 'work' frbr_uri=work.commencing_work.frbr_uri %}">{{ work.commencing_work.title }}</a>
              {% endif %}
            </dd>
          </dl>
        </div>

        <div class="col-sm-6">
          <dl>
            {% if work.parent_work %}
            <dt>Parent</dt>
            <dd>
              <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
            </dd>
            {% endif %}

            <dt>Assent</dt>
            <dd>
              {% if work.assent_date %}
                Assented to on {{ work.assent_date|date:"Y-m-d" }}
              {% else %}
                <i>(unknown)</i>
              {% endif %}
            </dd>

            <dt>Repeal</dt>
            <dd>
              {% if work.repealed_date %}
                Repealed on {{ work.repealed_date|date:"Y-m-d" }}
                {% if work.repealed_by %}
                by <a href="{% url 'work' frbr_uri=work.repealed_by.frbr_uri %}">{{ work.repealed_by.title }}</a>
                {% endif %}
              {% else %}
                <i>(not repealed)</i>
              {% endif %}
            </dd>
          </dl>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}

  {% block points_in_time %}
  <div class="row mb-3 mt-5">
    <div class="col">
      <h4>Points in Time</h4>
    </div>
    <div class="col text-right">
      <a href="{% url 'work_amendments' frbr_uri=work.frbr_uri %}" class="btn btn-primary">Manage Points in Time</a>
    </div>
  </div>

  <ol class="timeline">
    {% for amendment in work.amendments.all reversed %}
      <li class="timeline-item card">
        <h6 class="timeline-date">{{ amendment.date|date:"Y-m-d" }}</h6>

        <div class="card-body">
          <h6 class="mb-0">Amended by <a href="{% url 'work' frbr_uri=amendment.amending_work.frbr_uri %}">{{ amendment.amending_work.title }}</a></h6>
          <div class="text-muted mb-3">{{ amendment.amending_work.frbr_uri }}</div>

          <div class="documents">
            {% with amendment.expressions as docs %}
            {% if docs %}
              {% for doc in docs %}
              <div><i class="fa fa-fw fa-circle {% if doc.draft %}draft{% else %}published{% endif %}"></i> <a href="{% url 'document' doc_id=doc.id %}">{{ doc.title }}</a> · {{ doc.language }}</div>
              {% endfor %}
            {% else %}
              <span class="text-muted">No editable version at this date</span>
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </li>
    {% endfor %}

    <li class="timeline-item card">
      <h6 class="timeline-date">{{ work.publication_date|date:"Y-m-d" }}</h6>

      <div class="card-body">
        <h6>Initial publication</h6>

        <div class="documents">
          {% with work.initial_expressions.all as docs %}
          {% if docs %}
            {% for doc in docs %}
            <div><i class="fa fa-fw fa-circle {% if doc.draft %}draft{% else %}published{% endif %}"></i> <a href="{% url 'document' doc_id=doc.id %}">{{ doc.title }}</a> · {{ doc.language }}</div>
            {% endfor %}
          {% else %}
            <span class="text-muted">No editable version at this date</span>
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </li>
  </ol>
  {% endblock %}

  {% block versions %}
  {% if versions %}
    <h4 class="mt-5">Recent changes</h4>

    {% for ver in versions %}
      {% include 'indigo_api/_work_diff_card.html' with version=ver current=forloop.first %}
    {% endfor %}

    <div>
      <a href="{% url 'work_versions' frbr_uri=work.frbr_uri %}" class="btn btn-primary">All Changes</a>
    </div>

  {% endif %}
  {% endblock %}

{% endblock %}
