{% extends "place/tabbed_layout.html" %}
{% load humanize indigo_app %}

{% block title %}Workflows – {{ place.name }}{% endblock %}

{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header">

      <form method="GET" id="workflow-filter-form">
        <div class="d-flex">

          <div class="mr-2">
            <select class="selectpicker notooltip" multiple name="{{ form.state.name }}" data-style="btn-outline-secondary">
              <option value="open" {% if form.state.value == 'open' %}selected{% endif %}>Open</option>
              <option value="closed" {% if form.state.value == 'closed' %}selected{% endif %}>Closed</option>
            </select>
          </div>

          <div class="ml-auto float-right">
            <a href="{% url 'workflow_create' place=place.place_code %}" class="btn btn-success">New workflow</a>
          </div>

        </div>
      </form>

    </div>

    {% if workflows %}

      {% for workflow in workflows %}
        <div class="list-group-item p-3 d-flex align-items-center">
          <div class="col text-center">
            <span class="badge workflow-badge"><i class="fas fa-fw fa-tasks"></i></span><br>
            <span class="text-muted">#{{ workflow.pk }}</span>
          </div>

          <div class="col flex-fill">
            <div>
              <a href="{% url 'workflow_detail' place=place.place_code pk=workflow.pk %}">{{ workflow.title }}</a>
              <br>
              {{ workflow.description|linebreaksbr }}
            </div>

            <div class="text-muted">
              <small>
                Created <span class="time-ago" data-timestamp="{{ workflow.created_at|date:'c' }}">{{ workflow.created_at|naturaltime }}</span>
                {% if workflow.created_by_user %}
                by {% user_profile workflow.created_by_user %}
                {% endif %}
              </small>
            </div>

          </div>
        </div>
      {% endfor %}

    {% else %}
      <div class="card-body">
        <p class="text-center"><em>No workflows found.</em></p>
      </div>
    {% endif %}

  </div>

  {% if is_paginated %}
    <nav class="mt-3">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

</div>
{% endblock %}
