{% extends "indigo_api/work_layout.html" %}
{% load i18n %}

{% block view-id %}work-related-view{% endblock %}
{% block title %}{% trans 'Related works' %} – {{ block.super }}{% endblock %}

{% block work-content %}
  <h4>{% trans 'Related works' %}</h4>

  {% if no_related %}
    <div class="alert alert-primary">{% trans 'No related works.' %}</div>
  {% endif %}

  {% if family %}
    {% trans "Parents and children" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=family title=title id="parent_kids" %}
  {% endif %}

  {% if repeals %}
    {% trans "Repeals" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=repeals title=title id="repeals" with_date=True %}
  {% endif %}

  {% if commencement %}
    {% trans "Commencement" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=commencement title=title id="commencement" with_date=True %}
  {% endif %}

  {% if amended %}
    {% trans "Works amended by this work" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=amended title=title id="amended" with_date=True %}
  {% endif %}

  {% if amended_by %}
    {% trans "Works amending this work" as title %}
    {% include 'indigo_api/_work_related_table.html' with items=amended_by title=title id="amended_by" with_date=True %}
  {% endif %}
{% endblock %}
