{% extends "indigo_api/work_layout.html" %}
{% load indigo_app humanize %}

{% block work-content %}

  <div class="float-right">
    {% if perms.indigo_api.change_work or not work and perms.indigo_api.add_work %}
      <a class="btn btn-success" href="{% url 'create_task' place=place.place_code %}?frbr_uri={{ work.frbr_uri|urlencode }}">Create task</a>
      <a class="btn btn-primary" href="{% url 'work_edit' frbr_uri=work.frbr_uri %}">Edit work</a>
    {% endif %}
  </div>

  <h3>
    {{ work.title }}
    {% if work.stub %}<span class="badge badge-info">stub</span>{% endif %}
    {% if work.repealed_date %} <span class="badge badge-info">repealed</span> {% endif %}
    {% if not work.commenced %} <span class="badge badge-info">not commenced</span>
    {% elif not work.commencement_date %} <span class="badge badge-info">commencement date unknown</span>
    {% endif %}
  </h3>
  <h4 class="text-muted">{{ work.frbr_uri }}</h4>

  {% block country %}
  <div class="mb-3">
    <div class="float-right">
      {% if work.updated_by_user %}{% user_profile work.updated_by_user %} u{% else %}U{% endif %}pdated {{ work.updated_at|naturaltime }} 
      ·
      <a href="{% url 'work_versions' frbr_uri=work.frbr_uri %}">recent changes</a>
    </div>
    <div>
      {{ country.name }} · {{ country.code }}
      {% if work.locality %} — {{ work.locality.name }} · {{ work.locality.code }}{% endif %}
    </div>
  </div>
  {% endblock %}

  <div class="row mt-4">
    <div class="col-9">
      {% block primary-info %}
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-6">
                <dl class="mb-0">
                  <dt>Promulgation</dt>
                  <dd>
                    <div>
                      Published in {{ work.publication_name|default:"(unknown)" }}
                      {% if work.publication_number %} no. {{ work.publication_number }}{% endif %}
                      {% if work.publication_date %} on {{ work.publication_date|date:"Y-m-d" }}{% endif %}
                    </div>
                    {% if work.publication_document %}
                    <div>
                      <i class="fas fa-file text-muted"></i> <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{{ work.publication_document.filename }}</a> <span class="text-muted">({{ work.publication_document.size|filesizeformat }})</span>
                    </div>
                    {% endif %}
                  </dd>

                  <dt>Commencement</dt>
                  <dd>
                    {% if work.commenced %}
                      {% with work.commencements.count as n_commencements %}
                        {% if n_commencements > 1 %}Main commencement: {% endif %}
                        Commenced on {{ work.commencement_date|date:"Y-m-d"|default:"<i>(unknown)</i>" }}
                          {% if work.commencing_work %}
                            by <a href="{% url 'work' frbr_uri=work.commencing_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.commencing_work.frbr_uri %}">{{ work.commencing_work.title }}</a>
                          {% endif %}
                        {% if n_commencements > 1 %}
                          <div>This work has mixed commencements, see below for details or <a href="{% url 'work_commencements' frbr_uri=work.frbr_uri %}">edit them in the Commencements page</a>.</div>
                        {% endif %}
                      {% endwith %}
                    {% else %}
                      Not commenced
                    {% endif %}
                  </dd>

                  {% regroup work.taxonomies.all by vocabulary as topic_groups %}
                  {% if topic_groups %}
                    {% for topic in topic_groups %}
                      <dt>{{ topic.grouper }}</dt>
                      <dd>
                        {% for taxonomy in topic.list %}
                          {{ taxonomy }} <br>
                        {% endfor %}
                      </dd>
                    {% endfor %}
                  {% endif %}

                </dl>
              </div>

              <div class="col-sm-6">
                <dl class="mb-0">
                  <dt>Assent</dt>
                  <dd>
                    {% if work.assent_date %}
                      Assented to on {{ work.assent_date|date:"Y-m-d" }}
                    {% else %}
                      <i>(unknown)</i>
                    {% endif %}
                  </dd>

                  <dt>Repeal</dt>
                  <dd>
                    {% if work.repealed_date %}
                      Repealed on {{ work.repealed_date|date:"Y-m-d" }}
                      {% if work.repealed_by %}
                      by <a href="{% url 'work' frbr_uri=work.repealed_by.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.repealed_by.frbr_uri %}">{{ work.repealed_by.title }}</a>
                      {% endif %}
                    {% else %}
                      <i>(not repealed)</i>
                    {% endif %}
                  </dd>

                  {% if work.parent_work %}
                    <dt>Primary work</dt>
                    <dd>
                      <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
                    </dd>
                  {% endif %}

                  {% with work.child_works.all as kids %}
                    {% if kids|length > 0 %}
                      <dt>Subsidary works</dt>
                      <dd>
                        {% if kids|length > 3 %}
                          <a href="{% url 'work_related' frbr_uri=work.frbr_uri %}#parent_kids">{{ kids|length }} subsidiary work{{ kids|length|pluralize }}</a>
                        {% else %}
                          <ul class="list-unstyled">
                          {% for kid in kids %}
                            <li><a href="{% url 'work' frbr_uri=kid.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=kid.frbr_uri %}">{{ kid.title }}</a></li>
                          {% endfor %}
                          </ul>
                        {% endif %}
                      </dd>
                    {% endif %}
                  {% endwith %}
                </dl>
              </div>
            </div>

            {% if work.properties %}
              <div class="row">
                {% for prop in work.labeled_properties %}
                  <dl class="col-sm-6 mb-0">
                    <dt>{{ prop.label }}</dt>
                    <dd>{{ prop.value }}</dd>
                  </dl>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>

    <div class="col-3">
      <h6>Core Details</h6>

      <div class="d-flex mb-2">
        <div>
          {% include 'indigo_metrics/_progress_ball.html' with size=70 progress=work.metrics.p_breadth_complete %}
        </div>
        <div class="ml-2 mt-2">
          <h3 class="mb-0">{{ work.metrics.p_breadth_complete|floatformat:0 }}%</h3>
          Complete
        </div>
      </div>

      {% if work.metrics.p_complete < 100 %}
        <ul class="mb-0 mt-3 pl-4">
          {% if not work.publication_document %}
            <li>Add a publication document.</li>
          {% endif %}
          {% if not work.stub and work.metrics.n_expressions == 0 %}
            <li>Publish at least one point in time.</li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>

  {% block points_in_time %}
  <div class="row mb-3 mt-5">
    <div class="col text-right">
      <a href="{% url 'work_amendments' frbr_uri=work.frbr_uri %}" class="btn btn-primary">Manage points in time</a>
    </div>
  </div>

  {% if work.stub and work.document_set.undeleted.exists %}
    <p class="alert alert-warning">
      <i class="fas fa-exclamation-triangle text-warning"></i> Stub works should not have points in time. Either remove these points in time or don't mark this work as a stub.
    </p>
  {% endif %}

  {% include 'indigo_api/_work_points_in_time.html' with work=work editable=False %}
  {% endblock %}

  {% block active_tasks %}
  <div class="h4 mb-3 mt-5">Open tasks</div>
  <div class="card">
    {% include 'indigo_api/_task_list.html' with tasks=active_tasks place=None hide_works=True %}
  </div>
  {% endblock %}

{% endblock %}
