{% extends "main.html" %}

{% block title %}Create a new batch{% endblock %}

{% block breadcrumbs %}
  {% if country %}
  <li class="breadcrumb-item"><a class="work-country" href="{% url 'library' country=country.code %}">{{ country.name }} · {{ country.code }}</a></li>
  {% endif %}
  {% if locality %}
<li class="breadcrumb-item"><a class="work-locality" href="{% url 'library' country=country.code %}?locality={{ locality.code }}">{{ locality.name }} · {{ locality.code }}</a></li>
  {% endif %}
{% endblock %}

{% block main-header-title %}
<h5 class="main-header-title" style="margin-left: 15%">Create a new batch</h5>
{% endblock %}

{% block content %}
<div class="container">

  {% if works %}

  <table class="table mt-3">
    <thead>
      <tr>
        <th></th>
        <th>Row</th>
        <th>Title / Error message</th>
        <th>Uri</th>
      </tr>
    </thead>

    <tbody>
      {% for work in works %}
        <tr>
          <td>
            {% if work.status == 'success' %}
            <i class="fa fa-check-circle text-success"></i>
            {% elif work.status == 'duplicate' %}
            <i class="fa fa-ban text-info"></i>
            {% elif work.status == 'error' %}
            <i class="fa fa-exclamation-triangle text-danger"></i>
            {% endif %}
          </td>
          <td>
            {{ work.row }}
          </td>
          <td>
            {% if work.status == 'success' %}
            <a href="{% url 'work' frbr_uri=work.work.frbr_uri %}">{{ work.work.title }}</a>
            {% elif work.status == 'duplicate' %}
            A work with this FRBR URI already exists
            {% elif work.status == 'error' %}
            {{ work.error_message }}
            {% endif %}
          </td>
          <td>
            {% if work.status == 'error' %}
            —
            {% else %}
            <a href="{% url 'work' frbr_uri=work.work.frbr_uri %}">{{ work.work.frbr_uri }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="card">
      <div class="card-body">

        <div class="form-group">
          {{ form.country }}
          {% for err in form.country.errors %}
            <div class="form-text text-danger">{{ err }}</div>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="{{ form.spreadsheet_url.id_for_label }}">URL of the Google Sheet to import works from:
          </label>
          <input type="url" class="form-control" id="{{ form.spreadsheet_url.id_for_label }}" name="{{ form.spreadsheet_url.name }}" placeholder="Enter Google Sheets URL" required autofocus value="{{ form.spreadsheet_url.value|default:'' }}">
          </p>
          {% for err in form.spreadsheet_url.errors %}
            <div class="form-text text-danger">{{ err }}</div>
          {% endfor %}
        </div>

      </div>

      <div class="card-footer">
        {% if perms.indigo_api.add_work %}
          <button type="submit" class="btn btn-primary">Import works</button>
        {% else %}
          <div class="alert alert-danger">You don't have permission to create works.</div>
        {% endif %}
      </div>
    </div>

    <p></p>

    <div class="card">

      {% if not works %}
      <div class="card-body">
        Instructions:
        <ul>
          <li>Make a copy of the <a href="https://docs.google.com/spreadsheets/d/1wbhRoiyYAAC7UotE7Dy4uolAULO4wDk05OGNu2eh43I">Work info template</a>: 'File' | 'Make a copy…'</li>
          <li>Make it accessible: 'SHARE'  | 'Get shareable link' (top-right corner)</li>
          <li>Watch <a href="https://www.youtube.com/watch?v=tfNm_PtZ7JQ&index=2&list=PL7MJ_sFHs953q_23TdDhnvQWqxAkrc672">this video</a> for instructions on how to populate the spreadsheet</li>
          <li>Choose a country from the drop-down</li>
          <li>Paste the url for your spreadsheet into the box below that</li>
          <li>Click on 'Import works'!</li>
        </ul>
      </div>
      {% endif %}

      <div class="card-body">
       <div class="col-md-8 m-auto">
         <div class="embed-responsive embed-responsive-16by9">
           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tfNm_PtZ7JQ?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
       </div>
      </div>

    </div>

  </form>
</div>
{% endblock %}
