{% extends "indigo_api/work_layout.html" %}
{% load i18n %}

{% block title %}{% trans 'Changes' %} – {{ block.super }}{% endblock %}

{% block work-content %}
  <h4>{% trans 'Changes' %}</h4>

  {% if page.object_list %}
    <ul class="activity-list">
      {% for entry in page.object_list %}
        <li class="activity-item">
          {% if entry.revision %}
            {% include 'indigo_api/_work_diff_card.html' with version=entry current=forloop.first %}
          {% else %}
            {% include 'indigo_app/actions/_action.html' with action=entry ignore_work=True ignore_place=True %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if is_paginated %}
      <nav>
        <ul class="pagination justify-content-center">
          {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{% trans 'Previous' %}</a></li>
          {% endif %}

          {% for num in paginator.page_range %}
          <li class="page-item {% if num == page.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endfor %}

          {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{% trans 'Next' %}</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

  {% else %}
    <p class="alert alert-info">{% trans 'There are no saved previous versions of this work.' %}</p>
  {% endif %}

{% endblock %}
