{% extends "indigo_api/work_layout.html" %}
{% load i18n %}

{% block title %}{% trans 'Tasks' %} – {{block.super }}{% endblock %}

{% block work-content %}
  <div class="text-right mb-3">
    <a href="{% url 'create_task' place=place.place_code %}?frbr_uri={{ work.frbr_uri|urlencode }}" class="btn btn-success">
      {% trans 'Create task' %}
    </a>
  </div>

  <div class="card">
    {% if tasks %}
      {% include 'indigo_api/_task_cards.html' with task_groups=task_groups %}
    {% else %}
      <div class="card-body">
        <p class="text-center"><em>{% trans 'No tasks.' %}</em></p>
      </div>
    {% endif %}
  </div>
{% endblock %}
