{% load indigo_app %}

<div class="popup-content lh-compact">
  <h6>
    {{ work.title }}
    {% if work.stub %}
      <span class="badge badge-info">stub</span>
    {% endif %}
    {% if work.repealed_date %}
      <span class="badge badge-info">repealed</span>
    {% endif %} 
    {% if not work.commenced %}
      <span class="badge badge-info">not commenced</span>
    {% elif not work.commencement_date %}
      <span class="badge badge-info">commencement date unknown</span>
    {% endif %}
    <br><span class="text-muted mt-1 wb-all">{{ work.frbr_uri }}</span>
  </h6>

  {% if work.assent_date %}
    <p class="mb-2">Assented to on {{ work.assent_date|date:"Y-m-d" }}.</p>
  {% endif %}

  {% if work.publication_date or work.publication_name or work.publication_document %}
    <p class="mb-2">
      {% comment %}
      This tag weirdness is to ensure that we can put a full-stop at the end of the line without
      whitespace before it.
      {% endcomment %}

      Published
      {% if work.publication_date %}
        on {{ work.publication_date|date:"Y-m-d" }}{% endif %}{% if work.publication_document or work.publication_name %}
        in
        {% if work.publication_document %}
          <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{% publication_document_name work %}</a>.
        {% else %}
          {% publication_document_name work %}.
        {% endif %}
      {% else %}.
      {% endif %}
    </p>
  {% endif %}

  {% if work.commenced %}
    <p class="mb-2">
      Commenced on {{ work.commencement_date|date:"Y-m-d"|default:"<i>(unknown)</i>" }}{% if work.commencing_work %} by
      <a href="{% url 'work' frbr_uri=work.commencing_work.frbr_uri %}">
        {{ work.commencing_work.title }}</a>{% endif %}.
      {% if work.commencements|length > 1 %}
        This work has <a href="{% url 'work_commencements' frbr_uri=work.frbr_uri %}">multiple commencements</a>.
      {% endif %}
    </p>
  {% endif %}

  {% if work.repealed_date %}
    <p class="mb-2">Repealed on {{ work.repealed_date|date:"Y-m-d" }}{% if work.repealed_by %} by
      <a href="{% url 'work' frbr_uri=work.repealed_by.frbr_uri %}">{{ work.repealed_by.title }}</a>{% endif %}.
    </p>
  {% endif %}

  {% if work.parent_work %}
    <p class="mb-2">Primary work:
      <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
    </p>
  {% endif %}
</div>
