{% extends "place/tabbed_layout.html" %}
{% load activity_tags %}
{% load humanize indigo_app %}

{% block title %}{{ workflow.title }} {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="float-right">
    {% if not workflow.closed %}
      <button class="btn btn-success mr-2" data-toggle="modal" data-target="#workflow-add-tasks-modal">Add tasks</button>
    {% endif %}
    <a href="{% url 'workflow_edit' place=place.place_code pk=workflow.pk %}" class="btn btn-primary">Edit workflow</a>
  </div>

  <div class="d-flex mb-3">
    <div class="mr-3 text-center">
      <i class="fas fa-fw fa-tasks workflow-badge {% if workflow.closed %}workflow-closed{% endif %}"></i><br>
      <span class="text-muted">#{{ workflow.pk }}</span>
    </div>

    <div class="flex-fill">
      <h5>{{ workflow.title }}</h5>

      {% if workflow.priority or workflow.due_date %}
        <div class="text-muted">
          {% if workflow.priority %}
            <span class="mr-3 text-warning"><i class="fas fa-exclamation-circle"></i> Priority</span>
          {% endif %}
          {% if workflow.due_date %}
            Due {{ workflow.due_date|date:"Y-m-d" }}
            {% if workflow.overdue %}
              <i class="ml-3 fas fa-exclamation-triangle"></i> Overdue
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body border-bottom">

      <div class="row">
        <div class="col-7">
          {% if workflow.description %}
            {{ workflow.description|urlize|linebreaksbr }}
          {% endif %}
        </div>
        {% if workflow.n_tasks %}
          <div class="col-5">
            <div class="row mt-2">
              <div class="col-8">
                <div class="progress bg-light">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ workflow.pct_done }}%"></div>
                </div>
              </div>
              <div class="col text-muted">{{ workflow.n_done }} of {{ workflow.n_tasks }} task{{ workflow.n_tasks|pluralize }}</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="card-header p-sticky-0">
      {% include 'indigo_api/_task_filter_form.html' with form=form formats=False status=False %}
      {% include 'indigo_api/_task_bulk_update_form.html' %}
    </div>

    {% if has_tasks %}
      {% if tasks %}
        {% include 'indigo_api/_task_cards.html' with task_groups=task_groups workflow_controls=True selectable=True %}
      {% else %}
        <div class="card-body text-center">
          <p>No tasks match your filters.</p>
        </div>
      {% endif %}
    {% elif workflow.closed %}
      <div class="card-body text-center">
        <p>This workflow is closed; reopen it to add tasks.</p>
      </div>
    {% else %}
      <div class="card-body text-center">
        <p>Add some tasks to this workflow to get going.</p>
        <button class="btn btn-success" data-toggle="modal" data-target="#workflow-add-tasks-modal">Add tasks</button>
      </div>
    {% endif %}
  </div>

  {% include 'indigo_app/actions/_activity_list.html' with actions=activity_stream this_workflow=True ignore_place=True reverse_order=True %}

  {% if may_close and perms.indigo_api.close_workflow %}
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-success mt-2" formaction="{% url 'workflow_close' place=place.place_code pk=workflow.pk %}" data-confirm="Are you sure you want to close this workflow?">Close workflow</button>
    </form>
  {% elif may_reopen and perms.indigo_api.close_workflow %}
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary mt-2" formaction="{% url 'workflow_reopen' place=place.place_code pk=workflow.pk %}" data-confirm="Are you sure you want to reopen this workflow?">Reopen workflow</button>
    </form>
  {% endif %}
</div>

<div class="modal" tabindex="-1" role="dialog" id="workflow-add-tasks-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose tasks to add to this workflow</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="{% url 'workflow_add_tasks' place=place.place_code pk=workflow.pk %}" method="POST" id="workflow-add-tasks-form">
        {% csrf_token %}

        <div class="scrollable">
          {% include 'indigo_api/_task_list.html' with tasks=possible_tasks selectable=True form_id="workflow-add-tasks-form" %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary workflow-add-tasks-save">Add tasks</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
