{% extends "indigo_api/work_layout.html" %}
{% load indigo indigo_app humanize i18n %}

{% block work-content %}

  <div class="float-right">
    {% block work-buttons %}
      {% if perms.indigo_api.change_work or not work and perms.indigo_api.add_work %}
        <a class="btn btn-success" href="{% url 'create_task' place=place.place_code %}?frbr_uri={{ work.frbr_uri|urlencode }}">{% trans 'Create task' %}</a>
        <a class="btn btn-primary" href="{% url 'work_edit' frbr_uri=work.frbr_uri %}">{% trans 'Edit work' %}</a>
      {% endif %}
    {% endblock %}
  </div>

  <h3>
    {{ work.title }}
    {% if work.stub %}<span class="badge badge-info">{% trans 'stub' %}</span>{% endif %}
    {% if work.repealed_date %} <span class="badge badge-info">{% trans 'repealed' %}</span> {% endif %}
    {% if not work.commenced %} <span class="badge badge-info">{% trans 'not commenced' %}</span>
    {% elif not work.commencement_date %} <span class="badge badge-info">{% trans 'commencement date unknown' %}</span>
    {% endif %}
  </h3>
  <h4 class="text-muted">{{ work.frbr_uri }}</h4>

  {% block country %}
  <div class="mb-3">
    <div class="float-right">
      {% if work.updated_by_user %}
        {% user_profile work.updated_by_user %}
      {% endif %}
      {% trans 'updated' %}
      {{ work.updated_at|naturaltime }}
      ·
      <a href="{% url 'work_versions' frbr_uri=work.frbr_uri %}">{% trans 'recent changes' %}</a>
    </div>
    <div>
      {{ country.name }} · {{ country.code }}
      {% if work.locality %} — {{ work.locality.name }} · {{ work.locality.code }}{% endif %}
    </div>
  </div>
  {% endblock %}

  <div class="row mt-4">
    <div class="col-9">
      {% block primary-info %}
        <div class="card">
          <div class="card-body">

            {% block primary-info-detail %}
              <div class="row">
                <div class="col-sm-6">
                  <dl class="mb-0">
                    <dt>{% trans 'Promulgation' %}</dt>
                    <dd>
                      {% publication_document_description work internal=True as publication_document_description %}
                      {% if publication_document_description %}
                        {{ publication_document_description }}
                      {% else %}
                        <i>{% trans '(unknown)' %}</i>
                      {% endif %}
                      {% if work.publication_document %}
                        <div>
                          <i class="fas fa-file text-muted"></i> <a href="{% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename %}" target="_blank" rel="noopener">{{ work.publication_document.filename }}</a> <span class="text-muted">({{ work.publication_document.size|filesizeformat }})</span>
                        </div>
                      {% endif %}
                    </dd>

                    <dt>{% trans 'Commencement' %}</dt>
                    <dd>
                      {% with work.commencement_description_internal as commencement_description %}
                        {% if commencement_description.subtype == 'multiple' %}
                          <a href={% url 'work_commencements' frbr_uri=work.frbr_uri %}>
                            {{ commencement_description.description }}
                          </a>
                        {% else %}
                          {{ commencement_description.description }}
                          {% if commencement_description.by_work %}
                            <a href="{% url 'work' frbr_uri=commencement_description.by_frbr_uri %}"
                               data-popup-url="{% url 'work_popup' frbr_uri=commencement_description.by_frbr_uri %}">
                              {{ commencement_description.by_title }}
                            </a>
                          {% endif %}
                          {% if commencement_description.note %}
                            <p>{{ commencement_description.note }}</p>
                          {% endif %}
                        {% endif %}
                      {% endwith %}
                    </dd>

                    <dt>{% trans 'Up to date as at' %}</dt>
                    <dd>
                      {{ work.as_at_date|date:'Y-m-d' }}
                      {% if work.as_at_date_override %}
                        <span class="text-muted" title="{% trans 'Set explicitly on this work' %}">
                          <i class="fa fa-info-circle"></i> {% trans 'Overridden' %}
                        </span>
                      {% endif %}
                    </dd>

                    {% with work.taxonomy_topics.all as topics %}
                      {% if topics %}
                        <dt>{% trans 'Taxonomies' %}</dt>
                        <dd>
                          {% for topic in topics %}
                            <div>
                              {% for item in topic.get_ancestors %}
                                <a href="{% url 'place_works' place=place.place_code %}?taxonomy_topic={{ item.slug }}">{{ item }}</a> &rsaquo;
                              {% endfor %}
                              <a href="{% url 'place_works' place=place.place_code %}?taxonomy_topic={{ topic.slug }}">{{ topic }}</a>
                            </div>
                          {% endfor %}
                        </dd>
                      {% endif %}
                    {% endwith %}
                  </dl>
                </div>

                <div class="col-sm-6">
                  <dl class="mb-0">
                    <dt>{% trans 'Assent' %}</dt>
                    <dd>
                      {% if work.assent_date %}
                        {% trans 'Assented to on' %} {{ work.assent_date|date:"Y-m-d" }}
                      {% else %}
                        <i>{% trans '(unknown)' %}</i>
                      {% endif %}
                    </dd>

                    <dt>{% trans 'Repeal' %}</dt>
                    <dd>
                      {% if work.repealed_date %}
                        {% trans 'Repealed on' %} {{ work.repealed_date|date:"Y-m-d" }}
                        {% if work.repealed_by %}
                          {% trans 'by' %} <a href="{% url 'work' frbr_uri=work.repealed_by.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.repealed_by.frbr_uri %}">{{ work.repealed_by.title }}</a>
                        {% endif %}
                      {% else %}
                        <i>{% trans '(not repealed)' %}</i>
                      {% endif %}
                    </dd>

                    {% if work.principal %}
                      <dt>{% trans 'Principal work' %}</dt>
                      <dd>{% trans 'Principal works are not simply repeals, amendments or commencements, and should have full text content.' %}</dd>
                    {% endif %}

                    {% if work.parent_work %}
                      <dt>{% trans 'Primary work' %}</dt>
                      <dd>
                        <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
                      </dd>
                    {% endif %}

                    {% with work.child_works.all as kids %}
                      {% if kids|length > 0 %}
                        <dt>{% trans 'Subsidiary works' %}</dt>
                        <dd>
                          {% if kids|length > 3 %}
                            <a href="{% url 'work_related' frbr_uri=work.frbr_uri %}#parent_kids">{{ kids|length }} subsidiary work{{ kids|length|pluralize }}</a>
                          {% else %}
                            <ul class="list-unstyled">
                            {% for kid in kids %}
                              <li><a href="{% url 'work' frbr_uri=kid.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=kid.frbr_uri %}">{{ kid.title }}</a></li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        </dd>
                      {% endif %}
                    {% endwith %}

                    {% if work.consolidation_note %}
                      <dt>
                        {% trans 'Consolidation note' %}
                        {% if work.consolidation_note_override %}
                          <span class="text-muted" title="{% trans 'Set explicitly on this work' %}">
                            <i class="fa fa-info-circle"></i> {% trans 'Overridden' %}
                          </span>
                        {% endif %}
                      </dt>
                      <dd>
                        {{ work.consolidation_note }}
                      </dd>
                    {% endif %}

                    {% if work.disclaimer %}
                      <dt>
                        {% trans 'Disclaimer' %}
                      </dt>
                      <dd>
                        {{ work.disclaimer }}
                      </dd>
                    {% endif %}
                  </dl>
                </div>
              </div>

              {% if work.properties %}
                <div class="row">
                  {% for prop in work.labeled_properties %}
                    <dl class="col-sm-6 mb-0">
                      <dt>{{ prop.label }}</dt>
                      <dd>{{ prop.value }}</dd>
                    </dl>
                  {% endfor %}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>

    <div class="col-3">
      {% block secondary-info %}
        <h6>{% trans 'Core Details' %}</h6>

        <div class="d-flex mb-2">
          <div>
            {% include 'indigo_metrics/_progress_ball.html' with size=70 progress=work.metrics.p_breadth_complete %}
          </div>
          <div class="ml-2 mt-2">
            <h3 class="mb-0">{{ work.metrics.p_breadth_complete|floatformat:0 }}%</h3>
            {% trans 'Complete' %}
          </div>
        </div>

        {% if work.metrics.p_complete < 100 %}
          <ul class="mb-0 mt-3 pl-4">
            {% if not work.publication_document %}
              <li>{% trans 'Add a publication document.' %}</li>
            {% endif %}
            {% if not work.stub and work.metrics.n_expressions == 0 %}
              <li>{% trans 'Publish at least one point in time.' %}</li>
            {% endif %}
          </ul>
        {% endif %}
      {% endblock %}
    </div>
  </div>

  {% block points_in_time %}
  <div class="row mb-3 mt-5">
    <div class="col text-right">
      <a href="{% url 'work_amendments' frbr_uri=work.frbr_uri %}" class="btn btn-primary">{% trans 'Manage points in time' %}</a>
    </div>
  </div>

  {% if work.stub and work.document_set.undeleted.exists %}
    <p class="alert alert-warning">
      <i class="fas fa-exclamation-triangle text-warning"></i>
      {% trans "Stub works should not have points in time. Either remove these points in time or don't mark this work as a stub." %}
    </p>
  {% endif %}

  {% include 'indigo_api/timeline/_work_points_in_time.html' with work=work editable=False %}
  {% endblock %}

  {% block active_tasks %}
  <div class="h4 mb-3 mt-5">Open tasks</div>
  <div class="card">
    {% include 'indigo_api/_task_list.html' with tasks=active_tasks place=None hide_works=True %}
  </div>
  {% endblock %}

  {% block contributors %}
    {% if contributors %}
      <div class="row">
        <div class="col-sm-6">
          <div class="h4 mb-3 mt-5">Contributors</div>
          <div class="card">
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                {% for user in contributors %}
                  <li>
                    <span class="float-right">
                      {% blocktrans trimmed count count=user.task_count %}
                        {{ user.task_count }} task
                      {% plural %}
                        {{ user.task_count }} tasks
                      {% endblocktrans %}
                    </span>
                    {% user_profile user %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

{% endblock %}
