{% extends "indigo_api/work_layout.html" %}

{% block view-id %}work-commencements-view{% endblock %}
{% block title %}Commencements – {{ block.super }}{% endblock %}

{% block work-content %}
  <h4>Commencements</h4>

  {% if work.commenced and not work.commencement_date %}
    <p class="alert alert-warning">This work has commenced, but the commencement date is unknown.</p>
  {% endif %}

  {% if not work.commenced %}
    <p class="alert alert-info">This work has not commenced.</p>
  {% endif %}

  {% if uncommenced_provisions %}
    <p class="alert alert-warning">This work has {{ uncommenced_provisions|length }} <a href="#uncommenced">uncommenced provision{{ uncommenced_provisions|length|pluralize }}</a>.</p>
  {% endif %}

  {% if everything_commenced %}
    <p>All provisions have commenced, no additional commencement events are required.</p>
  {% endif %}

  <ol class="timeline">
    {% if perms.indigo_api.add_commencement and not everything_commenced %}
      <li class="timeline-item card">
        <div class="card-body">
          {% block new-commencement-card %}
            <div class="btn-group">
              <button class="btn btn-primary add-commencement"><i class="fas fa-plus"></i> Add commencement</button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <button class="dropdown-item" type="submit" form="new-commencement-form">Add without a commencing work</button>
              </div>
            </div>
            <form action="{% url 'new_work_commencement' frbr_uri=work.frbr_uri %}" method="POST" id="new-commencement-form">
              {% csrf_token %}
              <input type="hidden" name="commencing_work" value="">
              <input type="hidden" name="date" value="">
            </form>
          {% endblock %}
        </div>
      </li>
    {% endif %}

    {% for commencement in commencements %}
      <li class="timeline-item card">
        <h6 class="timeline-date">{% if commencement.date %}{{ commencement.date|date:"Y-m-d" }}{% else %}<em>Unknown</em>{% endif %}</h6>
        <div class="card-body">
          <form action="{% url 'work_commencement_detail' frbr_uri=work.frbr_uri commencement_id=commencement.id %}" class="commencement-form" method="POST" id="commencement-{{ commencement.id|default:'initial' }}">
            {% csrf_token %}

            <div class="float-right">
              {% if perms.indigo_api.delete_commencement %}
                <button class="btn btn-link text-danger mr-2" type="submit" name="delete" data-confirm="Really delete this commencement?">Delete</button>
              {% endif %}
              {% if perms.indigo_api.change_commencement %}
                <a href=".commencement-form-{{ commencement.id }}" class="btn btn-outline-primary" data-toggle="collapse">Edit</a>
              {% endif %}
            </div>

            <div class="mb-3">
              <h6>
                Commenced
                {% if not commencement.all_provisions %} in part{% endif %}
                {% if commencement.commencing_work %}
                  by <a href="{% url 'work' frbr_uri=commencement.commencing_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=commencement.commencing_work.frbr_uri %}">{{ commencement.commencing_work.title }}</a>
                {% endif %}
              </h6>
              {% if commencement.commencing_work %}
                <div class="text-muted">{{ commencement.commencing_work.frbr_uri }}</div>
              {% endif %}
            </div>

            <div class="commencement-details collapse show">
              {% if commencement.note %}<h6>Note: {{ commencement.note }}</h6>{% endif %}
              {% if commencement.main %}<h6>Main commencement</h6>{% endif %}
              <h6>
                {% if commencement.all_provisions %}Commences all provisions{% endif %}
                {% if commencement.provisions %}
                  Commences {{ commencement.provisions|length }} of {{ provisions|length }} provision{{ provisions|length|pluralize }}:
                {% endif %}
              </h6>

              {% if commencement.provisions %}
                <ul class="list-unstyled">
                  {% for prov in commencement.provision_items %}
                    <li>{{ prov.title|default:prov }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div class="mb-3 collapse commencement-form commencement-form-{{ commencement.id }}">
              <div class="form-row form-group">
                <div class="col-md-4 col-lg-3">
                  <input type="text" class="form-control commencement-date mr-2" data-provide="datepicker" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" name="date" value="{{ commencement.date|date:"Y-m-d" }}" autocomplete="off">
                </div>
              </div>

              <div class="form-row form-group">
                <div class="col-md-6 col-lg-4">
                  <input type="text" class="form-control commencement-note mr-2" placeholder="See section 1 (of the commencing work)." name="note" value="{{ commencement.note|default:'' }}" autocomplete="off">
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="commencement-{{ commencement.id }}-main"
                         value="true" name="main"
                         {% if commencement.main %}checked{% endif %}
                         {% if has_main_commencement and not commencement.main %}disabled{% endif %}>
                  <label class="form-check-label" for="commencement-{{ commencement.id }}-main">Main commencement</label>
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input all-provisions" type="checkbox" id="commencement-{{ commencement.id }}-all-provisions"
                         value="true" name="all_provisions"
                         {% if commencement.all_provisions %}checked{% endif %}
                         {% if commencements|length > 1 and not commencement.all_provisions %}disabled{% endif %}>
                  <label class="form-check-label" for="commencement-{{ commencement.id }}-all-provisions">Commences all provisions</label>
                </div>
              </div>

              <div class="form-group provisions-commenced {% if commencement.all_provisions %}d-none{% endif %}">
                <label>Provisions commenced:</label>
                <small class="form-text text-muted">Use SHIFT and Ctrl (or ⌘) to select multiple items.</small>
                <select name="provisions" class="form-control" multiple size="{% if provisions|length > 20 %}20{% else %}10{% endif %}">
                  {% for prov in commencement.possible_provisions %}
                    <option value="{{ prov.id }}" {% if prov.id in commencement.provisions %}selected{% endif %}>{{ prov.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-right commencement-form-{{ commencement.id }} collapse">
          <button class="btn btn-link" type="reset" form="commencement-{{ commencement.id }}" data-toggle="collapse" data-target=".commencement-form-{{ commencement.id }}">Cancel</button>
          <button class="btn btn-success" type="submit" form="commencement-{{ commencement.id }}">Save</button>
        </div>
      </li>
    {% endfor %}
  </ol>

  {% if uncommenced_provisions %}
    <div class="card mt-5">
      <h5 id="uncommenced" class="card-header">Uncommenced provisions <span class="badge badge-warning">{{ uncommenced_provisions|length }}</span></h5>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          {% for prov in uncommenced_provisions %}
            <li>{{ prov.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if work.commencements.count and perms.indigo_api.delete_commencement %}
    <form method="post" class="mt-5" action="{% url 'work_uncommenced' frbr_uri=work.frbr_uri %}">
      {% csrf_token %}
      <h5>Not yet commenced?</h5>
      <p>Remove all commencement detail and mark as not commenced.</p>
      <button type="submit" class="btn btn-danger" data-confirm="Are you sure?" name="delete">This work has not commenced</button>
    </form>
  {% endif %}
{% endblock %}


