{% load indigo i18n %}

<div class="popup-content lh-compact">
  <h6>
    {{ work.title }}
    {% if work.stub %}
      <span class="badge badge-info">{% trans 'stub' %}</span>
    {% endif %}
    {% if work.repealed_date %}
      <span class="badge badge-info">{% trans 'repealed' %}</span>
    {% endif %} 
    {% if not work.commenced %}
      <span class="badge badge-info">{% trans 'not commenced' %}</span>
    {% elif not work.commencement_date %}
      <span class="badge badge-info">{% trans 'commencement date unknown' %}</span>
    {% endif %}
    <br><span class="text-muted mt-1 wb-all">{{ work.frbr_uri }}</span>
  </h6>

  {% if work.numbered_title %}
    <p class="mb-2">{{ work.numbered_title }}</p>
  {% endif %}

  {% if work.assent_date %}
    <p class="mb-2">{% blocktrans with date=work.assent_date|date:"Y-m-d" %}Assented to on {{ date }}{% endblocktrans %}.</p>
  {% endif %}

  {% publication_document_description work placeholder=work.publication_document internal=True as publication_document_description %}
  {% if publication_document_description %}
    <p class="mb-2">
      {% if work.publication_document %}
        {% url 'work_publication_document' frbr_uri=work.frbr_uri filename=work.publication_document.filename as url %}
        <a href="{{ url }}" target="_blank" rel="noopener">{{ publication_document_description }}.</a>
      {% else %}
        {{ publication_document_description }}.
      {% endif %}
    </p>
  {% endif %}

  <p class="mb-2">
    {% with work.commencement_description_internal as commencement_description %}
      {% if commencement_description.type == 'multiple' %}
        {% url 'work_commencements' frbr_uri=work.frbr_uri as commencements_url %}
        <a href="{{ commencements_url }}">{{ commencement_description.description }}.</a>
      {% else %}
        {% if commencement_description.commencing_work_description %}
          {{ commencement_description.description }}
          {% url 'work' frbr_uri=commencement_description.commencing_work_description.commencing_work.frbr_uri as commencing_url %}
          <a href="{{ commencing_url }}" target="_blank">{{ commencement_description.commencing_work_description.commencing_title }}</a>.
        {% else %}
          {{ commencement_description.description }}.
        {% endif %}
      {% endif %}
    {% endwith %}
  </p>

  {% if work.repealed_date %}
    <p class="mb-2">
      {% if work.repealed_by %}
        {% url 'work' frbr_uri=work.repealed_by.frbr_uri as url %}
        {% blocktrans trimmed with date=work.repealed_date|date:"Y-m-d" title=work.repealed_by.title %}
          Repealed on {{ date }} by <a href="{{ url }}">{{ title }}</a>.
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with date=work.repealed_date|date:"Y-m-d" %}
          Repealed on {{ date }}.
        {% endblocktrans %}
      {% endif %}
    </p>
  {% endif %}

  {% if work.parent_work %}
    <p class="mb-2">
      {% trans 'Primary work' %}:
      <a href="{% url 'work' frbr_uri=work.parent_work.frbr_uri %}">{{ work.parent_work.title }}</a>
    </p>
  {% endif %}
</div>
