{% load i18n sass_tags %}

{% language document.django_language %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head-css %}
    <link rel="stylesheet" href="{% sass_src 'stylesheets/export.scss' %}">
    {% endblock %}

    {% block head-meta %}{% endblock %}
  </head>
  <body {% block body-attributes %}{% endblock %} class="{% block body-class %}{% endblock %}">
    {% block content %}
    {% endblock content %}
  </body>
</html>

{% endlanguage %}
