<div>
  <div class="row">
    <div class="col-2">
      <div class="card">
        <h5 class="card-header">Filters</h5>
        <div class="list-group">
          <div class="list-group-item">
            <h6>Primary / subsidiary</h6>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="primary_subsidiary" value="b" unicorn:model="primary_subsidiary">
                Both
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="primary_subsidiary" value="p" unicorn:model="primary_subsidiary">
                Primary
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="primary_subsidiary" value="s" unicorn:model="primary_subsidiary">
                Subsidiary
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <input unicorn:model="q" type="text" class="form-control" placeholder="Filter titles">
            </div>
            <div class="col">
              <select class="form-control" unicorn:model="order">
                <option value="title" selected>Title</option>
                <option value="frbr_uri">FRBR URI</option>
              </select>
            </div>
          </div>
        </div>
          {% if page %}
            <div class="card-body">
              {% if selected %}
                <div class="flex-grow-1">
                  <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-secondary">Edit {{ selected|length }} selected</button>
                </div>
              {% else %}
                <div class="text-muted me-3">
                  {{ page.start_index }}-{{ page.end_index }} of {{ paginator.count }} works
                </div>
              {% endif %}
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" u:change="toggle_all" {% if all_selected %}checked{% endif %}>
                    Title
                  </th>
                  <th>FRBR URI</th>
                </tr>
              </thead>
              {% for work in page %}
                <tr>
                  <td>
                    <label>
                      <input type="checkbox" u:change="toggle({{ work.pk }})"
                             {% if work.pk in selected %}checked{% endif %}>
                      {{ work.title }}
                    </label>
                  </td>
                  <td>{{ work.frbr_uri }}</td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <div class="card-body">
              No works found.
            </div>
          {% endif %}
      </div>

      <ul class="pagination mt-3">
        {% for num in paginator.page_range %}
          <li class="page-item {% if num == page.number %}active{% endif %}"><a class="page-link" href="#" unicorn:click.prevent="page = {{ num }}">{{ num }}</a></li>
        {% endfor %}
      </ul>


      <div class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit works</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form method="post" id="bulkChangeForm">
                <div class="form-group">
                  <label>A field</label>
                  <input type="text" class="form-control" placeholder="Enter new value">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="bulkChangeForm">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
