<div>
  <div class="row">
    <div class="col-2">
      <div class="card">
        <h5 class="card-header">Filters</h5>
        <div class="card-body">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="primary_subsidiary" value="" unicorn:model="primary_subsidiary">
              Both
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="primary_subsidiary" value="p" unicorn:model="primary_subsidiary">
              Primary
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="primary_subsidiary" value="s" unicorn:model="primary_subsidiary">
              Subsidiary
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <input unicorn:model="q" type="text" class="form-control" placeholder="Filter titles">
        </div>
        <div class="card-body">
          {% if page %}
            <div>
              {{ page.start_index }}-{{ page.end_index }} of {{ paginator.count }} works
            </div>
            <table class="table table-condensed">
              {% for work in page %}
                <tr>
                  <td>{{ work.title }}</td>
                  <td>{{ work.frbr_uri }}</td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            No works found.
          {% endif %}
        </div>
      </div>

      <ul class="pagination mt-3">
        {% for num in paginator.page_range %}
          <li class="page-item {% if num == page.number %}active{% endif %}"><a class="page-link" href="#" unicorn:click.prevent="page = {{ num }}">{{ num }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
