<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="{{ size }}" height="{{ size }}">
  <linearGradient id="lg" x1="0.5" y1="1" x2="0.5" y2="0">
    <stop offset="0%" stop-opacity="1" stop-color="#439f78"></stop>
    <stop offset="{{ progress|floatformat:0 }}%" stop-opacity="1" stop-color="#439f78"></stop>
    <stop offset="{{ progress|floatformat:0 }}%" stop-opacity="1" stop-color="white"></stop>
    <stop offset="100%" stop-opacity="1" stop-color="white"></stop>
  </linearGradient>
  <circle cx="50" cy="50" r="45" stroke="#c8ced3" stroke-width="5"></circle>
  <circle cx="50" cy="50" r="42" fill="url(#lg)" stroke="white" stroke-width="3"></circle>
</svg>
