<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="{{ size }}" height="{{ size }}" {% if title %}title="{{ title }}"{% endif %}>
  {# this id must be unique as it spans embedded SVGs #}
  <linearGradient id="progress-ball-lg-{{ progress|floatformat:0 }}" x1="0.5" y1="1" x2="0.5" y2="0">
    <stop offset="0%" stop-opacity="1" stop-color="#439f78"></stop>
    <stop offset="{{ progress|floatformat:0 }}%" stop-opacity="1" stop-color="#439f78"></stop>
    <stop offset="{{ progress|floatformat:0 }}%" stop-opacity="1" stop-color="white"></stop>
    <stop offset="100%" stop-opacity="1" stop-color="white"></stop>
  </linearGradient>
  <circle cx="50" cy="50" r="45" stroke="#c8ced3" stroke-width="5"></circle>
  <circle cx="50" cy="50" r="42" fill="url(#progress-ball-lg-{{ progress|floatformat:0 }})" stroke="white" stroke-width="3"></circle>
</svg>
