@import 'lib/indigo-web/scss/indigo-web';

body.standalone {
  margin: 2em;
}

body.pdf {
  font-family: $akn-font-family;
  font-size: 12pt;
  color: black;
  width: 200mm;

  .document,
  .akn-doc {
    page-break-before: always;
  }

  .akn-chapter {
    page-break-inside: avoid;
  }
  la-akoma-ntoso,
  .akoma-ntoso {
    h1, h2, h3, h4, h5, .akn-heading {
      page-break-after: avoid;
      font-weight: bold;
    }
  }
}

@media print {
  .document,
  .akn-doc {
    page-break-before: always;
  }

  .akoma-ntoso,
  la-akoma-ntoso
  {
    h1, h2, h3, h4, h5, .akn-heading {
      page-break-after: avoid;
      font-weight: bold;
    }
  }
}

// TOC and nav for ebpub
.toc,
nav#id {
  h2 {
    font-size: 24px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  ol {
    margin-bottom: 1em;
    padding-left: 0em;
  }

  ol ol {
    padding-left: 1em;
  }

  li {
    list-style: none;
    margin-left: 0px;
  }

  margin-bottom: 5em;
}
