/* akoma ntoso styling */

.akn-akomaNtoso, .akn-act, .akn-coverPage, .akn-preface, .akn-preamble, .akn-conclusions, .akn-chapter, .akn-part, .akn-section, .akn-subsection, .akn-blockList {
  display: block;
}

.coverpage {
  text-align: center;
  margin-bottom: 2em;

  .amendment-list {
    margin-top: 2em;
    padding: 0px;
  }

  .amendment {
    list-style: none;
    margin-bottom: 1em;
    font-style: italic;
  }

  .assent-date,
  .commencement-date {
    margin-bottom: 1em;
    font-weight: bold;
  }
}

h1 {
  margin-top: 0px;
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 28px;
}

h2, .akn-heading {
  display: block;
  margin-top: 0px;
  margin-bottom: 1em;

  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 20px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 1em;
  font-size: 14px;
}

.akn-subheading {
  text-align: center;
  font-style: italic;
  display: block;
}

.akn-def {
  font-weight: bold;
}

.akn-preface,
.akn-preamble {
  margin-bottom: 2em;

  .akn-p {
    display: block;
    margin-bottom: 1em;
  }
}

.akn-chapter, .akn-part {
  margin-bottom: 4em;
}

.akn-section {
  margin-bottom: 2em;
}

.akn-subsection { 
  margin-left: 3em;
  margin-bottom: 1em;

  &> .akn-num {
    display: block;
    float: left;
    margin-left: -3em;
  }
}

.akn-content {
  > .akn-p {
    display: block;
    margin-bottom: 1em;
  }
}

/* lists (mostly used in definitions) */
.akn-list {
  &> .akn-intro {
    display: block;
    margin-bottom: 1em;
  }

  &> .akn-point {
    display: block;
    margin-left: 3em;
    margin-bottom: 1em;

    > .akn-num {
      display: block;
      float: left;
      margin-left: -3em;
    }
  }
}

/* blocklists */
.akn-blockList {
  .akn-listIntroduction {
    display: block;
    margin-bottom: 1em;
  }

  &> .akn-item {
    display: block;
    margin-left: 3em;
    margin-bottom: 1em;

    > .akn-num {
      display: block;
      float: left;
      margin-left: -3em;
    }
  }
}

/* schedules */

table {
  width: 100%;
  margin-bottom: 2em;
  border: 1px solid #ddd;

  // Cells
  th,
  td {
    border-left: 1px solid #ddd;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  th {
    font-weight: bold;
  }

  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }

  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid #ddd;
  }

  // Nesting
  .table {
    background-color: white;
  }
}

/* inline remarks */
.akn-remark {
  font-style: italic;
}
