/* akoma ntoso styling */

.akoma-ntoso {
  $line-height: 1.35;       /* see http://practicaltypography.com/line-spacing.html */
  $para-spacing: 0.8em;     /* see http://practicaltypography.com/space-between-paragraphs.html */
  $para-indent: 3em;
  $section-spacing: 1.6em;  /* generally 2 * $para-spacing */

  /* typography */
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; /* http://www.cssfontstack.com/Palatino */
  font-size: 14px;
  line-height: $line-height;
  text-align: justify;

  /* headings */

  h1,
  h2,
  h3,
  h4,
  h5,
  .akn-heading {
    margin-top: 0px;
    margin-bottom: $para-spacing;
    line-height: 1.2;

    font-weight: bold;
  }

  h1 {
    font-size: 24px;
  }

  h2,
  .akn-heading {
    text-align: center;
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .akn-subheading {
    text-align: center;
    font-style: italic;
  }

  /* block containers */
  .akn-akomaNtoso,
  .akn-act,
  .akn-coverPage,
  .akn-preface,
  .akn-preamble,
  .akn-conclusions,
  .akn-chapter,
  .akn-part,
  .akn-section,
  .akn-subsection,
  .akn-blockList,
  .akn-heading,
  .akn-subheading {
    display: block;
  }

  .akn-preface,
  .akn-preamble {
    margin-bottom: $section-spacing;

    .akn-p {
      display: block;
      margin-bottom: $para-spacing;
    }
  }

  .akn-chapter,
  .akn-part {
    margin-bottom: $section-spacing;
  }

  .akn-section {
    margin-bottom: $section-spacing;
  }

  .akn-subsection { 
    margin-left: $para-indent;
    margin-bottom: $para-spacing;

    &> .akn-num {
      display: block;
      float: left;
      margin-left: -$para-indent;
    }
  }

  .akn-content {
    > .akn-p {
      display: block;
      margin-bottom: $para-spacing;
    }
  }

  /* lists (mostly used in definitions) */
  .akn-list {
    &> .akn-intro {
      display: block;
      margin-bottom: $para-spacing;
    }

    &> .akn-point {
      display: block;
      margin-left: $para-indent;
      margin-bottom: $para-spacing;

      > .akn-num {
        display: block;
        float: left;
        margin-left: -$para-indent;
      }
    }
  }

  /* blocklists */
  .akn-blockList {
    .akn-listIntroduction {
      display: block;
      margin-bottom: $para-spacing;
    }

    &> .akn-item {
      display: block;
      margin-left: $para-indent;
      margin-bottom: $para-spacing;

      > .akn-num {
        display: block;
        float: left;
        margin-left: -$para-indent;
      }
    }
  }

  /* schedules */

  table {
    width: 100%;
    margin-bottom: $section-spacing;
    border: 1px solid #ddd;

    // Cells
    th,
    td {
      border-left: 1px solid #ddd;
      padding: 8px;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    th {
      font-weight: bold;
    }

    // Bottom align for column headings
    thead th {
      vertical-align: bottom;
    }

    // Remove top border from thead by default
    caption + thead tr:first-child th,
    caption + thead tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + thead tr:first-child td,
    thead:first-child tr:first-child th,
    thead:first-child tr:first-child td {
      border-top: 0;
    }

    // Account for multiple tbody instances
    tbody + tbody {
      border-top: 2px solid #ddd;
    }

    // Nesting
    .table {
      background-color: white;
    }
  }

  /* inline elements */
  .akn-def {
    font-weight: bold;
  }

  .akn-remark {
    font-style: italic;
  }

  /* generated custom elements */
  .coverpage {
    text-align: center;
    margin-bottom: $section-spacing;

    .amendment-list {
      margin-top: $section-spacing;
      padding: 0px;
    }

    .amendment {
      list-style: none;
      margin-bottom: $para-spacing;
      font-style: italic;
    }

    .assent-date,
    .commencement-date {
      margin-bottom: $para-spacing;
      font-weight: bold;
    }
  }
}
