body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12pt;
}

.akoma-ntoso {
  @import 'akoma-ntoso';

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  .akn-doc {
    page-break-before: always;
  }
}
