{% extends 'base.html' %}
{% load static pipeline sass_tags %}

{% block body-class %}resolver {% if not references %}no-refs{% endif %}{% endblock %}
{% block body-attributes %}data-frbr-uri="{{ query.frbr_uri | escape }}"{% endblock %}
{% block title %}Sources for {{ query.title }}{% endblock %}

{% block head-css %}
  <link rel="stylesheet" href="{% sass_src 'stylesheets/resolver.scss' %}">
{% endblock %}

{% block page-content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <header>
        <h1>{{ query.title }}</h1>
      </header>

      {% if references %}
      <h3>Which source would you like to use for this {{ query.type }}?</h3>

      <ul class="references list-unstyled">
        {% for ref in references %}
        <li>
          <a href="{{ ref.url }}" data-authority="{{ ref.authority.name }}">
            <h4>{{ ref.authority_name }}</h4>
            <h3>{{ ref.title }}</h3>
            <h5>{{ query.title }}</h5>
          </a>
        </li>
        {% endfor %}
      </ul>

      <p class="text-muted"><em>{{ settings.INDIGO_ORGANISATION }} doesn't endorse these third-party websites.</em></p>
      {% else %}

      <h3>We couldn't find any sources for this {{ query.type }} :(</h3>
      {% endif %}

      <footer>
        <img src="{% static 'images/logo.png' %}" class="logo" title="Indigo">
        <div class="attribution">
          {{ settings.INDIGO_ORGANISATION }}<br>
          <a href="{{ settings.INDIGO_URL }}">{{ settings.INDIGO_URL }}</a>
          {% if settings.SUPPORT_EMAIL %}
          · <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>
          {% endif %}
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% javascript "resolver" %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}
