{% extends "account/base.html" %}
{% load account %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
  <h1>Reset Your Password</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

  <form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Email address</label>
      <input type="email" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" required>
      {% if form.email.errors %}
        <div class="text-danger">
          {% for error in form.email.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <button class="btn btn-primary btn-block" type="submit">Reset password</button>
  </form>
{% endblock %}
