{% extends "indigo_app/user_account/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block account-sidebar %}
  {% include 'indigo_app/user_account/_sidebar.html' with active='password' %}
{% endblock %}

{% block account-content %}
<form method="POST" action="{% url 'account_change_password' %}">
  {% csrf_token %}

  <div class="card">
    <h5 class="card-header">Change Your Password</h5>
    <div class="card-body">

      <div class="form-group">
        <label for="{{ form.oldpassword.id_for_label }}">{{ form.oldpassword.label }}</label>
        <input type="password" class="form-control" name="{{ form.oldpassword.name }}" id="{{ form.oldpassword.id_for_label }}" value="{{ form.oldpassword.value|default:'' }}" required autofocus>
        {% if form.oldpassword.errors %}
          <div class="text-danger">
            {% for error in form.oldpassword.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" value="{{ form.password1.value|default:'' }}" required>
        {% if form.password1.errors %}
          <div class="text-danger">
            {% for error in form.password1.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        <input type="password" class="form-control" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" value="{{ form.password2.value|default:'' }}" required>
        {% if form.password2.errors %}
          <div class="text-danger">
            {% for error in form.password2.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success" name="action">{% trans "Change Password" %}</button>
    </div>
  </div>
</form>
{% endblock %}
