/* akoma ntoso styles */
@import 'lib/indigo-web/scss/indigo-web';

/* overrides for indigo inserts into akoma-ntoso trees */
la-akoma-ntoso .ig {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #333;
  user-select: none;
}

// Position hierarchical and block AKN elements relatively,
// so that inserted indicators and annotations can be positioned relatively
la-akoma-ntoso {
  .akn-article,
  .akn-blockList,
  .akn-chapter,
  .akn-conclusions,
  .akn-coverPage,
  .akn-crossHeading,
  .akn-hcontainer,
  .akn-heading,
  .akn-item,
  .akn-paragraph,
  .akn-part,
  .akn-preamble,
  .akn-preface,
  .akn-section,
  .akn-subheading,
  .akn-subsection,
  .akn-subpart,
  .akn-p,
  table {
    position: relative;
  }
}
