/* amendments list */
.amendments-list {
  margin-top: 20px;

  .buttons {
    width: 1%;
    white-space: nowrap;
  }

  .date {
    width: 10%;
    white-space: nowrap;
  }
}

.amendment-expressions {
  position: relative;
}

.expression-timeline {
  list-style: none;
  padding-left: 0px;
  margin-left: 130px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 141px;
    top: 20px;
    bottom: 40px;
    width: 4px;
    background: $grey;
    z-index: 0;
  }

  &> li {
    position: relative;
    margin-left: 40px;
    background-color: $white;
    padding: 10px 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);

    &> h5 {
      margin-top: 0px;
      font-weight: bold;
    }

    .date {
      position: absolute;
      left: -130px;
    }

    &::before {
      right: 100%;
      border: $grey 4px solid;
      border-radius: 50%;
      content: " ";
      position: absolute;
      top: 10px;
      left: -37px;
      background-color: white;
      width: 18px;
      height: 18px;
      z-index: 1;
    }
    
    &::after {
      right: 100%;
      border: solid transparent;
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      border-right-color: $white;
      border-width: 10px;
      top: 10px;
      left: -20px;
    }

    .amendments + .document {
      margin: 10px 0px 0px 25px;
      position: relative;

      &::before {
        content: "⤷";
        position: absolute;
        top: -10px;
        left: -25px;
        font-size: 24px;
      }
    }
  }

  .amendments {
    list-style: none;
    padding-left: 0px;
  }
}
