mark {
  padding: 0px;
  background-color: #ffffd0;
}

// active marks, and overlapping active marks
mark.active,
mark.active mark {
  background-color: #ffff00;
}

.content-with-gutter .gutter {
  .annotation-thread {
    border: 1px solid $border-color;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    z-index: 100;

    a.dropdown-toggle {
      color: $grey-darker;
    }

    &.focused {
      z-index: 110;
      box-shadow: 0px 2px 6px 2px rgba(204, 204, 204, 0.5);

      .reply-container {
        display: block;
      }

    }

    &.focused,
    &:hover {
      a.dropdown-toggle {
        color: $body-color;
      }
    }

    &.closed {
      display: none;
    }
  }

  .annotation {
    background-color: $header-colour2;
    padding: 5px;

    .time-ago {
      color: $grey-darkest;
      margin-bottom: 5px;
    }

    .content {
      overflow-wrap: break-word;

      p:last-child {
        margin-bottom: 0px;
      }
    }

    & + .annotation {
      border-top: 1px solid $border-colour;
    }

    &.is-new + .reply-container {
      display: none;
    }

    &.root {
      background-color: white;
    }

    &.reply {
      .close-annotation {
        display: none;
      }
    }

    textarea {
      margin-bottom: 5px;
      padding: 5px;
      font-size: 12px;
      overflow: hidden;
      height: 2.25em;
      resize: none;
    }

    .dropdown-menu {
      min-width: 0px;
      font-size: 12px;
    }
  }

  .reply-container {
    display: none;
  }

  #new-annotation-floater {
    width: 40px;
    height: 40px;
    z-index: 120;

    border-radius: 50%;
    border: 1px solid $border-colour;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
    opacity: 0.75;

    text-align: center;
    color: $grey-darkest;
    font-size: 20px;
    padding-top: 7px;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: inherit;
    }
  }

  // hide annotations
  &.hide-annotations {
    margin-right: 0px;

    .annotation-thread,
    #new-annotation-floater {
      display: none !important;
    }
  }
}

.annotation-nav {
  position: absolute;
  top: 0px;
  right: 15px;
  width: $annotation-gutter-width - 10px;
  background-color: $body-bg-color;
  text-align: right;
  z-index: 150;
}
