/* attachments list */
.attachments-list {
  padding-left: 0px;

  &> li {
    list-style: none;
    float: left;
    width: 150px;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;

    &.selected .wrapper {
      background-color: $selection-colour;
      border-radius: 5px;
    }
  }

  &.selectable {
    li {
      cursor: pointer;
    }

    .buttons {
      display: none;
    }
  }

  .wrapper {
    padding: 5px;
  }

  .icon {
    width: 120px;
    height: 120px;
    margin: auto;
  }

  .img-thumbnail {
    max-height: 120px;
  }

  .not-image {
    .fa {
      font-size: 64px;
      margin-top: 25px;
      color: gray;
    }
  }

  .filesize {
    color: gray;
  }

  .add-attachment {
    border: 5px dashed $border-colour;

    &.incoming {
      background-color: $selection-colour;
    }

    cursor: default !important;
  }

  input[type=file] {
    display: none;
  }
}
