// Achievements/Badges
.achievement {
  margin-right: 20px;

  &-description {
    width: 70px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 10px;
  }

  &-icon {
    height: 50px;
    width: 50px;
    cursor: help;
    &:after {
      color: white;
      font-family: Sans-Serif;
      font-size: 20px;
      display: flex;
      align-content: center;
      justify-content: center;
      line-height: 50px;
    }
  }
}

// TODO: Refine some more once there is a complete list of badges that are awarded
$permission-badge-list: (
  // badge-badge.slug
  badge-drafter,
  badge-senior-drafter
);

@each $badge in $permission-badge-list {
  @if (str-index($badge, '-drafter')) {
    .badge-permission {
      background: url("/static/images/badges/permission.svg") no-repeat center;
      background-size: cover;
    }
  }
}

.badge-contributor {
  background: url("/static/images/badges/contributor.svg") no-repeat center;
  background-size: cover;
}

.badge-country {
  background: url("/static/images/badges/country.svg") no-repeat center;
  background-size: cover;
}

// Display levels on level badges
$total: 300;
@for $i from 1 through $total {
  .badge-level-#{$i} {
    &:after {
      content: '#{$i}';
    }
  }
};

// Level groups
@for $level from 1 through 9 {
  .badge-level-#{$level} {
    background: url("/static/images/badges/group-1.svg") no-repeat center;
    background-size: cover;
  }
}
@for $level from 100 through 109 {
  .badge-level-#{$level} {
    background: url("/static/images/badges/group-1.svg") no-repeat center;
    background-size: cover;
  }
}

@for $level from 200 through 209 {
  .badge-level-#{$level} {
    background: url("/static/images/badges/group-1.svg") no-repeat center;
    background-size: cover;
  }
}

@for $level from 10 through 19 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-2.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 110 through 119 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-2.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 210 through 219 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-2.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 20 through 29 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-3.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 120 through 129 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-3.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 220 through 229 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-3.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 30 through 39 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-4.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 130 through 139 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-4.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 230 through 239 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-4.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 40 through 49 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-5.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 140 through 149 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-5.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 240 through 249 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-5.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 50 through 59 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-6.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 150 through 159 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-6.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 250 through 259 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-6.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 60 through 69 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-7.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 160 through 169 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-7.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 260 through 269 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-7.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 70 through 79 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-8.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 170 through 179 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-8.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 270 through 279 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-8.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 80 through 89 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-9.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 180 through 189 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-9.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 280 through 289 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-9.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 90 through 99 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-10.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 190 through 199 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-10.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@for $level from 290 through 300 {
  .badge-level-#{$level} {
    .background {
      background: url("/static/images/badges/group-10.svg") no-repeat center;
      background-size: cover;
    }
  }
}

