html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: $body-bg-color;
}

/* permissions-based styles */
body.authenticated {
  .logged-in { display: block; }
  .not-logged-in { display: none; }
}

body.unauthenticated {
  .logged-in { display: none; }
  .not-logged-in { display: block; }
}

.requires-staff { display: none; }
body.is-staff {
  .requires-staff { display: block; }
}

.text-no-underline-ever {
  &,
  &:hover {
    text-decoration: none !important;
  }
}

:target {
  animation: fadeout 2s;
}

.high {
  height: 100%;
}

.table thead th {
  border-top: 0px;
}

.main-content {
  min-height: 70vh;
}

.site-footer {
  margin-top: 80px;
  background-color: $footer-bg-color;
  padding: 40px 0px;

  .logo {
    height: 40px;
  }
}

.no-site-footer {
  .main-content {
    min-height: initial;
  }

  .site-footer {
    display: none;
  }
}

/* navbar */
.navbar {
  background-color: $navbar-bg-color;

  .navbar-brand {
    padding: 0px;
  }

  .navbar-brand > img {
    margin: -10px 10px -10px 0px;
    height: 40px;
  }

  .nav-item {
    margin-left: $spacer;
  }
}

/* breadcrumbs */
.main-header {
  padding: 10px 0px;

  &.with-menubar {
    background-color: $white;
    border-bottom: 1px solid $gray-300;

    padding: 0px;
  }

  .breadcrumb {
    margin: 0px 0px 5px 0px;
    padding: 5px 0px 0px 0px;
    background-color: transparent;

    & > li + li:before {
      content: "›";
    }

    .expressions {
      position: relative;
    }

    &:empty {
      display: none;
    }
  }

  .main-header-menu {
    margin-top: -5px;
  }
}

/* dropdowns */
.dropdown-menu {
  box-shadow: 0 6px 12px rgba(0,0,0,0.175)
}

/* main content, in partnership with navbar */
.navbar ~ .main-container {
  padding-bottom: 50px;
}

.main-container {
  position: relative;
}

#error-box {
  position: fixed;
  top: 10px;
  width: 600px;
  z-index: 9999;
}

#progress-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 5px;
  z-index: 1030;
}

#offline-alert {
  position: fixed;
  top: 10px;
  width: 50%;
  left: 25%;
  z-index: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.modal {
  .scrollable {
    max-height: 450px;
    overflow-y: auto;
  }
}

.allauth-box {
  .logo {
    width: 75px;
  }
}

.btn.socialaccount_provider.google {
  font-family: "Roboto", $font-family-sans-serif;
  background-color: white;
  color: #757575;
  font-weight: bold;
}
.btn.socialaccount_provider.facebook {
  background-color: #4267b2;
  color: white;
}

.legal-toc {
  position: sticky;
  top: 75px;
}

.tabbed-header {
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: $tabbed-header-bg;
  border-bottom: 1px solid $gray-300;

  .nav-tabs {
    border-bottom: 0px;

    .nav-link:hover {
      border-color: transparent transparent $gray-300 transparent;
    }

    .nav-link.active {
      background-color: $body-bg-color;
      border-bottom-color: $body-bg-color;

      &:hover {
        border-color: $gray-300;
        border-color: $gray-300 $gray-300 $body-bg-color $gray-300;
      }
    }
  }
}

.nav-tabs {
  .nav-item .fa,
  .nav-item .fas {
    font-size: .875em;
    color: $gray-500 !important;
  }
}

.user-profile-photo {
  border-radius: 5px;
}