.is-published {
  .if-draft {
    display: none;
  }
}

.is-draft {
  .if-published {
    display: none;
  }
}

.highlight {
  background: rgba(255, 255, 0, 0.25);
}

/* document workspace */
.document-workspace {
  display: flex;
  flex-direction: row;

  .document-workspace-content,
  .document-xml-editor {
    flex: 1;
    position: relative;
  }

  .source-attachment-view {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  /* sidebar */
  .document-sidebar {
    flex: 0 0 15%;
    // TODO
    height: calc(100vh - 50px - 96px);

    overflow-x: hidden;
    overflow-y: auto;

    .nav {
      padding: 5px;
    }

    .nav > li > a {
      padding: 2px 5px;
    }
  }
}

.document-toolbar-wrapper {
  display: flex;
  padding-bottom: 5px;
}

/* headers with help buttons */
a.help,
button.btn-link.help {
  color: $grey-darkest;

  &:hover {
    color: $link-hover-color;
  }
}

/* editors */

.ace-editor-wrapper,
.ace-editor {
  height: 100%;
  padding: 0px !important;
}

.monaco-editor {
  height: 100%;
}

.document-sheet-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  margin: 0px;

  .sheet-inner {
    // work around a Chrome rendering bug with sections that
    // are very short
    min-height: 100%;
  }

  .quick-editable {
    position: relative;
  }

  .gutter-actions {
    position: absolute;
    left: -25px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
  }

  a.quick-edit {
    color: $grey-lighter;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.document-xml-editor {
  /* this is changed when the user chooses to show it */
  display: none;
  position: absolute;
  padding-left: 5px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.document-content-view {
  // show or hide source code component
  &.show-xml-editor {
    .document-xml-editor {
      display: block;
    }
  }

  // show or hide plaintext editor component
  &.show-text-editor {
    .document-sheet-container {
      display: none;
    }

    .document-text-editor {
      display: block;
    }
  }
}

.document-text-editor {
  // changed when the user chooses to view it
  display: none;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;

  textarea {
    width: 100%;
    height: 100%;
  }
}

/* misc */

/* make document sheets look like paper */
.sheet-outer {
  padding: 20px;

  .sheet-inner {
    border: 1px solid $gray-400;
    box-shadow: 0 0 10px #888;
    background: white;
    position: relative;
    padding: 30px;

    &.is-fragment::before {
      content: ' ';
      position: absolute;
      left: 0px;
      background: linear-gradient(transparent, white);
      right: 0px;
      height: 20px;
      z-index: 100;
      top: -20px;
    }

    &.is-fragment::after {
      content: ' ';
      position: absolute;
      left: 0px;
      background: linear-gradient(white, transparent);
      right: 0px;
      height: 20px;
      z-index: 100;
      bottom: -20px;
    }
  }
}

.document-list-table {
  table-layout: fixed;

  th.title { width: 63% }
  th.year { width: 17% }
  th.updated_at { width: 20% }

  td, th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  tr.amended-version {
    td:first-child {
      padding-left: 25px;
    }

    td {
      border-top: 0px;
    }
  }
}

/* table of contents browser */
.toc {
  font-size: 13px;
  padding: 5px 5px 0px 0px;

  ol {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 5px 5px;
    
    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      padding: 0px 0px 0px 5px;

      &.active,
      &.active:hover {
        background-color: $link-color;
        color: white;
      }

      &:hover {
        background-color: $grey-lighter;
      }
    }
  }
}

/* revision list */
.document-revisions-view {
  background-color: $body-bg-color;
  position: fixed;
  top: 51px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  z-index: 100;

  .revisions-header {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid $border-color;
    background-color: white;

    .title {
      flex: 1;
    }

    .buttons {
      flex: 0 0 300px;
    }
  }

  .revisions-main {
    display: flex;
    flex: 1 1 auto;
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .revisions-content {
    position: relative;
    flex: 1;
    height: 100%;
  }

  .revisions-container {
    flex: 0 0 300px;
    overflow-y: auto;
    background-color: $white;
    border-left: 1px solid $border-color;
  }
}

.revision-list {
  .revision {
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid $border-colour;
    cursor: pointer;
    position: relative;

    &.active {
      background-color: $document-sidebar-colour;

      .revision-controls {
        display: block;
      }

      &::before {
        content: "\f053";
        font-family: FontAwesome;
        position: absolute;
        left: 5px;
        color: $grey-darkest;
      }
    }

    &:hover {
      background-color: $document-sidebar-colour;
    }
  }

  .revision-date {
    font-weight: bold;
  }

  .revision-controls {
    display: none;
  }

  .revision-comment {
    font-style: italic;
  }
}

.fas.draft {
  color: $yellow;
}

.fas.published {
  color: $blue;
}

/* table editor */
.table-editor-wrapper {
  td > p:last-child,
  th > p:last-child {
    margin-bottom: 0px;
  }

  .table-editor-buttons {
    margin: 5px 0px;
  }

  .when-active {
    display: none;
  }

  &.table-editor-active {
    .when-active {
      display: block;
    }

    .when-inactive {
      display: none;
    }

    .table-editor-buttons {
      position: sticky;
      top: -18px;
      background-color: white;
      z-index: 10;
    }
  }
}

// hide the CKEditor toolbar
.document-editor-view {
  .cke.cke_float {
    display: none !important;
  }
}

#document-activity-view {
  li {
    list-style: none;
    float: left;
    margin-right: 5px;
    padding: 2px 3px;
    font-size: smaller;
    color: white;
    border-radius: 3px;

    &.is-asleep {
      opacity: 0.5;
    }
  }

  // https://bl.ocks.org/mbostock/5577023
  .user-0 { background-color: #1b9e77; }
  .user-1 { background-color: #d95f02; }
  .user-2 { background-color: #7570b3; }
  .user-3 { background-color: #e7298a; }
  .user-4 { background-color: #66a61e; }
  .user-5 { background-color: #e6ab02; }
  .user-6 { background-color: #a6761d; }
  .user-7 { background-color: #666666; }
}

.cheatsheet {
  .editor-snippet {
    padding: 10px;
    border: 1px solid $gray-200;
    background-color: $gray-100;
  }

  .akoma-ntoso-snippet {
    padding: 10px;
    border: 1px solid $gray-200;
    background-color: $gray-100;
  }
}

.issue-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;

  &.issue-warning::before {
    color: $yellow;
    content: "\f071";
  }

  &.issue-error::before {
    color: $red;
    content: "\f071";
  }

  &.issue-information::before {
    color: $blue;
    content: "\f071";
  }
}
