.facet-group {
  label {
    font-weight: normal;
  }

  .negate {
    display: none;

    &:hover {
      text-decoration: none !important;
    }
  }

  .form-check:hover .negate {
    display: inline;
  }
}

