label {
  font-weight: 500;
}

label.required::after {
  content: " *";
  color: $danger;
}

fieldset {
  margin-bottom: 20px;
}

.form-control:invalid {
  border: 1px solid $danger;

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px $danger;
  }
}

.offcanvas {
  box-shadow: $box-shadow;
}
