.content-with-gutter {
  display: flex;
  flex-direction: row;

  .content {
    flex: 80%;
    position: relative;
  }

  .gutter {
    flex: 20%;
    position: relative;

    .gutter-items {
      .gutter-marker {
        position: absolute;
        left: 5%;
        transition: top ease-out 200ms, left ease-out 200ms;
        z-index: 2;
        width: 90%;

        &.marker-active {
          left: 0px;
        }
      }
    }
  }
}
