/* library */
#library-view {
  .filter-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;

    .badge {
      font-size: 9px;
      padding: 3px 5px;
    }
  }

  .tag-filters {
    padding-left: 7px;
  }
}

.progress.progress-thin {
  height: 7px;
}

.work-list-facets {
  label {
    font-weight: normal;
  }
}
