/* place works list */
.progress.progress-thin {
  height: 7px;
}

.work-list-filters {
  position: sticky;
  top: 0px;
  z-index: 10;
  background: white;
}

.work-list-facets {
  label {
    font-weight: normal;
  }

  .list-group-item {
    max-height: 30vh;
    overflow-y: auto;
  }
}

.min-vh-60 {
  min-height: 60vh;
}

.max-vh-60 {
  max-height: 60vh;
  overflow-y: auto;
}
