/* place works list */
.progress.progress-thin {
  height: 7px;
}

.work-list-facets {
  max-height: 73vh;
  overflow-y: auto;

  label {
    font-weight: normal;
  }

  .list-group-item {
    max-height: 30vh;
    overflow-y: auto;
  }
}

.max-vh-60 {
  max-height: 60vh;
  overflow-y: auto;
}
