.sidebar {
  padding: 0;
  color: $black;
  background: $gray-300;
  flex: 0 0 $sidebar-width;

  .sidebar-nav {
    flex: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: $sidebar-width;

    .nav {
      flex-direction: column;
    }

    .nav-link {
      padding-left: 0px;

      &> i {
        width: 50px;
        text-align: center;
      }
    }

    .nav-heading {
      padding: .75rem 1rem;
      font-size: 11px;
      font-weight: 600;
      color: $gray-700;
      text-transform: uppercase;
    }

    a {
      color: $black;
    }

    a:hover,
    a.active:hover {
      background-color: $primary;
      color: $white;
    }

    a.active {
      background-color: $gray-500;
      color: $white;
    }
  }
}

.sidebar-fixed {
  .sidebar {
    width: $sidebar-width;
    position: fixed;
    z-index: 1019;
    height: calc(100vh - 50px);
  }

  .main-container {
    margin-left: $sidebar-width;
    flex: 1;
    min-width: 0;
  }

  &.sidebar-minimized {
    .sidebar {
      width: 50px;
    }

    .main-container {
      margin-left: 50px;
    }
  }
}
