/* standalone pages, such as the password reset form */
.standalone {
  margin-top: 100px;
}

.framed-indigo-box {
  background-color: $white;
  padding: 20px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);

  img.logo {
    margin-bottom: 40px;
    max-height: 75px;
  }

  .forgot {
    margin-top: 20px;
  }
}
