// helper classes
.task-list-card-full-height {
  height: 100%;
  max-height: 80vh;
}

.task-list-card-scroll {
  max-height: 100%;
  overflow: scroll;
}

.approval-heading-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-card-heading {
  text-decoration: underline;
  color: black;
}

.task-border-open {
  border: 1px solid $primary;
}
.task-border-pending_review {
  border: 1px solid #dedede;
}
.task-border-done {
  border: 1px solid $success;
}