.task-badge {
  font-size: 100%;
  color: $white;
  padding: 0.4em;
  margin-top: 5px;
}

.task-badge-open, .task-badge-assigned {
  background-color: $primary;
}

.task-badge-done {
  background-color: $success;
}

.task-badge-pending_review {
  background-color: $orange;
}

.task-badge-cancelled {
  background-color: $grey;
}

.task-badge-blocked {
  background-color: $red;
}

.task-icon-open:before {
  content: "\f08d";
  color: $primary;
}
.task-icon-done:before {
  content: "\f00c";
  color: $success;
}

.task-icon-pending_review:before {
  content: "\f128";
  color: $orange;
}
.task-icon-cancelled:before {
  content: "\f00d";
  color: $grey;
}
.task-icon-assigned:before {
  content: "\f4fc";
  color: $primary;
}
.task-icon-blocked:before {
  content: "\f05e";
  color: $red;
}

.task-icon-assignee {
  color: $primary;
}

.task-list-column {
  &:not(:last-child) {
    border-right: 1px solid $grey;
  }
}

.task-list-card {
  border: 0px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  &> .card-body {
    padding: 0.75rem;
    line-height: 1.2;
  }
}

.task-list-item {
  &.selectable-task:hover {
    cursor: pointer;
  }
}

.workflow-badge {
  color: $primary;

  &.workflow-closed {
    color: $grey;
  }
}

.task-list-card-heading {
  text-decoration: underline;
  color: black;
}

.task-border-open {
  border: 1px solid $primary;
}
.task-border-pending_review {
  border: 1px solid $orange;
}
.task-border-done {
  border: 1px solid $success;
}
.task-border-blocked {
  border: 1px solid $red;
}
.text-open {
  color: $primary
}
.text-pending_review {
  color: $orange;
}
.text-done {
  color: $success;
}
.text-blocked {
  color: $red;
}

.bg-pending_review {
  background-color: $orange;
}
.bg-blocked {
  background-color: $red;
}

.narrow {
  width: 200px !important;
}
