.task-heading-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-card-heading {
  text-decoration: underline;
  color: black;
}

.task-border-open {
  border: 1px solid $primary;
}
.task-border-pending_review {
  border: 1px solid $orange;
}
.task-border-done {
  border: 1px solid $success;
}

.text-orange {
  color: $orange;
}