.treelist-wrapper {
  ul {
    padding-left: 0;
  }
  li {
    display: flex;
    align-items: flex-start;
  }

  .spacer {
    width: 22px;
  }

  input[type="checkbox"]  {
    margin-top: 3px;
    width: 12px;
    margin-right: 3px;
  }

  .content {
    flex-grow: 1;
  }
}
