.lh-compact {
  line-height: 1.2;
}

.wb-all {
  word-break: break-all;
}

.p-sticky-0 {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.bg-selected {
  background-color: theme-color-level("primary", -9);
}

.c-pointer {
  cursor: pointer;
}

.fa-rotate-315 {
  transform: rotate(315deg);
}