/* work chooser modal */
#work-chooser-box {
  .panel {
    margin-bottom: 0px;
  }
}

.work-chooser-list {
  tr {
    cursor: pointer;
  }

  td.frbr_uri {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow-x: hidden;
  }
}

.work-view {
  h5.work-frbr-uri {
    margin-top: 0px;
  }

  .floating-sidebar {
    position: fixed;
    min-width: 190px;
  }

  .sub-nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.if-repealed {
  display: none;
}

.is-repealed .if-repealed {
  display: initial;
}

#work-amendments-view {
  .work-amendments {
    th.date {
      width: 15%;
    }
  }
}
