/* work chooser modal */
#work-chooser-box {
  .panel {
    margin-bottom: 0px;
  }
}

.work-chooser-list {
  td.frbr_uri {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow-x: hidden;
  }

  label {
    margin-bottom: 0px;
    cursor: pointer;
    display: block;
    font-weight: normal;
  }
}

.work-view {
  h5.work-frbr-uri {
    margin-top: 0px;
  }

  .floating-sidebar {
    position: fixed;
    min-width: 190px;
  }

  .sub-nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.if-repealed {
  display: none;
}

.is-repealed .if-repealed {
  display: initial;
}

#work-amendments-view {
  .work-amendments {
    th.date {
      width: 15%;
    }
  }
}

.popover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.taxonomy-sidebar {
  .active {
    background-color: #2d7ad4;
    color: white;
  }

  la-table-of-contents {
    display: block;
    max-height: 75vh;
    overflow-y: auto;
  }
}

.bg-work-in-progress {
  background-color: lighten($warning, 45%);
}

.modal-backdrop {
  z-index: 1030;
}
