$grey-lightest: #f5f5f5;
$grey-lighter: #eee;
$grey: #ddd;
$grey-darker: #ccc;
$grey-darkest: #aaa;

$orange: #f0ad4e;
$blue: #5bc0de;
$link-active: #337ab7;

$border-colour: $grey;
$workspace-header-colour: $grey;
$workspace-header-border-colour: $grey-darker;
$header-colour2: $grey-lighter;

$header-height: 45px;
$workspace-header-height: 45px;

$sidebar-width: 260px;
$sidebar-colour: $grey-lighter;

$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size: 14px;
$font-colour: #333;
$selection-colour: #b2d8fc;

html, body {
  height: 100%;
  min-height: 100%;
}

.label-default {
  background-color: $grey-darkest;
}

/* permissions-based styles */
body.authenticated {
  .logged-in { display: block; }
  .not-logged-in { display: none; }
}

body.unauthenticated {
  .logged-in { display: none; }
  .not-logged-in { display: block; }
}

.requires-staff { display: none; }
body.is-staff {
  .requires-staff { display: block; }
}

.form-group {
  margin-bottom: 10px;
}

.high {
  height: 100%;
}

fieldset {
  margin-bottom: 20px;
}

/* workspace */

.workspace {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;

  .workspace-header {
    position: relative;

    height: $workspace-header-height;
    width: 100%;
    padding: 5px;
    background-color: $workspace-header-colour;
    border-bottom: 2px solid $workspace-header-border-colour;

    .workspace-title {
      position: absolute;
      top: 5px;
      left: 100px;
      right: 0px;

      h4 {
        max-width: 80%;
        margin: 0px;
      }
    }

    .menu {
      position: absolute;
      top: 30px;
      left: -7px;
    }
  }

  &.has-menu {
    .workspace-header {
      height: $workspace-header-height + 25px;
    }

    .workspace-body {
      top: $workspace-header-height + 25px;
    }
  }

  #user-buttons {
    position: absolute;
    top: 0px;
    right: 5px;

    .btn-link:hover,
    .btn-link:focus {
      text-decoration: none;
    }
  }

  .workspace-buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .workspace-body {
    position: absolute;
    top: $workspace-header-height;

    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  }

  /* a page either has a workspace-content on its own,
     or a sidebar and a workspace-content */

  .workspace-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;

    .boxed-group-inner {
      padding: 10px;
    }
  }
}

.brand-box {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;

  img {
    height: 100%;
    width: auto;
  }
}

/* sidebar */

.sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: $sidebar-width;
  background-color: $sidebar-colour;

  border-right: 1px solid $border-colour;

  .nav {
    padding: 5px;
  }

  .nav > li > a {
    padding: 2px 5px;
  }

  section {
    margin-bottom: 10px;
  }
}

.sidebar + .workspace-content {
  left: $sidebar-width;
}

.sidebar-right + .workspace-content {
  left: 0px;
  right: $sidebar-width;
}

.sidebar-right {
  right: 0px;
}

/* boxed groups have a header and a full-height inner */

.boxed-group-header {
  height: $header-height;
  padding: 5px;
  background-color: $header-colour2;
  border-bottom: 1px solid $border-colour;

  .buttons {
    float: right;
  }
}

/* headers with help buttons */
a.help,
button.btn-link.help {
  color: $grey-darkest;

  &:hover {
    color: $link-active;
  }
}

.boxed-group-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

.workspace .boxed-group-inner.boxed-group-inner-minimal {
  padding: 0px;
}

.boxed-group-header + .boxed-group-inner {
  top: $header-height;
}

.boxed-group-header,
.workspace-header {
  h1, h2, h3, h4 {
    line-height: 1.5;
    margin: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }
}

/* editors */

.document-content-header {
  /* shown only when the text editor is active */
  .text-editor-buttons {
    display: none;
    padding-right: 5px;
    .help {
      font-size: 20px;
    }
  }

  &.show-text-editor {
    .text-editor-buttons {
      display: block;
    }
  }
}

.sheet-editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sheet-editor {
  .quick-editable {
    position: relative;
  }

  .quick-edit {
    position: absolute;
    left: -25px;
    margin-top: 2px;

    a {
      color: $grey-lighter;
      padding: 5px;
    }

    a:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}

.ace-editor-wrapper,
.ace-editor {
  height: 100%;
}

.document-xml-editor {
  /* this is changed when the user chooses to show it */
  display: none;
  position: absolute;
  padding-left: 5px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 50%;
}

.document-content-view {
  // show or hide source code component
  &.show-source {
    .document-xml-editor {
      display: block;
    }

    .document-sheet-container,
    .document-text-editor {
      width: 50%;
    }
  }

  // show or hide plaintext editor component
  &.show-text-editor {
    .document-sheet-container {
      display: none;
    }

    .document-text-editor {
      display: block;
    }
  }
}

.document-text-editor {
  // changed when the user chooses to view it
  display: none;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;

  textarea {
    width: 100%;
    height: 100%;
  }
}

.fullscreen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* misc */

/* make legends a bit smaller, to match the h4 font size */
legend {
  font-size: 18px;
}

.document-properties-view {
  fieldset {
    margin-bottom: 20px;
    background-color: $header-colour2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $border-colour;

    h4 {
      margin: -10px -10px 10px -10px;
      padding: 10px;
      background-color: $sidebar-colour;
      border-bottom: 1px solid $border-colour;
      margin-bottom: 10px;
      border-radius: 5px 5px 0px 0px;
    }
  }
}

#error-box {
  position: fixed;
  top: 10px;
  width: 600px;
  z-index: 9999;
}

#progress-bar {
  position: absolute;
  bottom: -4px;
  right: 0px;
  left: 0px;
  height: 6px;
  z-index: 100;
}

/* make document sheets look like paper */
.sheet-outer {
  background: $grey-darkest;
  padding: 20px;

  .sheet-inner {
    border: 1px solid $grey-darkest;
    box-shadow: 0 0 10px #888;
    background: white;
  }
}

.document-sheet-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  margin: 0px;

  .sheet-inner {
    padding: 30px;
    // work around a Chrome rendering bug with sections that
    // are very short
    min-height: 100%;
  }
}


/* akoma ntoso styles */
@import 'bower_components/indigo-web/scss/akoma-ntoso';

/* overrides for indigo inserts into akoma-ntoso trees */
.akoma-ntoso .ig {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.sorted-table {
  th {
    cursor: pointer;
  }

  th.sort-up::after {
    font-family: fontawesome;
    content: ' \f0dd';
  }

  th.sort-down::after {
    font-family: fontawesome;
    content: ' \f0de';
  }
}

.import-form {
  padding: 10px 0px;

  .dropzone {
    width: 100%;
    border: 5px dashed $border-colour;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &.incoming {
      background-color: $grey-lighter;
    }
  }

  .file-input-field {
    display: none;
  }

  .example {
    padding: 1px 8px;
    background: $grey-lighter;
    border-radius: 5px;
    h5 {
      font-weight: bold;
    }
  }

  .radio {
    margin-bottom: 0px;
  }

  input[type=radio]:checked + .example {
    background-color: $selection-colour;
  }

  section {
    margin-bottom: 25px;
  }

  .pages {
    display: none;
    width: 100%;
    height: 562px;

    position: relative;
    overflow-y: scroll;
    padding: 5px;
    background: $grey-lighter;

    // spinner waiting for first page
    &:empty::after {
      content: " ";
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      border: 3px solid $grey-darkest;
      border-bottom-color: transparent;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      animation: fa-spin 1s infinite steps(16);
    }

    .page {
      position: absolute;
      box-sizing: content-box;
      border: 1px solid $grey-darkest;

      // spinner for loading pages
      &.loading::after {
        content: " ";
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        border: 3px solid $grey-darkest;
        border-bottom-color: transparent;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        animation: fa-spin 1s infinite steps(16);
      }
    }

    .padding {
      position: absolute;
      width: 100px;
      height: 10px;
    }

    .cropbox {
      fill-opacity: 0.25;
      fill: #0983f6;
      cursor: move;
    }

    &.loading .cropbox {
      display: none;
    }

    .corner {
      fill-opacity: 0.75;
    }

    .ne, .sw { cursor: nesw-resize; }
    .nw, .se { cursor: nwse-resize; }
  }
}

.document-list-table {
  table-layout: fixed;

  th.title { width: 63% }
  th.year { width: 17% }
  th.updated_at { width: 20% }

  td, th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  tr.amended-version {
    td:first-child {
      padding-left: 25px;
    }

    td {
      border-top: 0px;
    }
  }
}

/* table of contents browser */
.toc {
  position: absolute;
  top: 105px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;

  margin-top: 5px;
  border-top: 1px solid $grey;

  font-size: 13px;

  ol {
    list-style: none;
    padding: 5px 5px 5px 10px;
    
    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      margin-left: -5px;
      padding: 0px 0px 0px 5px;

      &.active,
      &.active:hover {
        border-radius: 5px;
        background-color: $link-active;
        color: white;
      }

      &:hover {
        border-radius: 5px;
        background-color: $grey-lighter;
      }
    }
  }

  .toc-item {
    &.akn-akomaNtoso,
    &.akn-coverpage,
    &.akn-preface,
    &.akn-preamble,
    &.akn-chapter,
    &.akn-part,
    &.akn-conclusions,
    &.akn-components,
    &.akn-component {
      font-weight: bold;
      margin-top: 5px;
    }
  }
}

/* library */
.filter-tag {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;

  .badge {
    font-size: 9px;
    padding: 3px 5px;
  }
}

.library-buttons {
  float: left;
  margin-top: 2px;
  margin-left: 96px;
  margin-right: 10px;
}

.header-search-box {
  float: left;
  width: 400px;
}

.library-sidebar {
  .btn-group {
    padding-left: 7px;
    padding-top: 5px;
  }

  .nav-pills a .badge {
    float: right;
  }

  .tag-filters {
    padding-left: 7px;
  }
}

/* amendments list */
.amendments-list {
  margin-top: 20px;

  .buttons {
    width: 1%;
    white-space: nowrap;
  }

  .date {
    width: 10%;
    white-space: nowrap;
  }
}

/* attachments list */
.attachments-list {
  padding-left: 0px;

  &> li {
    list-style: none;
    float: left;
    width: 150px;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;

    &.selected .wrapper {
      background-color: $selection-colour;
      border-radius: 5px;
    }
  }

  &.selectable {
    li {
      cursor: pointer;
    }

    .buttons {
      display: none;
    }
  }

  .wrapper {
    padding: 5px;
  }

  .icon {
    width: 120px;
    height: 120px;
    margin: auto;
  }

  .img-thumbnail {
    max-height: 120px;
  }

  .not-image {
    .fa {
      font-size: 64px;
      margin-top: 25px;
      color: gray;
    }
  }

  .filesize {
    color: gray;
  }

  .add-attachment {
    border: 5px dashed $border-colour;

    &.incoming {
      background-color: $selection-colour;
    }

    cursor: default !important;
  }

  input[type=file] {
    display: none;
  }
}

.modal {
  .nav {
    margin-bottom: 5px;
  }

  .document-chooser-list,
  .scrollable {
    max-height: 450px;
    overflow-y: auto;
  }
}

/* revision list */
.document-revisions-view {

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  display: none;
  background: white;
  z-index: 200;

  &.in {
    display: block;
  }
}

.revisions-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: $sidebar-width;
  overflow-x: hidden;
  overflow-y: scroll;
}

.revisions-container + .document-sheet-container {
  right: $sidebar-width;
}

.revision-preview {
  ins {
    background-color: #a6f3a6;
    text-decoration: none;
  }

  del {
    color: #a33;
    background-color: #f8cbcb;
    text-decoration: line-through;
  }
}

.revision-list {
  .revision {
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid $border-colour;
    cursor: pointer;
    position: relative;

    &.active {
      background-color: $sidebar-colour;

      .revision-controls {
        display: block;
      }

      &::before {
        content: "\f053";
        font-family: FontAwesome;
        position: absolute;
        left: 5px;
        color: $grey-darkest;
      }
    }

    &:hover {
      background-color: $sidebar-colour;
    }
  }

  .revision-date {
    font-weight: bold;
  }

  .revision-controls {
    display: none;
  }

  .revision-comment {
    font-style: italic;
  }
}

.fa.draft {
  color: $orange;
}

.fa.published {
  color: $blue;
}

/* table editor */
.table-editor-wrapper {
  .btn-toolbar {
    margin-bottom: 5px;

    .btn-group {
      float: right;
    }
  }

  .when-active {
    display: none;
  }

  &.table-editor-active {
    .when-active {
      display: block;
    }
    .when-inactive {
      display: none;
    }

    table {
      outline: $selection-colour auto 5px;
    }

    th.selected,
    td.selected {
      background-color: $selection-colour;
    }

    th.active,
    td.active {
      outline: $selection-colour auto 5px;
    }

    th.active.selected:focus,
    td.active.selected:focus {
      background-color: transparent;
    }
  }

  td > p:last-child,
  th > p:last-child {
    margin-bottom: 0px;
  }
}

.cheatsheet {
  section {
    clear: both;

    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: 0px;
    }

    pre {
      width: 40%;
      float: left;
    }

    p {
      width: 60%;
      float: left;
      padding-left: 20px;
    }
  }
}

.amendment-expressions {
  position: relative;
}

.expression-timeline {
  list-style: none;
  padding-left: 0px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 20px;
    bottom: 30px;
    width: 4px;
    background: $grey;
    z-index: 0;
  }

  &> li {
    position: relative;
    margin-left: 40px;
    background-color: $grey-lighter;
    padding: 10px 10px;
    margin-bottom: 15px;

    &> h5 {
      margin-top: 0px;
      font-weight: bold;
    }

    &.current {
      border: 1px solid $blue;
      background-color: $grey;

      h5::before {
        content: " ";
        display: block;
        position: absolute;
        top: 9px;
        left: -22px;
        width: 0;
        height: 0;
        border-color: transparent $blue transparent transparent;
        border-width: 11px;
        border-style: solid;
        z-index: 0;
      }

      &::before {
        border-color: $blue;
        background-color: $blue;
        left: -38px;
      }

      &::after {
        border-right-color: $grey;
      }
    }

    &::before {
      right: 100%;
      border: $grey 4px solid;
      border-radius: 50%;
      content: " ";
      position: absolute;
      top: 10px;
      left: -37px;
      background-color: white;
      width: 18px;
      height: 18px;
      z-index: 1;
    }
    
    &::after {
      right: 100%;
      border: solid transparent;
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      border-right-color: $grey-lighter;
      border-width: 10px;
      top: 10px;
      left: -20px;
    }

    .amendments + .document {
      margin: 10px 0px 0px 25px;
      position: relative;

      &::before {
        content: "⤷";
        position: absolute;
        top: -10px;
        left: -25px;
        font-size: 24px;
      }
    }
  }

  .amendments {
    list-style: none;
    padding-left: 0px;
  }
}

.annotations-container {
  &.sheet-inner {
    /* XXX */
    margin-right: 200px;
  }

  /* annotatable elements */
  .akn-coverPage,
  .akn-preface,
  .akn-preamble,
  .akn-conclusions,
  .akn-chapter,
  .akn-part,
  .akn-section,
  .akn-subsection,
  .akn-blockList,
  .akn-heading,
  .akn-subheading,
  .akn-item,
  table {
    position: relative;
  }

  .annotation-focused {
    background: rgba(255, 255, 0, 0.25);
  }

  .annotation-thread {
    position: absolute;
    top: 0px;
    right: -200px;
    width: 150px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    transition: right 150ms ease-in-out;
    z-index: 100;

    a.dropdown-toggle {
      color: $grey-darker;
    }

    &.focused {
      right: -175px;
      z-index: 110;

      .reply-container {
        display: block;
      }

    }

    &.focused,
    &:hover {
      a.dropdown-toggle {
        color: $font-colour;
      }
    }

    &.closed {
      display: none;
    }
  }

  .annotation {
    background-color: $header-colour2;
    padding: 5px;

    .time-ago {
      color: $grey-darkest;
      margin-bottom: 5px;
    }

    .content {
      overflow-wrap: break-word;

      p:last-child {
        margin-bottom: 0px;
      }
    }

    & + .annotation {
      border-top: 1px solid $border-colour;
    }

    &.is-new + .reply-container {
      display: none;
    }

    &.root {
      background-color: white;
    }

    &.reply {
      .close-annotation {
        display: none;
      }
    }

    textarea {
      margin-bottom: 5px;
      padding: 5px;
      font-size: 12px;
      overflow: hidden;
      height: 2.25em;
      resize: none;
    }

    .dropdown-menu {
      min-width: 0px;
      font-size: 12px;
    }

    &.readonly {
      .buttons {
        display: none;
      }
    }
  }

  .reply-container {
    display: none;
  }

  #new-annotation-floater {
    position: absolute;
    top: 0px;
    right: -37px;
    width: 40px;
    height: 40px;
    z-index: 120;

    border-radius: 50%;
    border: 1px solid $border-colour;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
    opacity: 0.75;

    text-align: center;
    color: $grey-darkest;
    font-size: 20px;
    padding-top: 7px;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: inherit;
    }
  }
}

body.unauthenticated .annotations-container {
  .reply-container,
  .dropdown-toggle,
  #new-annotation-floater {
    display: none !important;
  }
}

/* form validation */
.form-control:invalid {
  border: 1px solid #843534;

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
  }
}

.control-label.required::after {
  content: " *";
  color: red;
}

#document-activity-view {
  float: left;

  ul {
    margin-top: 7px;
  }

  li {
    list-style: none;
    float: left;
    margin-right: 5px;
    padding: 2px 3px;
    font-size: smaller;
    color: white;
    border-radius: 3px;

    &.is-asleep {
      opacity: 0.5;
    }
  }

  // https://bl.ocks.org/mbostock/5577023
  .user-0 { background-color: #1b9e77; }
  .user-1 { background-color: #d95f02; }
  .user-2 { background-color: #7570b3; }
  .user-3 { background-color: #e7298a; }
  .user-4 { background-color: #66a61e; }
  .user-5 { background-color: #e6ab02; }
  .user-6 { background-color: #a6761d; }
  .user-7 { background-color: #666666; }
}

/* standalone pages, such as the password reset form */
@import 'standalone';
