@import 'variables';

// give other projects a chance to override variables
@import 'indigo/variables';

@import 'lib/bootstrap-5.3.2/scss/bootstrap';


// fontawesome
$fa-font-path: '../lib/fontawesome-5.2/webfonts';
@import 'lib/fontawesome-5.2/scss/fontawesome.scss';
@import 'lib/fontawesome-5.2/scss/solid.scss';
@import 'lib/fontawesome-5.2/scss/regular.scss';
@import 'lib/fontawesome-5.2/scss/brands.scss';
@import 'lib/bootstrap-select/css/bootstrap-select.min';

@import 'bower_components/bootstrap-datepicker/css/datepicker3';
@import 'select2-4.0.0.min';
@import 'bootstrap-menus.scss';

@import 'core';

@import 'animations';
@import 'activities';
@import 'akn';
@import 'annotations';
@import 'attachments';
@import 'badges';
@import 'documents';
@import 'enrichments';
@import 'diffs';
@import 'forms';
@import 'gutter';
@import 'importform';
@import 'places';
@import 'standalone';
@import 'tasks';
@import 'timeline';
@import 'toast';
@import 'utilities';
@import 'works';
@import 'provisions-list';
@import 'treeview';
@import 'navs';

// import custom styles right at the end
@import 'indigo/custom';
