{% load i18n indigo_app %}

<li id="amendment-instruction-{{ instruction.pk }}" class="mb-3 amendment-instruction">
  <details class="card" {% if not instruction.is_applied %}open{% endif %}>
    <summary class="card-header">
      <span class="h5 mb-0">
        {{ instruction.title }}
        <span class="ms-2">
        {% if instruction.is_applied %}
          <i class="text-success fas fa-check-circle" title="{% trans "Applied" %}"></i>
        {% endif %}
      </span>
      </span>
    </summary>
    <div class="card-body">
      <dl class="mb-0 row">
        {% if instruction.is_applied %}
          <dt class="col-3">{% trans "Applied by" %}</dt>
          <dd class="col-9">
            {% user_profile instruction.applied_by_user %}
            <span class="time-ago" data-timestamp="{{ instruction.applied_at|date:'c' }}"></span>
          </dd>
        {% endif %}
        <dt class="col-3">{% trans "Created by" %}</dt>
        <dd class="col-9">
          {% user_profile instruction.created_by_user %}
          <span class="time-ago" data-timestamp="{{ instruction.created_at|date:'c' }}"></span>
        </dd>
        <dt class="col-3">{% trans "Amended by" %}</dt>
        <dd class="col-9">
          {% with instruction.amendment.amending_work.publication_document as pub_doc %}
            {% if instruction.page_number and pub_doc %}
              <a href="{{ pub_doc.get_embed_url }}?page={{ instruction.page_number }}" target="pdf-iframe"
              >{% trans "Page" %} {{ instruction.page_number }}</a>
            {% else %}
              {% trans "Page" %} {{ instruction.page_number|default_if_none:"?" }}
            {% endif %}
          {% endwith %}
          {{ instruction.amending_provision }}
        </dd>
        <dt class="col-3">{% trans "Amended provision" %}</dt>
        <dd class="col-9">{{ instruction.provision_name }}</dd>
        <dt class="col-12">{% trans "Amendment instruction" %}</dt>
        <dd class="col-12">{{ instruction.amendment_instruction|linebreaksbr }}</dd>
      </dl>
    </div>
    {% if can_apply or can_edit %}
      <div class="card-footer d-flex justify-content-end" hx-target="closest li" hx-swap="outerHTML">
        {% if can_apply %}
          {% block apply-button %}
            {% if not instruction.is_applied %}
              <form
                hx-post="{% url 'work_amendment_instruction_applied' work.frbr_uri instruction.amendment_id instruction.pk %}"
              >
                {% csrf_token %}
                <button
                  class="btn btn-success"
                  type="submit"
                >{% trans "Done" %}</button>
              </form>
            {% else %}
              <form
                hx-post="{% url 'work_amendment_instruction_unapplied' work.frbr_uri instruction.amendment_id instruction.pk %}"
              >
                {% csrf_token %}
                <button
                  class="btn btn-warning"
                  type="submit"
                >{% trans "Mark as not done" %}</button>
              </form>
            {% endif %}
          {% endblock %}
        {% endif %}
        {% if can_edit %}
          {% if perms.indigo_api.delete_amendmentinstruction %}
            <form
              action="{% url 'work_amendment_instruction_delete' work.frbr_uri instruction.amendment_id instruction.pk %}"
              method="post"
            >
              {% csrf_token %}
              <button
                class="btn btn-danger ms-2"
                data-confirm="{% trans 'Are you sure?' %}"
                type="submit"
              >{% trans "Delete" %}</button>
            </form>
          {% endif %}
          {% if perms.indigo_api.change_amendmentinstruction %}
            <button
              class="btn btn-outline-primary ms-2"
              hx-get="{% url 'work_amendment_instruction_edit' work.frbr_uri instruction.amendment_id instruction.pk %}"
            >{% trans "Edit" %}</button>
          {% endif %}
          </div>
        {% endif %}
    {% endif %}
  </details>
</li>
