{% extends "indigo_api/work_layout.html" %}
{% load i18n %}

{% block view-id %}work-amendment-instructions-view{% endblock %}
{% block title %}{% trans 'Amendment instructions' %} – {{ block.super }}{% endblock %}

{% block main-content %}
  <div class="container pt-3">
    {% block amendment-header %}
      <h4>
        {{ amendment.date|date:"Y-m-d" }}
        —
        {% trans "Amended by" %}
        <a href="{% url 'work' amendment.amending_work.frbr_uri %}" data-popup-url="{% url 'work_popup' frbr_uri=amendment.amending_work.frbr_uri %}">
          {{ amendment.amending_work.title }}
        </a>
      </h4>
      <div class="text-muted mb-4">{{ amendment.amending_work.frbr_uri }}</div>
    {% endblock %}

    {% block instructions-header %}
      <h5>{% trans 'Amendment instructions' %}</h5>
    {% endblock %}
  </div>
  <div class="container-fluid pb-5 mt-3">
    <div class="row">
      <div class="col-6">
        {% include 'indigo_api/amendment/_instruction_list.html' with can_add=True can_edit=True %}
      </div>
      <div class="col-6 sticky-top" style="height: 100vh">
        {% with amendment.amending_work.publication_document as pub_doc %}
          {% if pub_doc %}
            <iframe class="flex-grow-1" height="100%" width="100%" src="{{ pub_doc.get_embed_url }}" name="pdf-iframe"></iframe>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
