<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Indigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    {% block head-css %}{% endblock %}
    {% block head-meta %}{% endblock %}

  </head>
  <body {% block body-attributes %}{% endblock %} class='{% block body-class %}{% endblock %}'>
    <div id="wrapper">
      {% block content %}
      {% endblock content %}
    </div>

    {% block js %}{% endblock %}
  </body>
</html>
