<div class="modal fade" id="user-profile-box">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <form class="user-profile-form" method="POST" action="/api/auth/user/">
        <div class="modal-body">

          <div class="alert alert-danger" style="display: none"></div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="profile_first_name">Name</label>
              <input type="text" class="form-control" name="first_name" id="profile_first_name" placeholder="First name">
            </div>

            <div class="form-group col-md-6">
              <label for="profile_last_name">Surname</label>
              <input type="text" class="form-control" name="last_name" id="profile_last_name" placeholder="Last name">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="profile_email">Email</label>
              <input type="email" class="form-control" name="email" id="profile_email" placeholder="you@example.com" required>
            </div>

            <div class="form-group col-md-6">
              <label for="profile_country_code">Country</label>
              <select id="profile_country_code" name="country_code" class="form-control">
                {% for country in countries %}
                <option value="{{ country.country.iso }}">{{ country.country.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>API Token</label>
            <input type="text" class="form-control" name="auth_token" id="profile_auth_token" readonly>
            <p class="form-text"><a href="#" class="new-auth-token">Generate new API token</a></p>
          </div>

        </div>
        <div class="modal-footer">
          <a class="change-password btn btn-link pull-left" data-toggle="modal" data-dismiss="modal" href="#change-password-box">Change your password</a>
          <button class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
      </form>

    </div>
  </div>
</div>
