{% extends "indigo_app/user_account/layout.html" %}
{% load i18n %}

{% block title%}{% trans "Edit Profile" %} {{ block.super }}{% endblock %}
{% block account-sidebar %}
  {% include 'indigo_app/user_account/_sidebar.html' with active='profile' %}
{% endblock %}

{% block account-content %}
<form method="POST">
  {% csrf_token %}

  <div class="card mb-5">
    <div class="card-body">

      {% include 'indigo_app/user_account/_profile_form.html' %}

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    </div>
  </div>

</form>

{% endblock %}
