{% extends "indigo_app/user_account/layout.html" %}

{% block title%}Edit Profile {{ block.super }}{% endblock %}
{% block account-sidebar %}
  {% include 'indigo_app/user_account/_sidebar.html' with active='profile' %}
{% endblock %}

{% block account-content %}
<form method="POST">
  {% csrf_token %}

  <div class="card mb-5">
    <div class="card-body">

      <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default:'' }}" required>
        {% if form.first_name.errors %}
          <div class="text-danger">
            {% for error in form.first_name.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value|default:'' }}" required>
        {% if form.last_name.errors %}
          <div class="text-danger">
            {% for error in form.last_name.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
        <select class="form-control" name="{{ form.country.name }}" id="{{ form.country.id_for_label }}" required>
          {% for val, label in form.fields.country.choices %}
          <option value="{{ val }}" {% if val == form.country.value %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
        {% if form.country.errors %}
          <div class="text-danger">
            {% for error in form.country.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>

</form>
{% endblock %}
