{% load i18n %}

<div class="modal fade" id="attachments-modal" tabindex="-1">
  <div class="modal-dialog modal-lg document-attachments-view">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Attachments' %}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body scrollable">
        <div class="document-attachments-list"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>

<script id="attachments-template" type="text/x-handlebars-template">
{% verbatim %}

<ul class="attachments-list {{#if selectable}}selectable{{/if}}">
  {{#each attachments}}
  <li data-index="{{ @index }}" data-id="{{ id }}" class="{{#if selected}}selected{{/if}}">
    <div class="wrapper">
      <a href="{{ view_url }}" target="_blank">
        <div class="icon {{#unless isImage}}not-image{{/unless}}">
          {{#if isImage}}
            <img src="{{ view_url }}" alt="{{ filename }}" class="img-thumbnail">
          {{else}}
            {{#if icon}}<i class="far {{ icon }} fa-3x"></i>{{/if}}
          {{/if}}
        </div>
      </a>
      <div class="attachment-details">
        <div class="filename"><a href="{{ view_url}}" target="_blank">{{ filename }}</a></div>
        <div class="filesize">{{ prettySize }}</div>
      </div>
      <div class="buttons">
        <a href="#" class="edit-attachment"><i class="fas fa-pencil-alt"></i></a>
        <a href="#" class="delete-attachment"><i class="fas fa-trash fa-fw"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
  <li class="add-attachment">
    <div class="wrapper">
      <input type="file" id="new-attachment-file" multiple="true">
      <h4>Drag and drop a file</h4>
      <h5>or</h5>
      <button class="btn btn-secondary">{% endverbatim %}{% trans 'Choose a file' %}{% verbatim %}</button>
    </div>
  </li>
</ul>

{% endverbatim %}
</script>

<script id="edit-attachment-template" type="text/x-handlebars-template">
<form>
  <div class="mb-2"><input type="text" class="form-control form-control-sm" name="filename" required></div>
  <div>
    <button class="btn btn-sm btn-success save-attachment" type="submit">{% trans 'OK' %}</button>
    <button class="btn btn-sm btn-outline-secondary cancel">{% trans 'Cancel' %}</button>
  </div>
</form>
</script>
