<div class="modal fade" tabindex="-1" role="dialog" id="cheatsheet-modal">
  <div class="modal-dialog modal-lg cheatsheet" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editor help</h5>
        <input type="text" class="ms-auto form-control search" style="width: 250px" placeholder="Search...">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="scrollable ace-xcode">

        <div class="accordion" id="cheat-accordion">
          {% block cards %}

          {% block cheat-preface %}
          <div class="card">
            <a href="#cheat-preface" data-bs-toggle="collapse" class="card-header">Starting the Preface</a>
            <div id="cheat-preface" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Mark the start of the Preface, before the Preamble and body.</p>

                <pre class="editor-snippet"><span class="ace_constant ace_language">PREFACE</span>

This is the preface of the Act.</pre>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-preamble %}
          <div class="card">
            <a href="#cheat-preamble" data-bs-toggle="collapse" class="card-header">Starting the Preamble</a>
            <div id="cheat-preamble" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Mark the start of the Preamble, after the Preface and before the body.</p>

                <pre class="editor-snippet"><span class="ace_constant ace_language">PREAMBLE</span>

This is the preamble of the Act.</pre>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-longtitle %}
          <div class="card">
            <a href="#cheat-longtitle" data-bs-toggle="collapse" class="card-header">Markup the long title</a>
            <div id="cheat-longtitle" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Indicate the long title of the work using <code>LONGTITLE</code>. This usually comes just before the sentence "BE IT ENACTED..."</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language">LONGTITLE</span> <span class="ace_entity ace_name ace_tag">To establish ...</span></pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <div class="akn-longTitle mb-0">To establish ...</div>
                    </la-akoma-ntoso>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-body %}
          <div class="card">
            <a href="#cheat-body" data-bs-toggle="collapse" class="card-header">Starting the body of the document</a>
            <div id="cheat-body" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Start the body of the document with <code>BODY</code>. This comes after the Preface and Preamble.</p>

                <pre class="editor-snippet"><span class="ace_constant ace_language">BODY</span>

This is the body of the Act.</pre>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-chapter %}
          <div class="card">
            <a href="#cheat-chapter" data-bs-toggle="collapse" class="card-header">Starting a new Chapter</a>
            <div id="cheat-chapter" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Start a Chapter with <code>Chapter</code> and a number. The title is optional.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language">Chapter</span> <span class="ace_constant ace_numeric">2</span> <span class="ace_entity ace_name ace_tag">- Interpretation</span>

This is the body of the Chapter.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <h2>Chapter 2<br>Interpretation</h2>
                      <span class="akn-p mb-0">This is the body of the Chapter.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-part %}
          <div class="card">
            <a href="#cheat-part" data-bs-toggle="collapse" class="card-header">Starting a new Part</a>
            <div id="cheat-part" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Start a Part with <code>Part</code> and a number. The title is optional.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language">Part</span> <span class="ace_constant ace_numeric">2</span> <span class="ace_entity ace_name ace_tag">- Interpretation</span>

This is the body of the Part.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <h2>Part 2 – Interpretation</h2>
                      <span class="akn-p mb-0">This is the body of the Part.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-subpart %}
            <div class="card">
              <a href="#cheat-subpart" data-bs-toggle="collapse" class="card-header">Starting a new Subpart</a>
              <div id="cheat-subpart" class="collapse" data-parent="#cheat-accordion">
                <div class="card-body">
                  <p>A subpart is a grouping container, like a Part, but without "Part" in the generated heading.</p>
                  <p>Start a subpart with <code>SUBPART</code> and a number. The title is optional.</p>

                  <div class="row">
                    <div class="col">
                  <pre class="editor-snippet"><span class="ace_constant ace_language">SUBPART</span> <span class="ace_constant ace_numeric">A</span> <span class="ace_entity ace_name ace_tag">- Party and costs</span>

This is the body of the Subpart.</pre>
                    </div>
                    <div class="col">
                      <la-akoma-ntoso class="akoma-ntoso-snippet">
                        <h2>A – Party and costs</h2>
                        <span class="akn-p mb-0">This is the body of the Subpart.</span>
                      </la-akoma-ntoso>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endblock %}

          {% block cheat-crossheading %}
          <div class="card">
            <a href="#cheat-crossheading" data-bs-toggle="collapse" class="card-header">Include a Crossheading</a>
            <div id="cheat-crossheading" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Use <code>CROSSHEADING</code> to include a heading that isn't a chapter or a part, and when the grouping of child elements is unclear.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language">CROSSHEADING</span> <span class="ace_entity ace_name ace_tag">E. Control under a Scheme</span></pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-heading mb-0">E. Control under a Scheme</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-section %}
          <div class="card">
            <a href="#cheat-section" data-bs-toggle="collapse" class="card-header">Starting a Section</a>
            <div id="cheat-section" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Start a numbered section with the number and an optional title. The title should start with a capital letter and then be all in lowercase.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_numeric">2.</span> <span class="ace_entity ace_name ace_tag">Definitions</span>

This is the body of the section.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <h3>2. Definitions</h3>
                      <span class="akn-p mb-0">This is the body of the section.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-subsection %}
          <div class="card">
            <a href="#cheat-subsection" data-bs-toggle="collapse" class="card-header">Starting a Subsection</a>
            <div id="cheat-subsection" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Start a numbered subsection with the subsection number in brackets. Subsections do not have titles.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_numeric">(2)</span> The content of subsection 2.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <div class="akn-subsection"><span class="akn-num">(2)</span><span class="akn-content"><span class="akn-p">The content of subsection 2.</span></span></div>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-blocklist %}
          <div class="card">
            <a href="#cheat-blocklist" data-bs-toggle="collapse" class="card-header">Create a numbered list (a blocklist)</a>
            <div id="cheat-blocklist" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Create a numbered list with each item's number in brackets. Indent nested lists with four spaces (or a TAB).</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">The following items are a blocklist:

<span class="ace_constant ace_numeric">(a)</span> first item

<span class="ace_constant ace_numeric">(b)</span> second item

    <span class="ace_constant ace_numeric">(i)</span> nested item (b)(i)

    <span class="ace_constant ace_numeric">(ii)</span> nested item (b)(ii)

<span class="ace_constant ace_numeric">(c)</span> third item</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">

                      <span class="akn-blockList">
                        <span class="akn-listIntroduction">The following items are a blocklist:</span>
                        <span class="akn-item">
                          <span class="akn-num">(a)</span>
                          <span class="akn-p">first item</span>
                        </span>
                        <span class="akn-item">
                          <span class="akn-num">(b)</span>
                          <span class="akn-blockList">
                            <span class="akn-listIntroduction">second item</span>
                            <span class="akn-item">
                              <span class="akn-num">(i)</span>
                              <span class="akn-p">nested item (b)(i)</span>
                            </span>
                            <span class="akn-item">
                              <span class="akn-num">(ii)</span>
                              <span class="akn-p">nested item (b)(ii)</span>
                            </span>
                          </span>
                        </span>
                        <span class="akn-item">
                          <span class="akn-num">(c)</span>
                          <span class="akn-p">third item</span>
                        </span>
                      </span>

                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-special %}
          <div class="card">
            <a href="#cheat-special" data-bs-toggle="collapse" class="card-header">Insert a special character</a>
            <div id="cheat-special" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>See guidance on using special characters in the <a href="https://docs.laws.africa/editing-a-document/special-characters" target="_blank">Editor Guide</a>.</p>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-italics %}
          <div class="card">
            <a href="#cheat-italics" data-bs-toggle="collapse" class="card-header">Make text italics</a>
            <div id="cheat-italics" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Display a word or a sentence as italics using <code>//word//</code>. Do this for Latin, foreign and other special terms.</p>
                <p>For editorial remarks, use <code>[[remark]]</code> instead.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">The situation is same, //ceteris paribus//.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p mb-0">The situation is the same, <i>ceteris paribus</i>.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-bold %}
          <div class="card">
            <a href="#cheat-bold" data-bs-toggle="collapse" class="card-header">Make text bold</a>
            <div id="cheat-bold" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Display a word or a sentence as bold using <code>**word**</code>. Do not use for headings or defined terms.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">The situation called for **bold terms**.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p mb-0">The situation called for <b>bold terms</b>.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-underline %}
            <div class="card">
              <a href="#cheat-underline" data-bs-toggle="collapse" class="card-header">Underline text</a>
              <div id="cheat-underline" class="collapse" data-parent="#cheat-accordion">
                <div class="card-body">
                  <p>Underline a word or a sentence using two underscores on either side: <code>__word__</code>. Do not use for headings.</p>

                  <div class="row">
                    <div class="col">
                      <pre class="editor-snippet">The situation called for __underlined text__.</pre>
                    </div>
                    <div class="col">
                      <la-akoma-ntoso class="akoma-ntoso-snippet">
                        <span class="akn-p mb-0">The situation called for <u>underlined text</u>.</span>
                      </la-akoma-ntoso>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endblock %}

          {% block cheat-weblink %}
          <div class="card">
            <a href="#cheat-weblink" data-bs-toggle="collapse" class="card-header">Add a link to a webpage</a>
            <div id="cheat-weblink" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Link to a webpage using <code>[link text](http://example.com/the-link)</code>.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">Indigo is created by <span class="ace_markup ace_underline ace_link">[Laws.Africa](https://www.laws.africa/)</span>.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p mb-0">Indigo is created by <a href="https://www.laws.africa/" target="_blank">Laws.Africa</a>.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-aknlink %}
          <div class="card">
            <a href="#cheat-aknlink" data-bs-toggle="collapse" class="card-header">Add a link to an Act or Work</a>
            <div id="cheat-aknlink" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Link to another Act or Work using <code>[link text](frbr-uri)</code>, where <code>frbr-uri</code> is the FRBR URI of the work you want to link to, such as <code>/akn/za/act/1998/2</code>.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">Repealed by <span class="ace_markup ace_underline ace_link">[Act 5 of 2009](/za/act/2009/5)</span>.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p mb-0">Repealed by <a href="#">Act 5 of 2009</a>.</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-image %}
          <div class="card">
            <a href="#cheat-image" data-bs-toggle="collapse" class="card-header">Insert an image</a>
            <div id="cheat-image" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>
                  Insert an image by clicking <i>Insert, Insert image...</i> in the menu, or use <code>![alternative text](/media/image.png)</code>.
                  Click <i>Attachments <span class="fa fa-paperclip"></span></i> to see images you can insert, or upload new ones.
                </p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_other ace_image">![Logo](/static/images/logo.png)</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p mb-0"><img src="/static/images/logo.png" alt="Logo"></span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-remark %}
          <div class="card">
            <a href="#cheat-remark" data-bs-toggle="collapse" class="card-header">Add an editorial remark</a>
            <div id="cheat-remark" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Add an editorial remark, text that isn't part of the original document, using <code>[[remark]]</code>.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_comment ace_line ace_remark">[[An editorial remark]]</span></pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p mb-0">
                        <span class="akn-remark" data-status="editorial">[An editorial remark]</span>
                      </span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-escape %}
          <div class="card">
            <a href="#cheat-escape" data-bs-toggle="collapse" class="card-header">Ignore text that looks like a chapter, part or section but isn't</a>
            <div id="cheat-escape" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>
                  You can tell the system to ignore text that looks like a chapter, part, section or any other special
                  words, by putting a backslash <code>\</code> just before it.
                </p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">\1. An item that isn't a section
\(a) text that isn't a list item
\Chapter that isn't a chapter</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <span class="akn-p">1. An item that isn't a section</span>
                      <span class="akn-p">(a) text that isn't a list item</span>
                      <span class="akn-p mb-0">Chapter that isn't a chapter</span>
                    </la-akoma-ntoso>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-schedule %}
          <div class="card">
            <a href="#cheat-schedule" data-bs-toggle="collapse" class="card-header">Starting a Schedule</a>
            <div id="cheat-schedule" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Start a schedule using <code>SCHEDULE</code>.</p>

                <div class="row mb-4">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language">SCHEDULE</span>
<span class="ace_constant ace_language">HEADING </span><span class="ace_entity ace_name ace_tag">Schedule heading</span>

This is the body of the schedule.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <h2>Schedule heading</h2>
                      <div class="akn-paragraph akn--no-indent">
                        <span class="akn-content">
                          <span class="akn-p mb-0">This is the body of the schedule.</span>
                        </span>
                      </div>
                    </la-akoma-ntoso>
                  </div>
                </div>

                <p>Include a subheading with <code>SUBHEADING</code> below <code>HEADING</code>.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language">SCHEDULE</span>
<span class="ace_constant ace_language">HEADING </span><span class="ace_entity ace_name ace_tag">First schedule </span>
<span class="ace_constant ace_language">SUBHEADING </span><span class="ace_entity ace_name ace_tag">Laws to be repealed</span>

This is the body of the first schedule.</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <h2>First Schedule</h2>
                      <h2>Laws to be repealed</h2>
                      <div class="akn-paragraph akn--no-indent">
                        <span class="akn-content">
                          <span class="akn-p mb-0">This is the body of the first schedule.</span>
                        </span>
                      </div>
                    </la-akoma-ntoso>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-table %}
          <div class="card">
            <a href="#cheat-table" data-bs-toggle="collapse" class="card-header">Insert a table</a>
            <div id="cheat-table" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Insert a table using <a href="https://en.wikipedia.org/wiki/Help:Table/Manual_tables" target="_blank">Wikimedia table syntax</a>.</p>
                <ul>
                  <li>A table starts with <code>{|</code> and ends with <code>|}</code>.</li>
                  <li>Use <code>|-</code> to separate rows.</li>
                  <li>Use <code>|</code> to start a cell on a row.</li>
                  <li>Use <code>!</code> to start a heading cell on a row.</li>
                </ul>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet"><span class="ace_constant ace_language ace_table">{|
|-
! header 1
! header 2
! header 3
|-
| row 1, cell 1
| row 1, cell 2
| row 1, cell 3
|-
| row 2, cell 1
| row 2, cell 2
| row 2, cell 3
|}</span></pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <table class="mb-0">
                        <tbody><tr>
                        <th><span class="akn-p">header 1</span></th>
                        <th><span class="akn-p">header 2</span></th>
                        <th><span class="akn-p">header 3</span></th>
                        </tr>
                        <tr>
                        <td><span class="akn-p">row 1, cell 1</span></td>
                        <td><span class="akn-p">row 1, cell 2</span></td>
                        <td><span class="akn-p">row 1, cell 3</span></td>
                        </tr>
                        <tr>
                        <td><span class="akn-p">row 2, cell 1</span></td>
                        <td><span class="akn-p">row 2, cell 2</span></td>
                        <td><span class="akn-p">row 2, cell 3</span></td>
                        </tr>
                        </tbody>
                      </table>
                    </la-akoma-ntoso>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-convert-table %}
          <div class="card">
            <a href="#cheat-convert-table" data-bs-toggle="collapse" class="card-header">Convert lines of text into a table</a>
            <div id="cheat-convert-table" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Convert lines of text to a table by selecting the lines, and then clicking <i>Insert, Insert table</i>.</p>

                <div class="row">
                  <div class="col">
                    <pre class="editor-snippet">Line 1
Line 2
Line 3</pre>
                  </div>
                  <div class="col">
                    <la-akoma-ntoso class="akoma-ntoso-snippet">
                      <table class="mb-0">
                        <tbody><tr>
                        <tr>
                        <td><span class="akn-p">Line 1</span></td>
                        </tr>
                        <tr>
                        <td><span class="akn-p">Line 2</span></td>
                        </tr>
                        <tr>
                        <td><span class="akn-p">Line 3</span></td>
                        </tr>
                        </tbody>
                      </table>
                    </la-akoma-ntoso>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endblock %}

          {% block cheat-paste-table %}
          <div class="card">
            <a href="#cheat-paste-table" data-bs-toggle="collapse" class="card-header">Paste a table</a>
            <div id="cheat-paste-table" class="collapse" data-parent="#cheat-accordion">
              <div class="card-body">
                <p>Paste a table from a PDF or MS Word by copying it from the source, then pasting it into the editor when in Edit mode.</p>
              </div>
            </div>
          </div>
          {% endblock %}

          {% endblock %}

          {% block extra-cards %}{% endblock %}
        </div>

      </div>
      <div class="modal-footer">
        {% if place.settings.styleguide_url %}
          <a class="btn btn-outline-secondary me-2" href="{{ place.settings.styleguide_url }}" target="_blank"><i class="fas fa-question-circle fa-fw"></i> {{ work.country.name }} Style Guide</a>
        {% endif %}
        <a class="btn btn-outline-secondary me-2" href="{% url 'help' %}" target="_blank">Full editor documentation</a>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
