<div class="document-workspace-content">
  <div id="annotation-nav" class="annotation-nav d-none">
    <span class="mr-2 text-muted">
      <i class="far fa-comments"></i>
      <span class="n-threads"></span>
    </span>
    <a href="#" class="prev-annotation"><i class="fa fa-fw fa-chevron-up"></i></a>
    <a href="#" class="next-annotation"><i class="fa fa-fw fa-chevron-down"></i></a>
  </div>

  <div class="document-sheet-container content-with-gutter">
    <div class="sheet-outer content">
      <div class="sheet-inner" id="document-sheet">
        <la-akoma-ntoso frbr-expression-uri="{{ document.expression_frbr_uri }}"></la-akoma-ntoso>
      </div>
    </div>
    <div data-vue-component="Gutter"></div>
  </div>

  <div class="document-text-editor sheet-outer">
    <div class="monaco-editor-wrapper sheet-inner">
      <div class="monaco-editor"></div>
    </div>
  </div>
</div>

<div class="document-xml-editor">
  <div class="monaco-editor"></div>
</div>
