{% load i18n %}

<div class="modal fade" id="italics-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Italicised terms' %}</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#this-document-italics-terms">{% trans 'In this document' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#country-italics-terms">{% blocktrans %}In {{ country }}{% endblocktrans %}</a>
          </li>
        </ul>
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="this-document-italics-terms">

            <div class="scrollable">
              <div class="document-italics-terms"></div>
            </div>

          </div>
          <div class="tab-pane fade" id="country-italics-terms">
            {% if country.italics_terms %}
              <p>{% blocktrans %}Terms that will be italicised in {{ country }}:{% endblocktrans %}</p>
              <table class="table table-striped table-sm">
                <tbody>
                {% for term in country.italics_terms %}
                  <tr>
                    <td>{{ term }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              <em>{% blocktrans %}No terms have been selected to be italicised in {{ country }}.{% endblocktrans %}</em>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary remove-italics"><i class="fas fa-times"></i> {% trans 'Remove italics' %}</button>
        <button type="button" class="btn btn-outline-secondary mark-up-italics"><i class="fas fa-sync"></i> {% trans 'Mark up italics' %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>

    </div>
  </div>
</div>

<script id="italics-template" type="text/x-handlebars-template">

  {% verbatim %}
  {{#if italics_terms}}
  <p>Items that have been italicised in this document:</p>
  <table class="table table-striped table-sm">
    <tbody>
    {{#each italics_terms}}
    <tr>
      <td>{{this}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  <em>{% endverbatim %}{% trans 'No italicised terms.' %}{% verbatim %}.</em>
  {{/if}}
  {% endverbatim %}

</script>
