{% load i18n %}

<div class="document-revisions-view d-none">
  <header class="revisions-header">
    <div class="title">
      <div class="diff-navigator float-right" data-target="#revision-akn">
        <span class="change-count mr-3"></span>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-secondary prev-change-btn">{% trans 'Previous' %} <i class="fas fa-chevron-up"></i></button>
          <button type="button" class="btn btn-outline-secondary next-change-btn">{% trans 'Next' %} <i class="fas fa-chevron-down"></i></button>
        </div>
      </div>

      <h5>{% trans 'Recent Changes' %}</h5>
    </div>

    <div class="buttons text-right">
      <a href="#" class="btn btn-primary dismiss">{% trans 'Close' %}</a>
    </div>
  </header>

  <div class="revisions-main">
    <div class="revisions-content">
      <div class="document-sheet-container sheet-outer">
        <div class="revision-preview sheet-inner">
          <la-akoma-ntoso class="diffset" id="revision-akn"></la-akoma-ntoso>
        </div>
      </div>
    </div>

    <aside class="revisions-container"></aside>
  </div>

  <script id="revisions-template" type="text/x-handlebars-template">
  {% verbatim %}

  <ol class="revision-list list-unstyled">
  {{#each revisions}}
    <li class="revision" data-id="{{ id }}" data-index="{{ @index }}">
      <div>
        <span class="revision-date">{{ date_str }}</span> <span class="text-muted"> – {{ id }}</span>
      </div>
      <div class="revision-summary">
        <div class="revision-user">{{ user.display_name }}</div>
        <div class="revision-comment">{{ comment }}</div>
        <div class="revision-controls">
          <a href="#" class="restore-revision">{% endverbatim %}{% trans 'Restore this revision' %}{% verbatim %}</a>
        </div>
      </div>
    </li>
  {{/each}}
  </ol>

  {% endverbatim %}
  </script>
</div>
