{% load i18n %}
<ul class="nav nav-underline document-secondary-pane-nav">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#source-attachment-pane">{% trans "Source" %}</button>
  </li>
  {% if perms.indigo_api.view_document_xml %}
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#xml-pane">Akoma Ntoso</button>
    </li>
  {% endif %}
  <li class="ms-auto">
    <button class="btn btn-sm btn-close mt-2 me-2 document-secondary-pane-toggle"></button>
  </li>
</ul>
<div class="tab-content flex-grow-1">
  <div class="tab-pane show active h-100" id="source-attachment-pane">
    {% include "indigo_api/document/_source_att.html" %}
  </div>
  {% if perms.indigo_api.view_document_xml %}
    <div class="tab-pane h-100" id="xml-pane">
      <div class="document-xml-editor mt-1">
        <div class="monaco-editor-box"></div>
      </div>
    </div>
  {% endif %}
</div>
