<div class="source-attachment-view d-none">
  <div class="my-1 mr-1 d-flex">
    <div class="flex-grow-1">
      <select class="form-control source-attachment-list"></select>
    </div>
    <div class="text-right">
      <a href="" class="btn btn-link source-attachment-pop" target="_blank" rel="noopener">
        Open<i class="fas fa-external-link-alt ml-2"></i>
      </a>
      <a href="#" class="btn btn-outline-secondary source-attachment-toggle">&times;</a>
    </div>
  </div>
  <iframe id="source-attachment-iframe" class="flex-grow-1" height="100%" width="100%"></iframe>
</div>
