{% load i18n indigo %}
<div class="d-flex flex-column me-2 h-100">
  <div class="my-2 ms-auto">
    <a href="{% url 'work_tasks' frbr_uri=document.frbr_uri %}" target="_blank">
      {% trans "All tasks" %}<i class="fas fa-external-link-alt ms-1"></i>
    </a>
  </div>
  <div class="overflow-y-scroll">
    {% related_tasks document as tasks %}
    {% if tasks %}
      {% for task in tasks %}
        {% include "indigo_api/document/_task.html" %}
      {% endfor %}
    {% else %}
      <div class="alert alert-info">
        {% blocktrans with expression_date=document.expression_date|date:'Y-m-d' %}
          No tasks at {{ expression_date }}.
        {% endblocktrans %}
      </div>
    {% endif %}
  </div>
</div>
