<div class="btn-toolbar border-right mr-2 pr-2">
  <div class="btn-group btn-group-sm mr-2">
    <a class="btn btn-outline-secondary" href="#attachments-modal" data-toggle="modal"><i class="fas fa-paperclip"></i> Attachments</a>
    <button class="btn btn-outline-secondary show-revisions"><i class="fas fa-history"></i> Changes</button>

    {% if comparison_expressions %}
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><i class="fas fa-exchange-alt"></i> Compare to</button>
        <div class="dropdown-menu">
          {% for exp in comparison_expressions %}
            <button class="dropdown-item show-pit-comparison" data-id="{{ exp.id }}">
              {{ exp.expression_date|date:"Y-m-d" }}
              {% if exp.id == document.id %}– current point in time{% endif %}
            </button>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <button type="button" class="btn btn-outline-secondary source-attachment-toggle"><i class="fas fa-book-open"></i> Show source</button>
  </div>

  <div class="btn-group btn-group-sm document-analysis-menu">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><i class="fas fa-magic"></i> Analysis</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#defined-terms-modal" data-toggle="modal">Defined terms...</a>
      <a class="dropdown-item" href="#references-modal" data-toggle="modal">References...</a>
      <a class="dropdown-item" href="#italics-modal" data-toggle="modal">Italicised terms...</a>
    </div>
  </div>
</div>

<div class="document-editor-toolbar">
  <div class="btn-toolbar general-buttons">
    <div class="btn-group btn-group-sm mr-2">
      {% if request.user.is_authenticated %}
      <button type="button" class="btn btn-primary edit-text"><i class="fas fa-pencil-alt"></i> Edit</button>
      {% endif %}
    </div>
    <div class="btn-group btn-group-sm mr-2">
      <button type="button" class="btn btn-outline-secondary show-akn-hierarchy" data-toggle="buttons" title="Outline Akoma Ntoso Hierarchy"><i class="fas fa-sitemap"></i> Hierarchy</button>
      {% if perms.indigo_api.view_document_xml %}
      <button type="button" class="btn btn-outline-secondary show-xml-editor" data-toggle="buttons"><i class="fas fa-code"></i> Akoma Ntoso</button>
      {% endif %}
      {% if place.settings.styleguide_url %}
        <a class="btn btn-outline-secondary ml-2" href="{{ place.settings.styleguide_url }}" target="_blank"><i class="fas fa-book-open fa-fw"></i> {{ work.country.name }} Style Guide</a>
      {% endif %}
    </div>
  </div>

  <div class="btn-toolbar text-editor-buttons d-none">
    <div class="btn-group">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Edit</button>
        <div class="dropdown-menu with-shortcuts">
          <a class="dropdown-item edit-find" href="#">Find... <span class="shortcut win">Ctrl-F</span><span class="shortcut osx">⌘-F</span></a>
          <a class="dropdown-item edit-find-next" href="#">Find next<span class="shortcut win">Ctrl-K</span><span class="shortcut osx">⌘-G</span></a>
          <a class="dropdown-item edit-find-previous" href="#">Find previous<span class="shortcut win">Ctrl-Shift-K</span><span class="shortcut osx">⌘-Shift-G</span></a>
          <a class="dropdown-item edit-find-replace" href="#">Find and replace...<span class="shortcut win">Ctrl-H</span><span class="shortcut osx">⌘-⌥-F</span></a>
        </div>
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Insert</button>
        <div class="dropdown-menu">
          <a class="dropdown-item insert-image" href="#">Insert image...</a>
          <a class="dropdown-item insert-table" href="#">Insert table</a>
          <a class="dropdown-item insert-schedule" href="#">Insert Schedule</a>
          <a class="dropdown-item insert-annotation" href="#">Insert annotation</a>
        </div>
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle mr-2" data-toggle="dropdown">Markup</button>
        <div class="dropdown-menu">
          <a class="dropdown-item markup-bold" href="#">Bold</a>
          <a class="dropdown-item markup-italics" href="#">Italics</a>
          <a class="dropdown-item markup-remark" href="#">Remark</a>
        </div>
      </div>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-success save"><i class="fas fa-check"></i> Update</button>
      <button class="btn btn-secondary mr-2 cancel" title="Cancel"><i class="fas fa-times"></i> Cancel</button>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-outline-secondary" data-target="#cheatsheet-modal" data-toggle="modal"><i class="fas fa-question-circle fa-fw"></i> Editor help...</button>
      {% if place.settings.styleguide_url %}
        <a class="btn btn-outline-secondary ml-2" href="{{ place.settings.styleguide_url }}" target="_blank"><i class="fas fa-book-open fa-fw"></i> {{ work.country.name }} Style Guide</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="btn-toolbar ml-auto">
  <div class="btn-group btn-group-sm mr-2">
    <a class="btn btn-link" href="{% url 'work_tasks' frbr_uri=work.frbr_uri %}"><i class="fas fa-thumbtack mr-1"></i>Tasks</a>
  </div>

  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i> Settings</button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#properties-modal" data-toggle="modal">Properties...</a>
      <div class="dropdown-submenu">
        <a href="#" class="dropdown-item">Download as</a>
        <div class="dropdown-menu dropdown-menu-right">
          {% for fmt in download_formats %}
            <a class="dropdown-item" href="{{ fmt.url }}" target="_blank"><i class="{{ fmt.icon }}"></i> {{ fmt.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item delete-document" href="#">Delete</a>
    </div>
  </div>
</div>

<!-- this wrapper is removed from the DOM and positioned inline alongside tables in the content view,
     it's just useful to write the HTML here and not in Javascript. -->
<div class="table-editor-wrapper d-none">
  <div class="btn-toolbar table-editor-buttons ig">
    <div class="ig btn-toolbar when-inactive">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-primary edit-table"><i class="fas fa-pencil-alt"></i> Edit table</button>
      </div>
    </div>

    <div class="btn-toolbar when-active">
      <div class="btn-group btn-group-sm mr-2">
        <button class="btn btn-success save-edit-table"><i class="fas fa-check"></i> Update</button>
        <button class="btn btn-secondary cancel-edit-table" title="Cancel"><i class="fas fa-times"></i> Cancel</button>
      </div>

      <div class="btn-group mr-2">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i> Insert
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item table-insert-row-above">Insert row above</button>
            <button class="dropdown-item table-insert-row-below">Insert row below</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item table-insert-column-left">Insert column left</button>
            <button class="dropdown-item table-insert-column-right">Insert column right</button>
          </div>
        </div>

        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-minus"></i> Delete <span class="caret"></span>
          </button>
          <div class="dropdown-menu">
            <button href="#" class="dropdown-item table-delete-row">Delete row</button>
            <button href="#" class="dropdown-item table-delete-column">Delete column</button>
          </div>
        </div>
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-secondary table-text-left"><i class="fas fa-align-left"></i></button>
        <button type="button" class="btn btn-outline-secondary table-text-center"><i class="fas fa-align-center"></i></button>
        <button type="button" class="btn btn-outline-secondary table-text-right"><i class="fas fa-align-right"></i></button>
        <button type="button" class="btn btn-outline-secondary table-merge-cells">Merge cells</button>
        <button type="button" class="btn btn-outline-secondary table-toggle-heading"><i class="fas fa-heading"></i> Heading</button>
      </div>
    </div>
  </div>

  <div class="table-container"></div>
</div>
<!-- end table editor wrapper -->
