{% extends "indigo_api/work_layout.html" %}
{% load pipeline static i18n %}

{% block title %}{{ document.title }}{% endblock %}
{% block body-class %}{{ block.super }} document-editor-view no-site-footer sidebar-minimized
  {% if document.draft %}is-draft{% else %}is-published{% endif %}
  {% if work.repealed_date %}is-repealed{% endif %}
{% endblock %}

{% block main-header %}
  <header class="main-header with-menubar">
    <div class="container-fluid">
      <div class="d-flex">
        <div class="flex-grow-1">
          <ul class="breadcrumb text-muted">
            {# this will be filled in by the view #}
            <li class="breadcrumb-item">&nbsp;</li>
          </ul>

          <h5 class="main-header-title">
            {% if document.work.numbered_title %}
              {{ document.work.numbered_title }}:
            {% endif %}
            <span class="document-title">{{ document.title }}</span>
            <span class="badge badge-info if-published">{% trans 'published' %}</span>
            <span class="badge badge-warning if-draft">{% trans 'draft' %}</span>
            <span class="badge badge-info if-repealed">{% trans 'repealed' %}</span>
            {% if document.work.work_in_progress %}
              <span class="badge badge-warning">{% trans 'work in progress' %}</span>
            {% endif %}
          </h5>
        </div>

        <div class="d-flex">
          {% include 'indigo_api/document/_activity.html' %}

          <div class="document-workspace-buttons mt-1">
            {% block save-buttons %}
              {% if request.user.is_authenticated %}
                {% if user_can_edit %}
                  <div class="btn-group save-btn-group">
                    <button class="btn btn-success save" disabled>
                      <span class="if-published">{% trans 'Save &amp; publish' %}</span>
                      <span class="if-draft">{% trans 'Save draft' %}</span>
                    </button>
                    <button class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item save-and-publish if-draft {% if not perms.indigo_api.publish_document %}disabled{% endif %} {% if document.work.work_in_progress %}disabled{% endif %}" href="#">{% trans 'Save &amp; publish' %}</a>
                      <a class="dropdown-item save-and-unpublish if-published {% if not perms.indigo_api.publish_document %}disabled{% endif %}" href="#">{% trans 'Unpublish &amp; save' %}</a>
                    </div>
                  </div>
                {% else %}
                  <div>{% trans "You don't have permission to make changes." %}</div>
                {% endif %}
              {% else %}
                <div>
                  {% with path=request.get_full_path|urlencode %}
                    {% url 'account_login' as login_url %}
                    {% blocktrans with url=login_url|add:"?next="|add:path trimmed %}
                    <a href="{{ url }}">Log in </a> to make changes.
                    {% endblocktrans %}
                  {% endwith %}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>

      <div class="document-toolbar-wrapper">
        {% include 'indigo_api/document/_toolbar.html' %}
      </div>
    </div>
  </header>
{% endblock %}

{% block main-content %}
  <div class="document-workspace document-content-view">
    {% include "indigo_api/document/_toc.html" %}
    {% include "indigo_api/document/_content.html" %}
    {% include "indigo_api/document/_source_att.html" %}
  </div>

  <script id="breadcrumb-template" type="text/x-handlebars-template">
  {% verbatim %}
    <li class="breadcrumb-item"><a href="/places/{{ document.country }}/" class="work-country">{{ country.name }} · {{ document.country }}</a></li>
    {{#if locality}}
    <li class="breadcrumb-item"><a href="/places/{{ document.country }}-{{ document.locality }}/" class="work-locality">{{ locality }} · {{ document.locality }}</a></li>
    {{/if}}
    <li class="breadcrumb-item">
      <a href="/places/{{ document.country }}{{#if locality }}-{{ document.locality }}{{/if}}/works/">{% endverbatim %}{% trans 'Works' %}{% verbatim %}</a>
    </li>
    <li class="breadcrumb-item"><a href="/works{{ work.frbr_uri }}/" class="work-frbr-uri" data-popup-url="/works{{ work.frbr_uri }}/popup">{{ document.frbr_uri }}</a></li>
    <li class="breadcrumb-item expressions">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ document.expression_date }} · {{ document.language }}</a>
      <div class="dropdown-menu">
        {{#each expressions}}
          {{#each documents}}
            <a class="dropdown-item {{#if current}}disabled{{/if}}" href="/documents/{{ id }}">
              {{ ../date }}
              · {{ language }}
              {{#if current}} – {% endverbatim %}{% trans 'this document' %}{% verbatim %}{{/if}}
            </a>
          {{/each}}
        {{/each}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/works{{ work.frbr_uri }}/amendments/">{% endverbatim %}{% trans 'Manage amendments' %}...{% verbatim %}</a>
      </div>
    </li>
  {% endverbatim %}
  </script>

  {% include "indigo_api/document/_defined_terms.html" %}
  {% include "indigo_api/document/_references.html" %}
  {% include "indigo_api/document/_annotations.html" %}
  {% include "indigo_api/document/_insert_image_modal.html" %}
  {% include "indigo_api/document/_italics_terms.html" %}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include "indigo_api/document/_revisions.html" %}
  {% include "indigo_api/document/_properties.html" %}
  {% include "indigo_api/document/_attachments.html" %}
  {% include "indigo_api/document/_cheatsheet.html" %}
  {% include "indigo_api/document/_issues.html" %}
{% endblock %}

{% block js %}
  {{ block.super }}
  {# include the document as JSON #}
  <script type="text/javascript">
  window.Indigo.Preloads.document = {{ document_json|safe }};
  window.Indigo.Preloads.documentContent = {{ document_content_json|safe }};
  window.Indigo.Preloads.amendments = {{ amendments_json|safe }};
  window.Indigo.Preloads.expressions = {{ expressions_json|safe }};

  CKEDITOR_BASEPATH = '/static/ckeditor/';
  </script>

  <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>

  <script src="{% static 'lib/monaco-editor/loader.js' %}"></script>
  <script src="{% static 'lib/monaco-editor/editor/editor.main.nls.js' %}"></script>
  <script src="{% static 'lib/monaco-editor/editor/editor.main.js' %}"></script>

{% endblock %}
