{% load i18n inline_scss sass_tags %}

{% language document.django_language %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head-css %}
    {# this ensure thas the stylesheet is built during compilescss #}
    <!-- {% sass_src 'stylesheets/export.scss' %} -->
    <!-- {% sass_src 'stylesheets/export-epub.scss' %} -->
    <style type="text/css">{% inline_scss 'stylesheets/export.scss' %}</style>
    {% endblock %}

    {% block head-meta %}{% endblock %}
  </head>
  <body {% block body-attributes %}{% endblock %} class="{% block body-class %}{% endblock %}">
    {% block content %}
    {% endblock content %}
  </body>
</html>

{% endlanguage %}
