{% extends "indigo_api/akn/export/base.html" %}
{% load i18n %}

{% block body-class %}standalone{% endblock %}

{% block content %}
  {% if colophon %}
    <div class="colophon">
      {{ colophon.body | safe }}

      <hr>
    </div>
  {% endif %}

  {% if not element %}
    <div class="toc">
      <h2>{% trans "Table of Contents" %}</h2>
      <h3>{{ document.title }}</h3>

      {% if not document.stub %}
      {% include 'indigo_api/akn/export/toc.html' with items=document.table_of_contents %}
      {% endif %}
    </div>
  {% endif %}

  <la-akoma-ntoso frbr-expression-uri="{{ document.expression_frbr_uri }}">
    {% include template_name %}
  </la-akoma-ntoso>
{% endblock %}
