{% extends "work/layout.html" %}

{% block view-id %}edit-work-view{% endblock %}

{% block subnav %}
  {% if work and perms.indigo_api.can_change_work or not work and perms.indigo_api.can_create_work %}
  <button class="btn btn-info save pull-right" type="button">{% if work %}Save{% else %}Create{% endif %}</button>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block work-content %}
  {% if work and perms.indigo_api.can_change_work or not work and perms.indigo_api.can_create_work %}
  {% else %}
  <div class="alert alert-danger">You don't have permission to create or change a work.</div>
  {% endif %}

  <div class="card">
    <h5 class="card-header">Work details</h5>
    <div class="card-body">

      <div class="form-row">
        <div class="form-group col-12">
          <label for="work_title" class="required">Short title</label>
          <input type="text" class="form-control" id="work_title" placeholder="Title" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="work_country" class="required">Country</label>
          <select id="work_country" class="form-control">
            {% for opt in countries %}
            <option value="{{ opt.country.iso.lower }}">{{ opt.country.name }}</option>
          {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4 offset-md-2">
          <label for="work_locality">Locality</label>
          <select class="form-control" id="work_locality"></select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="work_year" class="required">Year of introduction</label>
          <input type="text" class="form-control" id="work_year" required pattern="\d{4}">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="work_number" class="required">Number within year</label>
          <input type="text" class="form-control" id="work_number" required pattern="[^\s]+">
          <p class="form-text text-muted">Number or short name that uniquely identifies this legislation within the year of introduction</p>
        </div>

        <div class="form-group col-md-6">
          <label for="work_subtype">Work subtype</label>
          <select id="work_subtype" class="form-control">
            <option value="">(none)</option>
            {% for subtype in subtypes %}
            <option value="{{ subtype.abbreviation }}">{{ subtype }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="work_frbr_uri">FRBR URI</label>
          <div id="work_frbr_uri" class="form-text"></div>
          <p class="form-text text-muted">Uniquely identifies this work globally</p>
        </div>

        <div class="form-group col-md-6">
          <button class="btn btn-outline-primary choose-parent pull-right">Choose parent work</button>
          <label>Parent work</label>
          <div id="work_parent_work" class="form-text" style="display: none">
            <a class="work_parent_title"></a>
            <br>
            <span class="work_parent_uri"></span>
            <br>
            <a href="#" class="delete-parent">remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default is-form" id="promulgation">
    <div class="panel-heading">
      <h3 class="panel-title">Promulgation</h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">

        <div class="form-group">
          <label for="work_publication_date" class="col-sm-2 control-label required">Publication date</label>
          <div class="col-md-2 col-sm-4">
            <input type="text" class="form-control" data-provide="datepicker" id="work_publication_date" placeholder="yyyy-mm-dd" required pattern="\d{4}-\d\d-\d\d">
            <p class="help-block">Date when first published</p>
          </div>
        </div>

        <div class="form-group">
          <label for="work_publication_name" class="col-sm-2 control-label">Publication name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="work_publication_name" list="publication_list">
            <p class="help-block">Original publication, eg. national gazette</p>
          </div>
          <datalist id="publication_list"></datalist>

          <label for="work_publication_number" class="col-sm-2 control-label">Publication number</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="work_publication_number">
            <p class="help-block">Publication's sequence number, eg. gazette number</p>
          </div>
        </div>

        <div class="form-group">
          <label for="work_commencement_date" class="col-sm-2 control-label">Commencement date</label>
          <div class="col-md-2 col-sm-4">
            <input type="text" class="form-control" data-provide="datepicker" id="work_commencement_date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d">
            <p class="help-block">Date when most of the work comes into force</p>
          </div>

          <label for="work_assent_date" class="col-sm-2 col-md-offset-2 control-label">Assent date</label>
          <div class="col-md-2 col-sm-4">
            <input type="text" class="form-control" data-provide="datepicker" id="work_assent_date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d">
            <p class="help-block">Date when signed by the President</p>
          </div>
        </div>

        <div class="form-group">
          <label for="work_commencement_date" class="col-sm-2 control-label">Commenced by</label>
          <div class="col-sm-10">
            <div class="work-commencing-work form-control-static"></div>
            <button class="btn btn-default change-commencing-work">Choose commencing work</button>
            <p class="help-block">Work which indicated the commencement date</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default is-form" id="repeal">
    <div class="panel-heading">
      <h3 class="panel-title">Repeal</h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-2 control-label">Repealed by</label>
          <div class="col-sm-10">
            <div class="work-repeal-view form-control-static"></div>
            <button class="btn btn-default change-repeal">Choose repealing work</button>
          </div>
        </div>

        <div class="form-group repeal-date">
          <label class="col-sm-2 control-label required">Repeal date</label>
          <div class="col-md-2 col-sm-4">
            <input type="text" class="form-control" data-provide="datepicker" id="work_repealed_date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d\d-\d\d" required>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if work %}
    {% if not work.can_delete %}
    <p>
      This work cannot be deleted while <a href="{% url 'work_amendments' work.id %}">linked documents</a>
      and <a href="{% url 'work_related' work.id %}">related works</a> exist.
    </p>
    {% elif perms.indigo_api.can_delete_work %}
      <button class="btn btn-danger delete pull-left" type="button">Delete this work</button>
    {% endif %}
  {% endif %}

</div>

<script id="work-repeal-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if repealed_by }}
  <a href="/works/{{ repealed_by.id }}">{{ repealed_by.title }}</a>
  <a href="#" class="delete-repeal"><i class="fa fa-close fa-fw"></i></a>
{{else}}
  <i>Not repealed.</i>
{{/if}}

{% endverbatim %}
</script>

<script id="commencing-work-template" type="text/x-handlebars-template">
{% verbatim %}

{{#if commencing_work }}
  <a href="/works/{{ commencing_work.id }}">{{ commencing_work.title }}</a>
  <a href="#" class="delete-commencing-work"><i class="fa fa-close fa-fw"></i></a>
{{else}}
  <i>None.</i>
{{/if}}

{% endverbatim %}
</script>

{% endblock %}
