{% extends "main.html" %}

{% block title %}{% if work %}{{ work.title }}{% else %}Work{% endif %}{% endblock %}
{% block header %}<h4>{% if work %}{{ work.title }}{% else %}Create a new work{% endif %}</h4>{% endblock %}

{% block content %}
<div class="work-view">
  <header class="main-header container-fluid">
    <ul class="breadcrumb text-muted">
      <li><a class="work-country" href="{% url 'library' %}?country={{ country.code }}">{{ country.name }} · {{ country.code }}</a></li>
      {% if locality %}
      <li><a class="work-locality" href="{% url 'library' %}?country={{ country.code}}&locality={{ locality.code }}">{{ locality.name }} · {{ locality.code }}</a></li>
      {% endif %}
      <li class="work-frbr-uri">{{ work.frbr_uri }}</li>
    </ul>

    <h4 class="work-title">{% if work %}{{ work.title }}{% else %}Create a new work{% endif %}</h4>

    <nav class="sub-nav">
      {% block subnav %}
      <ul class="nav nav-pills">
        {% if work %}
          <li {% if view == 'WorkView' %}class="active"{% endif %}><a href="{% url 'work' work_id=work.id %}">Work Details</a></li>
          <li {% if view == 'WorkAmendmentsView' %}class="active"{% endif %}><a href="{% url 'work_amendments' work_id=work.id %}">Amendments</a></li>
          <li {% if view == '' %}class="active"{% endif %}><a href="{% url 'work_related' work_id=work.id %}">Related Works</a></li>
        {% else %}
          <li class="active"><a href="#">Work Details</a></li>
        {% endif %}
      </ul>
      {% endblock %}
    </nav>
  </header>

  <div class="main-content">
    <div class="container">
      {% block work-content %}{% endblock %}
    </div>
  </div>
</div>

{% include "work/_work_chooser_modal.html" %}
{% endblock %}

{% block js %}
  {{ block.super }}

  {# include the document as JSON #}
  <script type="text/javascript">
  // inject country code-to-name mappings into JS
  window.Indigo.countries = {{ countries_json|safe }};
  window.Indigo.Preloads.country_code = '{{ user.editor.country_code }}';
  window.Indigo.Preloads.country = {{ countries_json|safe }};
  window.Indigo.Preloads.work = {{ work_json|safe }};
  </script>

{% endblock %}
