{% extends "main.html" %}

{% block title %}Batch import{% endblock %}

{% block content %}
<div class="container">
  <h3>Import new works</h3>

  {% if works %}

  <table class="table mt-3">
    <thead>
      <tr>
        <th style="width: 10%">Status</th>
        <th style="width: 10%">Row</th>
        <th>Title / Error message</th>
        <th>Uri</th>
      </tr>
    </thead>

    <tbody>
      {% for work in works %}
        <tr>
          <td>
            {{ work.status }}
          </td>
          <td>
            {{ work.row }}
          </td>
          <td>
            {% if work.error_message %}
            {{ work.error_message }}
            {% else %}
            <a href="{% url 'work' frbr_uri=work.work.frbr_uri %}">{{ work.work.title }}</a>
            {% endif %}
          </td>
          <td>
            {% if work.error_message %}
            —
            {% else %}
            <a href="{% url 'work' frbr_uri=work.work.frbr_uri %}">{{ work.work.frbr_uri }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="{{ form.spreadsheet_url.id_for_label }}">URL of the Google Sheet to import works from</label>
          <input type="url" class="form-control" id="{{ form.spreadsheet_url.id_for_label }}" name="{{ form.spreadsheet_url.name }}" placeholder="Enter Google Sheets URL" required autofocus value="{{ form.spreadsheet_url.value|default:'' }}">
          {% for err in form.spreadsheet_url.errors %}
            <div class="form-text text-danger">{{ err }}</div>
          {% endfor %}
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Import works</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
