{% extends "work/layout.html" %}

{% block view-id %}work-related-view{% endblock %}

{% block work-content %}
  {% if no_related %}
  <div class="alert alert-info">No related works.</div>
  {% endif %}

  {% if family %}
    <div class="card mb-3">
      <h5 class="card-header">Parents and children</h5>
      {% include 'work/_related_table.html' with items=family %}
    </div>
  {% endif %}

  {% if repeals %}
    <div class="card mb-3">
      <h5 class="card-header">Repeals</h5>
      {% include 'work/_related_table.html' with items=repeals %}
    </div>
  {% endif %}

  {% if commencement %}
    <div class="card mb-3">
      <h5 class="card-header">Commencement</h5>
      {% include 'work/_related_table.html' with items=commencement %}
    </div>
  {% endif %}

  {% if amended %}
    <div class="card mb-3">
      <h5 class="card-header">Works amended by this work</h5>
      {% include 'work/_related_table.html' with items=amended %}
    </div>
  {% endif %}

  {% if amended_by %}
    <div class="card mb-3">
      <h5 class="card-header">Works amending this work</h5>
      {% include 'work/_related_table.html' with items=amended_by %}
    </div>
  {% endif %}
{% endblock %}
