{% extends "work/layout.html" %}

{% block view-id %}work-related-view{% endblock %}

{% block work-content %}
  {% if family %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Parents and children</h3>
      </div>
      {% include 'work/_related_table.html' with items=family %}
    </div>
  {% endif %}

  {% if repeals %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Repeals</h3>
      </div>
      {% include 'work/_related_table.html' with items=repeals %}
    </div>
  {% endif %}

  {% if amended %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Works this work amends</h3>
      </div>
      {% include 'work/_related_table.html' with items=amended %}
    </div>
  {% endif %}

  {% if amended_by %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Works amending this work</h3>
      </div>
      {% include 'work/_related_table.html' with items=amended_by %}
    </div>
  {% endif %}
{% endblock %}
