{% for prov in provisions %}

  {% if prov.visible or prov.visible_descendants %}
    <li class="provisions-list__item">
      <div class="provisions-list__item__body">
        <label>
          <input type="checkbox" class="mr-2"
            {% if prov.visible %}
              value="{{ prov.id }}" name="provisions"
              {% if prov.id in checked %}checked{% endif %}
            {% else %}
              disabled
            {% endif %}
          >
        </label>
        <div class="provision-title">
          {{ prov.title }}
        </div>
        {% if prov.children %}
        <button class="expand-collapse-button"
                type="button"
        >
          <span class="expand-collapse-button__expand-icon">
            <i class="fas fa-plus"></i>
          </span>
          <span class="expand-collapse-button__collapse-icon">
            <i class="fas fa-minus"></i>
          </span>
        </button>
        {% endif %}
      </div>


      {% if prov.children %}
        <div class="collapse">
          <ul class="mb-3 provisions-list">
            {% include "indigo_api/template_parts/provisions_tree_view.html" with provisions=prov.children checked=checked %}
          </ul>
        </div>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
