{% for prov in provisions %}
  <li class="provisions-list__item">
    <div class="d-flex align-items-center justify-content-between">
      <label class="mb-0">
        <input value="{{ prov.id }}"
               type="checkbox"
               name="provisions"
               class="mr-2"
        />
        {{ prov.title }}
      </label>
      {% if prov.children %}
        <button class="expand-collapse-button"
                type="button"
        >
          <span class="expand-collapse-button__expand-icon">
            <i class="fas fa-plus"></i>
          </span>
          <span class="expand-collapse-button__collapse-icon">
            <i class="fas fa-minus"></i>
          </span>
        </button>
      {% endif %}
    </div>


    {% if prov.children %}
      <div class="collapse">
        <ul class="mb-3 provisions-list">
          {% include "indigo_api/template_parts/provisions_tree_view.html" with provisions=prov.children %}
        </ul>
      </div>
    {% endif %}
  </li>
{% endfor %}
