<header class="boxed-group-header">
  <h4>Basic Details</h4>
</header>

<div class="boxed-group-inner">
  <article>
    <fieldset>
      <div class="form-horizontal">
        <div class="form-group">
          <label for="document_title" class="col-sm-2 control-label">Document title</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="document_title" placeholder="Title">
          </div>
        </div>
      </div>

    </fieldset>
  </article>
</div>
