{% extends "main.html" %}
{% load indigo_app %}

{% block title%}{{ badge.name }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'indigo_social:badges' %}">Badges</a></li>
  <li class="breadcrumb-item">{{ badge.name }}</li>
{% endblock %}

{% block content %}
<div class="container mb-5 mt-3">

  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="mb-3 d-flex">
        {% include 'indigo_social/_achievement.html' with badge=badge with_description=False %}
        <div class="ml-3">
          <h1 class="mt-0 mb-1"><a href="{% url 'indigo_social:badge_detail' slug=badge.slug %}">{{ badge.name }}</a></h1>
          <h5>{{ badge.description }}</h5>
        </div>
      </div>

      <div class="card mt-4">
        <h4 class="card-header">Awarded to</h4>
        <div class="card-body">
          {% if awards %}
            <ul>
            {% for award in awards %}
              <li>
                {% user_profile award.user %} – <span class="text-muted">{{ award.awarded_at|timesince }} ago</span>
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <p><em>No-one has been awarded this badge.</em></p>
          {% endif %}
        </div>
      </div>

      {% if badge.nature == 'permission' %}
        <h4 class="mt-3">Permissions granted by this badge</h4>

        <ul>
          {% for perm in badge.get_permissions %}
            <li>
              {{ perm.name }}
              {% if request.user.is_staff %}
                — <code>{{ perm.content_type.app_label }}.{{ perm.content_type }}.{{ perm.codename }}</code>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        {% if request.user.is_staff %}
          <p>Users awarded this badge are added to the <a href="{% url 'admin:auth_group_change' badge.group.pk %}">{{ badge.group_name }} group</a>.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
