{% extends "main.html" %}
{% load i18n %}

{% block title%}{% trans "Badges" %} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'indigo_social:badges' %}">{% trans "Badges" %}</a></li>
{% endblock %}

{% block content %}
<div class="container mb-5 mt-3">

  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="card">
        <h4 class="card-header">{% trans "Badges" %}</h4>
        <div class="card-body">
          <p>{% trans "Badges indicate expertise and are earned by completing tasks." %}</p>

          <div class="row">
            {% for badge in badges %}
              <div class="col-6">
                <div class="mb-3 d-flex">
                  {% include 'indigo_social/_achievement.html' with badge=badge with_description=False %}
                  <div class="ml-3">
                    <h5 class="mt-0 mb-1"><a href="{% url 'indigo_social:badge_detail' slug=badge.slug %}">{{ badge.name }}</a></h5>
                    {{ badge.description }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
