{% extends "main.html" %}
{% load indigo_app i18n %}

{% block title%}{% trans "Contributors" %} {{ block.super }}{% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'indigo_social:contributors' %}">{% trans "Contributors" %}</a></li>
{% endblock %}

{% block content %}
<div class="container">

  <h1 class="mb-3 mt-3">{% trans "Contributors" %}</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for userprofile in object_list %}
    <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>{% user_profile userprofile.user %}</h4>
          </div>
          <div class="card-body">
            {% if userprofile.bio %}{{ userprofile.bio|default:'' | linebreaks }}{% endif %}
            <div class="text-muted">Joined {{ userprofile.user.date_joined|date:'Y-m-d' }}</div>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
