{% extends "main.html" %}
{% load pinax_badges_tags %}

{% block title%}{{ userprofile.user.first_name }} {{ last_name_initial }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'indigo_social:contributors' %}">Contributors</a></li>
{% endblock %}

{% block content %}
<div class="container mb-5">

  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="card mt-3 mb-3">
        <h1 class="card-header">{{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</h1>
        <div class="card-body">
          {% if userprofile.bio %}
          {{ userprofile.bio | linebreaks }}
          {% endif %}

          <hr>

          {% if userprofile.organisations %}
          <h6>Organisation(s)</h6>
          {{ userprofile.organisations | linebreaks }}
          {% endif %}

          {% if userprofile.skills %}
          <h6>Skills</h6>
          {{ userprofile.skills | linebreaks }}
          {% endif %}

          {% if userprofile.qualifications %}
          <h6>Qualifications</h6>
          {{ userprofile.qualifications | linebreaks }}
          {% endif %}

          {% if userprofile.specialisations %}
          <h6>Specialisations</h6>
          {{ userprofile.specialisations | linebreaks }}
          {% endif %}

          {% if userprofile.areas_of_law %}
          <h6>Areas of law</h6>
          {{ userprofile.areas_of_law }}
          {% endif %}

          {% if userprofile.twitter_username or userprofile.linkedin_prolife %}
          <hr>
          <ul class="fa-ul">
            {% if userprofile.twitter_username %}
            <li>
              <span class="fa-li"><i class="fab fa-twitter"></i></span> 
              <a href="https://twitter.com/@{{ userprofile.twitter_username }}" target="_blank" rel="noopener noreferrer">@{{ userprofile.twitter_username }}</a>
            </li>
            {% endif %}

            {% if userprofile.linkedin_profile %}
            <li>
              <span class="fa-li"><i class="fab fa-linkedin"></i></span> 
              <a href="{{ userprofile.linkedin_profile }}" target="_blank" rel="noopener noreferrer">{{ userprofile.linkedin_profile }}</a>
            </li>
            {% endif %}

          </ul>
          {% endif %}
        </div>

        {% if request.user == userprofile.user %}
        <div class="card-footer">
          <a class="btn btn-primary" href="{% url 'edit_account' %}">Edit profile</a>
        </div>
        {% endif %}
      </div>

      <div class="card">
        <h4 class="card-header">Badges Awarded</h4>
        <div class="card-body">

          {% badges_for_user userprofile.user as badges %}
          <ul class="list-unstyled">
            {% for badge in badges %}
            <li class="media mb-3">
              <i class="fas fa-award fa-fw fa-3x mr-3"></i>
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ badge.name }}</h5>
                <div class="text-muted">{{ badge.awarded_at|timesince }} ago</div>
                {{ badge.description }}
              </div>
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
