{% extends "main.html" %}
{% load activity_tags indigo_app indigo_social i18n %}

{% block title%}{{ user.first_name }} {{ user.last_name }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'indigo_social:contributors' %}">{% trans "Contributors" %}</a></li>
{% endblock %}

{% block content %}
<div class="container mb-5 mt-3">

  <div class="row">
    <div class="col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h4>
            {% if not user.first_name %}
              {{ user.username }}
            {% else %}
              {{ user.first_name }} {{ user.last_name }}
            {% endif %}
          </h4>

          <img src="{{ user.userprofile.profile_photo_url }}" class="img-thumbnail mb-2" width="200" height="200">

          <ul class="fa-ul">
            {% if user.editor.country %}
            <li>
              <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> {{ user.editor.country.name }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>

      {% if request.user == user %}
        <a class="btn btn-outline-primary btn-block" href="{% url 'edit_account' %}">{% trans "Edit profile" %}</a>
      {% endif %}
    </div>

    <div class="col-md-8 col-lg-9">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link {% if view.template_name == 'indigo_social/user_profile.html' %}active{% endif %}" href="{% url 'indigo_social:user_profile' username=user.username %}">{% trans "Overview" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view.template_name == 'indigo_social/user_activity.html' %}active{% endif %}" href="{% url 'indigo_social:user_activity' username=user.username %}">{% trans "Activity" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view.template_name == 'indigo_social/user_tasks.html' %}active{% endif %}" href="{% url 'indigo_social:user_tasks' username=user.username %}">{% trans "Tasks" %}</a>
        </li>        
      </ul>

      {% block user_profile_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
