{% extends "main.html" %}
{% load activity_tags indigo_app pinax_badges_tags %}

{% block title%}{{ user.first_name }} {{ user.last_name }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'indigo_social:contributors' %}">Contributors</a></li>
{% endblock %}

{% block content %}
<div class="container mb-5 mt-3">

  <div class="row">
    <div class="col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h4>
            {% if not user.first_name %}
              {{ user.username }}
            {% else %}
              {{ user.first_name }} {{ user.last_name }}
            {% endif %}
          </h4>

          {% if user.userprofile.bio %}
            {{ user.userprofile.bio | linebreaks }}
          {% endif %}

          <ul class="fa-ul">
            {% if user.editor.country %}
            <li>
              <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> {{ user.editor.country.name }}
            </li>
            {% endif %}
            {% if user.userprofile.twitter_username %}
            <li>
              <span class="fa-li"><i class="fab fa-twitter"></i></span> 
              <a href="https://twitter.com/@{{ user.userprofile.twitter_username }}" target="_blank" rel="noopener noreferrer">@{{ user.userprofile.twitter_username }}</a>
            </li>
            {% endif %}

            {% if user.userprofile.linkedin_profile %}
            <li>
              <span class="fa-li"><i class="fab fa-linkedin"></i></span> 
              <a href="{{ user.userprofile.linkedin_profile }}" target="_blank" rel="noopener noreferrer">{{ user.userprofile.linkedin_profile }}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>

      <section class="my-3">
        {% if user.userprofile.organisations %}
        <h5 class="mb-0">Organisations</h5>
        {{ user.userprofile.organisations | linebreaks }}
        {% endif %}

        {% if user.userprofile.skills %}
        <h5 class="mb-0">Skills</h5>
        {{ user.userprofile.skills | linebreaks }}
        {% endif %}

        {% if user.userprofile.qualifications %}
        <h5 class="mb-0">Qualifications</h5>
        {{ user.userprofile.qualifications | linebreaks }}
        {% endif %}

        {% if user.userprofile.specialisations %}
        <h5 class="mb-0">Specialisations</h5>
        {{ user.userprofile.specialisations | linebreaks }}
        {% endif %}

        {% if user.userprofile.areas_of_law %}
        <h5 class="mb-0">Areas of law</h5>
        {{ user.userprofile.areas_of_law|default:'' }}
        {% endif %}
      </section>

      {% if request.user == user %}
        <a class="btn btn-outline-primary btn-block" href="{% url 'edit_account' %}">Edit profile</a>
      {% endif %}
    </div>

    <div class="col-md-8 col-lg-9">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link {% if view.template_name == 'indigo_social/user_profile.html' %}active{% endif %}" href="{% url 'indigo_social:user_profile' username=user.username %}">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view.template_name == 'indigo_social/user_activity.html' %}active{% endif %}" href="{% url 'indigo_social:user_activity' username=user.username %}">Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view.template_name == 'indigo_social/user_tasks.html' %}active{% endif %}" href="{% url 'indigo_social:user_tasks' username=user.username %}">Tasks</a>
        </li>        
      </ul>

      {% block user_profile_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
