{% extends "indigo_api/work/layout.html" %}
{% load i18n %}

{% block view-id %}work-commencements-view{% endblock %}
{% block title %}{% trans 'Commencements' %} – {{ block.super }}{% endblock %}

{% block work-content %}
  {% if work.commenced and not work.commencement_date %}
    <p class="alert alert-warning">{% trans 'This work has commenced, but the commencement date is unknown.' %}</p>
  {% endif %}

  {% if not work.commenced %}
    <p class="alert alert-info">{% trans 'This work has not commenced.' %}</p>
  {% endif %}

  {% if has_uncommenced_provisions %}
    <p class="alert alert-warning">
      {% blocktrans trimmed %}
        This work has <a href="#uncommenced-provisions">uncommenced provisions</a>.
      {% endblocktrans %}
    </p>
  {% endif %}

  <ol class="timeline">
    {% if perms.indigo_api.add_commencement %}
      <li class="timeline-item card" id="commencement-new">
        <div class="card-body">
          {% if blank_commencement_exists %}
            <div class="col-6 alert alert-danger">
              <div>{% trans "A commencement without a date or a commencing work already exists. Edit it before adding another one." %}</div>
            </div>
          {% else %}
            <button
                class="btn btn-success"
                hx-post="{% url 'work_commencement_add' frbr_uri=work.frbr_uri %}"
                hx-target="#commencement-new"
            >{% trans 'Add a commencement' %}</button>
          {% endif %}
        </div>
      </li>
    {% endif %}
    {% for commencement in commencements %}
      <li class="timeline-item card" id="commencement-{{ commencement.id }}">
        <h6 class="timeline-date">
          {% if commencement.date %}
            {{ commencement.date|date:"Y-m-d" }}
          {% else %}
            <em>{% trans 'Unknown' %}</em>
          {% endif %}
        </h6>
        {% include "indigo_api/commencement_detail.html" %}
      </li>
    {% endfor %}
  </ol>

  {% if has_uncommenced_provisions %}
    <div
        id="uncommenced-provisions"
        hx-get="{% url 'work_uncommenced_provisions' frbr_uri=work.frbr_uri %}"
        hx-trigger="load"
        hx-target="#uncommenced-provisions"
    >{% trans "Loading uncommenced provisions…" %}</div>
  {% endif %}

  {% if work.commencements.count and perms.indigo_api.delete_commencement %}
    <form method="post" class="mt-5" action="{% url 'work_uncommenced' frbr_uri=work.frbr_uri %}">
      {% csrf_token %}
      <h5>{% trans 'Not yet commenced?' %}</h5>
      <p>{% trans 'Remove all commencement detail and mark as not commenced.' %}</p>
      <button type="submit" class="btn btn-danger" data-confirm="{% trans 'Are you sure? ALL commencement information will be permanently deleted.' %}" name="delete">{% trans 'This work has not commenced' %}</button>
    </form>
  {% endif %}

  <div
      id="work-chooser-modal"
      class="modal modal-blur fade"
      style="display: none"
      tabindex="-1"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">{% trans "Loading…" %}</div>
    </div>
  </div>
{% endblock %}
