{% load indigo i18n %}

<div class="popup-content lh-compact">
  <h6>
    {{ work.title }}
    {% include 'indigo_api/work/_info_badges.html' %}
    <br><span class="text-muted mt-1 wb-all">{{ work.frbr_uri }}</span>
  </h6>

  {% if work.numbered_title %}
    <p class="mb-2">{{ work.numbered_title }}</p>
  {% endif %}

  {% include 'indigo_app/place/_work_detail_overview.html' %}

  {% if portion_html %}
    <hr>
    <la-akoma-ntoso frbr-expression-uri="{{ document.expression_frbr_uri }}">
      {{ portion_html|safe }}
    </la-akoma-ntoso>
  {% endif %}
</div>
