{% extends 'indigo_workflow/base.html' %}
{% load i18n viewflow indigo_workflow %}

{% block title %}{{ process.flow_class.process_title }} - #{{ process.id }}{% endblock %}

{% block content %}
<div class="container pt-3 pb-3">

  <div class="card mb-3">
    <div class="card-header">
      {% block card-header %}
        {% include 'indigo_workflow/_process_header.html' with process=process %}
      {% endblock %}
    </div>
    <div class="card-body">
      {% block card-body %}
        <h4>{{ process.flow_class.process_title }}</h4>

        {% if process.notes %}
          <p>{{ process.notes|linebreaks|urlize }}</p>
        {% endif %}

        <h5 class="mt-3">Tasks in this workflow</h5>

        <form role="form" method="POST">
          {% csrf_token %}

          <table class="table table-sm">
            {% for task in task_list|human_tasks %}
              <tr>
                <td class="text-muted">#{{ forloop.counter }}</td>
                <td>
                  {% flowurl task 'detail' user=request.user as detail_url %}
                  {% flowurl task 'execute' user=request.user as execute_url %}
                  <a href="{{ execute_url|default:detail_url }}">
                    {{ task.flow_task.task_title|default:task.summary|default:task.flow_task }}
                  </a>
                </td>
                <td>{{ task.get_status_display }}</td>
                <td>{{ task.owner|default:"" }}</td>
                <td class="text-right">
                  {% flowurl task 'assign' user=request.user as assign_url %}
                  {% if assign_url %}
                  <button type="submit" name="_continue" class="btn btn-primary" formaction="{{ assign_url }}">{% trans 'Accept this task' %}</button>
                  {% endif %}

                  {% flowurl task 'unassign' user=request.user as unassign_url %}
                  {% if unassign_url %}
                  <button type="submit" name="run_action" class="btn btn-danger" formaction="{{ unassign_url }}" data-confirm="Are you sure you want to unassign this task?">{% trans 'Unassign' %}</button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </form>

        {% if process.work %}
          <div class="mt-3">
          <a href="{% url 'work' frbr_uri=process.work.frbr_uri %}" class="btn btn-primary">View the work →</a>
          </div>
        {% endif %}
      {% endblock %}
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          {% if process.finished %}
            <div class="text-muted">Finished in {{ process.created|timesince:process.finished }}.</div>
          {% endif %}
        </div>
        <div class="col text-right">
          <form role="form" method="POST">
            {% csrf_token %}
            {% if view.flow_class|manage_permission_name in perms and process.status == 'NEW' %}
            <button type="submit" name="_cancel_process" class="btn btn-danger" formaction="{% flowurl process 'action_cancel' %}?back={{ request.path }}" data-confirm="Are you sure you want to cancel this workflow?">{% trans 'Cancel workflow' %}</button>
            {% endif %}
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}
