{% extends 'indigo_workflow/task_base.html' %}
{% load i18n viewflow %}

{% block card-detail %}
<h5>Task Description</h5>
<p>{{ activation.task.flow_task.task_description }}</p>

<div class="row">
  <div class="col-4">
    <table class="table table-sm table-borderless">
      <tr>
        <th>Created</th>
        <td>{{ activation.task.created|date }} at {{ activation.task.created|time }}</td>
      </tr>
      <tr>
        <th>Started</th>
        <td>{% if activation.task.started %}{{ activation.task.started|date }} at {{ activation.task.started|time }}{% endif %}</td>
      </tr>
      <tr>
        <th>Finished</th>
        <td>{% if activation.task.finished %}{{ activation.task.finished|date }} at {{ activation.task.finished|time }}{% endif %}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
