{% extends "indigo_app/user_account/layout.html" %}
{% load i18n %}

{% block title%}{% trans "Edit Profile" %} {{ block.super }}{% endblock %}
{% block account-sidebar %}
  {% include 'indigo_app/user_account/_sidebar.html' with active='profile' %}
{% endblock %}

{% block account-content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          {% include 'indigo_app/user_account/_profile_form.html' %}

          <div class="mb-3">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            <input type="text" class="form-control" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" value="{{ form.username.value }}" required>
            {% if form.username.errors %}
              <div class="text-danger">
                {% for error in form.username.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label>{% trans "Email" %}</label>
            <div class="form-static">
              {{ request.user.email }}
              — <a href="{% url 'account_email' %}">{% trans "manage your email addresses" %}</a>
            </div>
          </div>

          <div class="mb-3">
            <label for="{{ form.bio.id_for_label }}">{{ form.bio.label }}</label>
            <textarea class="form-control" name="{{ form.bio.html_name }}" id="{{ form.bio.id_for_label }}"
                      placeholder="{% trans "Tell us a bit about yourself" %}">{{ form.bio.value }}</textarea>
            {% if form.bio.errors %}
              <div class="text-danger">
                {% for error in form.bio.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="col-6">
          <div class="mb-3">
            <label for="{{ form.new_profile_photo.id_for_label }}">{{ form.new_profile_photo.label }}</label>

            <div class="my-2">
              <div>
                <img src="{{ user.userprofile.profile_photo_url }}" class="img-thumbnail" width="200" height="200">
              </div>
              {% if user.userprofile.profile_photo %}
                <div class="mt-3">
                  <button type="submit" name="_delete_photo" class="btn btn-outline-danger"
                          data-confirm="{% trans "Are you sure you want to remove your profile photo?" %}">Remove photo</button>
                </div>
              {% endif %}
            </div>

            <div class="mb-3">
              <label>{% trans "Upload a photo" %}</label>
              <input type="file" name="{{ form.new_profile_photo.html_name }}" id="{{ form.new_profile_photo.id_for_label }}" accept="image/*" onchange="this.form.submit();">
              <p class="form-text">{% trans "A square photo at least 200 pixels wide is best." %}</p>
            </div>
            {% if form.new_profile_photo.errors %}
              <div class="text-danger">
                {% for error in form.new_profile_photo.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}

          </div>
        </div>
      </div>

      <hr>

      <h5 class="card-title">{% trans "Professional skills" %}</h5>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="{{ form.organisations.id_for_label }}">{{ form.organisations.label }}</label>
            <textarea class="form-control" name="{{ form.organisations.html_name }}" id="{{ form.organisations.id_for_label }}"
                      placeholder="{% trans "What organisations do you work for or with?" %}">{{ form.organisations.value }}</textarea>
            {% if form.organisations.errors %}
              <div class="text-danger">
                {% for error in form.organisations.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.skills.id_for_label }}">{{ form.skills.label }}</label>
            <textarea class="form-control" name="{{ form.skills.html_name }}" id="{{ form.skills.id_for_label }}">{{ form.skills.value }}</textarea>
            {% if form.skills.errors %}
              <div class="text-danger">
                {% for error in form.skills.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.qualifications.id_for_label }}">{{ form.qualifications.label }}</label>
            <textarea class="form-control" name="{{ form.qualifications.html_name }}" id="{{ form.qualifications.id_for_label }}">{{ form.qualifications.value }}</textarea>
            {% if form.qualifications.errors %}
              <div class="text-danger">
                {% for error in form.qualifications.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.specialisations.id_for_label }}">{{ form.specialisations.label }}</label>
            <textarea class="form-control" name="{{ form.specialisations.html_name }}" id="{{ form.specialisations.id_for_label }}">{{ form.specialisations.value }}</textarea>
            {% if form.specialisations.errors %}
              <div class="text-danger">
                {% for error in form.specialisations.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.areas_of_law.id_for_label }}">{{ form.areas_of_law.label }}</label>
            <input type="text" class="form-control" name="{{ form.areas_of_law.html_name }}" id="{{ form.areas_of_law.id_for_label }}" value="{{ form.areas_of_law.value|default:'' }}">
            {% if form.areas_of_law.errors %}
              <div class="text-danger">
                {% for error in form.areas_of_law.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <hr>

      <h5 class="card-title">{% trans "Social media profiles" %}</h5>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="{{ form.twitter_username.id_for_label }}">{{ form.twitter_username.label }}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input class="form-control" name="{{ form.twitter_username.html_name }}" id="{{ form.twitter_username.id_for_label }}" value="{{ form.twitter_username.value|default:'' }}">
            </div>
            {% if form.twitter_username.errors %}
              <div class="text-danger">
                {% for error in form.twitter_username.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.linkedin_profile.id_for_label }}">{{ form.linkedin_profile.label }}</label>
            <input type="url" class="form-control" name="{{ form.linkedin_profile.html_name }}" id="{{ form.linkedin_profile.id_for_label }}" value="{{ form.linkedin_profile.value|default:'' }}">
            {% if form.linkedin_profile.errors %}
              <div class="text-danger">
                {% for error in form.linkedin_profile.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
      <a href="{% url 'indigo_social:user_profile' username=userprofile.user.username %}" class="btn btn-primary float-end">{% trans "View my profile" %}</a>
    </div>
  </div>

</form>

{% endblock %}
