{% load documents i18n %}

{% block coverpage %}
{% if coverpage %}
  {% language document.django_language %}

  <div class="coverpage">
    {% block title %}
      <h1>{{ document.title }}</h1>
    {% endblock %}

    {% block subtitle %}
    <h2>
      {% with type=document|friendly_document_type %}
        {% trans type as t_type %}
        {% if type != "Chapter" %}
          {% blocktrans with number=document|friendly_document_number year=document.year type=t_type %}{{ type }} {{ number }} of {{ year }}{% endblocktrans %}
        {% else %}
          {% blocktrans with number=document|friendly_document_number %}{{ type }} {{ number }}{% endblocktrans %}
        {% endif %}
      {% endwith %}
    </h2>
    {% endblock %}

    {% block notices %}
      <ul class="notice-list">
        {% if document.assent_date %}
        <li class="assent-date">
          {% blocktrans with date=document.assent_date|date:"j E Y" %}Assented to on {{ date }}{% endblocktrans %}
        </li>
        {% endif %}

        {% if document.commencement_date %}
        <li class="commencement-date">
          {% blocktrans with date=document.commencement_date|date:"j E Y" %}Commences on {{ date }} unless otherwise noted{% endblocktrans %}
        </li>
        {% endif %}
      </ul>
    {% endblock %}

    {% block amendments %}
      {% include '_amendments.html' %}
    {% endblock %}
  </div>

  {% endlanguage %}
{% endif %}
{% endblock %}

{% block content %}
{{ content_html | safe }}
{% endblock %}

{% block footer %}
{% endblock %}
