{% load i18n %}

{% block coverpage %}
{% if coverpage %}
  {% language document.django_language %}

  <div class="coverpage">
    {% if document.work.parent_work %}
      {% block parent_title %}
        <h1>{{ document.work.parent_work.title }}</h1>
      {% endblock %}
    {% endif %}

    {% block title %}
      <h1>{{ document.title }}</h1>
    {% endblock %}

    {% block subtitle %}
      {% with document.work.numbered_title as subt %}
        {% if subt %}
          <h2>{{ subt }}</h2>
        {% endif %}
      {% endwith %}
    </h2>
    {% endblock %}

    {% block notices %}
      <ul class="notice-list">
        {% if document.publication_name and document.publication_date %}
        <li class="publication-info">
          {% with date=document.publication_date|date:"j E Y" name=document.publication_name number=document.publication_number %}
            {% if number %}
              {% blocktrans %}Published in {{ name }} no. {{ number }} on {{ date }}{% endblocktrans %}
            {% else %}
              {% blocktrans %}Published in {{ name }} on {{ date }}{% endblocktrans %}
            {% endif %}
          {% endwith %}
        </li>
        {% endif %}

        {% if document.assent_date %}
        <li class="assent-date">
          {% blocktrans with date=document.assent_date|date:"j E Y" %}Assented to on {{ date }}{% endblocktrans %}
        </li>
        {% endif %}

        {% if document.commencement_date %}
        <li class="commencement-date">
          {% blocktrans with date=document.commencement_date|date:"j E Y" %}Commences on {{ date }} unless otherwise noted{% endblocktrans %}
        </li>
        {% endif %}
      </ul>
    {% endblock %}

    {% block amendments %}
      {% include '_amendments.html' %}
    {% endblock %}
  </div>

  {% endlanguage %}
{% endif %}
{% endblock %}

{% block content %}
{{ content_html | safe }}
{% endblock %}

{% block footer %}
{% endblock %}
