{% load i18n indigo %}

{% if document.amendments or document.work.repealed_date %}
<ol class="amendment-list">
  {% for amendment in document.amendments %}
  <li class="amendment">
    {% with amending_title=amendment.amending_work.title amending_numtitle=amendment.amending_work.numbered_title date=amendment.date|date:"j E Y" %}
      {% work_resolver_url amendment.amending_work as resolver_uri %}
      {% if amending_numtitle %}
        {% blocktrans %}[Amended by <a href="{{ resolver_uri }}" class="amending-title">{{ amending_title }} ({{ amending_numtitle }})</a> on <span class="amendment-date">{{ date }}</span>]{% endblocktrans %}
      {% else %}
        {% blocktrans %}[Amended by <a href="{{ resolver_uri }}" class="amending-title">{{ amending_title }}</a> on <span class="amendment-date">{{ date }}</span>]{% endblocktrans %}
      {% endif %}
    {% endwith %}
  </li>
  {% endfor %}

  {% if document.work.repealed_date %}
    <li class="amendment repeal">
      {% with title=document.work.repealed_by.title numtitle=document.work.repealed_by.numbered_title date=document.work.repealed_date|date:"j E Y" %}
        {% work_resolver_url document.work.repealed_by as resolver_uri %}
        {% if numtitle %}
          {% blocktrans %}[Repealed by <a href="{{ resolver_uri }}" class="repealing-title">{{ title }} ({{ numtitle }})</a> on <span class="repeal-date">{{ date }}</span>]{% endblocktrans %}
        {% else %}
          {% blocktrans %}[Repealed by <a href="{{ resolver_uri }}" class="repealing-title">{{ title }}</a> on <span class="repeal-date">{{ date }}</span>]{% endblocktrans %}
        {% endif %}
      {% endwith %}
    </li>
  {% endif %}
</ol>
{% endif %}
