{% load i18n indigo %}

{% if document.amendments %}
<ol class="amendment-list">
  {% for amendment in document.amendments %}
  <li class="amendment">
    {% with amending_title=amendment.amending_work.title amending_numtitle=amendment.amending_work.numbered_title date=amendment.date|date:"j E Y" %}
      {% work_resolver_url amendment.amending_work as resolver_uri %}
      {% if numtitle %}
        {% blocktrans %}[Amended by <a href="{{ resolver_uri }}" class="amending-title">{{ amending_title }} ({{ amending_numtitle }})</a> on <span class="date">{{ date }}</span>]{% endblocktrans %}
      {% else %}
        {% blocktrans %}[Amended by <a href="{{ resolver_uri }}" class="amending-title">{{ amending_title }}</a> on <span class="date">{{ date }}</span>]{% endblocktrans %}
      {% endif %}
    {% endwith %}
  </li>
  {% endfor %}
</ol>
{% endif %}
