{% load i18n indigo %}
{% language document.django_language %}

<div class="coverpage">
  {% block coat_of_arms %}{% endblock %}

  {% block place_name %}
    <div class="place-name">
      {% if document.work.locality %}{{ document.work.locality.name }}<br>{% endif %}
      {{ document.work.country.name }}
    </div>
  {% endblock %}

  {% block parent_title %}
    {% if document.work.parent_work %}
      <div class="parent-work">{{ document.work.parent_work.title }}</div>
    {% endif %}
  {% endblock %}

  {% block title %}
    <h1>{{ document.title }}</h1>
  {% endblock %}

  {% block subtitle %}
    {% with document.work.numbered_title as subt %}
      {% if subt %}
        <h2>{{ subt }}</h2>
      {% endif %}
    {% endwith %}
  {% endblock %}

  {% block notices %}
    <ul class="notice-list">
      {% block publication_document %}
        {% if document.publication_name and document.publication_date %}
          <li class="publication-info">
            {% with date=document.publication_date|date:"j E Y" name=document.publication_name number=document.publication_number %}
              {% if number %}
                {% blocktrans %}Published in {{ name }} no. {{ number }} on {{ date }}{% endblocktrans %}
              {% else %}
                {% blocktrans %}Published in {{ name }} on {{ date }}{% endblocktrans %}
              {% endif %}
            {% endwith %}
          </li>
        {% endif %}
      {% endblock %}

      {% block assent_date %}
        {% if document.assent_date %}
          <li class="assent-date">
            {% blocktrans with date=document.assent_date|date:"j E Y" %}Assented to on {{ date }}{% endblocktrans %}
          </li>
        {% endif %}
      {% endblock %}

      {% block commencement %}
        {% if not document.work.commenced %}
          <li class="commencement-date">
            {% blocktrans %}Not commenced{% endblocktrans %}
          </li>
        {% elif document.work.main_commencement and document.work.main_commencement.all_provisions %}
          {% with document.work.main_commencement as commencement %}
            <li class="commencement-date">
              {% if not commencement.date %}
                {% blocktrans %}Commencement date unknown{% endblocktrans %}
              {% else %}
                {% blocktrans with date=commencement.date|date:"j E Y" %}Commenced on {{ date }}{% endblocktrans %}
              {% endif %}
              {% with commencement.commencing_work as commencing_work %}
                {% if commencing_work %}
                  {% with numbered_title=commencing_work.numbered_title title=commencing_work.title %}
                    {% work_resolver_url commencing_work as resolver_uri %}
                    {% if not commencement.date %}
                      {% if numbered_title %}
                        {% blocktrans %}– commenced by <a href="{{ resolver_uri }}">{{ numbered_title }}</a>{% endblocktrans %}
                      {% else %}
                        {% blocktrans %}– commenced by <a href="{{ resolver_uri }}">{{ title }}</a>{% endblocktrans %}
                      {% endif %}
                    {% else %}
                      {% if numbered_title %}
                        {% blocktrans %}by <a href="{{ resolver_uri }}">{{ numbered_title }}</a>{% endblocktrans %}
                      {% else %}
                        {% blocktrans %}by <a href="{{ resolver_uri }}">{{ title }}</a>{% endblocktrans %}
                      {% endif %}
                    {% endif %}
                  {% endwith %}
                {% endif %}
              {% endwith %}
            </li>
          {% endwith %}
          {% if document.work.commencement_note %}
            <li class="commencement-note">{{ document.work.commencement_note }}</li>
          {% endif %}
        {% else %}
          {% commencements_relevant_at_date document as commencements %}
          {% if commencements|length > 1 %}
            <li class="commencement-date">
              {% blocktrans %}There are multiple commencements:{% endblocktrans %}
            </li>
          {% endif %}
          <table class="commencements-table">
              <thead>
                <tr>
                  <th>{% blocktrans %}Provisions{% endblocktrans %}</th>
                  <th>{% blocktrans %}Status{% endblocktrans %}</th>
                  <th>{% blocktrans %}Note{% endblocktrans %}</th>
                </tr>
              </thead>
              <tbody>
                {% for commencement in commencements %}
                  {% commenced_provisions_description document commencement as provisions_description %}
                  <tr>
                    <td>
                      {% if provisions_description %}
                        {{ provisions_description|capfirst }}
                      {% else %}
                        <i>{% blocktrans %}Unknown provisions{% endblocktrans %}</i>
                      {% endif %}
                    </td>
                    <td>
                      {% blocktrans with date=commencement.date|date:"j E Y" %}commenced on {{ date }}{% endblocktrans %}
                      {% with commencement.commencing_work as commencing_work %}
                        {% if commencing_work %}
                          {% with numbered_title=commencing_work.numbered_title title=commencing_work.title %}
                            {% work_resolver_url commencing_work as resolver_uri %}
                            {% if numbered_title %}
                              {% blocktrans %}by <a href="{{ resolver_uri }}">{{ numbered_title }}</a>{% endblocktrans %}
                            {% else %}
                              {% blocktrans %}by <a href="{{ resolver_uri }}">{{ title }}</a>{% endblocktrans %}
                            {% endif %}
                          {% endwith %}
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td>{% trans commencement.note %}</td>
                  </tr>
                {% endfor %}
                {% if document.uncommenced_provisions %}
                  <tr>
                    <td>
                      {% commenced_provisions_description document commencement uncommenced=True as provisions_description %}
                      <b>{{ provisions_description|capfirst }}</b>
                    </td>
                    <td><b>{% blocktrans %}not yet commenced{% endblocktrans %}</b></td>
                    <td>{% trans commencement.note %}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
        {% endif %}
      {% endblock %}

      {% block as_at_date %}
        {% if document.work.as_at_date %}
          {% block as_at_date_notice %}
            <li class="as-at-date-notice">
              [{% blocktrans with date=document.work.as_at_date|date:"j E Y" %}Up to date as at {{ date }}{% endblocktrans %}]
            </li>
          {% endblock %}
        {% endif %}
      {% endblock %}

      {% block publication_document_missing %}
        {% with document.work.place.settings.no_publication_document_text as no_publication_document_text %}
        {% if not document.work.publication_document and no_publication_document_text %}
          <li class="verification-notice">
            [{% trans no_publication_document_text %}]
          </li>
        {% endif %}
        {% endwith %}
      {% endblock %}
    </ul>
  {% endblock %}

  {% block amendments %}
    {% include 'indigo_api/akn/_amendments.html' %}
  {% endblock %}
</div>

{% endlanguage %}
