{% load i18n indigo %}
{% language document.django_language %}

<div class="coverpage">
  {% block coat_of_arms %}{% endblock %}

  {% block place_name %}
    <div class="place-name">
      {% if document.work.locality %}{{ document.work.locality.name }}<br>{% endif %}
      {{ document.work.country.name }}
    </div>
  {% endblock %}

  {% block parent_title %}
    {% if document.work.parent_work %}
      <div class="parent-work">{{ document.work.parent_work.title }}</div>
    {% endif %}
  {% endblock %}

  {% block title %}
    <h1>{{ document.title }}</h1>
  {% endblock %}

  {% block subtitle %}
    {% with document.work.numbered_title as subt %}
      {% if subt %}
        <h2>{{ subt }}</h2>
      {% endif %}
    {% endwith %}
  {% endblock %}

  {% block notices %}
    <ul class="notice-list">
      {% block publication_document %}
        {% publication_document_description document.work as publication_document_description %}
        {% if publication_document_description %}
          <li class="publication-info">
            {{ publication_document_description }}
          </li>
        {% endif %}
      {% endblock %}

      {% block assent_date %}
        {% if document.assent_date %}
          <li class="assent-date">
            {% blocktrans with date=document.assent_date|date:"j E Y" %}Assented to on {{ date }}{% endblocktrans %}
          </li>
        {% endif %}
      {% endblock %}

      {% block commencement %}
        {% document_commencement_description document as commencement_description %}
        <li class="commencement-date">
          {{ commencement_description.description }}
          {% if commencement_description.commenced_by %}
            <a href="{% work_resolver_url commencement_description.commenced_by.work %}">
              {{ commencement_description.commenced_by.title }}
            </a>
          {% endif %}
        </li>
        {% if commencement_description.note %}
          <li class="commencement-note">{{ commencement_description.note }}</li>
        {% endif %}
        {% if commencement_description.type == 'multiple' %}
          {% include 'indigo_api/akn/_commencements_table.html' %}
        {% endif %}
      {% endblock %}

      {% block as_at_date %}
        {% block as_at_date_notice %}
          <li class="as-at-date-notice">
            [{{ document.validity_notice }}]
          </li>
        {% endblock %}
      {% endblock %}

      {% block publication_document_missing %}
        {% with document.work.place.settings.no_publication_document_text as no_publication_document_text %}
        {% if not document.is_consolidation and not document.work.publication_document and no_publication_document_text %}
          <li class="verification-notice">
            [{% trans no_publication_document_text %}]
          </li>
        {% endif %}
        {% endwith %}
      {% endblock %}

      {% block disclaimer %}
        {% with document.work.disclaimer as disclaimer %}
          {% if disclaimer %}
            <li class="verification-notice">
              [{% trans disclaimer %}]
            </li>
          {% endif %}
        {% endwith %}
      {% endblock %}

      {% block consolidation_note %}
        {% with document.work.consolidation_note as consolidation_note %}
          {% if document.work.has_consolidation and consolidation_note %}
            <li class="verification-notice">
              [{% trans consolidation_note %}]
            </li>
          {% endif %}
        {% endwith %}
      {% endblock %}
    </ul>
  {% endblock %}

  {% block amendments %}
    {% include 'indigo_api/akn/_amendments.html' %}
  {% endblock %}
</div>

{% endlanguage %}
