{% load viewflow %}

<div class="row">
  <div class="col-7">
    <h5 class="mb-0">
      {% if child %}
        <a href="{% flowurl process 'detail' %}">← {{ process.flow_class.process_title }} - #{{ process.id }}</a>
      {% else %}
        {{ process.flow_class.process_title }} - #{{ process.id }}
      {% endif %}
      <span class="badge {% if process.status == "DONE" %}badge-success{% else %}badge-default{% endif %}">{{ process.status }}</span>
    </h5>
  </div>
  <div class="col-5 ml-auto text-muted text-right">
    {% if process.finished %}
      Created {{ process.created|date }} at {{ process.created|time }}
    {% else %}
      {{ process.created|timesince }} old
    {% endif %}
  </div>
</div>
