{% extends "indigo_app/tasks/tabbed_layout.html" %}
{% load humanize indigo_app %}

{% block title %}Available tasks{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  {% if priority_workflows %}
    <h4>Priority workflows</h4>

    <div class="mb-3 row">
      {% for workflow in priority_workflows %}
        <div class="col-4 mb-2">
          <div class="card">
            <div class="card-body">
              <div class="mb-2">
                <a href="{% url 'workflow_detail' place=workflow.place.place_code pk=workflow.pk %}">{{ workflow.title }}</a>
                <span class="mr-3 text-warning text-nowrap"><i class="fas fa-exclamation-circle"></i> Priority</span>
              </div>

              <div class="text-muted">
                <span class="mr-2">{{ workflow.country.name }}{% if workflow.locality %} › {{ workflow.locality.name }}{% endif %}</span>
                {% if workflow.due_date %}
                  Due {{ workflow.due_date|date:"Y-m-d" }}
                  {% if workflow.overdue %}
                    <i class="ml-3 fas fa-exclamation-triangle"></i> Overdue
                  {% endif %}
                {% endif %}
              </div>

              <div class="progress mt-2" style="height: 0.5rem">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ workflow.pct_complete }}%"></div>
              </div>

              <div class="row">
                {% for state, count, label in workflow.task_counts %}
                  {% if count %}
                    <div class="col-4 mt-1">
                      <i class="fas fa-sm fa-fw task-icon-{{ state }}" title="{{ state }}"></i>
                      <span class="text-muted">{{ count }} {{ label }}</span>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <h4>Available tasks <span class="badge badge-light">{{ paginator.count }}</span></h4>

  <div class="card">
    <div class="card-header">
      <form method="GET" id="task-filter-form" onchange="this.submit();">
        <div class="d-flex">

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary {% if not form.state.value.0 %}active{% endif %}">
              <input type="radio" name="{{ form.state.name }}" autocomplete="off" value="" {% if not form.state.value %}checked{% endif %}> Available tasks
            </label>
            <label class="btn btn-outline-secondary {% if 'open' in form.state.value %}active{% endif %}">
              <input type="radio" name="{{ form.state.name }}" autocomplete="off" value="open" {% if 'open' in form.state.value %}checked{% endif %}>
              <i class="fas fa-sm fa-fw task-icon-open"></i> Open
            </label>
            <label class="btn btn-outline-secondary {% if 'pending_review' in form.state.value %}active{% endif %}">
              <input type="radio" name="{{ form.state.name }}" autocomplete="off" value="pending_review" {% if 'pending_review' in form.state.value %}checked{% endif %}>
              <i class="fas fa-sm fa-fw task-icon-pending_review"></i> Pending review
            </label>
          </div>

        </div>
      </form>
    </div>

    {% if tasks %}
      {% include 'indigo_api/_task_list.html' with tasks=tasks selectable=False place=True %}
    {% else %}
      <div class="card-body">
        <p class="text-center"><em>No tasks found.</em></p>
      </div>
    {% endif %}
  </div>

  {% if is_paginated %}
    <nav class="mt-4">
      {% include 'indigo_app/_paginator.html' with params=form.data_as_url %}
    </nav>
  {% endif %}
</div>
{% endblock %}
