{% extends "indigo_app/tasks/tabbed_layout.html" %}
{% load humanize indigo_app i18n %}

{% block title %}{% trans "Available tasks" %}{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row justify-content-end">
    <div class="col-md-9">
      <h4>{% trans "Available tasks" %} <span class="badge text-bg-light">{{ paginator.count }}</span></h4>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-md-9 mb-3 ">
        <form method="GET"
              id="task-filter-form"
              hx-get="{% url 'available_tasks' %}"
              hx-target="#task-list"
              hx-trigger="submit, change, change from:#task-list target:.facet delay:1s, " >
          <div class="d-flex">
            <div>
              <select class="form-control selectpicker notooltip col-2 ms-2"
                      id="{{ form.country.id_for_label }}" name="{{ form.country.html_name }}"
                      data-style="btn-outline-success" title="Country"
                      data-actions-box="true"
                      data-live-search="true" data-size="7" multiple>
                {% for opt in form.country %}
                  {{ opt }}
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
    </div>
  </div>

  <div id="task-list">
    {% include 'indigo_api/_task_list.html' with tasks=tasks selectable=False place=True %}
  </div>
</div>
{% endblock %}
