{% extends "indigo_app/tasks/tabbed_layout.html" %}
{% load humanize indigo_app %}

{% block title %}My tasks{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card task-list-card">
        <div class="card-body">
          <h6 class="text-center mb-3">
            <span>Your current tasks <span class="text-muted">({{ open_assigned_tasks|length }})</span></span>
          </h6>
          {% if open_assigned_tasks %}
            {% for task in open_assigned_tasks %}
              {% include 'indigo_api/_task_card_single.html' with task_border=True icon=True %}
            {% endfor %}
          {% else %}
          <p class="mx-3">
            You don't have any assigned tasks right now.
          </p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card task-list-card">
        <div class="card-body">
          <h6 class="text-center mb-3">
            <span>Tasks waiting for approval <span
              class="text-muted">({{ tasks_pending_approval|length }})</span></span>
          </h6>
          {% if tasks_pending_approval %}
          {% for task in tasks_pending_approval %}
            {% include 'indigo_api/_task_card_single.html' with task_border=True icon=True assigned=True %}
          {% endfor %}
          {% else %}
          <p class="mx-3">You have no tasks waiting for approval.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card task-list-card">
        <div class="card-body">
          <h6 class="text-center mb-3">
            <span> Your recently approved tasks <span
              class="text-muted">({{ tasks_recently_approved|length }})</span></span>
          </h6>
            {% if tasks_recently_approved %}
            {% for task in tasks_recently_approved %}
              {% include 'indigo_api/_task_card_single.html' with task_border=True icon=True approved=True %}
            {% endfor %}
            {% else %}
            <p class="mx-3">You have no tasks that have been approved.</p>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
