{% extends "main.html" %}
{% load i18n %}

{% block main-header %}
<header class="main-header tabbed-header">
  <div class="container">
    <nav class="nav nav-tabs">
      {% block main-header-tabs %}
      <a class="nav-item nav-link {% if view.tab == 'projects' %}active{% endif %}" href="{% url 'taxonomy_project_list' %}">
        {% trans "Projects" %}
        {% if view.tab == 'projects' %}
          <span class="badge badge-light">{{ tab_count }}</span>
        {% endif %}
      </a>
      <a class="nav-item nav-link {% if view.tab == 'my_tasks' %}active{% endif %}" href="{% url 'my_tasks' %}">
        {% trans "My tasks" %}
        {% if view.tab == 'my_tasks' %}
          <span class="badge badge-light">{{ tab_count }}</span>
        {% endif %}
      </a>
      <a class="nav-item nav-link {% if view.tab == 'priority_tasks' %}active{% endif %}" href="{% url 'priority_tasks' %}">
        {% trans "Priority tasks" %}
        {% if view.tab == 'priority_tasks' %}
          <span class="badge badge-light">{{ tab_count }}</span>
        {% endif %}
      </a>
      <a class="nav-item nav-link {% if view.tab == 'available_tasks' %}active{% endif %}" href="{% url 'available_tasks' %}">
        {% trans "All available tasks" %}
        {% if view.tab == 'available_tasks' %}
          <span class="badge badge-light">{{ tab_count }}</span>
        {% endif %}
      </a>
      {% endblock %}
    </nav>
  </div>
</header>
{% endblock %}
