{% extends "main.html" %}

{% block main-header %}
<header class="main-header tabbed-header">
  <div class="container">
    <nav class="nav nav-tabs">
      {% block main-header-tabs %}
      <a class="nav-item nav-link {% if view.tab == 'my_tasks' %}active{% endif %}" href="{% url 'my_tasks' %}">My tasks</a>
      <a class="nav-item nav-link {% if view.tab == 'available_tasks' %}active{% endif %}" href="{% url 'available_tasks' %}"> All available tasks</a>
      {% endblock %}
    </nav>
  </div>
</header>
{% endblock %}
