{% extends "indigo_app/tasks/tabbed_layout.html" %}
{% load i18n %}

{% block title %}{% trans "Topics" %}{% endblock %}

{% block content %}
  <div class="container-fluid mt-3 mb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div data-vue-component="TaxonomyTOC"></div>
            {{ taxonomy_toc|json_script:"taxonomy_toc" }}
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="flex-fill">
          <h5>{{ topic.name }}</h5>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                {% if topic.description %}
                  {{ topic.description|safe }}
                {% endif %}
              </div>
              <div class="col-5">
                <div class="row mt-2">
                  <div class="col-8">
                    <div class="progress bg-light">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ topic.pct_done }}%"></div>
                    </div>
                  </div>
                  <div class="col text-muted">
                    {% blocktrans trimmed with n_done=topic.n_done count n_tasks=topic.n_tasks %}
                      {{ n_done }} of {{ n_tasks }} task
                    {% plural %}
                      {{ n_done }} of {{ n_tasks }} tasks
                    {% endblocktrans %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header p-sticky-0">
            {% include 'indigo_api/_task_filter_form.html' with form=form show_country=True %}
          </div>
            {% if tasks %}
              {% include 'indigo_api/_task_cards.html' with task_groups=task_groups assign_button=False  %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
