{% extends 'main.html' %}
{% load i18n viewflow %}

{% block title %}New workflow - {{ activation.process.flow_class.process_title }}{% endblock %}

{% block content %}
<div class="container pt-3 pb-3">
  <form role="form" method="POST">
    {% csrf_token %}
    {{ activation.management_form }}

    <div class="card mb-3">
      <h5 class="card-header">Create a new workflow</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4>{{ activation.process.flow_class.process_title }}</h4>

            <div class="form-group">
              <label for="{{ form.country.id_for_label }}">Country</label>
              <select class="form-control" id="{{ form.country.id_for_label }}" name="{{ form.country.name }}" required>
                {% for country in form.country.field.queryset %}
                <option value="{{ country.id }}" {% if request.user.editor.country_code == country.code %}selected{% endif %}>{{ country.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="{{ form.notes.id_for_label }}">Notes and instructions</label>
              <textarea class="form-control" id="{{ form.notes.id_for_label }}" name="{{ form.notes.name }}" rows="3" required></textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success">Create workflow</button>
      </div>
    </div>

  </form>
</div>
{% endblock %}
