{% extends "_navbar.html" %}
{% load indigo_workflow viewflow %}

{% block navbar-user %}
  {% if work and work.pk %}

    {% assigned_work_tasks work=work user=request.user as tasks %}
    {% workflow_ns_map as ns_map %}
    {% if tasks %}
      <ul class="navbar-nav" id="task-buttons">
        <li class="nav-item bg-success dropleft">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Active Task</a>

          <div class="dropdown-menu p-4 text-muted" style="width: 400px;">
            {% for task in tasks %}
            <p>
              <strong>
                <a href="{% flowurl task.process 'detail' ns='workflow' ns_map=ns_map %}">Workflow #{{ task.flow_process.id }}</a> - Task: {{ task.flow_task.task_title }}
              </strong>
            </p>
            <p>{{ task.flow_task.task_description }}</p>
            <div class="row">
              <div class="col">
                {% flowurl task 'guess' user=request.user ns='workflow' ns_map=ns_map as task_url %}
                <form role="form" method="POST" action="{{ task_url }}">
                  {% csrf_token %}
                  <input type="hidden" name="_viewflow_activation-started" value="{% now 'Y-m-d H:i:s.u' %}" id="id__viewflow_activation-started">
                  <button type="submit" class="btn btn-success" data-confirm="Are you sure the task is complete?">Task is complete</button>
                </form>
              </div>
              <div class="col text-right">
                <a href="{{ task_url }}" class="btn btn-link">Task details</a>
              </div>
            </div>
            {% endfor %}
          </div>

        </li>
      </ul>
    {% endif %}

  {% endif %}

  {{ block.super }}
{% endblock %}
